<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ _('Page not found') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets 'apollo_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen,projection" charset="utf-8">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endassets %}
  </head>
 <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="text-align:center; margin-top:14em;">
                <legend style="border-bottom:0px; margin-bottom:0px;">{{ _("Oh No! Looks like you're lost!") }}</legend>
                <p>{{ _("Don't freak out, maybe you entered the wrong address or clicked a bad link! Who knows, this could even be a fluke! :) I recommend you either verify the address or click the back arrow (&larr;) at the top left corner of the page, and cross-check the action you were trying to perform!") }}</p>
            </div>
        </div>
	</div>
  </body>
<html>
