.navbar-nav > li > a{padding-top: 15px; padding-bottom: 15px;}
.navbrand-container {position: relative; min-height:50px; padding-top:18px;}
.navbrand-logo{bottom: 0; margin: auto; position: absolute; top: 10%;}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  color:#858585 ;
  background-color:#f4f4f4;
  border-top: 2px dashed #e3e3e3;
  box-shadow: 0 0 0 3px #ededed;
}
.select2-search-field {height: 25px;}
td.shrink, th.shrink {
  white-space: nowrap;
}

td.expand, th.expand {
  width: 99%;
}

.filter .btn {
  min-width: 78px;
}

.modal-content{
  font-size: 14px;
}
.modal-header {
  padding: 9px 15px;
}
.modal-body {
  padding: 15px;
}
.modal-footer{
  margin-top:0px;
}
.navbar-right .dropdown-menu {
 left: 0;
right: auto;
}
.btn-modal{font-size: 14px}
.navbar-nav li a {
     line-height: 25px;
    }
    .navbar-header {
      display: table-row;
      height: 43px;
    }
    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu:hover>.dropdown-menu{display:block;}
    .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-nav > li >.left-submenu{
    left: auto;
    margin-left: 10px;
    right: .1%;
}
.eml a{cursor: text;}
.eml:first-child a:hover{background-color: #fff;cursor: text;}
.table-responsive{overflow: auto;}
#delete{
 margin-left:-23px;
 position:relative;
 border-radius:6px 0 0 6px;
 -webkit-border-radius:6px 0 0 6px;
 -moz-border-radius:6px 0 0 6px;
 vertical-align:middle;
 height:35px;
 top:12px;
 text-shadow: 1px 1px 2px rgba(0,0,0,0.25); 
 display: none;
}
.i_custom{vertical-align:middle;
}
label{font-size: 13px;}
.modal{transition: none;}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin-left:1.5em;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.panel-login {margin-top: 7em;}
.panel-heading-login {font-size: 18px;}
.panel-login-body{padding:45px; padding-top: 30px;}

/*.divider-vertical {
height: 35px;
margin: 0 0px;
border-width: 0 1px;
border-style: solid;
border-top-style: solid;
border-left-color: #288EE2;
border-right-color: #64adea;
}

.navbar-nav>li>a {text-shadow: 1px 1px 2px rgba(0,0,0,0.25);}*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: inherit;
}
.input-group-addon{padding: 4px 12px;}
.input-sm{font-size: 12px;}
.filter a.btn-sm{line-height: 1.7;}
.h3{margin-top: 0px;}
.input-mini{width:85px;}
.form-inline > * {padding:5px 5px;}
.btn-custom{margin-left:5px;}
.form-inline .form-group select.span2, .form-inline .form-group input.span2, .span2{width: 170px;}
.form-inline .form-group select.span3, .form-inline .form-group input.span3, .span3{width: 255px;}
.span4, .form-inline .form-group select.span4{width:354px;}
.span5{width: 425px;}
.span6{width: 510px;}
.select2-container .select2-choice{height: 28px; font-size: 12px;}
.form-container{padding: 0px;}
.responsive{overflow: auto;}

.options { display: block; margin-top: 0.5em; }
.option { margin-right: 1em; }
.gray { background-color: #f9f9f9; }
.numeric, .table .numeric { text-align: right; }
.submission-table .submission-field ul { list-style-type: none; margin: 0; }
.submission-table .centered, .centered, .table .centered { text-align: center; }
.submission-table .submission-field ul input[type="radio"], .submission-table .submission-field ul input[type="checkbox"] { margin: -2px 0 0 0;}
.breadcrumb .locationtype { color: #DDD; }
abbr[data-original-title] {cursor: help;border-bottom: 1px dotted #999999;}


/* override default img style */
img {
  max-width: none;
}

.nav-style, .nav-tabs{margin-bottom: 20px;}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.ajax_loader{width:42px;}

.ajax_loader .ajax_loader_block{
background-color:#333;
border:1px solid #000;
float:left;
height:30px;
margin-left:2px;
width:8px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

.block_1{-moz-animation-delay:0.3s;-webkit-animation-delay:0.3s;-ms-animation-delay:0.3s;-o-animation-delay:0.3s;animation-delay:0.3s;}

.block_2{-moz-animation-delay:0.4s;-webkit-animation-delay:0.4s;-ms-animation-delay:0.4s;-o-animation-delay:0.4s;animation-delay:0.4s;}

.block_3{-moz-animation-delay:0.5s;-webkit-animation-delay:0.5s;-ms-animation-delay:0.5s;-o-animation-delay:0.5s;animation-delay:0.5s;}

@-moz-keyframes bounceG{
 0%{-moz-transform:scale(1.2);opacity:1}
 100%{-moz-transform:scale(0.7);opacity:0.1}
}

@-webkit-keyframes bounceG{
 0%{-webkit-transform:scale(1.2);opacity:1}
 100%{-webkit-transform:scale(0.7);opacity:0.1}
}

@-ms-keyframes bounceG{
 0%{-ms-transform:scale(1.2);opacity:1}
 100%{-ms-transform:scale(0.7);opacity:0.1}
}

@-o-keyframes bounceG{
 0%{-o-transform:scale(1.2);opacity:1}
 100%{-o-transform:scale(0.7);opacity:0.1}
}

@keyframes bounceG{
 0%{transform:scale(1.2);opacity:1}
 100%{transform:scale(0.7);opacity:0.1}
}
/* Link body */
.persona-button{
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: ;
  line-height: 1.35;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  /*text-shadow: 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.2);*/

  background: #297dc3;
  background: -moz-linear-gradient(top, #43a6e2, #287cc2);
  background: -ms-linear-gradient(top, #43a6e2, #287cc2);
  background: -o-linear-gradient(top, #43a6e2, #287cc2);
  background: -webkit-linear-gradient(top, #43a6e2, #287cc2);
  background: linear-gradient(top, #43a6e2, #287cc2);

  -moz-border-radius:   3px;
  -ms-border-radius:     3px;
  -o-border-radius:     3px;
  -webkit-border-radius:   3px;
  border-radius:       3px;

  -moz-box-shadow:   0 1px 0 rgba(0,0,0,0.2);
  -ms-box-shadow:   0 1px 0 rgba(0,0,0,0.2);
  -o-box-shadow:     0 1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow:     0 1px 0 rgba(0,0,0,0.2);
}

.persona-button:hover{
  background: #21669f;
  background: -moz-linear-gradient(top, #3788b9, #21669f);
  background: -ms-linear-gradient(top, #3788b9, #21669f);
  background: -o-linear-gradient(top, #3788b9, #21669f);
  background: -webkit-linear-gradient(top, #3788b9, #21669f);
  background: linear-gradient(top, #3788b9, #21669f);
  color:#fff;
}

.persona-button:active, .persona-button:focus{
  top: 1px;
  -moz-box-shadow:   none;
  -ms-box-shadow:   none;
  -o-box-shadow:     none;
  -webkit-box-shadow: none;
  box-shadow:     none;
  color:fff;
}

.persona-button span{
  display: inline-block;
  padding: 5px 10px 5px 40px;
  color:#fff;
}

/* Icon */
.persona-button span:after{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAAA4klEQVR42o2RWaqEMBRE3YaCiDjPwQGcd9CrysLv4wTyoLFD90dxqbp1EgdPRB7Kskznea6Zn/aPoKoqUUrJOI5m4l2QBfSyLHKep1zXZSae3An1fS/7vst931bGkzuhaZrsLVbGkzuheZ7lOI6HyJ2QUkqv6yrbtv0LT+6E7G0UrfBfP3lZlpoXH4ZBmHgn5Pv+KwxDfqp0XQdgJp6c/RsUBIGOokiSJDE/s21bACbe5Ozp0TdAHMdSFIXUdS1N01C2wpObPT36HifwCJzI0iX29Oh7XP0E3CB9L01TzM+i/wePv4ZE5RtAngAAAABJRU5ErkJggg==) 10px center no-repeat;
  content: '';
  display: block;
  width: 31px;

  position: absolute;
  bottom: 0;
  left: -3px;
  top: 0;
  z-index: 10;
}

/*  Icon background */
.persona-button span:before{
  content: '';
  display: block;
  height: 100%;
  width: 20px;

  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1;

  background: #42a9dd;
  background: -moz-linear-gradient(top, #50b8e8, #3095ce);
  background: -ms-linear-gradient(top, #50b8e8, #3095ce);
  background: -o-linear-gradient(top, #50b8e8, #3095ce);
  background: -webkit-linear-gradient(top, #50b8e8, #3095ce);
  background: linear-gradient(top, #50b8e8, #3095ce);

  -moz-border-radius:   3px 0 0 3px;
  -ms-border-radius:     3px 0 0 3px;
  -o-border-radius:     3px 0 0 3px;
  -webkit-border-radius:   3px 0 0 3px;
  border-radius:       3px 0 0 3px;
  color: #fff;
}

/* Triangle */
.persona-button:before{
  background: #42a9dd;
  content: '';
  display: block;
  height: 26px;
  width: 26px;

  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -13px;
  z-index: 0;

  background: -moz-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -ms-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -o-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -webkit-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: linear-gradient(-45deg, #3095ce, #50b8e8); /* flipped for updated spec */

  -moz-box-shadow:   1px -1px 1px rgba(0,0,0,0.1);
  -ms-box-shadow:   1px -1px 1px rgba(0,0,0,0.1);
  -o-box-shadow:     1px -1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
  box-shadow:     1px -1px 1px rgba(0,0,0,0.1);

  -moz-transform:   rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:     rotate(45deg);
  -webkit-transform:   rotate(45deg);
  transform:       rotate(45deg);
  color:#fff;
}

/* Inset shadow (required here because the icon background clips it when on the `a` element) */
.persona-button:after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  -moz-border-radius:   3px;
  -ms-border-radius:     3px;
  -o-border-radius:     3px;
  -webkit-border-radius:   3px;
  border-radius:       3px;

  -moz-box-shadow:   inset 0 -1px 0 rgba(0,0,0,0.3);
  -ms-box-shadow:   inset 0 -1px 0 rgba(0,0,0,0.3);
  -o-box-shadow:     inset 0 -1px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
  box-shadow:     inset 0 -1px 0 rgba(0,0,0,0.3);
}
    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
        margin-top: 10px;
        margin-bottom: 16px;
    }

    .strike > span {
        position: relative;
        display: inline-block;
        color:#dddddd;
    }
  
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: #ddd;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }