.dockerignore
.git
.gitignore
.Python
.tx/
.venv/
.vscode/
settings.ini
*.sublime-project
*.sublime-workspace
**/.DS_Store
**/.env*
**/.webassets-cache
**/*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/node_modules/
**/.terraform/
**/*.tfstate
**/*.tfstate.*
apollo-*.tar.gz
bin/
circle.yml
docker-compose.yml
Dockerfile
gunicorn.pid
include/
lib/
man/
messages.mo
share/
src/
uploads/
htmlcov/
.coverage
coverage.xml
dist/
build/
