.git
.gitignore
.Python
.tx/
.vscode/
*.sublime-project
*.sublime-workspace
**/.DS_Store
**/.env*
**/.webassets-cache
**/*.pyc
apollo-*.tar.gz
bin/
gunicorn.pid
include/
lib/
man/
messages.mo
share/
src/
