.coverage
.devcontainer
.DS_Store
.env*
.Python
.python-version
.webassets-cache
*.pyc
*.sublime-project
*.sublime-workspace
apollo-*.tar.gz
assets/
bin/
celerybeat-schedule
gunicorn.pid
include/
lib/
man/
messages.mo
node_modules/
pip-selfcheck.json
share/
uploads/
version.ini

# Development
.claude/
.vscode/

# Terraform Setup
.terraform/
infra/terraform/terraform.tfvars
*.tfstate
*.tfstate.*
