.coverage
.DS_Store
.env*
.Python
.vscode/
.webassets-cache
*.ini
*.pyc
*.sublime-project
*.sublime-workspace
apollo-*.tar.gz
assets/
bin/
gunicorn.pid
include/
lib/
man/
messages.mo
node_modules/
pip-selfcheck.json
share/
uploads/
