*.sublime-workspace
*.sublime-project
*.sqlite3
*.pyc
rapidsms.log*
schema.png
local_settings.py
*.swp
nbproject
.DS_Store
*.log
.env
assets/
.installed.cfg
.mr.developer.cfg
bin/
eggs/
parts/
develop-eggs/
include/
lib/
man/
share/
src/apollo.egg-info/
.Python
pip-log.txt
