[buildout]
include-site-packages = false
extensions = mr.developer
auto-checkout = *
versions = versions
parts =
    django

[versions]
Django = 1.4.3

[sources]
django-filter = git https://github.com/alex/django-filter.git rev=ae3e111d7a9cfef8c9cbf9a7274db2735fbab415

[logs]
access_log = ${buildout:directory}/log/access.log
error_log = ${buildout:directory}/log/error.log

# Site Configurations
[django]
recipe = djangorecipe
projectegg = apollo
wsgi = true
test = 
    core
    messagelog
settings = settings
control-script = apollo
extra-paths = ${buildout:directory}/src/apollo/
#eggs = ${buildout:eggs}

# Add to parts if you want to use fabric
[fabric-script]
recipe = collective.recipe.template
input = templates/fabtemplate.py
output = ${buildout:directory}/fabfile.py
staging-root =
production-root =

