#
# NOTE: install numpy before using this. pandas depends on numpy, but
#       doesn't install it. if numpy is not already installed, installing
#       pandas *WILL* fail
#
-e git+https://github.com/alex/django-filter.git@ae3e111d7a9cfef8c9cbf9a7274db2735fbab415#egg=django_filter-dev
Django==1.4.3
RapidSMS==0.11.0
South==0.7.6
django-audit-log==0.2.1
django-bootstrap-pagination==0.1.10
django-celery==3.0.11
django-directed-acyclic-graph==0.3
django-extensions==0.5
django-form-utils==0.2.0
django-mako==0.1.5pre
django-orm-extensions==3.0b3
django-reversion==1.6.5
django-tastypie==0.9.11
librabbitmq==1.0.1
networkx==1.7
numpy==1.6.2
pandas==0.10.1
python-magic==0.4.3
python-memcached==1.48
psycopg2==2.4.6
tablib==0.9.11
xlrd==0.8.0
xlutils==1.5.2
xlwt==0.7.4
