Django==1.4.1
RapidSMS==0.9.6a
South>=0.7.2
django-audit-log==0.2.1
django-celery
django-extensions==0.5
django-filter==0.5.3
django-mako
django-mptt==0.5.4
django-reversion
django-tastypie==0.9.11
librabbitmq==0.9.9
numpy>=1.5.1
psycopg2==2.4.5
rapidsms-threadless-router
xlrd
xlutils
xlwt
