{% extends 'formbuilder/layout.html' %}
{% load url from future %}

{% block content %}
<p class="lead">{{ form.name }}</p>
{% for group in form.groups.all %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{ group.name }}</h3>
	</div>
	<div class="panel-body">
		<table class='table table-striped'>
			<thead>
			<tr>
				<th width="4%"><abbr title="Question code">Q</abbr></th>
				<th>Description</th>
				<th>&nbsp;</th>
				<th width="6%">&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{% for field in group.fields.all %}
			<tr>
				<td>{{ field.name }}</td>
				<td>{{ field.description }}{% if not field.options.exists %}<br /><small class="text-muted">(min: <strong>{{ field.lower_limit }}</strong> max: <strong>{{ field.upper_limit }}</strong>)</small>{% endif %}</td>
				<td align="right">
					{% if field.options.exists %}
					<div class="btn-group btn-group-sm">
						{% for option in field.options.all %}
						<button type="button" class="btn btn-default">{{ option.description }}<br />({{ option.option }})</button>
						{% endfor %}
					</div>
					{% elif form.type == "CHECKLIST" %}
					<input type="number" min="{{ field.lower_limit }}" max="{{ field.upper_limit" />
					{% else %}
					<input type="checkbox" />
					{% endif %}
				</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar">
						<div class="btn-group btn-group-xs">
							<a href="{% url 'formfield-update' form.pk group.pk field.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="{% url 'formfield-delete' form.pk group.pk field.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<a href="{% url 'formfield-create' form.pk group.pk %}" class="btn btn-primary">Add Question</a>
			</div>
			<div class="btn-group">
				<a href="{% url 'formgroup-update' form.pk group.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'formgroup-delete' form.pk group.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<a href="{% url 'formgroup-create' form.pk %}" class="btn btn-primary">Add Form Group</a> <a href="{% url 'forms-list' %}" class="btn btn-default">Forms List</a>
<p>&nbsp;</p>
{% endblock %}
