{% extends 'formbuilder/layout.html' %}
{% load url from future %}

{% block content %}
<p class="lead">{% if object %}Update{% else %}Create{% endif %} Form</p>
<div class="col-sm-6">
<form role="form" action="" class="form-horizontal" method="post">{% csrf_token %}
	<div class="form-group {% if form.errors.name %}has-error{% endif %}">
		<label for="name" class="col-sm-4 control-label">Title</label>
		<div class="col-sm-8">
			{{ form.name }}{% if form.errors.name %}
			<span class="help-block">{{ form.errors.name|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.type %}has-error{% endif %}">
		<label for="type" class="col-sm-4 control-label">Type</label>
		<div class="col-sm-8">
			{{ form.type }}{% if form.errors.type %}
			<span class="help-block">{{ form.errors.type|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.trigger %}has-error{% endif %}">
		<label for="trigger" class="col-sm-4 control-label">Trigger RE-Pattern</label>
		<div class="col-sm-8">
			{{ form.trigger }}{% if form.errors.trigger %}
			<span class="help-block">{{ form.errors.trigger|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.field_pattern %}has-error{% endif %}">
		<label for="field_pattern" class="col-sm-4 control-label">Field RE-Pattern</label>
		<div class="col-sm-8">
			{{ form.field_pattern }}{% if form.errors.field_pattern %}
			<span class="help-block">{{ form.errors.field_pattern|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.options %}has-error{% endif %}">
		<label for="options" class="col-sm-4 control-label">Options</label>
		<div class="col-sm-8">
			{{ form.options }}{% if form.errors.options %}
			<span class="help-block">{{ form.errors.options|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="{% url 'forms-list' %}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</form>
</div>
{% endblock %}
