{% extends 'formbuilder/layout.html' %}
{% load url from future %}

{% block content %}
<p class="lead">{% if object %}Update{% else %}Create{% endif %} Form Group</p>
<div class="col-sm-6">
<form role="form" action="" class="form-horizontal" method="post">{% csrf_token %}{{ form.form }}
	<div class="form-group {% if form.errors.name %}has-error{% endif %}">
		<label for="name" class="col-sm-4 control-label">Name</label>
		<div class="col-sm-8">
			{{ form.name }}{% if form.errors.name %}
			<span class="help-block">{{ form.errors.name|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="{% url 'form-detail' form_object.pk %}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</form>
</div>
{% endblock %}
