{% extends 'formbuilder/layout.html' %}
{% load url from future %}

{% block content %}
<p class="lead">{% if object %}Update{% else %}Create{% endif %} Form Field</p>
<div class="col-sm-6">
<form role="form" action="" class="form-horizontal" method="post">{% csrf_token %}{{ form.group }}
	<div class="form-group {% if form.errors.name %}has-error{% endif %}">
		<label for="name" class="col-sm-4 control-label">Name</label>
		<div class="col-sm-8">
			{{ form.name }}{% if form.errors.name %}
			<span class="help-block">{{ form.errors.name|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.tag %}has-error{% endif %}">
		<label for="tag" class="col-sm-4 control-label">Code</label>
		<div class="col-sm-8">
			{{ form.tag }}{% if form.errors.tag %}
			<span class="help-block">{{ form.errors.tag|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.description %}has-error{% endif %}">
		<label for="description" class="col-sm-4 control-label">Description</label>
		<div class="col-sm-8">
			{{ form.description }}{% if form.errors.description %}
			<span class="help-block">{{ form.errors.description|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.lower_limit %}has-error{% endif %}">
		<label for="lower_limit" class="col-sm-4 control-label">Lower Value Limit</label>
		<div class="col-sm-8">
			{{ form.lower_limit }}{% if form.errors.lower_limit %}
			<span class="help-block">{{ form.errors.lower_limit|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.upper_limit %}has-error{% endif %}">
		<label for="upper_limit" class="col-sm-4 control-label">Upper Value Limit</label>
		<div class="col-sm-8">
			{{ form.upper_limit }}{% if form.errors.upper_limit %}
			<span class="help-block">{{ form.errors.upper_limit|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	<div class="form-group {% if form.errors.analysis_type %}has-error{% endif %}">
		<label for="analysis_type" class="col-sm-4 control-label">Analysis Type</label>
		<div class="col-sm-8">
			{{ form.analysis_type }}{% if form.errors.analysis_type %}
			<span class="help-block">{{ form.errors.analysis_type|join:"<br />" }}</span>{% endif %}
		</div>
	</div>
	{% if object %}
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<h4>Field Options</h4>
			{% if object.options.exists %}
			<table class="table table-striped">
				<thead>
				<tr>
					<th width="10%" style="text-align:center">Value</th>
					<th width="70%">Label</th>
					<th width="20%">&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				{% for option in object.options.all %}
				<tr>
					<td style="text-align:center">{{ option.option }}</td>
					<td>{{ option.description }}</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar">
							<div class="btn-group btn-group-xs">
								<a href="{% url 'formfieldoption-update' form_object.pk formgroup_object.pk object.pk option.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
								<a href="{% url 'formfieldoption-delete' form_object.pk formgroup_object.pk object.pk option.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endif %}
			<a href="{% url 'formfieldoption-create' form_object.pk formgroup_object.pk object.pk %}" class="btn btn-primary">Add Field Option</a>
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<hr />
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="{% url 'form-detail' form_object.pk %}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</form>
</div>
{% endblock %}
