<!DOCTYPE html>
<html>
<head>
	<title>FormBuilder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}formbuilder/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>FormBuilder</h1>

		{% block content %}
		{% endblock %}
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}formbuilder/js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}formbuilder/js/bootstrap.js"></script>
	</body>
</html>
