{% macro render_analysis_navigation(navigation_data) %}
{% if navigation_data.locations %}
<ul class="nav nav-pills nav-style">
  {% for location in navigation_data.locations %}
    {% if navigation_data.analysis_type == 'process' %}
      {% if navigation_data.tag %}
        {% set linkto = url_for('process_analysis.process_analysis_with_location_and_tag', form_id=navigation_data.form.pk, location_id=location.pk, tag=navigation_data.tag) %}
      {% else %}
        {% set linkto = url_for('process_analysis.process_analysis_with_location', form_id=navigation_data.form.pk, location_id=location.pk) %}
      {% endif %}
  <li><a href="{{ linkto }}">{{ location.name }}</a></li>
  {%- elif navigation_data.analysis_type == 'results' -%}
  <li><a href="{{ url_for('process_analysis.results_analysis_with_location', form_id=navigation_data.form.pk, location_id=location.pk) }}">{{ location.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}
