{% extends 'psc/layout.html' %}
{% block content %}
<div class="grid_16">
	<div class="box"> 
		<h2>Action Log</h2>
		<div class="block">		
                        <table>
                            <thead>
                             <th>Date</th>
                             <th>User</th>
                             <th>Item</th>
                             <th>Action</th>
                                
                            </thead>
                            {% for log in logs.object_list %}
                                    <tr{% cycle '' 'class="odd"' %}>
                                        <td>{{ log.action_date|date:"d/m/Y" }}</td>
                                        <td>{{ log.action_user|capfirst }}</td>
                                        <td>
                                         
                                                {% if log.action_type != 'D' %}
                                                <a href="/vr/in/{{ log.id }}">VR Incident</a>
                                                {% else %}
                                                VR Incident
                                                {% endif %}
                                           
                                        </td>
                                        <td>
                                            {% if log.action_type == 'U' %} Updated {% endif %}
                                            {% if log.action_type == 'D' %} Deleted {% endif %}
                                            {% if log.action_type == 'I' %} Inserted {% endif %}
                                        </td>

                                    </tr>
                            {% endfor %}
                                             
                        </table>                        
		</div>
                {% if logs.has_other_pages %}
		<div class="paginator">
			{% if logs.has_previous %}
			<a href="?page={{ logs.previous_page_number }}"><span>&laquo;</span></a>
			{% endif %}
			<span class="current">Page {{ logs.number }} of {{ logs.paginator.num_pages }}</span>
			{% if logs.has_next %}
			<a href="?page={{ logs.next_page_number }}"><span>&raquo;</span></a>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
