{% extends "psc/layout.html" %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}
{% load comments %}
{% block content %}
<div class="grid_16">
    <div class="box">
	<h2>Contact Details</h2>
	  <form action="{% url psc.views.contact_edit contact.id %}" method="post">
		{% csrf_token %}
		<div class="block">
		    <table class="observer_details">
			<tr><td>Location:</td>
			    <td>{% if contact.role == 'NSC' or contact.role == 'NS' or contact.role == 'SC' or contact.role == 'SDC' %}{{ contact.location.parent.name }}{% endif %}
					{% if contact.role == 'LGA' %}{{ contact.location.parent.parent.parent.name }}{% endif %}
					{% if contact.role == 'OBS' %}{{ contact.location.parent.parent.parent.parent.name }}{% endif %}-
					{% if contact.role == 'NSC' or contact.role == 'NS' or contact.role == 'SC' or contact.role == 'SDC' %}{{ contact.location.name }}{% endif %}
					{% if contact.role == 'LGA' %}{{ contact.location.parent.parent.name }}{% endif %}
					{% if contact.role == 'OBS' %}{{ contact.location.parent.parent.parent.name }}{% endif %} -
					<strong>{% if contact.role == 'NSC' or contact.role == 'NS' or contact.role == 'SC' or contact.role == 'SDC' %}Unknown{% endif %}
					{% if contact.role == 'LGA' %}{{ contact.location.name }}{% endif %}
					{% if contact.role == 'OBS' %}{{ contact.location.parent.name }}{% endif %}</strong> -
					{% if contact.role == 'NSC' or contact.role == 'NS' or contact.role == 'SC' %}Unknown{% endif %}
					{% if contact.role == 'SDC' %}{{ contact.location.name }}{% endif %}
					{% if contact.role == 'LGA' %}{{ contact.location.parent.name }}{% endif %}
					{% if contact.role == 'OBS' %}{{ contact.location.parent.parent.name }}{% endif %}
			    </td>
			</tr>
			<tr><td width="30%">Polling Unit:</td><td><strong>{% if contact.role == 'NSC' or contact.role == 'NS' or contact.role == 'SC' or contact.role == 'SDC' or contact.role == 'RC' or contact.role == 'LGA' %}Unknown{% endif %}
									  {% if contact.role == 'OBS' %}{{ contact.location.name }}{% endif %}</strong></td></tr>
			<tr><td width="30%">PSC ID:</td><td><strong>{{ contact.observer_id }}</strong></td></tr>
			<tr><td width="30%">Name:</td><td><input type="text" class="bigbox" name="name" value="{{ contact.name }}" /></td></tr>
			<tr><td>Gender:</td><td>
			<select class="bigbox" name="{{ form.gender.name }}">
			    <option value="M" {% if form.initial.gender == 'M' %}selected="selected"{% endif %}>Male</option>
			    <option value="F" {% if form.initial.gender == 'F' %}selected="selected"{% endif %}>Female</option>
			    <option value="X" {% if form.initial.gender == 'X' %}selected="selected"{% endif %}>Unknown</option>
			</select>
			</td></tr>
			<tr><td>Observer Phone No.:</td><td><input type="text" class="bigbox" name="{{ form.phone.name }}" value="{{ form.initial.phone|default:""  }}" /></td></tr>
			<tr><td>E-mail:</td><td><input type="text" class="bigbox" name="{{ form.email.name }}" value="{{ form.initial.email }}" /></td></tr>
			<tr><td>Partner:</td>
			<td>
			<select class="bigbox" name="{{ form.partner.name }}">
			{% for partner in partners %}
				<option value="{{ partner.id }}" {% if contact.partner.id == partner.id %}selected="selected"{% endif %}>{{ partner.code }}</option>
			{% endfor %}
			</select>
			</td>
			</tr>
			<tr><td>&nbsp;</td><td><input type="submit" name="submit" value="Save" /></td></tr>
		    </table>
		</div>
	    </form>
    </div>
</div>
{% endblock %}
