{% extends 'psc/layout.html' %}
{% load query_string %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_zone").val("");
            $("#id_state").val("");
            $("#id_role").val("");
            $("#id_observer_id").val("");
	    $("#id_partner").val("");
	    $("#id_lga").val("");
	    $("#id_district").val("");
            $("#filter_form").submit();
        });
	$("#sndmsg_btn").toggle(function () {
	$("#messenger").slideDown("slow");
	}, function () {
	$("#messenger").slideUp("slow");
	});

	$("#send_btn").click(function () {
	$("#ajax-loader").show();
	$("#send_btn").attr("disabled", "disabled");
	    var to = $("#to").val();
	    var msg = $("#msg").val();
	$.post("/ajax_sendmsg", {to: to, msg: msg},
    function (data) {
	if (data == "1") {
	    alert("Message sent!");
	    $("#msg").val("");
	    $("#messenger").slideUp("slow");
	} else {
	    alert("Message sending failed.");
	    }
	    $("#send_btn").removeAttr("disabled");
	    $("#ajax-loader").hide();
	        }
	    );
	});
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>Contacts List<span class="flag">
            <button onclick="location.href='{% url psc.views.contact_list %}'">Refresh</button>
	{% if perms.psc.can_analyse %}<button id="sndmsg_btn">Send Message</button>{% endif %}
        </span></h2>
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table >
                        <thead>
                            <tr>
				{% for field in filter_form %}
				    <th>{{ field.label }}</th>
				{% endfor %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
				{% for field in filter_form %}                                                              
                                    <td>{{ field }}</td>
				{% endfor %}
				<td><input type="button" value="reset" id="reset">
				<input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
		{% include "psc/messenger.html" %}
            </div>
            <table>
                <thead>
                    <tr>
			<th>PSC ID</th>
			<th>Zone</th>
			<th>State</th>
			<th>Senatorial District</th>
			<th>LGA</th>
                        <th>Polling Unit</th>
                        <th>Name</th>
			<th>Phone</th>
			<th>E-Mail</th>
			<th>Role</th>
			<th>Partner</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
		{% for observer in contact.object_list %}
		    <tr{% cycle ' class="odd"' '' %}>
			<td>{{ observer.observer_id }}</td>
			{% if observer.role == 'NSC' or observer.role == 'NS' or observer.role == 'SC' %}
			<td>{{ observer.location.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'SDC' %}
			<td>{{ observer.location.parent.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'LGA'%}
			<td>{{ observer.location.parent.parent.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'OBS' %}
			<td>{{ observer.location.parent.parent.parent.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'NSC' or observer.role == 'NS' or observer.role == 'SC' %}
			<td>{{ observer.location.name }}</td>
			{% endif%}
			{% if observer.role == 'SDC' %}
			<td>{{ observer.location.parent.name}}</td>
			{% endif %}
			{% if observer.role == 'LGA' %}
			<td>{{ observer.location.parent.parent.name}}</td>
			{% endif %}
			{% if observer.role == 'OBS' %}
			<td>{{ observer.location.parent.parent.parent.name}}</td>
			{% endif %}
			{% if observer.role == 'NSC' or observer.role == 'NS' or observer.role == 'SC' %}
			<td>Unknown</td>
			{% endif %}
			{% if observer.role == 'SDC' %}
			<td>{{ observer.location.name }}</td>
			{% endif %}
			{% if observer.role == 'LGA' %}
			<td>{{ observer.location.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'OBS' %}
			<td>{{ observer.location.parent.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'NSC' or observer.role == 'NS' or observer.role == 'SC' or observer.role == 'SDC' %}
                        <td>Unknown</td>
			{% endif %}
			{% if observer.role == 'LGA' %}
                        <td>{{ observer.location.name }}</td>
			{% endif %}
                        {% if observer.role == 'OBS' %}
                        <td>{{ observer.location.parent.name }}</td>
			{% endif %}
			{% if observer.role == 'NSC' or observer.role == 'NS' or observer.role == 'SC' or observer.role == 'SDC' or observer.role == 'RC' or observer.role == 'LGA' %}
			<td>Unknown</td>
			{% endif %}
			{% if observer.role == 'OBS' %}
			<td>{{ observer.location.name }}</td>
			{% endif %}
			<td>{{ observer.name}}</td>
			<td>{% if observer.phone %}{{ observer.phone }}{% endif %}</td>
			<td>{{ observer.email }}</td>
                        <td>{{ observer.role }}</td>
			<td>{{ observer.partner }}</td>
                        <td><a href="{% url psc.views.contact_edit observer.id %}">Edit</a></td>
                    </tr>
				{% empty %}
                    <tr>
                        <td colspan="11" class="nodata">No reports yet</td>
                    </tr>
		{% endfor %}
                </tbody>
            </table>
       </div>
		{% if contact.has_other_pages %}
        <div class="paginator">
            <a href="{% query_string "page=page_details.first" "" %}"><span>&laquo;</span></a>
			{% if contact.has_previous %}
            <a href="{% query_string "page=object.previous_page_number" "" %}"><span>&lsaquo;</span></a>
			{% endif %}
            <a href="javascript:;"><span class="current">Page {{ contact.number }} of {{ contact.paginator.num_pages }}</span></a>
			{% if contact.has_next %}
            <a href="{% query_string "page=contactlists.next_page_number" "" %}"><span>&rsaquo;</span></a>
			{% endif %}
             <a href="{% query_string "page=page_details.last" "" %}"><span>&raquo;</span></a>
        </div>
              

		{% endif %}
    </div>
</div>
{% endblock %}

