{% extends 'psc/layout.html' %}
{% load query_string %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_zone").val("");
            $("#id_state").val("");
            $("#id_district").val("");
            $("#id_day").val("");
            $("#id_status").val(0);
            $("#id_observer_id").val("");
            $("#filter_form").submit();
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>Display, Claims and Objections Critical Incidents</h2>
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table>
                        <thead>
                            <tr>
								{% for field in filter_form %}
                                <th>{{ field.label }}</th>
								{% endfor %}
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								{% for field in filter_form %}
                                <td>{{ field }}</td>
								{% endfor %}
                                <td><input type="button" value="reset" id="reset"></td>
                                <td><input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>PSC ID</th>
                        <th>Date</th>
                        <th>LGA</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Observer</th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>E</th>
                        <th>F</th>
                        <th>G</th>
                        <th>H</th>
                        <th>J</th>
                        <th>K</th>
                        <th class="checklist"><button onclick="location.href='{% url psc.views.dco_incident_add  %}'">Add Incident</button></th>
                    </tr>
                </thead>
				{% for cl in checklists.object_list %}
                <tr{% cycle ' class="odd"' '' %}>
                    <td>{{ cl.observer.observer_id }}</td>
                    <td>{{ cl.date|date:"D d-M" }}</td>
                    <td>{{ cl.observer.location.name|default:"Unknown" }}</td>
                    <td>{{ cl.observer.location.parent.name|default:"Unknown" }}</td>
                    <td>{{ cl.observer.location.parent.parent.name|default:"Unknown" }}</td>
                    <td>{{ cl.observer.name }}</td>
                    <td>
						{% if cl.A %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.B %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.C %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.D %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.E %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.F %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.G %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.H %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.J %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td>
						{% if cl.K %}
                        <img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" />
						{% endif %}
                    </td>
                    <td class="checklist"><a href="{% url psc.views.dco_incident_update cl.id %}">Edit</a></td>
                </tr>
				{% empty %}
                <tr>
                    <td colspan="17" class="nodata">No reports yet</td>
                </tr>
				{% endfor %}
            </table>
        </div>
        {% if checklists.has_other_pages %}
        <div class="paginator">
			{% if checklists.has_previous %}
            <a href="{% query_string "page=checklists.previous_page_number" "" %}"><span>&laquo;</span></a>
			{% endif %}
            <span class="current">Page {{ checklists.number }} of {{ checklists.paginator.num_pages }}</span>
			{% if checklists.has_next %}
            <a href="{% query_string 'page=checklists.next_page_number' '' %}"><span>&raquo;</span></a>
			{% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
