{% extends "psc/layout.html" %}
{% block content %}
<form method="POST" action="{% url psc.views.dco_incident_add %}" >
    <div class="grid_16">
        <div class="box">
            <h2>Observer Details</h2>
            <!-- observer details group form -->
            <div class="block">
                <div class='grandparent'>
                    <div class='parent'>
                        <div class='first'>
                            <p>PSC</p>
                        </div>
                        <div class='second'>
                            <p>Observer ID (always start every text message with "PSC" followed by your Observer ID Number)</p>
                        </div>
                        <div class='third'>
					{{ form.observer.as_widget }}
                        </div>
                    </div>
                    <div class='parent last'>
                        <div class='first'>
                            <p>Date</p>
                        </div>
                        <div class='second'>
                            <p>Choose Date</p>
                        </div>
                        <div class='third'>
					{{ form.date.as_widget }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <h2>Critical Incidents</h2>
            <!-- opening checklist question -->
            <div class='block'>
                <div class='grandparent'>
                    <div class='parent'>
                        <div class='first'>
                            <p>A</p>
                        </div>
                        <div class='second'>
                            <p>Registration Centre not open/does not exist</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.A.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>B</p>
                        </div>
                        <div class='second'>
                            <p>Not permitted to observe at registration centre</p>
                        </div>
                        <div class='third'>
                            <div class ="options">
                                <input name='{{ form.B.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>C</p>
                        </div>
                        <div class='second'>
                            <p>Preliminary Register of Voters (PRV) not in a visible place for public scrutiny</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.C.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>D</p>
                        </div>
                        <div class='second'>
                            <p>People not permitted to scrutinize the Preliminary Register of Voters (PRV)</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.D.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>E</p>
                        </div>
                        <div class='second'>
                            <p> People not permitted to file a Claim to have their name added or corrected</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.E.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>F</p>
                        </div>
                        <div class='second'>
                            <p>People not permitted to file an Objection to have a name removed</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.F.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>G</p>
                        </div>
                        <div class='second'>
                            <p>Centre ran out of materials</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.G.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>H</p>
                        </div>
                        <div class='second'>
                            <p> Intimidation or harassment in or around the centre</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.H.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>J</p>
                        </div>
                        <div class='second'>
                            <p>Violence in or around the centre</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.J.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>K</p>
                        </div>
                        <div class='second'>
                            <p>Other</p>
                        </div>
                        <div class='third'>
                            <div class="options">
                                <input name='{{ form.K.name }}' type='checkbox' class='checkbox numeric' value='True' >
                            </div>
                        </div>
                    </div>
                    <div class='parent'>
                        <div class='first'>
                            <p>Comment</p>
                        </div>
                        <div class='third'>
                            <div class='options'>
                                <input name='{{ form.comment.name }}' type='text' class='text comment' value='{{ form.initial.comment }}'>
                            </div>
                        </div>
                    </div>
                    <div class='parent last'>
                        <div class='first'>
                            <p>&nbsp;</p>
                        </div>
                        <div class='third'>
                            <div class="options buttons">
																{% csrf_token %}
																<input type="submit" name="submit" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
</form>
{% endblock %}
