{% extends 'psc/layout.html' %}
{% load query_string %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_zone").val("");
            $("#id_state").val("");
            $("#id_day").val("");
            $("#id_observer_id").val("");
	    $("#id_first").val("");
	    $("#id_second").val("");
            $("#filter_form").submit();
        });
	$("#sndmsg_btn").toggle(function () {
	$("#messenger").slideDown("slow");
	}, function () {
	$("#messenger").slideUp("slow");
	});

	$("#send_btn").click(function () {
	$("#ajax-loader").show();
	$("#send_btn").attr("disabled", "disabled");
	    var to = $("#to").val();
	    var msg = $("#msg").val();
	$.post("/ajax_sendmsg", {to: to, msg: msg},
    function (data) {
	if (data == "1") {
	    alert("Message sent!");
	    $("#msg").val("");
	    $("#messenger").slideUp("slow");
	} else {
	    alert("Message sending failed.");
	    }
	    $("#send_btn").removeAttr("disabled");
	    $("#ajax-loader").hide();
	        }
	    );
	});
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>Display, Claims &amp; Objections Checklists <span class="flag">
            <button onclick="location.href='{% url psc.views.dco_checklist_list %}'">Refresh</button>
            {% if perms.psc.can_analyse %}<button onclick="location.href='{% url psc.views.export "dcoc" %}'">Export</button>{% endif %}
	    {% if perms.psc.can_analyse %}<button id="sndmsg_btn">Send Message</button>{% endif %}
	</span></h2>
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table >
                        <thead>
                            <tr>
								{% for field in filter_form %}
                                <th>{{ field.label }}</th>
								{% endfor %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								{% for field in filter_form %}                                                              

                                <td>{{ field }}</td>

								{% endfor %}
                                <td><input type="button" value="reset" id="reset">
                                    <input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
		<div id="messenger" style="display:none">
		    <table>
		    <tr>
			<td style="vertical-align:top;padding-left:1em" width="150">You are about to send to <strong>{{ msg_recipients|length|default:"0" }}</strong> recipients</td>
			<td width="250"><input type="hidden" name="to" value="{{ msg_recipients|join:"," }}" id="to" /><textarea id="msg" cols="30" rows="5"></textarea><br /><button id="send_btn">Send</button> <img style="display:none" src="/assets/img/ajax-loader.gif" alt="sending..." id="ajax-loader" /></td>
		    </tr>
		    </table>
		</div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>PSC ID</th>
                        <th>Date</th>
                        <th>LGA</th>
                        <th>State/SD</th>
                        <th>Observer</th>
                        <th>Supervisor</th>
                        <th class="checklist">Arrival</th>
                        <th class="checklist">Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
				{% for cl in checklists.object_list %}
                    <tr{% cycle ' class="odd"' '' %}>
                        <td>{{ cl.observer.observer_id }}</td>
                        <td>{{ cl.date|date:"D d-M" }}</td>
                        <td>{{ cl.observer.location.name }}</td>
                        <td>{{ cl.observer.location.parent.name|truncatewords:3 }}</td>
												<td>{{ cl.observer.name|truncatewords:2 }}{% if cl.observer.phone %} (<strong>{{ cl.observer.phone }}</strong>){% endif %}</td>
												<td>{{ cl.observer.supervisor.name|truncatewords:2 }}{% if cl.observer.supervisor.phone %} (<strong>{{ cl.observer.supervisor.phone }}</strong>){% endif %}</td>
                        <td class="checklist">
						{% if cl.submitted %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="arrived" />
						{% else %}
                            <img src="/assets/img/exclamation-red.png" width="16" height="16" alt="none" />
						{% endif %}
												</td>
                        <td class="checklist">
					{% if cl.A = 1 %}
						{% if cl.B and cl.C and cl.D and cl.E and cl.G and cl.H and cl.J and cl.K and cl.M and cl.N and cl.P and cl.Q and cl.R and cl.S and cl.T and cl.U and cl.V and cl.W and cl.X and cl.submitted %}
							{% if cl.F1 or cl.F2 or cl.F3 or cl.F4 or cl.F5 or cl.F6 or cl.F7 or cl.F8 or cl.F9 %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="complete" />
							{% else %}
                            <img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
							{% endif %}
						{% else %}
                            <img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
						{% endif %}
					{% else %}
						{% if cl.A = 2 %}
							{% if cl.B or cl.C or cl.D or cl.E or cl.G or cl.H or cl.J or cl.K or cl.M or cl.N or cl.P or cl.Q or cl.R or cl.S or cl.T or cl.U or cl.V or cl.W or cl.X or cl.F1 or cl.F2 or cl.F3 or cl.F4 or cl.F5 or cl.F6 or cl.F7 or cl.F8 or cl.F9 and cl.submitted %}
														<img src="/assets/img/status-busy.png" width="16" height="16" alt="none" />
							{% else %}
														<img src="/assets/img/information.png" width="16" height="16" alt="not open" />
							{% endif %}
						{% else %}
                            <img src="/assets/img/exclamation-red.png" width="16" height="16" alt="missing" />
						{% endif %}
					{% endif %}
                        </td>
                        <td><a href="{% url psc.views.dco_checklist cl.id %}">Edit</a></td>
                    </tr>
				{% empty %}
                    <tr>
                        <td colspan="11" class="nodata">No reports yet</td>
                    </tr>
				{% endfor %}
                </tbody>
            </table>
        </div>
		{% if checklists.has_other_pages %}
        <div class="paginator">
            <a href="{% query_string "page=page_details.first" "" %}"><span>&laquo;</span></a>
			{% if checklists.has_previous %}
            <a href="{% query_string "page=checklists.previous_page_number" "" %}"><span>&lsaquo;</span></a>
			{% endif %}
            <a href="javascript:;"><span class="current">Page {{ checklists.number }} of {{ checklists.paginator.num_pages }}</span></a>
			{% if checklists.has_next %}
            <a href="{% query_string "page=checklists.next_page_number" "" %}"><span>&rsaquo;</span></a>
			{% endif %}
             <a href="{% query_string "page=page_details.last" "" %}"><span>&raquo;</span></a>
        </div>
              

		{% endif %}
    </div>
</div>
{% endblock %}
