{% extends 'psc/eday_question_analysis_layout.html' %}
{% load calc %}
{% block stats %}
	<div class="box">
		<h2><strong>Zone Statistics</strong> - {{zones.0.data.label}}</h2>
		<div class="block">
			<table width="100%" class="summary">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Zone</th>
						<th>N</th>
						<th colspan="2">n</th>
						<th>L</th>
						<th colspan="2">l</th>
						<th colspan="2">Yes</th>
						<th colspan="2">No</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				{% for zone in zones %}
				<tr class="mid">
					<th>&nbsp;</th>
					<td>{{ zone.name }}</td>
					<td>{{ zone.data.no_of_checklists }}</td>
					<td>{{ zone.data.n }}</td>
					<td><strong>{{ zone.data.n|percentage:zone.data.no_of_checklists }}</strong></td>
					<td>{{ zone.data.no_of_lgas }}</td>
					<td>{{ zone.data.l }}</td>
					<td><strong>{{ zone.data.l|percentage:zone.data.no_of_lgas }}</strong></td>
					<td>{{ zone.data.options.1 }}</td>
					<td><strong>{{ zone.data.options.1|percentage:zone.data.n }}</strong></td>
					<td>{{ zone.data.options.2 }}</td>
					<td><strong>{{ zone.data.options.2|percentage:zone.data.n }}</strong></td>
					<td><table style="display:none" class="pieChart">
						<tr><td>Yes</td><td>{{ zone.data.options.1 }}</td></tr>
						<tr><td>No</td><td>{{ zone.data.options.2 }}</td></tr>
					</table></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="box">
		<h2><strong>State Statistics</strong> - {{states.0.data.label}}</h2>
		<div class="block">
			<table width="100%" class="summary">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>State</th>
						<th>N</th>
						<th colspan="2">n</th>
						<th>L</th>
						<th colspan="2">l</th>
						<th colspan="2">Yes</th>
						<th colspan="2">No</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				{% for state in states %}
				<tr class="mid">
					<th>&nbsp;</th>
					<td>{{ state.name }}</td>
					<td>{{ state.data.no_of_checklists }}</td>
					<td>{{ state.data.n }}</td>
					<td><strong>{{ state.data.n|percentage:state.data.no_of_checklists }}</strong></td>
					<td>{{ state.data.no_of_lgas }}</td>
					<td>{{ state.data.l }}</td>
					<td><strong>{{ state.data.l|percentage:state.data.no_of_lgas }}</strong></td>
					<td>{{ state.data.options.1 }}</td>
					<td><strong>{{ state.data.options.1|percentage:state.data.n }}</strong></td>
					<td>{{ state.data.options.2 }}</td>
					<td><strong>{{ state.data.options.2|percentage:state.data.n }}</strong></td>
					<td><table style="display:none" class="pieChart">
						<tr><td>Yes</td><td>{{ state.data.options.1 }}</td></tr>
						<tr><td>No</td><td>{{ state.data.options.2 }}</td></tr>
					</table></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
