{% extends "psc/layout.html" %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function(){
        $('.control').attr('checked', false);
        $('.control_text').attr('disabled', true);
        $('.control').click(function(){
            if($('input[name='+ $(this).attr('value')+']').attr('disabled') == false){
                $('input[name='+ $(this).attr('value')+']').attr('disabled', true);
            }else{
                $('input[name='+ $(this).attr('value')+']').attr('disabled', false);
            }
        });
    });
</script>
{% endblock %}
{% load comments %}
{% block content %}
<div class="grid_16">
		<div class="box">
				<h2>Checklist Details</h2>
				<form action="{% url psc.views.eday_checklist checklist1.id %}" method="post" name='xxx'>
						<div class="block">
								<!-- checklist details -->
								<table class="observer_details">
										<tr><td width="30%">Observer:</td><td>{{ checklist1.observer.name }} (<strong>{{ checklist1.observer.observer_id  }}</strong>)</td>
														  <td>{{ checklist2.observer.name }} (<strong>{{ checklist2.observer.observer_id  }}</strong>)</td></tr>
										<tr><td>Observer Phone No.:</td><td><strong>{{ checklist1.observer.phone  }}</strong></td>
													    <td><strong>{{ checklist2.observer.phone  }}</strong></td></tr>
										<tr><td>Supervisor:</td><td>{{ checklist1.observer.supervisor|default:"" }} {% if checklist1.observer.supervisor %}(<strong>{{ checklist1.observer.supervisor.phone  }}</strong>){% endif %}</td>
													<td>{{ checklist2.observer.supervisor|default:"" }} {% if checklist2.observer.supervisor %}(<strong>{{ checklist2.observer.supervisor.phone  }}</strong>){% endif %}</td></tr>
										<tr><td>Location:</td><td>{{ checklist1.observer.zone.name }} - {{ checklist1.observer.state.name }} - <strong>{{ checklist1.observer.lga.name }}</strong></td>
												    <td>{{ checklist2.observer.zone.name }} - {{ checklist2.observer.state.name }} - <strong>{{ checklist2.observer.lga.name }}</strong></td></tr>
										<tr><td>Date:</td><td>{{ checklist1.date|date:"D d-M" }}</td>
												<td>{{ checklist2.date|date:"D d-M" }}</td></tr>
										<tr><td>PS:</td><td>{{ checklist1.observer.ps|default:"Unknown" }}</td>
												<td>{{ checklist2.observer.ps|default:"Unknown" }}</td></tr>
								</table>
						</div>
		</div>
					    <div class="clear"></div>
					    <!--<div class="box">
					    <h2>Opening Checklist Questions</h2>
					    <h2>Arrival</h2>
					    </div>-->
					    <div class="box">
						<table>
						    <tr>
							<th>
							    <td>Index</td><td>Question</td><td>OBS1</td><td>OBS2</td><td>CONTROL</td><td>&nbsp;</td>
							</th>
						    </tr>
						    <tr><td colspan="7">
							<div class="box">
							    <h2>Opening Checklist Questions</h2>
							    <h2>Arrival</h2>
							</div>
						    </td></tr>
						    <tr>
							<td>&nbsp;</td><td>AA</td><td>{{ form.AA.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.AA.html_name }}' class='bigbox2' type='text' value="{{ form.initial.AA|default:'' }}"></td><td><input name='{{ form2.AA.html_name }}' class='bigbox2' type='text' value="{{ form2.initial.AA|default:'' }}"></td><td><input name='{{ form3.AA.html_name }}' class='control_text bigbox2' type='text' value="{{ form3.initial.AA|default:'' }}"></td><td><input type='checkbox' class="control" value="AAi"></td>
						    </tr>
						    <tr><td colspan="7">
							<div class="box">
							    <h2>Accreditation Process</h2>
							</div>
						    </td></tr>
						    <tr>
							<td>&nbsp;</td><td>BA</td><td>{{ form.BA.help_text }} <br />Open by 8am <strong>(1)</strong> Between 8am &amp; 9am <strong>(2)</strong> Between 9am &amp; 12noon <strong>(3)</strong> After by 12noon <strong>(4)</strong> Never Started <strong>(5)</strong></td><td><input name='{{ form.BA.html_name }}' class='bigbox2' type='text' value="{{ form.initial.BA|default:'' }}" ></td><td><input name='{{ form2.BA.html_name }}' type='text' class='bigbox2' value="{{ form2.initial.BA|default:'' }}"></td><td><input name='{{ form3.BA.html_name }}' type='text' class='control_text bigbox2' value="{{ form3.initial.BA|default:'' }}"></td><td><input type='checkbox' class="control" value="BAi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BB</td><td>{{ form.BB.help_text }}</td><td><input name='{{ form.BB.html_name }}' type='text' class='bigbox2' value="{{ form.initial.BB|default:'' }}"></td><td><input name='{{ form2.BB.html_name }}' type='text' class='bigbox2' value="{{ form2.initial.BB|default:'' }}"></td><td><input name='{{ form3.BB.html_name }}' type='text' class='control_text bigbox2' value="{{ form3.initial.BB|default:'' }}"></td><td><input type='checkbox' class="control" value="BBi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BC</td><td>{{ form.BC.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.BC.html_name }}' type='text' class='bigbox2' value="{{form.initial.BC|default:''}}"></td><td><input name='{{ form2.BC.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BC|default:''}}"></td><td><input name='{{form3.BC.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BC|default:''}}"></td><td><input type='checkbox' class="control" value="BCi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BD</td><td>{{ form.BD.help_text }}</td><td><input name='{{ form.BD.html_name }}' type='text' class='bigbox2' value="{{form.initial.BD|default:''}}"></td><td><input name='{{ form2.BD.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BD|default:''}}"></td><td><input name='{{form3.BD.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BD|default:''}}"></td><td><input type='checkbox' class="control" value="BDi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BE</td><td>{{ form.BE.help_text }}</td><td><input name='{{ form.BE.html_name }}' type='text' class='bigbox2' value="{{form.initial.BE|default:''}}"></td><td><input name='{{ form2.BE.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BE|default:''}}"></td><td><input name='{{form3.BE.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BE|default:''}}"></td><td><input type='checkbox' class="control" value="BEi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BF</td><td>{{ form.BF.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.BF.html_name }}' type='text' class='bigbox2' value="{{form.initial.BF|default:''}}"></td><td><input name='{{ form2.BF.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BF|default:''}}"></td><td><input name='{{form3.BF.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BF|default:''}}"></td><td><input type='checkbox' class="control" value="BFi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BG</td><td>{{ form.BG.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.BG.html_name }}' type='text' class='bigbox2' value="{{form.initial.BG|default:''}}"></td><td><input name='{{ form2.BG.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BG|default:''}}"></td><td><input name='{{form3.BG.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BG|default:''}}"></td><td><input type='checkbox' class="control" value="BGi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BH</td><td>{{ form.BH.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.BH.html_name }}' type='text' class='bigbox2' value="{{form.initial.BH|default:''}}"></td><td><input name='{{ form2.BH.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BH|default:''}}"></td><td><input name='{{form3.BH.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BH|default:''}}"></td><td><input type='checkbox' class="control" value="BHi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BJ</td><td>{{ form.BJ.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.BJ.html_name }}' type='text' class='bigbox2' value="{{form.initial.BJ|default:''}}"></td><td><input name='{{ form2.BJ.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BJ|default:''}}"></td><td><input name='{{form3.BJ.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BJ|default:''}}"></td><td><input type='checkbox' class="control" value="BJi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BK</td><td>{{ form.BK.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.BK.html_name }}' type='text' class='bigbox2' value="{{form.initial.BK|default:''}}"></td><td><input name='{{ form2.BK.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BK|default:''}}"></td><td><input name='{{form3.BK.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BK|default:''}}"></td><td><input type='checkbox' class="control" value="BKi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BM</td><td>{{ form.BM.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.BM.html_name }}' type='text' class='bigbox2' value="{{form.initial.BM|default:''}}"></td><td><input name='{{ form2.BM.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BM|default:''}}"></td><td><input name='{{form3.BM.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BM|default:''}}"></td><td><input type='checkbox' class="control" value="BMi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BN</td><td>{{ form.BN.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.BN.html_name }}' type='text' class='bigbox2' value="{{form.initial.BN|default:''}}"></td><td><input name='{{ form2.BN.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BN|default:''}}"></td><td><input name='{{form3.BN.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BN|default:''}}"></td><td><input type='checkbox' class="control" value="BNi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>BP</td><td>{{ form.BP.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.BP.html_name }}' type='text' class='bigbox2' value="{{form.initial.BP|default:''}}"></td><td><input name='{{ form2.BP.html_name }}' type='text' class='bigbox2' value="{{form2.initial.BP|default:''}}"></td><td><input name='{{form3.BP.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.BP|default:''}}"></td><td><input type='checkbox' class="control" value="BPi"></td>
						    </tr>
						    <tr><td colspan="7">
							<div class="box">
							    <h2>Voting Process</h2>
							</div>
						    </td></tr>
						    <tr>
							<td>&nbsp;</td><td>CA</td><td>{{ form.CA.help_text }} <br />Before 1pm <strong>(1)</strong> Between 1pm &amp; 2pm <strong>(2)</strong> Between 2pm &amp; 3pm <strong>(3)</strong> After 3pm <strong>(4)</strong> Never Started <strong>(5)</strong></td><td><input name='{{ form.CA.html_name }}' type='text' class='bigbox2' value="{{form.initial.CA|default:''}}"></td><td><input name='{{ form2.CA.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CA|default:''}}"></td><td><input name='{{form3.CA.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CA|default:''}}"></td><td><input type='checkbox' class="control" value="CAi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CB</td><td>{{ form.CB.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CB.html_name }}' type='text' class='bigbox2' value="{{form.initial.CB|default:''}}"></td><td><input name='{{ form2.CB.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CB|default:''}}"></td><td><input name='{{form3.CB.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CB|default:''}}"></td><td><input type='checkbox' class="control" value="CBi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CC</td><td>{{ form.CC.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.CC.html_name }}' type='text' class='bigbox2' value="{{form.initial.CC|default:''}}"></td><td><input name='{{ form2.CC.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CC|default:''}}"></td><td><input name='{{form3.CC.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CC|default:''}}"></td><td><input type='checkbox' class="control" value="CCi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CD</td><td>{{ form.CD.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.CD.html_name }}' type='text' class='bigbox2' value="{{form.initial.CD|default:''}}"></td><td><input name='{{ form2.CD.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CD|default:''}}"></td><td><input name='{{form3.CD.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CD|default:''}}"></td><td><input type='checkbox' class="control" value="CDi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CE</td><td>{{ form.CE.help_text }} <br />No one <strong>(1)</strong> A Few <strong>(2)</strong> Half <strong>(3)</strong> Most <strong>(4)</strong> Everyone <strong>(5)</strong></td><td><input name='{{ form.CE.html_name }}' type='text' class='bigbox2' value="{{form.initial.CE|default:''}}"></td><td><input name='{{ form2.CE.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CE|default:''}}"></td><td><input name='{{form3.CE.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CE|default:''}}"></td><td><input type='checkbox' class="control" value="CEi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CF</td><td>{{ form.CF.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CF.html_name }}' type='text' class='bigbox2' value="{{form.initial.CF|default:''}}"></td><td><input name='{{ form2.CF.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CF|default:''}}"></td><td><input name='{{form3.CF.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CF|default:''}}"></td><td><input type='checkbox' class="control" value="CFi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CG</td><td>{{ form.CG.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CG.html_name }}' type='text' class='bigbox2' value="{{form.initial.CG|default:''}}"></td><td><input name='{{ form2.CG.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CG|default:''}}"></td><td><input name='{{form3.CG.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CG|default:''}}"></td><td><input type='checkbox' class="control" value="CGi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CH</td><td>{{ form.CH.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CH.html_name }}' type='text' class='bigbox2' value="{{form.initial.CH|default:''}}"></td><td><input name='{{ form2.CH.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CG|default:''}}"></td><td><input name='{{form3.CG.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CG|default:''}}"></td><td><input type='checkbox' class="control" value="CHi"></td>
						    </tr>
						    <tr><td colspan="7">
							<div class="box">
							    <h2>Counting Process</h2>
							</div>
						    </td></tr>
						    <tr>
							<td>&nbsp;</td><td>CJ</td><td>{{ form.CJ.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CJ.html_name }}' type='text' class='bigbox2' value="{{form.initial.CJ|default:''}}"></td><td><input name='{{ form2.CJ.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CJ|default:''}}"></td><td><input name='{{form3.CJ.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CJ|default:''}}"></td><td><input type='checkbox' class="control" value="CJi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CK</td><td>{{ form.CK.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CK.html_name }}' type='text' class='bigbox2' value="{{form.initial.CK|default:''}}"></td><td><input name='{{ form2.CK.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CK|default:''}}"></td><td><input name='{{form3.CK.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CK|default:''}}"></td><td><input type='checkbox' class="control" value="CKi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CM</td><td>{{ form.CM.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CM.html_name }}' type='text' class='bigbox2' value="{{form.initial.CM|default:''}}"></td><td><input name='{{ form2.CM.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CM|default:''}}"></td><td><input name='{{form3.CM.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CM|default:''}}"></td><td><input type='checkbox' class="control" value="CMi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CN</td><td>{{ form.CN.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CN.html_name }}' type='text' class='bigbox2' value="{{form.initial.CN|default:''}}"></td><td><input name='{{ form2.CN.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CN|default:''}}"></td><td><input name='{{form3.CN.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CN|default:''}}"></td><td><input type='checkbox' class="control" value="CNi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CP</td><td>{{ form.CP.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CP.html_name }}' type='text' class='bigbox2' value="{{form.initial.CP|default:''}}"></td><td><input name='{{ form2.CP.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CP|default:''}}"></td><td><input name='{{form3.CP.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CP|default:''}}"></td><td><input type='checkbox' class="control" value="CPi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>CQ</td><td>{{ form.CQ.help_text }} <br />Yes <strong>(1)</strong> No <strong>(2)</strong> Unchecked <strong>(3)</strong></td><td><input name='{{ form.CQ.html_name }}' type='text' class='bigbox2' value="{{form.initial.CQ|default:''}}"></td><td><input name='{{ form2.CQ.html_name }}' type='text' class='bigbox2' value="{{form2.initial.CQ|default:''}}"></td><td><input name='{{form3.CQ.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.CQ|default:''}}"></td><td><input type='checkbox' class="control" value="CQi"></td>
						    </tr>
						    <tr><td colspan="7">
							<div class="box">
							    <h2>Official Presidential Election Summary Information</h2>
							</div>
						    </td></tr>
						    <tr>
							<td>&nbsp;</td><td>DA</td><td>{{ form.DA.help_text }}</td><td><input name='{{ form.DA.html_name }}' type='text' class='bigbox2' value="{{form.initial.DA|default:''}}"></td><td><input name='{{ form2.DA.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DA|default:''}}"></td><td><input name='{{form3.DA.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DA|default:''}}"></td><td><input type='checkbox' class="control" value="DAi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DB</td><td>{{ form.DB.help_text }}</td><td><input name='{{ form.DB.html_name }}' type='text' class='bigbox2' value="{{form.initial.DB|default:''}}"></td><td><input name='{{ form2.DB.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DB|default:''}}"></td><td><input name='{{form3.DB.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DB|default:''}}"></td><td><input type='checkbox' class="control" value="DBi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DC</td><td>{{ form.DC.help_text }}</td><td><input name='{{ form.DC.html_name }}' type='text' class='bigbox2' value="{{form.initial.DC|default:''}}"></td><td><input name='{{ form2.DC.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DC|default:''}}"></td><td><input name='{{form3.DC.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DC|default:''}}"></td><td><input type='checkbox' class="control" value="DCi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DD</td><td>{{ form.DD.help_text }}</td><td><input name='{{ form.DD.html_name }}' type='text' class='bigbox2' value="{{form.initial.DD|default:''}}"></td><td><input name='{{ form2.DD.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DD|default:''}}"></td><td><input name='{{form3.DD.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DD|default:''}}"></td><td><input type='checkbox' class="control" value="DDi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DE</td><td>{{ form.DE.help_text }}</td><td><input name='{{ form.DE.html_name }}' type='text' class='bigbox2' value="{{form.initial.DE|default:''}}"></td><td><input name='{{ form2.DE.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DE|default:''}}"></td><td><input name='{{form3.DE.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DE|default:''}}"></td><td><input type='checkbox' class="control" value="DEi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DF</td><td>{{ form.DF.help_text }}</td><td><input name='{{ form.DF.html_name }}' type='text' class='bigbox2' value="{{form.initial.DF|default:''}}"></td><td><input name='{{ form2.DF.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DF|default:''}}"></td><td><input name='{{form3.DF.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DF|default:''}}"></td><td><input type='checkbox' class="control" value="DFi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DG</td><td>{{ form.DG.help_text }}</td><td><input name='{{ form.DG.html_name }}' type='text' class='bigbox2' value="{{form.initial.DG|default:''}}"></td><td><input name='{{ form2.DG.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DG|default:''}}"></td><td><input name='{{form3.DG.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DG|default:''}}"></td><td><input type='checkbox' class="control" value="DGi"></td>
						    </tr>
						    <tr>
							<td>&nbsp;</td><td>DH</td><td>{{ form.DH.help_text }}</td><td><input name='{{ form.DH.html_name }}' type='text' class='bigbox2' value="{{form.initial.DH|default:''}}"></td><td><input name='{{ form2.DH.html_name }}' type='text' class='bigbox2' value="{{form2.initial.DH|default:''}}"></td><td><input name='{{form3.DH.html_name}}' type='text' class='control_text bigbox2' value="{{form3.initial.DH|default:''}}"></td><td><input type='checkbox' class="control" value="DHi"></td>
						    </tr>
							<tr>
							<td colspan="3">&nbsp;</td><td colspan="4"><input type="submit" name="submit" value="Save" id="submit"></td>
						    </tr>
						</table>
					    </div>
				</form>
</div>
{% endblock %}
