{% extends 'psc/layout.html' %}
{% load query_string %}
{% load expr %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_zone").val("");
            $("#id_state").val("");
            $("#id_day").val("");
            $("#id_observer_id").val("");
	    $("#id_first").val("");
	    $("#id_second").val("");
	    $("#id_third").val("");
	    $("#id_fourth").val("");
	    $("#id_fifth").val("");
            $("#filter_form").submit();
        });
	$("#sndmsg_btn").toggle(function () {
	$("#messenger").slideDown("slow");
	}, function () {
	$("#messenger").slideUp("slow");
	});
{% if perms.psc.can_analyse %}
	$("#send_btn").click(function () {
	$("#ajax-loader").show();
	$("#send_btn").attr("disabled", "disabled");
	    var to = $("#to").val();
	    var msg = $("#msg").val();
	$.post("/ajax_sendmsg", {to: to, msg: msg},
    function (data) {
	if (data == "1") {
	    alert("Message sent!");
	    $("#msg").val("");
	    $("#messenger").slideUp("slow");
	} else {
	    alert("Message sending failed.");
	    }
	    $("#send_btn").removeAttr("disabled");
	    $("#ajax-loader").hide();
	        }
	    );
	});
{% endif %}
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>Election Day Checklists <span class="flag">
            <button onclick="location.href='{% url eday_checklist_view %}'">Refresh</button>
            {% if perms.psc.can_analyse %}<button onclick="location.href='{% url eday_checklist_export %}'">Export</button>{% endif %}
	    {% if perms.psc.can_analyse %}<button id="sndmsg_btn">Send Message</button>{% endif %}
	</span></h2>
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table >
                        <thead>
                            <tr>
								{% for field in filter_form %}
                                <th>{{ field.label }}</th>
								{% endfor %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								{% for field in filter_form %}                                                              

                                <td>{{ field }}</td>

								{% endfor %}
                                <td><input type="button" value="reset" id="reset">
                                    <input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
        		{% include "psc/messenger.html" %}
            </div>
            <table>
                <thead>
                    <tr>
                        <th colspan="5">&nbsp;</th>
                        <th colspan="5">SMS</th>
                        <th colspan="5">Flag</th>
                        {% if perms.psc.can_manage_data %}<th>&nbsp;</th>{% endif %}
                    </tr>	
                    <tr>
                        <th>PSC ID</th>
                        <th>Date</th>
                        <th>LGA</th>
                        <th>State/SD</th>
                        <th>Observer</th>
                        <th class="checklist">1st</th>
                        <th class="checklist">2nd</th>
                        <th class="checklist">3rd</th>
                        <th class="checklist">4th</th>
                        <th class="checklist">5th</th>
                        <th class="checklist">1st</th>
                        <th class="checklist">2nd</th>
                        <th class="checklist">3rd</th>
                        <th class="checklist">4th</th>
                        <th class="checklist">5th</th>
                        {% if perms.psc.can_manage_data %}<th>&nbsp;</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
				{% for cl in checklists.object_list %}
                    <tr{% cycle ' class="odd"' '' %}>
                        <td>{{ cl.observer.observer_id }}</td>
                        <td>{{ cl.date|date:"D d-M" }}</td>
                        <td>{{ cl.observer.lga.name }}</td>
                        <td>{{ cl.observer.district.name|truncatewords:3 }}</td>
						<td>{{ cl.observer.name|truncatewords:2 }}{% if cl.observer.phone %} (<strong>{{ cl.observer.phone }}</strong>){% endif %}</td>
                        <td class="checklist">
						{% if cl.AA %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="complete" />
						{% else %}
                        	<img src="/assets/img/exclamation-red.png" width="16" height="16" alt="none" />
						{% endif %}
						</td>
                        <td class="checklist">
						{% if cl.BA and cl.BA < 4 %}
							{% if cl.BB and cl.BC and cl.BD and cl.BE and cl.BF and cl.BG and cl.BH and cl.BJ and cl.BK and cl.BM and cl.BN and cl.BP %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="complete" />
							{% else %}
							<img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
							{% endif %}
						{% else %}
							{% if cl.BA >= 4 %}
								{% if cl.BB or cl.BC or cl.BD or cl.BE or cl.BF or cl.BG or cl.BH or cl.BJ or cl.BK or cl.BM or cl.BN or cl.BP %}
									<img src="/assets/img/status-busy.png" width="16" height="16" alt="not open problem" />
								{% else %}
									<img src="/assets/img/information.png" width="16" height="16" alt="not open" />
								{% endif %}
							{% else %}
								{% if cl.BA or cl.BB or cl.BC or cl.BD or cl.BE or cl.BF or cl.BG or cl.BH or cl.BJ or cl.BK or cl.BM or cl.BN or cl.BP %}
									<img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
								{% else %}
									<img src="/assets/img/exclamation-red.png" width="16" height="16" alt="none" />
								{% endif %}
							{% endif %}
						{% endif %}
                        </td>
						<td class="checklist">
						{% if cl.CA and cl.BA and cl.CA < 4 and cl.BA < 4 %}
							{% if cl.CB and cl.CC and cl.CD and cl.CE and cl.CF and cl.CG and cl.CH and cl.CJ and cl.CK and cl.CM and cl.CN and cl.CP and cl.CQ %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="complete" />
							{% else %}
							<img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
							{% endif %}
						{% else %}
							{% if cl.CA >= 4 or cl.BA >= 4 %}
								{% if cl.CB or cl.CC or cl.CD or cl.CE or cl.CF or cl.CG or cl.CH or cl.CJ or cl.CK or cl.CM or cl.CN or cl.CP or cl.CQ %}
									<img src="/assets/img/status-busy.png" width="16" height="16" alt="not open problem" />
								{% else %}
									<img src="/assets/img/information.png" width="16" height="16" alt="not open" />
								{% endif %}
							{% else %}
								{% if cl.CA or cl.CB or cl.CC or cl.CD or cl.CE or cl.CF or cl.CG or cl.CH or cl.CJ or cl.CK or cl.CM or cl.CN or cl.CP or cl.CQ %}
									<img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
								{% else %}
									<img src="/assets/img/exclamation-red.png" width="16" height="16" alt="none" />
								{% endif %}
							{% endif %}
						{% endif %}
                        </td>
						<td class="checklist">
						{% if cl.DA and cl.DB and cl.DC and cl.DD and cl.DE and cl.DF and cl.DG and cl.DH %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="complete" />
						{% else %}
							{% if cl.DA or cl.DB or cl.DC or cl.DD or cl.DE or cl.DF or cl.DG or cl.DH %}
								<img src="/assets/img/status-away.png" width="16" height="16" alt="incomplete" />
							{% else %}
								<img src="/assets/img/exclamation-red.png" width="16" height="16" alt="none" />
							{% endif %}
						{% endif %}
                        </td>
						<td class="checklist" id="results">
                            <img src="/assets/img/status.png" width="16" height="16" alt="complete" />
                        </td>
						<td class="checklist">
						{% if cl.flag1 %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="ok" />
						{% else %}
							<img src="/assets/img/status-busy.png" width="16" height="16" alt="conflict" />
						{% endif %}
                        </td>
						<td class="checklist">
						{% if cl.flag2 %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="ok" />
						{% else %}
							<img src="/assets/img/status-busy.png" width="16" height="16" alt="conflict" />
						{% endif %}
                        </td>
						<td class="checklist">
						{% if cl.flag3 %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="ok" />
						{% else %}
							<img src="/assets/img/status-busy.png" width="16" height="16" alt="conflict" />
						{% endif %}
                        </td>
						<td class="checklist">
						{% if cl.flag4 %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="ok" />
						{% else %}
							<img src="/assets/img/status-busy.png" width="16" height="16" alt="conflict" />
						{% endif %}
                        </td>
						<td class="checklist" id="results_flags">
						{% if cl.flag5 %}
                            <img src="/assets/img/status.png" width="16" height="16" alt="ok" />
						{% else %}
							<img src="/assets/img/status-busy.png" width="16" height="16" alt="conflict" />
						{% endif %}
                        </td>
                        {% if perms.psc.can_manage_data %}<td><a href="{% url psc.views.eday_checklist cl.id %}">Edit</a></td>{% endif %}
                    </tr>
				{% empty %}
                    <tr>
                        <td colspan="11" class="nodata">No reports yet</td>
                    </tr>
				{% endfor %}
                </tbody>
            </table>
        </div>
		{% if checklists.has_other_pages %}
        <div class="paginator">
            <a href="{% query_string "page=page_details.first" "" %}"><span>&laquo;</span></a>
			{% if checklists.has_previous %}
            <a href="{% query_string "page=checklists.previous_page_number" "" %}"><span>&lsaquo;</span></a>
			{% endif %}
            <a href="javascript:;"><span class="current">Page {{ checklists.number }} of {{ checklists.paginator.num_pages }}</span></a>
			{% if checklists.has_next %}
            <a href="{% query_string "page=checklists.next_page_number" "" %}"><span>&rsaquo;</span></a>
			{% endif %}
             <a href="{% query_string "page=page_details.last" "" %}"><span>&raquo;</span></a>
        </div>
		{% endif %}
    </div>
</div>
{% endblock %}
