{% extends 'psc/layout.html' %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_date").val("");
            $("#id_state").val("");
		});
    });
</script>
<style>
    .mid th, .mid td { vertical-align: middle; }
</style>
{% endblock %}
{% load calc %}
{% load dict-filters %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table>
                        <thead>
                            <tr>
                                <th width="10%">{{ filter_form.date.label }}</th>
								<th width="10%">{{ filter_form.state.label }}</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ filter_form.date }}</td>
                                <td>{{ filter_form.state }}</td>
                                <td><input type="button" value="reset" id="reset"> <input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
		<div class="block">
		{# place chart in here #}
		</div>
    </div>
</div>
{% endblock %}
