{% extends "psc/layout.html" %}
{% block javascripts %}
  <script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/raphael.js"></script>
  <script src="/assets/js/pie.js"></script>
  <script type="text/javascript" charset="utf-8">
    var timeout = 5000;
    var enabled = false;
    
    $(document).ready(function () {
      setTimeout('refreshDashboard()', timeout);
      $("#auto_refresh").toggle(
        function () {
          enabled = true;
          $('#auto_refresh').html('Auto Refresh: On');
        },
        function () {
          enabled = false;
          $('#auto_refresh').html('Auto Refresh: Off');
        }
      );
	  $("#charts_btn").toggle(
        function () {
		  $("#tables").hide();
		  $("#charts").show();
          $('#charts_btn').html('Table Display');
        },
        function () {
	      $("#charts").hide();
		  $("#tables").show();
          $('#charts_btn').html('Charts Display');
        }
      );
	  
	  first_values = [{{eday_not_arrived|default:"0" }}, {{ eday_arrived|default:"0" }}];
	  first_labels = ['', ''];
	  paper = Raphael("firstChart", 200, 200);
	  first = paper.pieChart(100, 100, 60, first_values, first_labels, "#fff", ['red', 'green']);
	  second_values = [{{ eday_second_sms_not_open|default:"0" }}, {{ eday_second_sms_missing|default:"0" }}, {{eday_second_sms_not_open_problem|default:"0" }},{{ eday_second_sms_partial|default:"0" }}, {{ eday_second_sms_complete|default:"0" }}];
	  second_labels = ['', '', '', '', ''];
	  paper2 = Raphael("secondChart", 200, 200);
	  second = paper2.pieChart(100, 100, 60, second_values, second_labels, "#fff", ['white', 'red', 'orange', 'yellow', 'green']);
	  third_values = [{{ eday_third_sms_not_open|default:"0" }}, {{ eday_third_sms_missing|default:"0" }}, {{eday_third_sms_not_open_problem|default:"0" }},{{ eday_third_sms_partial|default:"0" }}, {{ eday_third_sms_complete|default:"0" }}];
	  third_labels = ['', '', '', '', ''];
	  paper3 = Raphael("thirdChart", 200, 200);
	  third = paper3.pieChart(100, 100, 60, third_values, third_labels, "#fff", ['white', 'red', 'orange', 'yellow', 'green']);
	  fourth_values = [{{ eday_fourth_sms_not_open|default:"0" }}, {{ eday_fourth_sms_missing|default:"0" }}, {{eday_fourth_sms_not_open_problem|default:"0" }},{{ eday_fourth_sms_partial|default:"0" }}, {{ eday_fourth_sms_complete|default:"0" }}];
	  fourth_labels = ['', '', '', '', ''];
	  paper4 = Raphael("fourthChart", 200, 200);
	  fourth = paper4.pieChart(100, 100, 60, fourth_values, fourth_labels, "#fff", ['white', 'red', 'orange', 'yellow', 'green']);
	  fifth_values = [{{ eday_fifth_sms_not_open|default:"0" }}, {{ eday_fifth_sms_missing|default:"0" }}, {{eday_fifth_sms_not_open_problem|default:"0" }},{{ eday_fifth_sms_partial|default:"0" }}, {{ eday_fifth_sms_complete|default:"0" }}];
	  fifth_labels = ['', '', '', '', ''];
	  paper5 = Raphael("fifthChart", 200, 200);
	  fifth = paper5.pieChart(100, 100, 60, fifth_values, fifth_labels, "#fff", ['white','red', 'orange', 'yellow', 'green']);
	});
    
    function refreshDashboard() {
      if (enabled) {
        $.getJSON('/ajax_stats', function (data) {
          $.each(data, function(i, n) {
            $('#'+i).html(n);
          });
        });
      }
      setTimeout('refreshDashboard()', timeout);
    }
  </script>
{% endblock %}
{% block content %}
    <div class="grid_16">
        <div class="box">
            <h2>Dashboard <span class="flag"><button id="charts_btn">Charts Display</button><button id="auto_refresh">Auto Refresh: Off</button><button onclick="location.href='{% url psc.views.home %}'">Refresh</button></span></h2>
            <div class="box dashboard">
                <div class="controls">
               
                <form method="get">
                     Filters
								{{ filter_form.sample }}
								{{ filter_form.date }}
								{{ filter_form.zone }}
								{{ filter_form.state }}
								{{ filter_form.lga }}
                <input name="Go" value="GO" type="submit" style="height: 34px; font-size: 20px">
                </form>
                </div>
				<div id="tables">
                <table width="100%" class="dashboard">
					{% if perms.psc.view_edaychecklist %}
		    		<tr>
					 <td width="50%">
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">EDAY Checklists </a></h2>
                                 <div class="dash-row">
                                     <div class="dash-column first">1st SMS</div>
                                     <div class="dash-column second">
                                         <span class="missing" id="eday_not_arrived">{{eday_not_arrived|default:"0" }}</span>                      
                                         <span class="complete" id="eday_arrived">{{ eday_arrived|default:"0" }}</span>
                                     </div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">2nd SMS</div>
                                     <div class="dash-column second">
										<span class="blank" id="eday_second_sms_not_open">{{ eday_second_sms_not_open|default:"0" }}</span>
                                         <span class="missing" id="eday_second_sms_missing">{{ eday_second_sms_missing|default:"0" }}</span>
										 <span class="unverified" id="eday_second_sms_not_open_problem">{{ eday_second_sms_not_open_problem|default:"0" }}</span>
                                         <span class="incomplete" id="eday_second_sms_partial">{{ eday_second_sms_partial|default:"0" }}</span>
                                         <span class="complete" id="eday_second_sms_complete">{{ eday_second_sms_complete|default:"0" }}</span>
                                     </div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">3rd SMS</div>
                                     <div class="dash-column second">
										<span class="blank" id="eday_third_sms_not_open">{{ eday_third_sms_not_open|default:"0" }}</span>
                                         <span class="missing" id="eday_third_sms_missing">{{ eday_third_sms_missing|default:"0" }}</span>
										 <span class="unverified" id="eday_second_sms_not_open_problem">{{ eday_second_sms_not_open_problem|default:"0" }}</span>
                                         <span class="incomplete" id="eday_third_sms_partial">{{ eday_third_sms_partial|default:"0" }}</span>      
                                         <span class="complete" id="eday_third_sms_complete">{{ eday_third_sms_complete|default:"0" }}</span>
                                     </div>
                                </div>
								<div class="dash-row">
                                     <div class="dash-column first">4th SMS</div>
                                     <div class="dash-column second">
										<span class="blank" id="eday_fourth_sms_not_open">{{ eday_fourth_sms_not_open|default:"0" }}</span>
                                         <span class="missing" id="eday_fourth_sms_missing">{{ eday_fourth_sms_missing|default:"0" }}</span>
										 <span class="unverified" id="eday_fourth_sms_not_open_problem">{{ eday_fourth_sms_not_open_problem|default:"0" }}</span>
                                         <span class="incomplete" id="eday_fourth_sms_partial">{{ eday_fourth_sms_partial|default:"0" }}</span>    
                                         <span class="complete" id="eday_fourth_sms_complete">{{ eday_fourth_sms_complete|default:"0" }}</span>
                                     </div>
                                </div>
								<div class="dash-row">
                                     <div class="dash-column first">5th SMS</div>
                                     <div class="dash-column second">
										<span class="blank" id="eday_fifth_sms_not_open">{{ eday_fifth_sms_not_open|default:"0" }}</span>
                                         <span class="missing" id="eday_fifth_sms_missing">{{ eday_fifth_sms_missing|default:"0" }}</span>
										 <span class="unverified" id="eday_fifth_sms_not_open_problem">{{ eday_fifth_sms_not_open_problem|default:"0" }}</span>
                                         <span class="incomplete" id="eday_fifth_sms_partial">{{ eday_fifth_sms_partial|default:"0" }}</span>      
                                         <span class="complete" id="eday_fifth_sms_complete">{{ eday_fifth_sms_complete|default:"0" }}</span>
                                     </div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text">{% if perms.psc.can_manage_data %}<a href="{% url psc.views.eday_checklist_list %}">(View All)</a>{% endif %}</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
						{% if perms.psc.view_edayincident %}
						<td>
			    			<div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">EDAY Incidents</a></h2>
                                <div class="dash-row">
                                     <div class="dash-column first">Incidents rec'd today</div>
                                     <div class="dash-column second"><span id="eday_incidents_today">{{ eday_incidents_today|default:"0" }}</span></div>
                                </div>                                
                                 <div class="dash-row">
                                     <div class="dash-column first">Total incidents rec'd</div>
                                     <div class="dash-column second"><span id="eday_incidents_count">{{ eday_incidents_count|default:"0" }}</span></div>
                                </div>
                                <div class="dash-row last">
                                     {% if perms.psc.can_manage_data %}<div class="dash-text">{% if perms.psc.add_edayincident %}<a href="{% url psc.views.eday_incident_add %}">(Add Incident)</a> | {% endif %}{% if perms.psc.view_edayincident %}<a href="{% url eday_incident_view %}">(View All)</a>{% endif %}</div>{% endif %}
                                </div>
                                <div class="clear"></div>
                            </div>
						</td>
						{% endif %}
		    		</tr>
					{% endif %}
					{% if perms.psc.view_vrchecklist %}
                    <tr>
                        <td width="50%">
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">VR Checklists </a></h2>
                                 <div class="dash-row">
                                     <div class="dash-column first">1st SMS</div>
                                     <div class="dash-column second">
                                         <span class="missing" id="vr_missing_first_sms">{{ missing_first_sms|default:"0" }}</span>                                         
                                         <span class="complete" id="vr_received_first_sms">{{ received_first_sms|default:"0" }}</span>
                                     </div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">2nd SMS</div>
                                     <div class="dash-column second">
                                         <span class="missing" id="vr_missing_second_sms">{{ missing_second_sms|default:"0" }}</span>
                                         <span class="unverified" id="vr_unverified_second_sms">{{ unverified_second_sms|default:"0" }}</span>
                                         <span class="incomplete" id="vr_incomplete_second_sms">{{ incomplete_second_sms|default:"0" }}</span>
                                         <span class="not_open" id="vr_not_open_second_sms">{{ not_open_second_sms|default:"0" }}</span>                                         
                                         <span class="complete" id="vr_complete_second_sms">{{ complete_second_sms|default:"0" }}</span>
                                     </div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">3rd SMS</div>
                                     <div class="dash-column second">
                                         <span class="blank" id="vr_blank_third_sms">{{ blank_third_sms|default:"0" }}</span>
                                         <span class="missing" id="vr_missing_third_sms">{{ missing_third_sms|default:"0" }}</span>
                                         <span class="unverified" id="vr_unverified_third_sms">{{ unverified_third_sms|default:"0" }}</span>
                                         <span class="incomplete" id="vr_partial_third_sms">{{ partial_third_sms|default:"0" }}</span>                                         
                                         <span class="not_open" id="vr_not_open_third_sms">{{ not_open_third_sms|default:"0" }}</span>                                         
                                         <span class="complete" id="vr_complete_third_sms">{{ complete_third_sms|default:"0" }}</span>
                                     </div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text">{% if perms.psc.can_manage_data %}<a href="{% url psc.views.vr_checklist_list %}">(View All)</a>{% endif %}</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
						<td>                            
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">VR Incidents</a></h2>
                                <div class="dash-row">
                                     <div class="dash-column first">Incidents rec'd today</div>
                                     <div class="dash-column second"><span id="vr_incidents_today">{{ vr_incidents_today }}</span></div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">Total incidents rec'd</div>
                                     <div class="dash-column second"><span class="dash-num" id="vr_incidents_count">{{ vr_incidents_count }}</span></div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text">{% if perms.psc.can_manage_data %}<a href="{% url psc.views.vr_incident_add %}">(Add Incident)</a>{% endif %} <span class="divider">|</span> {% if perms.psc.can_manage_data %}<a href="{% url psc.views.vr_incident_list %}">(View All)</a>{% endif %}</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
					{% endif %}
					{% if perms.psc.view_dcochecklist %}
                    <tr>                        
                        <td> 
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">DCO Checklists </a></h2>
                                <div class="dash-row">
                                    <div class="dash-column first">Arrival Texts</div>
                                    <div class="dash-column second">
																				<span class="missing" id="dco_not_arrived">{{ dco_not_arrived|default:"0" }}</span>
                                        <span class="complete" id="dco_arrived">{{ dco_arrived|default:"0" }}</span>
																		</div>
                                </div>
                                <div class="dash-row">
                                    <div class="dash-column first">Checklist Reports</div>
                                    <div class="dash-column second">
                                         <span class="missing" id="dco_missing">{{ dco_missing|default:"0" }}</span>
                                         <span class="unverified" id="dco_not_open_problem">{{ dco_not_open_problem|default:"0" }}</span>
                                         <span class="incomplete" id="dco_partial">{{ dco_partial|default:"0" }}</span>
                                         <span class="not_open" id="dco_not_open">{{ dco_not_open|default:"0" }}</span>                                         
                                         <span class="complete" id="dco_complete">{{ dco_complete|default:"0" }}</span>
																		</div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text">{% if perms.psc.can_manage_data %}<a href="{% url psc.views.dco_checklist_list %}">(View All)</a>{% endif %}</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                        <td>
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">DCO Incidents</a></h2>
                                <div class="dash-row">
                                     <div class="dash-column first">Incidents rec'd today</div>
                                     <div class="dash-column second"><span id="dco_incidents_today">{{ dco_incidents_today }}</span></div>
                                </div>                                
                                 <div class="dash-row">
                                     <div class="dash-column first">Total incidents rec'd</div>
                                     <div class="dash-column second"><span id="dco_incidents_count">{{ dco_incidents_count }}</span></div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text"><a href="{% url psc.views.dco_incident_add %}">(Add Incident)</a> | <a href="{% url psc.views.dco_incident_list %}">(View All)</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
					{% endif %}
                </table>
				</div>
				<div id="charts" style="display:none">
					{% if perms.psc.view_edaychecklist %}
					<table width="100%" class="dashboard">
			    		<tr>
						 <td width="100%">
	                            <div class="box compartment">
	                                <h2 class="dashboard-header"><a href="#">EDAY Checklists </a></h2>
	                                <table width="100%">
										<tr><th>1st SMS</th><th>2nd SMS</th><th>3rd SMS</th></tr>
										<tr><td><div id="firstChart"></div></td><td><div id="secondChart"></div></td><td><div id="thirdChart"></div></td></tr>
										<tr><th>4th SMS</th><th>5th SMS</th><th>&nbsp;</th></tr>
										<tr><td><div id="fourthChart"></div></td><td><div id="fifthChart"></div></td><td>&nbsp;</td></tr>
									</table>
	                            </div>
	                            <div class="clear"></div>
	                        </td>
			    		</tr>
					</table>
					{% endif %}
				</div>
           </div>
        </div>
    </div>
{% endblock %}
