{% extends "psc/layout.html" %}
{% block content %}
    <div class="grid_16">
        <div class="box">
            <h2>Dashboard <span class="flag"><button onclick="location.href='{% url psc.views.home %}'">Refresh</button></span></h2>
            <div class="box dashboard">
                <div class="controls">
               
                <form method="get">
                     Filter by Zone
                <select name="zone">
                    <option value="">All</option>
                    <option value="NC">North Central</option>
                    <option value="NE">North East</option>
                    <option value="NW">North West</option>
                    <option value="SE">South East</option>
                    <option value="SS">South South</option>
                    <option value="SW">South West</option>
                </select>
                <input name="Go" value="GO" type="submit" style="height: 38px; font-size: 25px">
                </form>
                </div>
                <table width="100%" class="dashboard">
                    <tr>
                        <td width="50%">
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">VR Checklists </a></h2>
                                 <div class="dash-row">
                                     <div class="dash-column first">1st SMS</div>
                                     <div class="dash-column second">
                                         <span class="missing">{{ missing_first_sms|default:"0" }}</span>                                         
                                         <span class="complete">{{ received_first_sms|default:"0" }}</span>
                                     </div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">2nd SMS</div>
                                     <div class="dash-column second">
                                         <span class="unverified">{{ unverified_second_sms|default:"0" }}</span>
                                         <span class="incomplete">{{ incomplete_second_sms|default:"0" }}</span>
                                         <span class="not_open">{{ not_open_second_sms|default:"0" }}</span>
                                         <span class="missing">{{ missing_second_sms|default:"0" }}</span>
                                         <span class="complete">{{ complete_second_sms|default:"0" }}</span>
                                     </div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">3rd SMS</div>
                                     <div class="dash-column second">
                                         <span class="blank">{{ blank_third_sms|default:"0" }}</span>
                                         <span class="unverified">{{ blank_third_sms|default:"0" }}</span>
                                         <span class="incomplete">{{ blank_third_sms|default:"0" }}</span>
                                         <span class="not_open">{{ blank_third_sms|default:"0" }}</span>
                                         <span class="missing">{{ missing_third_sms|default:"0" }}</span>
                                         <span class="complete">{{ complete_third_sms|default:"0" }}</span>
                                     </div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text"> <a href="{% url psc.views.vr_checklist_list %}">(View All)</a></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                        <td>
                            
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">DCO Checklists </a></h2>
                                <div class="dash-row">
                                    <div class="dash-column first">1st Report</div>
                                    <div class="dash-column second"><span>{{ dco_checklist_first_today }}</span></div>
                                </div>
                                <div class="dash-row">
                                     <div class="dash-column first">2nd Report</div>
                                     <div class="dash-column second"><span>{{ dco_checklist_second_today }}</span></div>
                                </div>
                                <div class="dash-row">
                                     <div class="dash-column first">3rd Report</div>
                                     <div class="dash-column second"><span>{{ dco_checklist_third_today }}</span></div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text"><a href="{% url psc.views.dco_checklist_list %}">(View All)</a></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                        
                    </tr>
                    <tr>                        
                        <td>                            
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">VR Incidents</a></h2>
                                <div class="dash-row">
                                     <div class="dash-column first">Incidents rec'd today</div>
                                     <div class="dash-column second"><span>{{ vr_incidents_today }}</span></div>
                                </div>
                                 <div class="dash-row">
                                     <div class="dash-column first">Total incidents rec'd</div>
                                     <div class="dash-column second"><span class="dash-num">{{ vr_incidents_count }}</span></div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text"><a href="{% url psc.views.vr_incident_add %}">(Add Incident)</a> <span class="divider">|</span> <a href="{% url psc.views.vr_incident_list %}">(View All)</a></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                        <td>
                            <div class="box compartment">
                                <h2 class="dashboard-header"><a href="#">DCO Incidents</a></h2>
                                <div class="dash-row">
                                     <div class="dash-column first">Incidents rec'd today</div>
                                     <div class="dash-column second"><span>{{ dco_incidents_today }}</span></div>
                                </div>                                
                                 <div class="dash-row">
                                     <div class="dash-column first">Total incidents rec'd</div>
                                     <div class="dash-column second"><span>{{ dco_incidents_count }}</span></div>
                                </div>
                                <div class="dash-row last">
                                     <div class="dash-text"><a href="{% url psc.views.dco_incident_add %}">(Add Incident)</a> | <a href="{% url psc.views.dco_incident_list %}">(View All)</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
           </div>
        </div>
    </div>
{% endblock %}
