<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page_title|default:"PSC2011" }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/nav.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/datePicker.css" media="screen" />
        <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/assets/css/ie6.css" media="screen" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/assets/css/ie.css" media="screen" /><![endif]-->
		{% block javascripts %}
		{% endblock %}
    </head>
    <body>
        <div class="container_16">
            <div class="grid_16">
                <img class="floatLeft" src="/assets/img/logo.jpg" width="81" height="72" alt = "wow" style = "margin:10px"/>
                <h1 id="branding">
                    <a href="">Project 2011 SwiftCount (FOMWAN, JDPC, NBA &amp; TMG)</a>
                </h1>
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                {% if user.is_authenticated %}
                <ul class="nav main">
                    <li>
                        <a href="{% url psc.views.home %}">Dashboard</a>
                    </li>
                    {% if perms.psc.view_vrchecklist %}<li>
                        <a href="{% url vr_checklist_view %}">Voter Registration</a>
                        <ul>
                            <li>
                                <a href="{% url vr_checklist_view %}">Checklist</a>
                            </li>
							{% if perms.psc.view_vrincident %}
                            <li>
                                <a href="{% url vr_incident_view %}">Incidents</a>
                            </li>
							{% endif %}
							{% if perms.psc.can_analyse %}
                            <li>
                                <a href="{% url psc.views.vr_zone_summary %}">Zone Summary</a>
                            </li>
                            <li>
                                <a href="{% url psc.views.vr_state_summary %}">State Summary</a>
                            </li>
                            <li>
                                <a href="{% url psc.views.vr_checklist_analysis %}">Checklist Analyses</a>
                            </li>
							{% endif %}
                        </ul>
                    </li>{% endif %}
                    {% if perms.psc.view_dcochecklist %}<li>
                        <a href="{% url dco_checklist_view %}">Display, Claims & Objections </a>
                        <ul>
                            <li>
                                <a href="{% url dco_checklist_view %}">Checklist</a>
                            </li>
							{% if perms.psc.view_dcoincident %}
                            <li>
                                <a href="{% url dco_incident_view %}">Incidents</a>
                            </li>
							{% endif %}
							{% if perms.psc.can_analyse %}
                            <li>
                                <a href="{% url psc.views.dco_zone_summary %}">Zone Summary</a>
                            </li>
                            <li>
                                <a href="{% url psc.views.dco_state_summary %}">State Summary</a>
                            </li>
							{% endif %}
                        </ul>
                    </li>{% endif %}
		    		{% if perms.psc.view_edaychecklist %}<li>
                        <a href="{% url eday_checklist_view %}">Election Day </a>
                        <ul>
                            <li>
                                <a href="{% url eday_checklist_view %}">Checklist</a>
                            </li>
							{% if perms.psc.view_edayincident %}
                            <li>
                                <a href="{% url eday_incident_view %}">Incidents</a>
                            </li>
							{% endif %}
							{% if perms.psc.can_analyse %}
                            <li>
                                <a href="{% url psc.views.eday_checklist_analysis %}">Checklist Analyses</a>
                            </li>
							{% endif %}
							{% if perms.psc.can_view_result %}
                            <li>
                                <a href="{% url psc.views.eday_result_analysis %}">Result Analyses</a>
                            </li>
							{% endif %}
                        </ul>
                    </li>{% endif %}
					{% if perms.psc.view_observer %}
		     		<li>
                        <a href="{% url contacts_list_view %}">Contacts Management</a>
                    </li>
					{% endif %}
                    <li class=" secondary logout">
                           <a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a>
                    </li>
                    <li class="secondary">
                        <a href="#" title="" style="width:14.3em;text-align:left">System Administration</a>
                        <ul>
                            {% if perms.psc.can_manage_data %}<li>
                                <a href="{% url msglog %}">Message Log</a>
                            </li>{% endif %}
							{% if perms.psc.can_administer %}<li>
                                <a href="{% url psc.views.action_log %}">Action Log</a>
                            </li>{% endif %}
                        	{% if perms.psc.can_analyse %}<!--<li>
                                <a href="{% url psc.views.send_mail %}">Email Blast</a>
                            </li>-->{% endif %}
                        </ul>
                    </li>
                </ul>{% endif %}
            </div>
            <div class="clear"></div>
            <div class="grid_16">
                <h2 id="page-heading">{{ page_title|default:"Project 2011 SwiftCount" }}</h2>
            </div>
            <div class="clear"></div>
			{% block content %}
            <div class="grid_16">
                <div class="box">
                    <h2>Section Title</h2>
                    <div class="block">
                        <p>Content Goes Here</p>
                    </div>
                </div>
            </div>
			{% endblock %}
            <div class="clear"></div>
            <div class="grid_16" id="site_info">
                <div class="box">
					{% block footer %}
                    <p>A project by <a href="http://www.fomwan.org/">FOMWAN</a>, <a href="#">JDPC</a>, <a href="http://www.nba.org.ng/">NBA</a> and <a href="http://www.tmgnigeria.org/">TMG</a></p>
					{% endblock %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
