<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page_title|default:"PSC2011" }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/assets/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/assets/css/ie.css" media="screen" /><![endif]-->
		{% block javascripts %}
		{% endblock %}
		</head>
	<body>
		<div class="container_16">
			<div class="grid_16">
				<img class="floatLeft" src="/assets/img/logo.jpg" width="81" height="72" alt = "wow" style = "margin:10px"/>
				<h1 id="branding">
					<a href="">Project SwiftCount 2011</a>
				</h1>
			</div>
			<div class="clear"></div>
			<div class="grid_16">
				<ul class="nav main">
					<li>
						<a href="{% url psc.views.vr_checklist_list %}">Voters' Registration</a>
						<ul>
							<li>
								<a href="{% url psc.views.vr_checklist_list %}">Checklist</a>
							</li>
							<li>
								<a href="{% url psc.views.vr_incident_list %}">Incidents</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{% url psc.views.dco_checklist_list %}">Display, Claims & Objections </a>
						<ul>
							<li>
								<a href="{% url psc.views.dco_checklist_list %}">Checklist</a>
							</li>
							<li>
								<a href="{% url psc.views.dco_incident_list %}">Incidents</a>
							</li>
						</ul>
					</li>
					<li class="secondary">
						<a href="#" title="" style="width:14.3em;text-align:left">System Administration</a>
						<ul>
							<li>
								<a href="{% url psc.views.message_log %}">Message Log</a>
							</li>
							<li>
								<a href="{% url psc.views.action_log %}">Action Log</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="grid_16">
				<h2 id="page-heading">{{ page_title|default:"PSC2011" }}</h2>
			</div>
			<div class="clear"></div>
			{% block content %}
			<div class="grid_16">
				<div class="box">	
					<h2>Section Title</h2>
					<div class="block">
						<p>Content Goes Here</p>
					</div>
				</div>
			</div>
			{% endblock %}
			<div class="clear"></div>
			<div class="grid_16" id="site_info">
				<div class="box">
					{% block footer %}
					<p>A project by <a href="http://www.fomwan.org/">FOMWAN</a>, JDPC, <a href="http://www.tmgnigeria.org/">TMG</a> and <a href="http://www.nba.org.ng/">NBA</a></p>
					{% endblock %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>
