{% extends 'psc/layout.html' %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_message").val("");
            $("#id_phone").val("");
            $("#filter_form").submit();
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table>
                        <thead>
                            <tr>
								{% for field in filter_form %}
                                <th width="15%">{{ field.label }}</th>
								{% endfor %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								{% for field in filter_form %}
                                <td>{{ field }}</td>
								{% endfor %}
                                <td><input type="button" value="reset" id="reset"> <input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        <h2>Message Log <span class="flag"><button onclick="location.href='{% url psc.views.export "messagelog" %}'">Export</button></span></h2>
        <div class="block">
			{{ messages_list.as_html }}
        </div>
    </div>
</div>

{% endblock %}
