{% extends 'psc/layout.html' %}
{% block content %}
<div class="grid_16">
	<div class="box"> 
		<h2>Voter's Registration Checklist and Incidents</h2>
		<div class="block">
			<table>
				<tr class="odd">
					<th>Observer</th>
					<th>Supervisor</th>
					<th>Registration Center</th>
					<th>RCID</th>
					<th>LGA</th>
					<th>State</th>
					<th>1st</th>
					<th>2nd</th>
					<th>3rd</th>
					<th>Incidents</th>
					<th>Edit</th>
				</tr>
				<tr>
					<td>Dipo Elegbede</td>
					<td>Damilare Onajole</td>
					<td>Ansar-u-deen Nursery and Primary School</td>
					<td>289</td>
					<td>Jere</td>
					<td>Maiduguri</td>
					<td>1st</td>
					<td>2nd</td>
					<td>3rd</td>
					<td><a href="#">Add</a></td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="odd">
					<td>Dipo Elegbede</td>
					<td>Damilare Onajole</td>
					<td>Ansar-u-deen Nursery and Primary School</td>
					<td>289</td>
					<td>Jere</td>
					<td>Maiduguri</td>
					<td>1st</td>
					<td>2nd</td>
					<td>3rd</td>
					<td><a href="#">Add</a></td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr>
					<td>Dipo Elegbede</td>
					<td>Damilare Onajole</td>
					<td>Ansar-u-deen Nursery and Primary School</td>
					<td>289</td>
					<td>Jere</td>
					<td>Maiduguri</td>
					<td>1st</td>
					<td>2nd</td>
					<td>3rd</td>
					<td><a href="#">Add</a></td>
					<td><a href="#">Edit</a></td>
				</tr>
				<tr class="odd">
					<td>Dipo Elegbede</td>
					<td>Damilare Onajole</td>
					<td>Ansar-u-deen Nursery and Primary School</td>
					<td>289</td>
					<td>Jere</td>
					<td>Maiduguri</td>
					<td>1st</td>
					<td>2nd</td>
					<td>3rd</td>
					<td><strong>! (2)</strong></td>
					<td><a href="#">Edit</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}
