{% extends 'psc/layout.html' %}
{% block content %}
<div class="grid_16">
	<div class="box"> 
		<h2>Voter's Registration Checklist and Incidents</h2>
		<div class="block">
			<table>
				<tr class="odd">
					<th>Observer</th>
					<th>Supervisor</th>
					<th>Registration Center</th>
					<th>RCID</th>
					<th>LGA</th>
					<th>State</th>
					<th>1st</th>
					<th>2nd</th>
					<th>3rd</th>
					<th>Incidents</th>
					<th>Edit</th>
				</tr>
				{% for checklist in checklists.object_list %}
				<tr{% cycle '' ' class="odd"' %}>
					<td>{{ checklist.observer.name }}</td>
					<td>Supervisor Name</td>
					<td>{{ checklist.location.name }}</td>
					<td>{{ checklist.location.code }}</td>
					<td>{{ checklist.location.parent.name }}</td>
					<td>State</td>
					<td>1st</td>
					<td>2nd</td>
					<td>3rd</td>
					<td><a href="#">Add</a></td>
					<td><a href="#">Edit</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
