{% extends 'psc/layout.html' %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>A Summary of State<span class="flag">
                <button onclick="location.href='{% url psc.views.state_summary %}'">Refresh</button>
        </span></h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>State</th>
                        <th colspan="2">1st SMS</th>
                        <th colspan="5">2st SMS</th>
                        <th colspan="7">3rd SMS</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/information.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-away.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-busy.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/information.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-away.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-offline.png" width="16" height="16" alt="complete" /></td>
                    </tr>
                    {% for state in state_list %}
                    <tr>
                        <td>{{ state }}</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
