{% extends 'psc/layout.html' %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function(){        
       $('#id_zone').change(function() {
           var zone = $('#id_zone').val()
           $.getJSON('/get-states-by-zone/'+ zone, function(data){
                $('#id_state').empty()
                $('#id_state').append("<option value=''>All</option>")
                $.each(data, function(){
                  //alert(this.pk)
                  $('#id_state').append("<option value='"+ this.pk +"'>" + this.fields.name +"</option>")
                })
            })
        });
				$('#reset').click(function() {
					$('#id_zone').val("");
					$('#id_state').val("");
					$('#id_date').val("");
					$('#filter_form').submit();
				});
    });
</script>
{% endblock %}
{% block content %}
{% load calc %}
<div class="grid_16">
    <div class="box">
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table>
                        <thead>
                            <tr>
								{% for field in filter_form %}
                                <th width="10%">{{ field.label }}</th>
								{% endfor %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								{% for field in filter_form %}
                                <td>{{ field }}</td>
								{% endfor %}
                                <td><input type="button" value="reset" id="reset"> <input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        </div>
        <div class="box">
        <h2>Yes / No Questions</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th colspan="2">Yes</th>
                        <th colspan="2">No</th>
                    </tr>
                </thead>
                    <tr>
                        <th>B</th>
                        <td>{{ question.B.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.B.n }}</td>
                        <td>{{ question.B.options.1 }}</td>
                        <td><strong>{{ question.B.options.1|percentage:question.B.n }}</strong></td>
                        <td>{{ question.B.options.2 }}</td>
                        <td><strong>{{ question.B.options.2|percentage:question.B.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>G</th>
                        <td>{{ question.G.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.G.n }}</td>
                        <td>{{ question.G.options.1 }}</td>
                        <td><strong>{{ question.G.options.1|percentage:question.G.n }}</strong></td>
                        <td>{{ question.G.options.2 }}</td>
                        <td><strong>{{ question.G.options.2|percentage:question.G.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>T</th>
                        <td>{{ question.T.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.T.n }}</td>
                        <td>{{ question.T.options.1 }}</td>
                        <td><strong>{{ question.T.options.1|percentage:question.T.n }}</strong></td>
                        <td>{{ question.T.options.2 }}</td>
                        <td><strong>{{ question.T.options.2|percentage:question.T.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>U</th>
                        <td>{{ question.U.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.U.n }}</td>
                        <td>{{ question.U.options.1 }}</td>
                        <td><strong>{{ question.U.options.1|percentage:question.U.n }}</strong></td>
                        <td>{{ question.U.options.2 }}</td>
                        <td><strong>{{ question.U.options.2|percentage:question.U.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>V</th>
                        <td>{{ question.V.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.V.n }}</td>
                        <td>{{ question.V.options.1 }}</td>
                        <td><strong>{{ question.V.options.1|percentage:question.V.n }}</strong></td>
                        <td>{{ question.V.options.2 }}</td>
                        <td><strong>{{ question.V.options.2|percentage:question.V.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>W</th>
                        <td>{{ question.W.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.W.n }}</td>
                        <td>{{ question.W.options.1 }}</td>
                        <td><strong>{{ question.W.options.1|percentage:question.W.n }}</strong></td>
                        <td>{{ question.W.options.2 }}</td>
                        <td><strong>{{ question.W.options.2|percentage:question.W.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>X</th>
                        <td>{{ question.X.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.X.n }}</td>
                        <td>{{ question.X.options.1 }}</td>
                        <td><strong>{{ question.X.options.1|percentage:question.X.n }}</strong></td>
                        <td>{{ question.X.options.2 }}</td>
                        <td><strong>{{ question.X.options.2|percentage:question.X.n }}</strong></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <h2>Permission Questions</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th colspan="2">None</th>
                        <th colspan="2">Few</th>
                        <th colspan="2">Half</th>
                        <th colspan="2">Most</th>
                        <th colspan="2">All</th>
                    </tr>
                </thead>
                    <tr>
                        <th>H</th>
                        <td>{{ question.H.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.H.n }}</td>
                        <td>{{ question.H.options.1 }}</td>
                        <td><strong>{{ question.H.options.1|percentage:question.H.n }}</strong></td>
                        <td>{{ question.H.options.2 }}</td>
                        <td><strong>{{ question.H.options.2|percentage:question.H.n }}</strong></td>
                        <td>{{ question.H.options.3 }}</td>
                        <td><strong>{{ question.H.options.3|percentage:question.H.n }}</strong></td>
                        <td>{{ question.H.options.4 }}</td>
                        <td><strong>{{ question.H.options.4|percentage:question.H.n }}</strong></td>
                        <td>{{ question.H.options.5 }}</td>
                        <td><strong>{{ question.H.options.5|percentage:question.H.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>J</th>
                        <td>{{ question.J.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.J.n }}</td>
                        <td>{{ question.J.options.1 }}</td>
                        <td><strong>{{ question.J.options.1|percentage:question.J.n }}</strong></td>
                        <td>{{ question.J.options.2 }}</td>
                        <td><strong>{{ question.J.options.2|percentage:question.J.n }}</strong></td>
                        <td>{{ question.J.options.3 }}</td>
                        <td><strong>{{ question.J.options.3|percentage:question.J.n }}</strong></td>
                        <td>{{ question.J.options.4 }}</td>
                        <td><strong>{{ question.J.options.4|percentage:question.J.n }}</strong></td>
                        <td>{{ question.J.options.5 }}</td>
                        <td><strong>{{ question.J.options.5|percentage:question.J.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>K</th>
                        <td>{{ question.K.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.K.n }}</td>
                        <td>{{ question.K.options.1 }}</td>
                        <td><strong>{{ question.K.options.1|percentage:question.K.n }}</strong></td>
                        <td>{{ question.K.options.2 }}</td>
                        <td><strong>{{ question.K.options.2|percentage:question.K.n }}</strong></td>
                        <td>{{ question.K.options.3 }}</td>
                        <td><strong>{{ question.K.options.3|percentage:question.K.n }}</strong></td>
                        <td>{{ question.K.options.4 }}</td>
                        <td><strong>{{ question.K.options.4|percentage:question.K.n }}</strong></td>
                        <td>{{ question.K.options.5 }}</td>
                        <td><strong>{{ question.K.options.5|percentage:question.K.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>M</th>
                        <td>{{ question.M.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.M.n }}</td>
                        <td>{{ question.M.options.1 }}</td>
                        <td><strong>{{ question.M.options.1|percentage:question.M.n }}</strong></td>
                        <td>{{ question.M.options.2 }}</td>
                        <td><strong>{{ question.M.options.2|percentage:question.M.n }}</strong></td>
                        <td>{{ question.M.options.3 }}</td>
                        <td><strong>{{ question.M.options.3|percentage:question.M.n }}</strong></td>
                        <td>{{ question.M.options.4 }}</td>
                        <td><strong>{{ question.M.options.4|percentage:question.M.n }}</strong></td>
                        <td>{{ question.M.options.5 }}</td>
                        <td><strong>{{ question.M.options.5|percentage:question.M.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>N</th>
                        <td>{{ question.N.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.N.n }}</td>
                        <td>{{ question.N.options.1 }}</td>
                        <td><strong>{{ question.N.options.1|percentage:question.N.n }}</strong></td>
                        <td>{{ question.N.options.2 }}</td>
                        <td><strong>{{ question.N.options.2|percentage:question.N.n }}</strong></td>
                        <td>{{ question.N.options.3 }}</td>
                        <td><strong>{{ question.N.options.3|percentage:question.N.n }}</strong></td>
                        <td>{{ question.N.options.4 }}</td>
                        <td><strong>{{ question.N.options.4|percentage:question.N.n }}</strong></td>
                        <td>{{ question.N.options.5 }}</td>
                        <td><strong>{{ question.N.options.5|percentage:question.N.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>P</th>
                        <td>{{ question.P.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.P.n }}</td>
                        <td>{{ question.P.options.1 }}</td>
                        <td><strong>{{ question.P.options.1|percentage:question.P.n }}</strong></td>
                        <td>{{ question.P.options.2 }}</td>
                        <td><strong>{{ question.P.options.2|percentage:question.P.n }}</strong></td>
                        <td>{{ question.P.options.3 }}</td>
                        <td><strong>{{ question.P.options.3|percentage:question.P.n }}</strong></td>
                        <td>{{ question.P.options.4 }}</td>
                        <td><strong>{{ question.P.options.4|percentage:question.P.n }}</strong></td>
                        <td>{{ question.P.options.5 }}</td>
                        <td><strong>{{ question.P.options.5|percentage:question.P.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>Q</th>
                        <td>{{ question.Q.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.Q.n }}</td>
                        <td>{{ question.Q.options.1 }}</td>
                        <td><strong>{{ question.Q.options.1|percentage:question.Q.n }}</strong></td>
                        <td>{{ question.Q.options.2 }}</td>
                        <td><strong>{{ question.Q.options.2|percentage:question.Q.n }}</strong></td>
                        <td>{{ question.Q.options.3 }}</td>
                        <td><strong>{{ question.Q.options.3|percentage:question.Q.n }}</strong></td>
                        <td>{{ question.Q.options.4 }}</td>
                        <td><strong>{{ question.Q.options.4|percentage:question.Q.n }}</strong></td>
                        <td>{{ question.Q.options.5 }}</td>
                        <td><strong>{{ question.Q.options.5|percentage:question.Q.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>R</th>
                        <td>{{ question.R.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.R.n }}</td>
                        <td>{{ question.R.options.1 }}</td>
                        <td><strong>{{ question.R.options.1|percentage:question.R.n }}</strong></td>
                        <td>{{ question.R.options.2 }}</td>
                        <td><strong>{{ question.R.options.2|percentage:question.R.n }}</strong></td>
                        <td>{{ question.R.options.3 }}</td>
                        <td><strong>{{ question.R.options.3|percentage:question.R.n }}</strong></td>
                        <td>{{ question.R.options.4 }}</td>
                        <td><strong>{{ question.R.options.4|percentage:question.R.n }}</strong></td>
                        <td>{{ question.R.options.5 }}</td>
                        <td><strong>{{ question.R.options.5|percentage:question.R.n }}</strong></td>
                    </tr>
                    <tr>
                        <th>S</th>
                        <td>{{ question.S.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.S.n }}</td>
                        <td>{{ question.S.options.1 }}</td>
                        <td><strong>{{ question.S.options.1|percentage:question.S.n }}</strong></td>
                        <td>{{ question.S.options.2 }}</td>
                        <td><strong>{{ question.S.options.2|percentage:question.S.n }}</strong></td>
                        <td>{{ question.S.options.3 }}</td>
                        <td><strong>{{ question.S.options.3|percentage:question.S.n }}</strong></td>
                        <td>{{ question.S.options.4 }}</td>
                        <td><strong>{{ question.S.options.4|percentage:question.S.n }}</strong></td>
                        <td>{{ question.S.options.5 }}</td>
                        <td><strong>{{ question.S.options.5|percentage:question.S.n }}</strong></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <h2>Direct Data Capture System</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th colspan="2">Missing / Broken Computer</th>
                        <th colspan="2">Missing / Broken Camera</th>
                        <th colspan="2">Missing / Broken Printer</th>
                        <th colspan="2">None</th>
                    </tr>
                </thead> 
                    <tr>
                        <th>D</th>
                        <td>{{ question.D.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.D.n }}</td>
                        <td>{{ question.D.options.1 }}</td>
                        <td><strong>{{ question.D.options.1|percentage:question.D.n }}</strong></td>
                        <td>{{ question.D.options.2 }}</td>
                        <td><strong>{{ question.D.options.2|percentage:question.D.n }}</strong></td>
                        <td>{{ question.D.options.3 }}</td>
                        <td><strong>{{ question.D.options.3|percentage:question.D.n }}</strong></td>
                        <td>{{ question.D.options.4 }}</td>
                        <td><strong>{{ question.D.options.4|percentage:question.D.n }}</strong></td>
                    </tr>                  
            </table>
        </div>
    </div>
    <div class="box">
        <h2>Missing Materials</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th colspan="2">Manual Register of Voters</th>
                        <th colspan="2">Indelible Ink to Mark Figures</th>
                        <th colspan="2">Blank Temporary Voter's Cards</th>
                        <th colspan="2">INEC Stamp</th>
                        <th colspan="2">None</th>
                    </tr>
                </thead>
                    <tr>
                        <th>E</th>
                        <td>{{ question.E.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.E.n }}</td>
                        <td>{{ question.E.options.1 }}</td>
                        <td><strong>{{ question.E.options.1|percentage:question.E.n }}</strong></td>
                        <td>{{ question.E.options.2 }}</td>
                        <td><strong>{{ question.E.options.2|percentage:question.E.n }}</strong></td>
                        <td>{{ question.E.options.3 }}</td>
                        <td><strong>{{ question.E.options.3|percentage:question.E.n }}</strong></td>
                        <td>{{ question.E.options.4 }}</td>
                        <td><strong>{{ question.E.options.4|percentage:question.E.n }}</strong></td>
                        <td>{{ question.E.options.5 }}</td>
                        <td><strong>{{ question.E.options.5|percentage:question.E.n }}</strong></td>
                    </tr>                  
            </table>
        </div>
    </div>
        <div class="box">
        <h2>Opening Time</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th colspan="2">By 8:00 AM</th>
                        <th colspan="2">Between 8 &amp; 10 AM</th>
                        <th colspan="2">Between 10 &amp; 12 NOON</th>
                        <th colspan="2">Not Open by 12 Noon</th>
                    </tr>
                </thead>
                    <tr>
                        <th>A</th>
                        <td>{{ question.A.label }}</td>
                        <td>{{ question.no_of_checklists }}</td>
                        <td>{{ question.A.n }}</td>
                        <td>{{ question.A.options.1 }}</td>
												<td><strong>{{ question.A.options.1|percentage:question.A.n }}</strong></td>
                        <td>{{ question.A.options.2 }}</td>
                        <td><strong>{{ question.A.options.2|percentage:question.A.n }}</strong></td>
                        <td>{{ question.A.options.3 }}</td>
                        <td><strong>{{ question.A.options.3|percentage:question.A.n }}</strong></td>
                        <td>{{ question.A.options.4 }}</td>
                        <td><strong>{{ question.A.options.4|percentage:question.A.n }}</strong></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <h2>Number of Registrations</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th>Average</th>                       
                    </tr>
                </thead>
                <tr>
                    <td>Y</td>
                    <td>{{ question.Y.label }}</td>
                    <td>{{ question.no_of_checklists }}</td>
                    <td>{{ question.Y.n }}</td>
                    <td>{{ question.Y.mean|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Z</td>
                    <td>{{ question.Z.label }}</td>
                    <td>{{ question.no_of_checklists }}</td>
                    <td>{{ question.Z.n }}</td>
                    <td>{{ question.Z.mean|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>AA</td>
                    <td>{{ question.AA.label }}</td>
                    <td>{{ question.no_of_checklists }}</td>
                    <td>{{ question.AA.n }}</td>
                    <td>{{ question.AA.mean|floatformat:2 }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <h2>Numeric Questions</h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Question</th>
                        <th>N</th>
                        <th>n</th>
                        <th>Average</th>
												<th>0s</th>
												<th>1s</th>
												<th>2s</th>
												<th>3+</th>
                    </tr>
                </thead>
                <tr>
                    <td>C</td>
                    <td>{{ question.C.label }}</td>
                    <td>{{ question.no_of_checklists }}</td>
                    <td>{{ question.C.n }}</td>
                    <td>{{ question.C.mean|floatformat:2 }}</td>
                    <td>{{ question.C.options.0 }} <strong>({{ question.C.options.0|percentage:question.C.n }})</strong></td>
                    <td>{{ question.C.options.1 }} <strong>({{ question.C.options.1|percentage:question.C.n }})</strong></td>
                    <td>{{ question.C.options.2 }} <strong>({{ question.C.options.2|percentage:question.C.n }})</strong></td>
                    <td>{{ question.C.options.3 }} <strong>({{ question.C.options.3|percentage:question.C.n }})</strong></td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>{{ question.F.label }}</td>
                    <td>{{ question.no_of_checklists }}</td>
                    <td>{{ question.F.n }}</td>
                    <td>{{ question.F.mean|floatformat:2 }}</td>
                    <td>{{ question.F.options.0 }} <strong>({{ question.F.options.0|percentage:question.F.n }})</strong></td>
                    <td>{{ question.F.options.1 }} <strong>({{ question.F.options.1|percentage:question.F.n }})</strong></td>
                    <td>{{ question.F.options.2 }} <strong>({{ question.F.options.2|percentage:question.F.n }})</strong></td>
                    <td>{{ question.F.options.3 }} <strong>({{ question.F.options.3|percentage:question.F.n }})</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
