{% extends 'psc/layout.html' %}
{% load calc %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>A Summary of Zones<span class="flag">
                <button onclick="location.href='{% url psc.views.zone_summary %}'">Refresh</button>
        </span></h2>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>Zone</th>
                        <th colspan="2">1st SMS</th>
                        <th colspan="5">2st SMS</th>
                        <th colspan="7">3rd SMS</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="missing" /></td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-busy.png" width="16" height="16" alt="unverified problem" /></td>
                        <td><img src="/assets/img/information.png" width="16" height="16" alt="verified" /></td>
                        <td><img src="/assets/img/status-away.png" width="16" height="16" alt="partial" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="missing" /></td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-busy.png" width="16" height="16" alt="unverified problem" /></td>
                        <td><img src="/assets/img/information.png" width="16" height="16" alt="verified" /></td>
                        <td><img src="/assets/img/status-away.png" width="16" height="16" alt="partial" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="missing" /></td>
                        <td><img src="/assets/img/status-offline.png" width="16" height="16" alt="blank" /></td>
                    </tr>
                    {% for zone in zone_list %}
                    <tr>
                        <td>{{ zone.name }}</td>
                        <td>{{ zone.first_complete|percentage:zone.n }}</td>
                        <td>{{ zone.first_missing|percentage:zone.n }}</td>
                        <td>{{ zone.second_complete|percentage:zone.n }}</td>
                        <td>{{ zone.second_problem|percentage:zone.n }}</td>
                        <td>{{ zone.second_verified|percentage:zone.n }}</td>
                        <td>{{ zone.second_partial|percentage:zone.n }}</td>
                        <td>{{ zone.second_missing|percentage:zone.n }}</td>
                        <td>{{ zone.third_complete|percentage:zone.n }}</td>
                        <td>{{ zone.third_problem|percentage:zone.n }}</td>
                        <td>{{ zone.third_verified|percentage:zone.n }}</td>
                        <td>{{ zone.third_partial|percentage:zone.n }}</td>
                        <td>{{ zone.third_missing|percentage:zone.n }}</td>
                        <td>{{ zone.third_blank|percentage:zone.n }}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
