version: 2

jobs:
  build:
    docker:
      - image: cimg/python:3.6.15
        environment:
          - TEST_DATABASE_HOSTNAME: localhost
          - TEST_DATABASE_USERNAME: circleci
          - SECRET_KEY: notasecret
          - REDIS_HOSTNAME: localhost

      - image: cimg/postgres:12.11-postgis
        environment:
          - POSTGRES_DB: apollo
          - POSTGRES_USER: circleci

      - image: cimg/redis:7.0

    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install -y postgresql-client
      - run: psql -h localhost -d apollo -c "CREATE EXTENSION IF NOT EXISTS postgis;"
      - restore_cache:
          key: deps-v3-1663187796-{{ checksum "requirements/dev.txt" }}
      - run: pip install --user --require-hashes --no-deps -r requirements/dev.txt
      - save_cache:
          key: deps-v3-1663187796-{{ checksum "requirements/dev.txt" }}
          paths:
            - "/home/circleci/.local"
      - run: pybabel compile -f -d apollo/translations/
      - run: pytest -v apollo/
    resource_class: large

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
