.panel-login {margin-top: 7em;}
.panel-heading-login {font-size: 18px;}
.panel-login-body{padding:45px;}

/*.divider-vertical {
height: 35px;
margin: 0 0px;
border-width: 0 1px;
border-style: solid;
border-top-style: solid;
border-left-color: #288EE2;
border-right-color: #64adea;
}

.navbar-nav>li>a {text-shadow: 1px 1px 2px rgba(0,0,0,0.25);}*/
#id_sample{width: 170px;}
#id_form{width: 170px;}
#s2id_id_location{width:340px;}
.select2-container .select2-choice{height: 34px; padding-top: 2.5px;}

.options { display: block; margin-top: 0.5em; }
.option { margin-right: 1em; }
.gray { background-color: #f9f9f9; }
.numeric, .table .numeric { text-align: right; }
.submission-table .submission-field ul { list-style-type: none; margin: 0; }
.submission-table .centered, .centered, .table .centered { text-align: center; }
.submission-table .submission-field ul input[type="radio"], input[type="checkbox"] { margin: -2px 0 0 0;}
.breadcrumb .locationtype { color: #DDD; }
abbr[data-original-title] {cursor: help;border-bottom: 1px dotted #999999;}
#id_group_26{margin-left: 0px;}
/* override default img style */
img {
  max-width: none;
}

.ajax_loader{width:42px;}

.ajax_loader .ajax_loader_block{
background-color:#333;
border:1px solid #000;
float:left;
height:30px;
margin-left:2px;
width:8px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

.block_1{-moz-animation-delay:0.3s;-webkit-animation-delay:0.3s;-ms-animation-delay:0.3s;-o-animation-delay:0.3s;animation-delay:0.3s;}

.block_2{-moz-animation-delay:0.4s;-webkit-animation-delay:0.4s;-ms-animation-delay:0.4s;-o-animation-delay:0.4s;animation-delay:0.4s;}

.block_3{-moz-animation-delay:0.5s;-webkit-animation-delay:0.5s;-ms-animation-delay:0.5s;-o-animation-delay:0.5s;animation-delay:0.5s;}

@-moz-keyframes bounceG{
 0%{-moz-transform:scale(1.2);opacity:1}
 100%{-moz-transform:scale(0.7);opacity:0.1}
}

@-webkit-keyframes bounceG{
 0%{-webkit-transform:scale(1.2);opacity:1}
 100%{-webkit-transform:scale(0.7);opacity:0.1}
}

@-ms-keyframes bounceG{
 0%{-ms-transform:scale(1.2);opacity:1}
 100%{-ms-transform:scale(0.7);opacity:0.1}
}

@-o-keyframes bounceG{
 0%{-o-transform:scale(1.2);opacity:1}
 100%{-o-transform:scale(0.7);opacity:0.1}
}

@keyframes bounceG{
 0%{transform:scale(1.2);opacity:1}
 100%{transform:scale(0.7);opacity:0.1}
}
