{% extends 'frontend/layout.html' -%}{% from 'process_analysis/macros/analysis_navigation.html' import render_analysis_navigation %}

{%- block toolbar %}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
  <form class="form-inline" method="GET" accept-charset="utf-8">
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.sample.id }}" class="sr-only">{{ filter_form.sample.label.text }}</label>
      {{ filter_form.sample(class_='form-control custom-select') }}
    </div>
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.location_group.id }}" class="sr-only">{{ filter_form.location_group.label.text }}</label>
      {{ filter_form.location_group(class_='form-control custom-select') }}
    </div>
    <button type="submit" class="btn btn-primary mr-sm-2">{{ _('Filter') }}</button>
  </form>
  <a class="btn btn-outline-secondary" id="export-btn">{{ _('Export process summary') }}</a>
</div>
{%- endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{{ render_analysis_navigation(navigation_data) }}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% if dataframe.count().any() %}
			{% for group in field_groups %}
			{% if field_groups[group] %}
			<h4 class="font-weight-light mt-4{{ ' rtl' if g.locale.text_direction == 'rtl' else '' }}">{{ group }}</h4>
				{% for field in field_groups[group] %}
					{% set question_summary = form|checklist_question_summary(field, location, dataframe) %}
					{% set stats = question_summary.stats %}
					<div class="table-responsive">
						<table id="{{ field['tag'] }}" class="table table-striped table-bordered process" style="width:100%" data-summary-table="true" data-form-name="{{ form.name }}">
						<thead>
						<tr class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							{% if stats['type'] == 'mean' %}
							<th bgcolor="#eee">{{ _('Mean') }}</th>
							{% elif stats['type'] == 'histogram' %}
							{% for label, value in stats['meta'] %}
							{%- if field['type'] == 'integer' %}
							<th>{{ value }}</th>
							{%- else %}
							<th><a href="{{ url_for('submissions.submission_list', form_id=form.id, values=filter_option_value(field['tag'], '=', value)) }}">{{ _('%(label)s', label=label) }} ({{ value }})</a></th>
							{%- endif %}
							{% endfor %}
							{% elif stats['type'] == 'bucket' %}
							<th>&lt; {{ stats['target'] }}</th>
							<th>= {{ stats['target'] }}</th>
							<th>&gt; {{ stats['target'] }}</th>
							{% endif %}
							{% if field.get('null_value') not in [None, ""] %}
							<th bgcolor="#eee">{{ _('Available') }}</th>
							<th bgcolor="#eee">{{ _('Not Available') }}</th>
							{% endif %}
							<th bgcolor="#eee">{{ _('Reported') }}</th>
							<th bgcolor="#eee">{{ _('Missing') }}</th>
						</tr>
						</thead>
						<tbody>
						<tr class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
							<td width="30"><strong>{{ field['tag'] }}</strong></td>
							<td><a class="text-decoration-none" href="{{ url_for('process_analysis.process_analysis_with_location_and_tag', form_id=form.id, location_id=location.id, tag=field['tag']) }}">{{ field.description }}</a></td>
							{% if stats['type'] == 'mean' %}
							<td><strong>{{ stats.mean|mean_filter }}</strong></td>
							{% elif stats['type'] == 'histogram' %}
							{% for label, option in stats['meta'] %}
							<td><div class="d-flex flex-row"><div class="flex-fill pr-2"><strong>{{ stats.histogram.get(option)[1]|default(0)|round|int }}%</strong></div><div class="flex-fill text-muted"><strong>{{ stats.histogram.get(option)[0]|default(0) }}</strong></div></div></td>
							{% endfor %}
							{% elif stats['type'] == 'bucket' %}
							{% for option in [-1, 0, 1] %}
							<td><div class="d-flex flex-row"><div class="flex-fill pr-2"><strong>{{ stats.histogram.get(option)[1]|default(0)|round|int }}%</strong></div><div class="flex-fill text-muted"><strong>{{ stats.histogram.get(option)[0]|default(0) }}</strong></div></div></td>
							{% endfor %}
							{% endif %}
							{% if field.get('null_value') not in [None, ""] %}
							<td><div class="d-flex flex-row"><div class="flex-fill pr-2"><strong>{{ stats['percent_available']|round|int }}%</strong></div><div class="flex-fill text-muted"><strong>{{ stats['available'] }}</strong></div></div></td>
							<td><div class="d-flex flex-row"><div class="flex-fill pr-2"><strong>{{ stats['percent_not_available']|round|int }}%</strong></div><div class="flex-fill text-muted"><strong>{{ stats['not_available'] }}</strong></div></div></td>
							{% endif %}
							<td><div class="d-flex flex-row"><div class="flex-fill pr-2"><strong>{{ stats['percent_reported']|round|int }}%</strong></div><div class="flex-fill text-muted"><strong>{{ stats['reported'] }}</strong></div></div></td>
							<td><div class="d-flex flex-row"><div class="flex-fill pr-2"><strong>{{ stats['percent_missing']|round|int }}%</strong></div><div class="flex-fill text-muted"><strong>{{ stats['missing'] }}</strong></div></div></td>
						</tr>
						{% for group in stats.urban %}
						<tr>
							<td>{{ group }}</td>
						</tr>
						</tbody>
						{% endfor %}
					</table>
					</div>
				{% endfor %}
			{% endif %}
			{% endfor %}
		{% else %}
		<table width="100%" class="table table-striped table-bordered">
			<tr class="warning">
				<td style="text-align:center">{{ _('No data available') }}</td>
			</tr>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/xlsx.mini.min.js') }}"></script>
<script type="text/javascript">
const loader = () => {
	const createGapRows = (worksheet, nrows) => {
		let ref = XLSX.utils.decode_range(worksheet['!ref']);
		ref.e.r += nrows;
		worksheet['!ref'] = XLSX.utils.encode_range(ref);
	};

	// this needs to be kept in sync with the HTML structure
	// for the summary tables
	const extractTableData = (table) => {
		let tableData = [];

		const row1 = [], row2 = [];
		const splitCols = {};
		Array.from(table.rows[1].cells).forEach((cell, index) => {
			if (index === 0 || index === 1) {
				row2.push(cell.textContent.trim());
				splitCols[index] = false;
			} else {
				let colData;
				if (cell.firstChild.tagName === 'STRONG') {
					colData = cell.textContent;
					splitCols[index] = false;
					row2.push(Number.parseInt(`${colData.trim()}` || 0));
				} else {
					colData = cell.firstChild.children[0].textContent;
					row2.push(colData.trim());
					colData = cell.firstChild.children[1].textContent;
					row2.push(Number.parseInt(`${colData.trim()}` || 0));
					splitCols[index] = true;
				}
			}
		});
		Array.from(table.rows[0].cells).forEach((cell, index) => {
			row1.push(cell.textContent.trim());
			if (splitCols[index])
				row1.push("");
		});
		tableData.push(row1);
		tableData.push(row2);

		return tableData;
	};

	document.querySelector('#export-btn').addEventListener('click', () => {
		const tables = Array.from(document.querySelectorAll('table[data-summary-table]'));
		if (tables.length === 0) {
			return;
		}
		const workbook = XLSX.utils.book_new();
		let worksheet;
		tables.forEach((table, index) => {
			const tableData = extractTableData(table);
			if (index === 0) {
				worksheet = XLSX.utils.aoa_to_sheet(tableData);
			} else {
				XLSX.utils.sheet_add_aoa(worksheet, tableData, {origin: -1});
			}
			createGapRows(worksheet, 2);
		});
		const formName = tables[0].dataset.formName;
		const filename = `${formName}-process-data-summary-${Math.floor((new Date()).getTime() / 1000)}.xlsx`;
		XLSX.utils.book_append_sheet(workbook, worksheet, formName);
		XLSX.writeFile(workbook, filename);
	});
};
document.addEventListener('DOMContentLoaded', loader);
</script>
{% endblock scripts %}