{% extends 'frontend/layout.html' %}{% from 'process_analysis/macros/analysis_navigation.html' import render_analysis_navigation %}
{%- block toolbar %}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
  <form class="form-inline" method="GET" accept-charset="utf-8">
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.sample.id }}" class="sr-only">{{ filter_form.sample.label.text }}</label>
      {{ filter_form.sample(class_='form-control custom-select') }}
    </div>
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.location_group.id }}" class="sr-only">{{ filter_form.location_group.label.text }}</label>
      {{ filter_form.location_group(class_='form-control custom-select') }}
    </div>
    <button type="submit" class="btn btn-primary mr-sm-2">{{ _('Filter') }}</button>
  </form>
  <a class="btn btn-outline-secondary" id="export-btn">{{ _('Export process summary') }}</a>
</div>
{%- endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{{ render_analysis_navigation(navigation_data) }}
	</div>
</div>
<div class="row mt-4">
	<div class="col-md-12">
		<div class="tab-content">
			<div class="tab-pane active" id="table">
				{% for tag, question, tag_stats in process_summary.top %}
				{% with field = form.get_field_by_tag(tag) %}
				<table id="mytable" class="table table-striped table-bordered {{- ' rtl' if g.locale.text_direction == 'rtl' else '' }}" data-summary-table data-form-name="{{ form.name }}" data-form-tag="{{ tag }}">
					{% with %}
					{% if field.get('null_value') is none %}{% set buffer = 0 %}{% else %}{% set buffer = 4 %}{% endif %}
					<tr>
						<td colspan="{%- if tag_stats.type == 'mean' -%}{{ 6 + buffer }}{% elif tag_stats.type == 'bucket' %}{{ 11 + buffer }}{% elif tag_stats.type != 'count' %}{{ (tag_stats.histogram|count * 2) + 5 + buffer }}{% else %}{{ 5 + buffer }}{%- endif -%}" class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
							<div class="d-flex justify-content-start align-items-center">
								<div class="mr-2"><strong>{{ tag }}</strong></div>
								<div class="mr-2">&middot;</div>
								<div>{{ question }}</div>
							</div>
						</td>
					</tr>
					{% endwith %}
					<tr>
						<th></th>
						{%- if tag_stats.type == 'mean' %}
						<th width="80">{{ _('Mean') }}</th>
						{% elif tag_stats.type == 'histogram' %}
						{% for label, option in tag_stats.meta %}
						{%- if tag_stats.labels %}
						{% if field.type == 'integer' %}
						<th colspan="2">{{ _('%(label)s', label=label) }} ({{ option }})</th>
						{% else %}
						<th colspan="2"><a href="{{ url_for('submissions.submission_list', form_id=form.id, values=filter_option_value(field['tag'], '=', option)) }}">{{ _('%(label)s', label=label) }} ({{ option }})</a></th>
						{% endif %}
						{%- else %}
						<th colspan="2">{{ option }}</th>
						{% endif %}
						{% endfor %}
						{% elif tag_stats.type == 'bucket' %}
						<th colspan="2">&lt; {{ tag_stats.target }}</th>
						<th colspan="2">= {{ tag_stats.target }}</th>
						<th colspan="2">&gt; {{ tag_stats.target }}</th>
						{% endif %}
						{% if field.get('null_value') is not none %}
						<th width="80" colspan="2">{{ _('Available') }}</th>
						<th width="80" colspan="2">{{ _('Not available') }}</th>
						{% endif %}
						<th width="80" colspan="2">{{ _('Reported') }}</th>
						<th width="80" colspan="2">{{ _('Missing') }}</th>
					</tr>
					<tr>
						<td><strong>{{ location }}</strong></td>
						{% if tag_stats.type == 'mean' %}
						<td>{{ tag_stats.mean|mean_filter }}</td>
						{% elif tag_stats.type == 'histogram' %}
						{% for label, option in tag_stats.meta %}
						<td>{{ tag_stats.histogram.get(option)[1]|default(0)|round|int }}%</td>
						<td>{{ tag_stats.histogram.get(option)[0] }}</td>
						{% endfor %}
						{% elif tag_stats.type == 'bucket' %}
						{% for option in [-1, 0, 1] %}
						<td>{{ tag_stats.histogram.get(option)[1]|default(0)|round|int }}%</td>
						<td>{{ tag_stats.histogram.get(option)[0] }}</td>
						{% endfor %}
						{% endif %}
						{% if field.get('null_value') is not none %}
						<td>{{ tag_stats.percent_available|round|int }}%</td>
						<td>{{ tag_stats.available }}</td>
						<td>{{ tag_stats.percent_not_available|round|int }}%</td>
						<td>{{ tag_stats.not_available }}</td>
						{% endif %}
						<td>{{ tag_stats.percent_reported|round|int }}%</td>
						<td>{{ tag_stats.reported }}</td>
						<td>{{ tag_stats.percent_missing|round|int }}%</td>
						<td>{{ tag_stats.missing }}</td>
					</tr>
					{% for location_type, location_type_summary in process_summary.groups %}
					{% for tag, question, tag_stats in location_type_summary %}
					{% for location, location_stats in tag_stats.locations|dictsort %}
					<tr>
						<td>
							<div class="d-flex justify-content-start align-items-center">
								<div class="mr-1">{{ location }}</div>
								<div class="mr-1">&middot;</div>
								<div class="text-muted"><em>{{ _('%(loc_type)s', loc_type=location_type) }}</em></div>
							</div>
						</td>
						{% if tag_stats.type == 'mean' %}
						<td>{{ location_stats.mean|mean_filter }}</td>
						{% elif tag_stats.type == 'histogram' %}
						{% for label, option in tag_stats.meta %}
						<td>{{ location_stats.histogram.get(option)[1]|default(0)|round|int}}%</td>
						<td>{{ location_stats.histogram.get(option)[0] }}</td>
						{% endfor %}
						{% elif tag_stats.type == 'bucket' %}
						{% for option in [-1, 0, 1] %}
						<td>{{ location_stats.histogram.get(option)[1]|default(0)|round|int }}%</td>
						<td>{{ location_stats.histogram.get(option)[0] }}</td>
						{% endfor %}
						{% endif %}
						{% if field.get('null_value') is not none %}
						<td>{{ location_stats.percent_available|round|int }}%</td>
						<td>{{ location_stats.available }}</td>
						<td>{{ location_stats.percent_not_available|round|int }}%</td>
						<td>{{ location_stats.not_available }}</td>
						{% endif %}
						<td>{{ location_stats.percent_reported|round|int }}%</td>
						<td>{{ location_stats.reported }}</td>
						<td>{{ location_stats.percent_missing|round|int }}%</td>
						<td>{{ location_stats.missing }}</td>
					</tr>
					{% endfor %}
					{% endfor %}
					{% endfor %}
				</table>
				{% endwith %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/xlsx.mini.min.js') }}"></script>
<script>
const loader = () => {
	document.querySelector('#export-btn').addEventListener('click', () => {
		const table = document.querySelector('table[data-summary-table]');
		if (!table) {
			return;
		}
		const workbook = XLSX.utils.table_to_book(table);
		const formName = table.dataset.formName;
		const filename = `${formName}-process-data-summary-${Math.floor((new Date()).getTime() / 1000)}.xlsx`;
		XLSX.writeFile(workbook, filename);
	});
};
document.addEventListener('DOMContentLoaded', loader);
</script>
{% endblock scripts %}