{% extends 'frontend/_layout.html' %}{% from 'process_analysis/macros/analysis_breadcrumb.html' import render_analysis_breadcrumb -%}{% from 'process_analysis/macros/analysis_navigation.html' import render_analysis_navigation %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    {{ render_analysis_breadcrumb(breadcrumb_data) }}
  </div>
  <div class="col-md-7">
    <form class="form-horizontal pull-right" method="GET" accept-charset="utf-8">
      {{ filter_form.status }} {{ filter_form.sample }}
      <button class="btn btn-warning" type="submit"><i class="icon-search icon-white"></i> {{ _('Filter') }}</button>
    </form>
  </div>
  <div class="col-md-12">
    {{ render_analysis_navigation(navigation_data) }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if incidents %}
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#table" data-toggle="tab">{{ _('Table') }}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="table">
          <table class="table table-bordered table-striped">
            <tr>
              <td colspan="{{ 5 + location_types.count() }}"><strong>{{ form_field.name }}</strong> &middot; {{ form_field.description }}</td>
            </tr>
            <tr>
              <th>{{ _('Observer ID') }}</th>
              <th>{{ _('Name') }}</th>
              {% for lt in location_types %}
              <th>{{ lt.name }}</th>
              {% endfor %}
              <th>{{ _('Location') }}</th>
              <th style="text-align:center" width="50">{{ _('Status') }}</th>
              <th>{{ _('Description') }}</th>
            </tr>
            {% for incident in incidents %}
            <tr>
              <td>{{ incident.contributor.participant_id|default }}</td>
              <td>{{ incident.contributor.name|default }}</td>
              {% for lt in location_types %}
              <td>{{ incident|get_location_for_type(lt) }}</td>
              {% endfor %}
              <td>{{ incident.location }} &middot; <em class"muted">{{ incident.location.location_type }}</em></td>
              <td style="text-align:center">
              {% if incident.status == 'confirmed' %}
              <img src="{{ url_for('static', filename='img/tick.png') }}" title="{{ _('Confirmed') }}" alt="{{ _('Confirmed') }}" />
              {% elif incident.status == 'rejected' %}
              <img src="{{ url_for('static', filename='img/red_dot.png') }}" title="{{ _('Rejected') }}" alt="{{ _('Rejected') }}" />
              {% else %}
              <img src="{{ url_for('static', filename='img/caution.png') }}" title="{{ _('Unmarked') }}" alt="{{ _('Unmarked') }}" />
              {% endif %}
              </td>
              <td>{{ incident.incident_comment }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
