{% extends 'frontend/layout.html' %}{% from 'process_analysis/macros/analysis_navigation.html' import render_analysis_navigation %}
{%- block toolbar %}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
  <form class="form-inline" method="GET" accept-charset="utf-8">
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.sample.id }}" class="sr-only">{{ filter_form.sample.label.text }}</label>
      {{ filter_form.sample(class_='form-control custom-select') }}
    </div>
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.location_group.id }}" class="sr-only">{{ filter_form.location_group.label.text }}</label>
      {{ filter_form.location_group(class_='form-control custom-select') }}
    </div>
    <div class="form-group mr-sm-2">
      <label for="{{ filter_form.status.id }}" class="sr-only">{{ filter_form.status.label.text }}</label>
      {{ filter_form.status(class_='form-control custom-select') }}
    </div>
    <button type="submit" class="btn btn-primary">{{ _('Filter') }}</button>
  </form>
</div>
{%- endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {{ render_analysis_navigation(navigation_data) }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% if incidents %}
    <table class="table table-bordered table-striped mt-4">
      <tr>
        <td colspan="{{ 5 + location_types.count() }}" class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
          <div class="d-flex justify-content-start align-items-center">
            <div class="mr-2"><strong>{{ form_field.tag }}</strong></div>
            <div class="mr-2">&middot;</div>
            <div>{{ form_field.description }}</div>
          </div> 
        </td>
      </tr>
      <tr class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
        <th>{{ _('PID') }}</th>
        <th>{{ _('Name') }}</th>
        {% for lt in location_types %}
        <th>{{ lt.name }}</th>
        {% endfor %}
        <th>{{ _('Location') }}</th>
        <th style="text-align:center" width="50">{{ _('Status') }}</th>
        <th>{{ _('Description') }}</th>
      </tr>
      {% for incident in incidents %}
      <tr class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
        <td>{{ incident.participant.participant_id|default }}</td>
        <td>{{ incident.participant.name|default }}</td>
        {% for lt in location_types %}
        <td>{{ incident|get_location_for_type(lt) }}</td>
        {% endfor %}
        <td>{{ incident.location.name }} &middot; <em class"muted">{{ incident.location.location_type }}</em></td>
        <td style="text-align:center">
        {% if incident.incident_status == 'confirmed' %}
        <i class="fa fa-check text-success" aria-hidden="true" title="{{ _('Confirmed') }}"></i>
        {% elif incident.status == 'rejected' %}
        <i class="fa fa-circle text-danger" aria-hidden="true" title="{{ _('Rejected') }}"></i>
        {% else %}
        <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true" title="{{ _('Unmarked') }}"></i>
        {% endif %}
        </td>
        <td>{{ incident.incident_description|default('', true) }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
