{% extends 'psc/layout.html' %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#id_psc_id").change(function() {
            if($('#id_psc_id').val() != ''){
                $("#id_recipient").attr('disabled', 'disabled')
            } else {
                $("#id_recipient").attr('disabled', '')
            }
        })
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>Email Blast</h2>
        <form method="post" action="{% url psc.views.send_mail %}" />
        {% csrf_token %}
        <table>
            <tr>
                <td>Subject</td>
                <td>{{ form.subject }}</td>
            </tr>
            <tr>
                <td style="vertical-align: top">Recipients</td>
                <td>{{ form.recipient }}</td>
            </tr>
            <tr>
                <td style="vertical-align: top">PSC ID</td>
                <td>{{ form.psc_id }}</td>
            </tr>
            <tr>
                <td style="vertical-align: top">Message</td>
                <td>{{ form.message }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Send Email" style="font-size: 20px; height: 40px; width: 200px;"/></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
