{% macro render_filter_form(form) %}
<form class="form-inline filter">
<div class="form-group">
{{ form.name(class_='form-control span3 input-sm', placeholder='Name') }}
</div>
<div class="form-group">
{{ form.location_type(class_='form-control span3 input-sm') }}
</div>
<div class="form-group">
	<button class="btn btn-warning btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i> {{ _('Filter') }}</button>
</div>
<div class="form-group">
	<a class="btn btn-default btn-sm" id="filter_reset">{{ _('Clear') }}</a>
</div>
</form>
{% endmacro %}
