{% macro render_import_form(form) %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>{% trans %}Import participants{% endtrans %}</h3>
	</div>
	  <div class="panel-body">
		<form class="form-inline" enctype="multipart/form-data" method="POST">
			{{ form.hidden_tag() }}
			<fieldset>
				{%- for field in form -%}
				{%- if field.type != 'CSRFTokenField' -%}
				<div class="form-group {% if field.errors %}has-error{% endif %}">
				{{ field.label }}
				{{ field(class_='form-control span2 input-sm') }}
				{% if field.errors %}
				{% for e in field.errors %}
				<p class="help-block">{{ e }}</p>
				{% endfor %}
				{% endif %}
				</div>
				{%- endif -%}
				{%- endfor -%}
				<div class="form-group form-group-custom">
					<button class="btn btn-info btn-sm" type="submit"><i class="glyphicon glyphicon-arrow-right"></i> Next</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endmacro %}