{% macro render_edit_form(form, participant) %}
<form class="form-horizontal" method="POST" action='{{ request.url }}'>
{{ form.hidden_tag() }}
{%- for field in form -%}
{%- if field.type != 'CSRFTokenField' -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class_='col-sm-3 col-sm-offset-1 control-label') }}
    <div class="col-sm-6">
        {% if field.name == 'supervisor' %}
            {{ field(class_='form-control select2-container span3 select2 select2-observers-clear', **{'data-name': participant.supervisor.name, 'data-participant_id': participant.supervisor.participant_id}) }}
        {% elif field.name == 'location' %}
            {{ field(class_='form-control select2-container span3 select2 select2-locations', **{'data-name': participant.location.name, 'data-location_type': participant.location.location_type}) }}
        {% else %}
        {{ field(class_='form-control span3') }}
        {% endif %}
        {% if field.errors %}
        {% for e in field.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endif -%}
{%- endfor -%}
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-primary input-mini" type="submit">{{ _('Save') }}</button>
    </div>
</div>
</form>
{% endmacro %}
