{% macro render_edit_form(form) %}
<form class="form-horizontal" method="POST" action='{{ request.url }}'>
{{ form.hidden_tag() }}
{%- for field in form -%}
{%- if field.type != 'CSRFTokenField' -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-6">
        {{ field(class_='form-control') }}
        {% if field.errors %}
        {% for e in field.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endif -%}
{%- endfor -%}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <button class="btn btn-primary btn-lg" type="submit">Save</button>
    </div>
</div>
</form>
{% endmacro %}
