{% macro submission_header(form, form_fields, location_types, perms) %}
<tr>
    <th>{{ _('ID') }}</th>
    {% for location_type in location_types %}
    <th>{{ location_type.name }}</th>
    {% endfor %}
    <th>{{ _('Participant') }}</th>
    <th>{{ _('Phone') }}</th>
    {% for qc in form.quality_checks %}
    <th class="text-center"><abbr title="{{ qc.description }}">{{ loop.index }}</abbr></th>
    {% endfor %}
    <th class="text-center"><abbr title="{{ _('Phone Verification') }}"><i class="glyphicon glyphicon-phone"></i></abbr></th>
    {% if perms.edit_submission.can() %}<th class="text-center">{{ _('Edit') }}</th>{% endif %}
</tr>
{% endmacro %}
{% macro submission_items(submissions, form, form_fields, location_types, quality_statuses, verification_statuses, perms) %}
{% for submission in submissions %}
<tr>
    <td>{{ submission.contributor.participant_id }}</td>
    {% for location_type in location_types %}
    <td>{{ submission.location_name_path[location_type.name] }}</td>
    {% endfor %}
    <td>{{ submission.contributor.name|default('', true) }}</td>
    <td>{{ submission.contributor.phone|default('', true) }}</td>
    {% for qc in form.quality_checks %}
    <td class="text-center">
        {%- if submission.verification_status == verification_statuses.VERIFIED %}<img src="{{ url_for('static', filename='img/blue_dot.png') }}" alt="{{ _('Verified') }}" title="{{ _('Verified') }}" height="11" width="11">
        {%- elif submission.verification_status == verification_statuses.REJECTED %}<img src="{{ url_for('static', filename='img/slash.png') }}" alt="{{ _('Rejected') }}" title="{{ _('Rejected') }}" height="11" width="11">
        {% elif submission.quality_checks[qc.name] == quality_statuses.OK %}<img src="{{ url_for('static', filename='img/tick.png') }}" alt="{{ _('OK') }}" title="{{ _('OK') }}" height="11" width="11">
        {%- elif submission.quality_checks[qc.name] == quality_statuses.FLAGGED %}<img src="{{ url_for('static', filename='img/red_dot.png') }}" alt="{{ _('Flagged') }}" title="{{ _('Flagged') }}" height="11" width="11">
        {%- else %}<img src="{{ url_for('static', filename='img/gray_dot.png') }}" alt="{{ _('Insufficient Data') }}" title="{{ _('Insufficient Data') }}" height="11" width="11">
        {% endif %}
    </td>
    {% endfor %}
    <td style="text-align: center"><img src="{% if submission.sender_verified %}{{ url_for('static', filename='img/tick.png') }}{% else %}{{ url_for('static', filename='img/caution.png') }}{% endif %}" title="{% if submission.sender_verified %}{{ _('Verified') }}{% else %}{{ _('Unverified') }}{% endif %}" height="11" width="11" /></td>
    {% if perms.edit_submission.can() %}<td class="text-center"><a href="{{ url_for('submissions.submission_edit', submission_id=submission.pk) }}">{{ _('Edit') }}</a></td>{% endif %}
</tr>
{% else %}
{% if perms.edit_submission.can() %}
{%- set colspan = 5 + (location_types|length) + form.quality_checks|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% else %}
{%- set colspan = 4 + (location_types|length) + form.quality_checks|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% endif %}
{% endfor %}
{% endmacro %}
