{% macro render_filter_form(form, filter_form, location) %}
<div class="card border-light bg-light mb-3">
    <div class="card-header">
        <form class="mb-n2 ml-n2 mr-n2">
            <div class="form-row">
                <div class="col-6 col-md-2 mb-2">
                    <label for="{{ filter_form.participant_id.id }}" class="sr-only">{{ filter_form.participant_id.label.text }}</label>
                    {{ filter_form.participant_id(class_='form-control', placeholder=_('Participant ID')) }}
                </div>
                <div class="col-6 col-md-2 mb-2">
                    <label for="{{ filter_form.sample.id }}" class="sr-only">{{ filter_form.sample.label.text }}</label>
                    {{ filter_form.sample(class_='form-control custom-select') }}
                </div>
                <div class="col-md-8 mb-2">
                    <label for="{{ filter_form.location.id }}" class="sr-only">{{ filter_form.location.label.text }}</label>
                    {{ filter_form.location(class_='form-control select2 select2-locations') }}
                </div>
                <div class="col-md-3 col-lg-4 mb-2">
                    <label for="{{ filter_form.quality_check.criterion.id }}" class="sr-only">{{ filter_form.quality_check.criterion.label.text }}</label>
                    {{ filter_form.quality_check.criterion(class_='form-control custom-select') }}
                </div>
                <div class="col-md-2 mb-2">
                    <label for="{{ filter_form.quality_check.condition.id }}" class="sr-only">{{ filter_form.quality_check.condition.label.text }}</label>
                    {{ filter_form.quality_check.condition(class_='form-control custom-select') }}
                </div>
                <div class="col-md-2 mb-2">
                    <label for="{{ filter_form.quarantine_status.id }}" class="sr-only">{{ filter_form.quarantine_status.label.text }}</label>
                    {{ filter_form.quarantine_status(class_='form-control custom-select') }}
                </div>
                <div class="col-md-2 mb-2">
                    <label for="{{ filter_form.online_status.id }}" class="sr-only">{{ filter_form.online_status.label.text }}</label>
                    {{ filter_form.online_status(class_='form-control custom-select') }}
                </div>
                {%- if form.show_moment %}
                <div class="col-md-2 mb-2">
                    <div class="input-group date" id="datepicker" data-target-input="nearest">
                        <label for="{{ filter_form.date.id }}" class="sr-only">{{ filter_form.date.label.text }}</label>
                        {{ filter_form.date(class_="form-control datetimepicker-input", placeholder=_("Date"), **{'data-target': '#datepicker'}) }}
                        <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                {%- endif %}
                <div class="col-md-2 mb-2">
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary mr-2 flex-fill" type="submit">{{ _('Filter') }}</button>
                        <a class="btn btn-secondary flex-fill" href="#" id="filter_reset">{{ _('Clear') }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}
