{% macro send_message_modal(recipients) %}
<div class="modal fade" id="send_message" style="display:none" tabindex="-1" role="dialog" aria-labelledby="send_message_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="send_message_label">{{ _('Send Message') }}</h3>
      </div>
      <div class="modal-body">
        <div class="alert" id="alert" style="display:none">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <span id="alert_message"></span>
        </div>
        <p><strong>{{ _('To') }}:</strong> {% trans counter=recipients %}{{ counter }} recipient{% pluralize %}{{ counter }} recipients{% endtrans %}.</p>
        <p><textarea id="message" rows="5" cols="40" style="width:97.5%" class="form-control"></textarea><br /><span id="characters">0 {{ _('characters') }}</span> · <span id="parts">1 {{ _('message part') }}</span></p>
      </div>
      <div class="modal-footer">
        <div id="loader" class="ajax_loader" style="visibility: hidden">
          <div class="ajax_loader_block block_1"></div>
          <div class="ajax_loader_block block_2"></div>
          <div class="ajax_loader_block block_3"></div>
        </div>
        <button class="btn btn-default btn-modal" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</button>
        <button class="btn btn-primary btn-modal" id="send" {% if not recipients %}disabled="disabled"{% endif %}>{{ _('Send') }}</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var close_modal_timeout, alert_timeout, csrftoken = $('meta[name=csrf-token]').attr('content');

  $('#send_message_modal_btn').click(function () {
    clearTimeout(close_modal_timeout);
    clearTimeout(alert_timeout);
    $('#alert').hide();
    $('#send_message').modal('show');
    $('#message').focus();
  });
  
  $('#message').keyup(function () {
    var max_length = 153 * 3;
    var message = $('#message').val().substring(0, max_length),
    parts = message.length <= 160 ? 1 : Math.ceil(message.length / 153);

    $('#message').val(message);
    $('#characters').html(message.length > 1 ? message.length + ' ' + "{{ _('characters') }}" : message.length + ' ' + "{{ _('character') }}");
    $('#parts').html(parts > 1 ? parts + ' ' + "{{ _('message parts') }}" : parts + ' ' + "{{ _('message part') }}");
  });

  $("#send").click(function () {
    var message = $('#message').val();
    if (message) {
      $.ajax({
        url: "{{ request.url | safe }}",
        type: 'POST',
        data: {message: message, action: 'send_message', },
        beforeSend: function (xhr, settings) {
          $('#message').attr('disabled', 'disabled');
          $('#send').attr('disabled', 'disabled');
          $('#loader').attr('style', 'visibility:visible;');
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      })
      .done(function (data) {
        // Reset message textbox, display the status and hide the dialog
        $('#message').val("");
        $('#message').trigger('keyup');
        $('#alert_message').html("<strong>{{ _('Success') }}!</strong> {{ _('Your message has been sent') }}.");
        $('#alert').removeClass('alert-error');
        $('#alert').addClass('alert-success');
        $('#alert').fadeIn('fast');
        alert_timeout = setTimeout("$('#alert').fadeOut('slow')", 5000);
        close_modal_timeout = setTimeout("$('#send_message').modal('hide')", 7000);
      })
      .fail(function (){
        // Display the fail message if the request failed
        $('#alert_message').html("<strong>{{ _('Error') }}!</strong> {{ _('Please try sending again') }}.");
        $('#alert').removeClass('alert-success');
        $('#alert').addClass('alert-error');
        $('#alert').fadeIn('fast');
        alert_timeout = setTimeout("$('#alert').fadeOut('slow')", 5000);
      })
      .always(function () {
        // Re-enable
        $('#message').removeAttr('disabled');
        $('#send').removeAttr('disabled');
        $('#loader').attr('style', 'visibility:hidden;');
      })
    }
  });
</script>
{% endmacro %}
