{% macro submission_header(form, form_fields, location_types, perms) %}
<tr>
    <th>{{ _('ID') }}</th>
    {% for location_type in location_types %}
    <th>{{ location_type.name }}</th>
    {% endfor %}
    <th>{{ _('Participant') }}</th>
    <th>{{ _('Phone') }}</th>
    {% if form.form_type == 'CHECKLIST' %}
    {% for group in form.groups %}
    <th class="text-center">{% if group.abbr %}<abbr title="{{ group.name }}">{{ group.abbr }}</abbr>{% else %}{{ group.name }}{% endif %}</th>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <th class="text-center"><abbr title="{{ field.description }}">{{ field.name }}</abbr></th>
    {% endfor %}
    <th class="text-center"><abbr title="{{ _('Status') }}"><i class="glyphicon glyphicon-eye-open"></i></abbr></th>
    {% endif %}
    <th class="text-center"><abbr title="{{ _('Phone Verification') }}"><i class="glyphicon glyphicon-phone"></i></abbr></th>
    {% if perms.edit_submission.can() %}<th class="text-center">{{ _('Edit') }}</th>{% endif %}
</tr>
{% endmacro %}
{% macro submission_items(submissions, form, form_fields, location_types, perms) %}
{% for submission in submissions %}
<tr>
    <td>{{ submission.contributor.participant_id }}</td>
    {% for location_type in location_types %}
    <td>{{ submission.location_name_path[location_type.name] }}</td>
    {% endfor %}
    <td>{{ submission.contributor.name|default('', true) }}</td>
    <td>{{ submission.contributor.phone|default('', true) }}</td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {% for group in form.groups %}
    <td class="text-center">
        {% if submission.completion[group.name] == 'Complete' %}<img src="{{ url_for('static', filename='img/tick.png') }}" alt="{{ _('complete') }}" title="{{ _('complete') }}" height="11" width="11">
        {%- elif submission.completion[group.name] == 'Partial' %}<img src="{{ url_for('static', filename='img/caution.png') }}" alt="{{ _('partial') }}" title="{{ _('partial') }}" height="11" width="11">
        {%- elif submission.completion[group.name] == 'Missing' %}<img src="{{ url_for('static', filename='img/red_dot.png') }}" alt="{{ _('missing') }}" title="{{ _('missing') }}" height="11" width="11">
        {%- elif submission.completion[group.name] == 'Conflict' %}<img src="{{ url_for('static', filename='img/slash.png') }}" alt="{{ _('conflict') }}" title="{{ _('conflict') }}" height="11" width="11">
        {% endif %}
    </td>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <td class="text-center">{%- if submission[field.name] -%}<img src="{{ url_for('static', filename='img/red_dot.png') }}" height="11" width="11" />{% else %}&nbsp;{% endif %}</td>
    {% endfor %}
    <td class="text-center">
    {% if form.form_type == 'INCIDENT' %}
    {%- set status = submission.status -%}
    {%- if status == 'confirmed' -%}
    <img src="{{ url_for('static', filename='img/tick.png') }}" title="{{ _('Confirmed') }}" alt="{{ _('Confirmed') }}" height="11" width="11" />
    {%- elif status == 'rejected' -%}
    <img src="{{ url_for('static', filename='img/red_dot.png') }}" title="{{ _('Rejected') }}" alt="{{ _('Rejected') }}" height="11" width="11" />
    {%- else -%}
    <img src="{{ url_for('static', filename='img/caution.png') }}" title="{{ _('Unmarked') }}" alt="{{ _('Unmarked') }}" height="11" width="11" />
    {%- endif -%}
    {%- else -%}
    &nbsp;
    {%- endif -%}
    </td>
    {% endif %}
    <td style="text-align: center"><img src="{% if submission.sender_verified %}{{ url_for('static', filename='img/tick.png') }}{% else %}{{ url_for('static', filename='img/caution.png') }}{% endif %}" title="{% if submission.sender_verified %}{{ _('Verified') }}{% else %}{{ _('Unverified') }}{% endif %}" height="11" width="11" /></td>
    {% if perms.edit_submission.can() %}<td class="text-center"><a href="{{ url_for('submissions.submission_edit', submission_id=submission.pk) }}">{{ _('Edit') }}</a></td>{% endif %}
</tr>
{% else %}
{% if perms.edit_submission.can() %}
{% if form.form_type == 'CHECKLIST' %}
{%- set colspan = 5 + (location_types|length) + form.groups|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% else %}
{%- set colspan = 6 + (location_types|length) + form_fields|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% endif %}
{% else %}
{% if form.form_type == 'CHECKLIST' %}
{%- set colspan = 4 + (location_types|length) + form.groups|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% else %}
{%- set colspan = 5 + (location_types|length) + form_fields|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}
