{% macro render_filter_form(form, filter_form, location) %}
<form class="form-inline well well-sm filter">
<div class="form-group">
{{ filter_form.participant_id(class_='form-control span2 input-sm', placeholder='Participant ID') }}
</div>
<div class="form-group">
{{ filter_form.sample(class_='form-control span2 input-sm') }}
</div>
<div class="form-group">
{%- if form.form_type == 'CHECKLIST' %}
{{ filter_form.location(class_='select2-container span4 select2 select2-locations', **{'data-name': location.name, 'data-location_type': location.location_type}) }}
{% else -%}
{{ filter_form.location(class_='select2-container span4 select2 select2-locations', **{'data-name': location.name, 'data-location_type': location.location_type}) }}
{%- endif %}
</div>
{%- if form.form_type == 'CHECKLIST' -%}
{%- for group in form.groups -%}
{% set field = form.pk|string + '__' + group.slug %}
<div class="form-group">
{{ filter_form[field](class_='form-control span2 input-sm') }}
</div>
{%- endfor -%}
<div class="form-group">
{{ filter_form['quarantine_status'](class_='form-control span2 input-sm') }}
</div>
{%- else -%}
<div class="form-group">
{{ filter_form.status(class_='select2-container span2 select2', style='height:26px', placeholder=_('All Statuses')) }}
</div>
{%- endif %}
{% for quality_check in form.quality_checks %}{% if quality_check['name'] in filter_form and filter_form[quality_check['name']].data %}{{ filter_form[quality_check['name']] }}{% endif %}{%- endfor %}
<div class="form-group">
	<button class="btn btn-warning btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i> {{ _('Filter') }}</button>
</div>
<div class="form-group">
    <a class="btn btn-default btn-sm" id="filter_reset">{{ _('Clear') }}</a>
</div>
</form>
{% endmacro %}
