{% macro submission_header(form, form_fields, location_types, perms) %}
<tr>
    {% if request.args.sort_by == 'id' %}
    {% if request.args.sort_direction == 'desc' %}
    <th class="text-right shrink"><a href="{{ modify_query(sort_by='id', sort_direction='asc', page='') }}">{{ _('ID') }} <i class="glyphicon glyphicon-chevron-down"></i></a></th>
    {% else %}
    <th class="text-right shrink"><a href="{{ modify_query(sort_by='id', sort_direction='desc', page='') }}">{{ _('ID') }} <i class="glyphicon glyphicon-chevron-up"></i></a></th>
    {% endif %}
    {% else %}
    <th class="text-right shrink"><a href="{{ modify_query(sort_by='id', sort_value='', sort_direction='', page='') }}">{{ _('ID') }}</a></th>
    {% endif %}
    {% for location_type in location_types %}
    {% if request.args.sort_by == 'location' and request.args.sort_value == location_type.id|string %}
    {% if request.args.sort_direction == 'desc' %}
    <th><a href="{{ modify_query(sort_by='location', sort_value=location_type.id, sort_direction='asc', page='') }}">{{ location_type.name }} <i class="glyphicon glyphicon-chevron-down"></i></a></th>
    {% else %}
    <th><a href="{{ modify_query(sort_by='location', sort_value=location_type.id, sort_direction='desc', page='') }}">{{ location_type.name }} <i class="glyphicon glyphicon-chevron-up"></i></a></th>
    {% endif %}
    {% else %}
    <th><a href="{{ modify_query(sort_by='location', sort_value=location_type.id, sort_direction='', page='') }}">{{ location_type.name }}</a></th>
    {% endif %}
    {% endfor %}
    {% if request.args.sort_by == 'participant' %}
    {% if request.args.sort_direction == 'desc' %}
    <th><a href="{{ modify_query(sort_by='participant', sort_direction='asc', page='') }}">{{ _('Participant') }} <i class="glyphicon glyphicon-chevron-down"></i></a></th>
    {% else %}
    <th><a href="{{ modify_query(sort_by='participant', sort_direction='desc', page='') }}">{{ _('Participant') }} <i class="glyphicon glyphicon-chevron-up"></i></a></th>
    {% endif %}
    {% else %}
    <th><a href="{{ modify_query(sort_by='participant', sort_value='', sort_direction='', page='') }}">{{ _('Participant') }}</a></th>
    {% endif %}
    {% if request.args.sort_by == 'phone' %}
    {% if request.args.sort_direction == 'desc' %}
    <th><a href="{{ modify_query(sort_by='phone', sort_direction='asc', page='') }}">{{ _('Phone') }} <i class="glyphicon glyphicon-chevron-down"></i></a></th>
    {% else %}
    <th><a href="{{ modify_query(sort_by='phone', sort_direction='desc', page='') }}">{{ _('Phone') }} <i class="glyphicon glyphicon-chevron-up"></i></a></th>
    {% endif %}
    {% else %}
    <th><a href="{{ modify_query(sort_by='phone', sort_value='', sort_direction='', page='') }}">{{ _('Phone') }}</a></th>
    {% endif %}
    {% if form.form_type == 'CHECKLIST' %}
    {% for group in form.data.groups %}
    <th class="text-center">{% if group.abbr %}<abbr title="{{ group.name }}">{{ group.abbr }}</abbr>{% else %}{{ group.name }}{% endif %}</th>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <th class="text-center"><abbr title="{{ field.description }}">{{ field.tag }}</abbr></th>
    {% endfor %}
    <th class="text-center"><abbr title="{{ _('Status') }}"><i class="glyphicon glyphicon-eye-open"></i></abbr></th>
    {% endif %}
    <th class="text-center"><abbr title="{{ _('Sender Verification') }}"><i class="glyphicon glyphicon-phone"></i></abbr></th>
    <th class="text-center"><abbr title="{{ _('Quarantine Status') }}"><i class="glyphicon glyphicon-exclamation-sign"></i></abbr></th>
</tr>
{% endmacro %}
{% macro submission_items(submissions, form, form_fields, location_types, perms) %}
{% for submission in submissions %}
<tr>
    {% if perms.edit_submission.can() %}
    <td class="text-right shrink"><a href="{{ url_for('submissions.submission_edit', submission_id=submission.id) }}">{{ submission.participant.participant_id }}</a></td>
    {% else %}
    <td class="text-center">{{ submission.participant.participant_id }}</td>
    {% endif %}
    {% for location_type in location_types %}
    <td>{{ submission.location.make_path()[location_type.name] }}</td>
    {% endfor %}
    <td>{{ submission.participant.name|default('', true) }}</td>
    <td>{{ submission.participant.primary_phone|default('', true) }}</td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {% for group in form.data.groups %}
    <td class="text-center">
        {% if submission.completion(group.name) == 'Complete' %}<img src="{{ url_for('static', filename='img/tick.png') }}" alt="{{ _('complete') }}" title="{{ _('complete') }}" height="11" width="11">
        {%- elif submission.completion(group.name) == 'Partial' %}<img src="{{ url_for('static', filename='img/caution.png') }}" alt="{{ _('partial') }}" title="{{ _('partial') }}" height="11" width="11">
        {%- elif submission.completion(group.name) == 'Missing' %}<img src="{{ url_for('static', filename='img/red_dot.png') }}" alt="{{ _('missing') }}" title="{{ _('missing') }}" height="11" width="11">
        {%- elif submission.completion(group.name) == 'Conflict' %}<img src="{{ url_for('static', filename='img/slash.png') }}" alt="{{ _('conflict') }}" title="{{ _('conflict') }}" height="11" width="11">
        {% endif %}
    </td>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <td class="text-center">
    {%- if submission.data[field.tag] -%}
    {%- if (field['type'] == 'select') or not (field['type'] == 'integer') -%}
    {% if field['type'] == 'select' %}{%- set options = field.options|reverse_dict -%}<abbr title="{{ options[submission.data[field.tag]] }}">{{ submission.data[field.tag] }}</abbr>{% else %}{{ submission.data[field.tag] }}{% endif %}
    {%- else -%}
    <i class="fa fa-check success" aria-hidden="true" title="{{ _('data present') }}"></i>
    {% endif %}
    {% else %}
    &nbsp;
    {% endif %}
    </td>
    {% endfor %}
    <td class="text-center">
    {% if form.form_type == 'INCIDENT' %}
    {%- set status = submission.incident_status -%}
    {%- if status == 'confirmed' -%}
    <i class="fa fa-check success" aria-hidden="true" title="{{ _('Confirmed') }}"></i>
    {%- elif status == 'rejected' -%}
    <i class="fa fa-circle error" aria-hidden="true" title="{{ _('Rejected') }}"></i>
    {%- elif status == 'citizen' -%}
    <i class="fa fa-users neutral" aria-hidden="true" title="{{ _('Citizen Report') }}"></i>
    {%- else -%}
    <i class="fa fa-exclamation-triangle warning" aria-hidden="true" title="{{ _('Unmarked') }}"></i>
    {%- endif -%}
    {%- else -%}
    &nbsp;
    {%- endif -%}
    </td>
    {% endif %}
    <td style="text-align: center">
      {% if submission.sender_verified -%}
      <i class="fa fa-check success" aria-hidden="true" title="{{ _('Verified') }}"></i>
      {%- else -%}
      <i class="fa fa-exclamation-triangle warning" aria-hidden="true" title="{{ _('Unverified') }}"></i>
      {% endif %}
    </td>
    <td style="text-align: center">
        {% if not submission.quarantine_status -%}
        <i class="fa fa-check success" aria-hidden="true" title="{{ _('OK') }}"></i>
        {%- else -%}
        <i class="fa fa-exclamation-triangle warning" aria-hidden="true" title="{{ _('Quarantined') }}"></i>
        {% endif %}
    </td>
</tr>
{% else %}
{% if perms.edit_submission.can() %}
{% if form.form_type == 'CHECKLIST' %}
{%- set colspan = 5 + (location_types|length) + form.data.groups|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% else %}
{%- set colspan = 6 + (location_types|length) + form_fields|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% endif %}
{% else %}
{% if form.form_type == 'CHECKLIST' %}
{%- set colspan = 4 + (location_types|length) + form.data.groups|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% else %}
{%- set colspan = 5 + (location_types|length) + form_fields|length -%}
<tr class="warning">
    <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}
