{% macro render_filter_form(form, filter_form, location) %}
<div class="card border-light bg-light mb-3">
    <div class="card-header">
        <form class="mb-n2 ml-n2 mr-n2">
        {% if form.show_map %}<input type="hidden" id="v" name="v" value="{{ request.args.v }}">{% endif %}
            <div class="form-row">
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.participant_id.id }}" class="sr-only">{{ filter_form.participant_id.label.text }}</label>
                    {{ filter_form.participant_id(class_='form-control', placeholder=_('Participant ID')) }}
                </div>
                {%- if form.form_type == 'SURVEY' %}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.fsn.id }}" class="sr-only">{{ filter_form.fsn.label.text }}</label>
                    {{ filter_form.fsn(class_='form-control', placeholder=_('Form Serial Number')) }}
                </div>
                {%- endif %}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.sample.id }}" class="sr-only">{{ filter_form.sample.label.text }}</label>
                    {{ filter_form.sample(class_='form-control custom-select') }}
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.location_group.id }}" class="sr-only">{{ filter_form.location_group.label.text }}</label>
                    {{ filter_form.location_group(class_='form-control custom-select') }}
                </div>
                <div class="{% if form.form_type == 'SURVEY' %}col-12 col-md-10 col-lg-3{% else %}col-6 col-lg-5{% endif %} mb-2">
                    <label for="{{ filter_form.location.id }}" class="sr-only">{{ filter_form.location.label.text }}</label>
                    {{ filter_form.location(class_='form-control select2 select2-locations') }}
                </div>
            {%- if form.form_type in ['CHECKLIST', 'SURVEY'] -%}
                <div class="{% if form.form_type == 'SURVEY' %}col-6 col-md-2 col-lg-1{% else %}col-6 col-lg-1{% endif %} mb-2 d-flex">
                    <label for="{{ filter_form.conjunction.id }}" class="sr-only">{{ filter_form.conjunction.label.text }}</label>
                    {{ filter_form.conjunction(class_='custom-control-input', **{'data-toggle': 'switchbutton', 'data-width': '100', 'data-onlabel': _('OR'), 'data-offlabel': _('AND')}) }}
                </div>
                {%- for group in form.data.groups -%}
                {% set field = form.id|string + '__' + group.slug %}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form[field].id }}" class="sr-only">{{ filter_form[field].label.text }}</label>
                    {{ filter_form[field](class_='form-control custom-select') }}
                </div>
                {%- endfor -%}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.quarantine_status.id }}" class="sr-only">{{ filter_form.quarantine_status.label.text }}</label>
                    {{ filter_form.quarantine_status(class_='form-control custom-select') }}
                </div>
            {%- else -%}
                {%- for group in form.data.groups -%}
                {%- for field in group.fields -%}
                {%- if field['type'] == 'select' -%}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form[field.tag].id }}" class="sr-only">{{ filter_form[field.tag].label.text }}</label>
                    {{ filter_form[field.tag](class_='form-control custom-select') }}
                </div>
                {%- endif -%}
                {%- endfor -%}
                {%- endfor -%}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.status.id }}" class="sr-only">{{ filter_form.status.label.text }}</label>
                    {{ filter_form.status(class_='form-control custom-select select2-container select2', placeholder=_('All Statuses')) }}
                </div>
            {%- endif %}
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.sender_verification.id }}" class="sr-only">{{ filter_form.sender_verification.label.text }}</label>
                    {{ filter_form.sender_verification(class_='form-control custom-select') }}
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.online_status.id }}" class="sr-only">{{ filter_form.online_status.label.text }}</label>
                    {{ filter_form.online_status(class_='form-control custom-select') }}
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <label for="{{ filter_form.participant_role.id }}" class="sr-only">{{ filter_form.participant_role.label.text }}</label>
                    {{ filter_form.participant_role(class_='form-control custom-select') }}
                </div>
                {%- if form.show_moment %}
                <div class="col-6 col-lg-2 mb-2">
                    <div class="input-group date" id="datepicker" data-target-input="nearest">
                        <label for="{{ filter_form.date.id }}" class="sr-only">{{ filter_form.date.label.text }}</label>
                        {{ filter_form.date(class_="form-control datetimepicker-input", placeholder=_("Date"), **{'data-target': '#datepicker'}) }}
                        <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                {%- endif %}
                <div class="col-12 col-md-6 col-lg-2 mb-2">
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary mr-2 flex-fill" type="submit">{{ _('Filter') }}</button>
                        <a class="btn btn-secondary flex-fill" href="#" id="filter_reset">{{ _('Clear') }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}
