<script type="text/x-handlebars-template" id="checklist-filter-template" charset="utf-8">
	<div id="filter" class="filter_pane">
		<form id="search">
		<div class="input_el"><input type="text" name="observer_id" class="input_smoke search_field" placeholder="Monitor Id" id="search_observer__observer_id__exact" pattern=".*[0-9]" title="Numeric figures only"></div>
		<div class="input_el"><input type="text" name="date" class="input_smoke search_field date_field" placeholder="Date" id="search_date__exact"></div>
		<div class="input_el"><input type="text" name="location" class="input_smoke" placeholder="Location" id="location__id"></div>
		<div class="clear"></div>
		<div class="input_el">
			<select name="setup_status" id="search_setup_status" class="input_smoke search_field">
				<option value="">Setup Status</option>
				<option value="1">Setup Complete</option>
				<option value="2">Setup Missing</option>
				<option value="3">Setup Partial</option>
			</select>
		</div>
		<div class="input_el">
			<select name="voting_status" id="search_voting_status" class="input_smoke search_field">
				<option value="">Voting Status</option>
				<option value="1">Voting Complete</option>
				<option value="2">Voting Missing</option>
				<option value="3">Voting Partial</option>
			</select>
		</div>
		<div class="input_el">
			<select name="closing_status" id="search_closing_status" class="input_smoke search_field">
				<option value="">Closing Status</option>
				<option value="1">Closing Complete</option>
				<option value="2">Closing Missing</option>
				<option value="3">Closing Partial</option>
			</select>
		</div>
		<div class="input_el">
			<select name="counting_status" id="search_counting_status" class="input_smoke search_field">
				<option value="">Counting Status</option>
				<option value="1">Counting Complete</option>
				<option value="2">Counting Missing</option>
				<option value="3">Counting Partial</option>
			</select>
		</div>
		<div class="input_el">
			<span class="btn_blue btn_space"><input type="submit" name="submit" value="Filter" class="search_btn"><span>&nbsp;</span></span><span class="btn_gray"><a href="javascript:;" id="form_reset">Reset</a><span>&nbsp;</span></span>
		</div>
		</form>
		<div class="clear"></div>
	</div>
	<div class="filter_pane_bottom"></div>
	<div id="filter_dropper">Filter</div>
	<div style="margin-top:2em"></div>
</script>
<script type="text/x-handlebars-template" id="checklist-header-template" charset="utf-8">
	<tbody>
		<tr><th><a href="javascript:;" class="sortable_column" id="sort_observer__observer_id">Monitor Id</a></th><th><a href="javascript:;" class="sortable_column" id="sort_date">Date</a></th><th><a href="javascript:;" class="sortable_column" id="sort_location__parent__parent__parent__name">Ward</a></th><th><a href="javascript:;" class="sortable_column" id="sort_location__parent__parent__name">Polling District</a></th><th><a href="javascript:;" class="sortable_column" id="sort_observer__supervisor__name">Supervisor</a></th><th><a href="javascript:;" class="sortable_column" id="sort_observer__name">Monitor</a></th><th style="text-align:center"><span title="Setup">S</span></th><th style="text-align:center"><span title="Voting">V</span></th><th style="text-align:center"><span title="Closing">C</span></th><th style="text-align:center"><span title="Counting">C</span></th><th style="text-align:center">Edit</th></tr>
	</tbody>
</script>
<script type="text/x-handlebars-template" id="checklist-template" charset="utf-8">
	<td>{{observer.attributes.observer_id}}</td><td>{{date}}</td><td>{{location.attributes.parent.attributes.parent.attributes.parent.attributes.name}}</td><td>{{location.attributes.parent.attributes.parent.attributes.name}}</td><td>{{#if observer.attributes.supervisor}}{{observer.attributes.supervisor.attributes.name}}{{#if observer.attributes.supervisor.attributes.connections.models}} (<strong>{{observer.attributes.supervisor.attributes.connections.models.0.attributes.identity}}</strong>){{/if}}{{else}}&nbsp;{{/if}}</td><td>{{observer.attributes.name}}{{#if observer.attributes.connections.models}} (<strong>{{observer.attributes.connections.models.0.attributes.identity}}</strong>){{/if}}</td><td align="center">{{setup_flag response}}</td><td align="center">{{setup_flag response}}</td><td align="center">{{setup_flag response}}</td><td align="center">{{setup_flag response}}</td><td align="center">Edit</td>
</script>
<script type="text/x-handlebars-template" id="checklist-empty-template" charset="utf-8">
	<tr><td colspan="11" class="empty"><em>No checklists to display</em></td></tr>
</script>
<script type="text/javascript" charset="utf-8">
	function checklist_setup_complete(response) {
	    return _.all(['A', 'B', 'CA', 'CB', 'CC', 'CE', 'CF', 'CG', 'CH', 'D', 'E', 'EA', 
	        'EB', 'EC', 'F', 'G', 'H', 'J', 'K'], function (code) {
			return response.get(code);
	    });
	}

	function checklist_setup_missing(response) {
	    return !_.any(['A', 'B', 'CA', 'CB', 'CC', 'CE', 'CF', 'CG', 'CH', 'D', 'E', 'EA', 
	        'EB', 'EC', 'F', 'G', 'H', 'J', 'K'], function (code) {
			return response.get(code);
	    });
	}

	function checklist_setup_partial(response) {
	    return _.any(['A', 'B', 'CA', 'CB', 'CC', 'CE', 'CF', 'CG', 'CH', 'D', 'E', 'EA',
	        'EB', 'EC', 'F', 'G', 'H', 'J', 'K'], function (code) {
			return response.get(code);
	    });
	}
</script>
<script type="text/javascript" charset="utf-8">
	Handlebars.registerHelper('setup_flag', function (responses) {
		if (checklist_setup_complete(responses)) {
			return new Handlebars.SafeString('<img src="/assets/images/green_dot.png" alt="complete" />');
		} else if (checklist_setup_missing(responses)) {
			return new Handlebars.SafeString('<img src="/assets/images/red_dot.png" alt="missing" />');
		} else {
			return new Handlebars.SafeString('<img src="/assets/images/yellow_dot.png" alt="partial" />');
		}
	});
	
	Templates = (typeof(Templates) == 'undefined') ? {} : Templates;
	Templates.ChecklistFilter = Handlebars.compile($('#checklist-filter-template').html());
	Templates.ChecklistHeader = Handlebars.compile($('#checklist-header-template').html());
	Templates.Checklist = Handlebars.compile($('#checklist-template').html());
	Templates.ChecklistEmpty = Handlebars.compile($('#checklist-empty-template').html());
</script>