{% extends "core/layout.html" %}
{% block content %}
<style type="text/css">
	.td_width{width: 20em;}
	td, th {padding: .3em;}
</style>
<div class="row">
  <div class="span12">
    <form class="form-horizontal well" action="" method="" accept-charset="utf-8">
      <select class="">
          <option disabled selected style='display:none;'>- - Province - -</option>
          <option>All</option>
        </select>
        <select class="">
          <option disabled selected style='display:none;'>- - Select Province - -</option>
          <option>All</option>
        </select>   
        <select class="">
          <option disabled selected style='display:none;'>- - Sample - -</option>
          <option>All</option>
        </select class="">                 
        <button class="btn btn-danger" type="submit">Filter</button>
        <button class="btn btn-info" type="submit">Reset</button>
      </select>
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
      <table class="" cellspacing="10">
	    <thead>
	    	<h4 class="well">Yes or No Questions</h4>	
	        <tr>
	            <th>AA</th>
	            <th>CK</th>
	            <th>CM</th>
	            <th>DJ</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td><strong>N </strong>500</td>
	            <td><strong>N </strong>1390</td>
	            <td><strong>N </strong>890</td>
	            <td><strong>N </strong>762</td>
	        </tr>
	        <tr>
	            <td><strong>n </strong>250</td>
	            <td><strong>n </strong>377</td>
	            <td><strong>n </strong>456</td>
	            <td><strong>n </strong>590</td>
	        </tr>
	        <tr>
	            <td>
	            	<script type="text/javascript+protovis">
				        width = 250,
				        height = 200,
				        offset = 10,
				        r = width/2 - offset;
				        data = [1000, 800];
				        colors = ["#39e639","#ff0d00"];
				        labels = ['Yes', 'No'];

				        var pie = new pv.Panel().width(width).height(height);
				            pie.add(pv.Wedge)
				            .data(pv.normalize(data))
				            .outerRadius(70)
				            .angle(function(d) d * 2 * Math.PI)
				            .left(70)
				            .top(70)
				            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
				            .anchor("center")
				            .add(pv.Label)
				            .textAngle(0)
				            .text(function(d){ return (d*100).toFixed(0) + "%"});
				            
				        //legends   
				        pie.add(pv.Dot) 
				            .data(labels) 
				            .top(function() 70 + this.index * 18)
				            .right(90) 
				            .size(20) 
				            .strokeStyle(null) 
				            .fillStyle(pv.colors(colors)) 
				            .anchor("right").add(pv.Label)
				            .textMargin(8);
				            
				        pie.render();
				    </script>
	            </td>
	            <td>
	            	<script type="text/javascript+protovis">
				        width = 250,
				        height = 200,
				        offset = 10,
				        r = width/2 - offset;
				        data = [4747, 1919];
				        colors = ["#39e639","#ff0d00"];
				        labels = ['Yes', 'No'];

				        var pie = new pv.Panel().width(width).height(height);
				            pie.add(pv.Wedge)
				            .data(pv.normalize(data))
				            .outerRadius(70)
				            .angle(function(d) d * 2 * Math.PI)
				            .left(70)
				            .top(70)
				            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
				            .anchor("center")
				            .add(pv.Label)
				            .textAngle(0)
				            .text(function(d){ return (d*100).toFixed(0) + "%"});
				            
				        //legends   
				        pie.add(pv.Dot) 
				            .data(labels) 
				            .top(function() 70 + this.index * 18)
				            .right(90) 
				            .size(20) 
				            .strokeStyle(null) 
				            .fillStyle(pv.colors(colors)) 
				            .anchor("right").add(pv.Label)
				            .textMargin(8);
				            
				        pie.render();
				    </script>
	            </td>
	            <td>
	            	<script type="text/javascript+protovis">
				        width = 250,
				        height = 200,
				        offset = 10,
				        r = width/2 - offset;
				        data = [1000, 5000];
				        colors = ["#39e639","#ff0d00"];
				        labels = ['Yes', 'No'];

				        var pie = new pv.Panel().width(width).height(height);
				            pie.add(pv.Wedge)
				            .data(pv.normalize(data))
				            .outerRadius(70)
				            .angle(function(d) d * 2 * Math.PI)
				            .left(70)
				            .top(70)
				            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
				            .anchor("center")
				            .add(pv.Label)
				            .textAngle(0)
				            .text(function(d){ return (d*100).toFixed(0) + "%"});
				            
				        //legends   
				        pie.add(pv.Dot) 
				            .data(labels) 
				            .top(function() 70 + this.index * 18)
				            .right(90) 
				            .size(20) 
				            .strokeStyle(null) 
				            .fillStyle(pv.colors(colors)) 
				            .anchor("right").add(pv.Label)
				            .textMargin(8);
				            
				        pie.render();
				    </script>
	            </td>
	            <td>
	            	<script type="text/javascript+protovis">
				        width = 250,
				        height = 200,
				        offset = 10,
				        r = width/2 - offset;
				        data = [5757, 5757];
				        colors = ["#39e639","#ff0d00"];
				        labels = ['Yes', 'No'];

				        var pie = new pv.Panel().width(width).height(height);
				            pie.add(pv.Wedge)
				            .data(pv.normalize(data))
				            .outerRadius(70)
				            .angle(function(d) d * 2 * Math.PI)
				            .left(70)
				            .top(70)
				            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
				            .anchor("center")
				            .add(pv.Label)
				            .textAngle(0)
				            .text(function(d){ return (d*100).toFixed(0) + "%"});
				            
				        //legends   
				        pie.add(pv.Dot) 
				            .data(labels) 
				            .top(function() 70 + this.index * 18)
				            .right(90) 
				            .size(20) 
				            .strokeStyle(null) 
				            .fillStyle(pv.colors(colors)) 
				            .anchor("right").add(pv.Label)
				            .textMargin(8);
				            
				        pie.render();
				    </script>
	            </td>        
	        </tr>
	        <tr>
	            <td class="td_width">Had any polling officials arrived by 7:30am?</td>
	            <td class="td_width">Was everyone accredited?</td>
	            <td class="td_width"> Was there under age voting?</td>
	            <td class="td_width">Did anyone intimidate voters/polling officials during the voting process?</td>
	        </tr>
	    </tbody>
	</table>​
    </div>
  </div>
  <div class="row-fluid">
  <div class="span12">
    <div class="">
	   <table class="" cellspacing="10">
		    <thead>
		    	<h4 class="well">Option Questions</h4>	
		        <tr>
		            <th>CF</th>
		            <th>CG</th>
		            <th>DC</th>
		            <th>DD</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td><strong>N </strong>747</td>
		            <td><strong>N </strong>474</td>
		            <td><strong>N </strong>494</td>
		            <td><strong>N </strong>696</td>
		        </tr>
		        <tr>
		            <td><strong>n </strong>383</td>
		            <td><strong>n </strong>438</td>
		            <td><strong>n </strong>202</td>
		            <td><strong>n </strong>590</td>
		        </tr>
		        <tr>
		        	<td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [1000, 800, 500, 3490];
					        colors = ["#fff800","#ff0d00","#39e639","#ffa500", "#deda65"];
					        labels = ["None", "Few", "Some", "Many"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        //legends   
					        pie.add(pv.Dot) 
					            .data(labels) 
					            .top(function() 70 + this.index * 18)
					            .right(90) 
					            .size(20) 
					            .strokeStyle(null) 
					            .fillStyle(pv.colors(colors)) 
					            .anchor("right").add(pv.Label)
					            .textMargin(8);
					            
					        pie.render();
					    </script>
		            </td>
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [566, 844, 484, 393];
					        colors = ["#fff800","#ff0d00","#39e639","#ffa500", "#deda65"];
					        labels = ["None", "Few", "Some", "Many"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        //legends   
					        pie.add(pv.Dot) 
					            .data(labels) 
					            .top(function() 70 + this.index * 18)
					            .right(90) 
					            .size(20) 
					            .strokeStyle(null) 
					            .fillStyle(pv.colors(colors)) 
					            .anchor("right").add(pv.Label)
					            .textMargin(8);
					            
					        pie.render();
					    </script>
		            </td>
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [1000, 1000, 1000, 1000];
					        colors = ["#fff800","#ff0d00","#39e639","#ffa500", "#deda65"];
					        labels = ["None", "Few", "Some", "Many"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        //legends   
					        pie.add(pv.Dot) 
					            .data(labels) 
					            .top(function() 70 + this.index * 18)
					            .right(90) 
					            .size(20) 
					            .strokeStyle(null) 
					            .fillStyle(pv.colors(colors)) 
					            .anchor("right").add(pv.Label)
					            .textMargin(8);
					            
					        pie.render();
					    </script>
		            </td>
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [828, 339, 484, 1200];
					        colors = ["#fff800","#ff0d00","#39e639","#ffa500", "#deda65"];
					        labels = ["None", "Few", "Some", "Many"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        //legends   
					        pie.add(pv.Dot) 
					            .data(labels) 
					            .top(function() 70 + this.index * 18)
					            .right(90) 
					            .size(20) 
					            .strokeStyle(null) 
					            .fillStyle(pv.colors(colors)) 
					            .anchor("right").add(pv.Label)
					            .textMargin(8);
					            
					        pie.render();
					    </script>
		            </td>
		        </tr>
		        <tr>
		            <td style="width:20em;">Did polling officials mark the cuticle on a left finger of every accredited voter?</td>
		            <td style="width:20em;">Was anyone permitted to vote who didn't have a voter’s card?</td>
		            <td style="width:20em;">Did polling officials mark the cuticle on a left finger of every accredited voter?</td>
		            <td style="width:20em;">Did polling officials check for every voters name in the register of voters?</td>
		        </tr>
		    </tbody>
		</table>​
    </div>
  </div>
    <div class="row-fluid">
	  <div class="span12">
	      <table class="" cellspacing="80">
		    <thead>
		    	<h4 class="well">Numeric Questions</h4>	
		        <tr>
		            <th>CC</th>
		            <th>CS</th>
		            <th>EA</th>
		            <th>EJ</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td><strong>N </strong>600</td>
		            <td><strong>N </strong>585</td>
		            <td><strong>N </strong>303</td>
		            <td><strong>N </strong>567</td>
		        </tr>
		        <tr>
		            <td><strong>n </strong>404</td>
		            <td><strong>n </strong>377</td>
		            <td><strong>n </strong>484</td>
		            <td><strong>n </strong>390</td>
		        </tr>
		        <tr style="width:60em;">
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [1000, 800];
					        colors = ["#39e639","#ff0d00"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        pie.render();
					    </script>
		            </td>
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [4498, 477];
					        colors = ["#39e639","#ff0d00"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        pie.render();
					    </script>
		            </td>
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [747, 292];
					        colors = ["#39e639","#ff0d00"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        pie.render();
					    </script>
		            </td>
		            <td>
		            	<script type="text/javascript+protovis">
					        width = 250,
					        height = 200,
					        offset = 10,
					        r = width/2 - offset;
					        data = [282, 4000];
					        colors = ["#39e639","#ff0d00"];

					        var pie = new pv.Panel().width(width).height(height);
					            pie.add(pv.Wedge)
					            .data(pv.normalize(data))
					            .outerRadius(70)
					            .angle(function(d) d * 2 * Math.PI)
					            .left(70)
					            .top(70)
					            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
					            .anchor("center")
					            .add(pv.Label)
					            .textAngle(0)
					            .text(function(d){ return (d*100).toFixed(0) + "%"});
					            
					        pie.render();
					    </script>
		            </td>       
		        </tr>
		        <tr>
		            <td class="td_width">How many polling officials were present?</td>
		            <td class="td_width">How many political party agents were present?</td>
		            <td class="td_width">How many people were accredited?</td>
		            <td class="td_width">Number of voters on the Register.</td>
		        </tr>
		    </tbody>
		</table>​
	 </div>
  </div>
{% endblock %}