{% extends "core/layout.html" %}
{% block content %}

<div class="row">
  <div class="span12">
    <form class="form-horizontal well" action="" method="" accept-charset="utf-8">
      <select class="">
          <option disabled selected style='display:none;'>- - Province - -</option>
          <option>All</option>
        </select>
        <select class="">
          <option disabled selected style='display:none;'>- - Select Province - -</option>
          <option>All</option>
        </select>   
        <select class="">
          <option disabled selected style='display:none;'>- - Sample - -</option>
          <option>All</option>
        </select class="">                 
        <button class="btn btn-danger" type="submit">Filter</button>
        <button class="btn btn-info" type="submit">Reset</button>
      </select>
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well">
    <legend>Setup</legend>
    <div id="setup">
    </div>
  </div>
  <div class="span6 well">
    <legend>Voting</legend>
    <div id="voting">
      
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well">
    <legend>Counting</legend>
    <div id="counting">
      
    </div>
  </div>
  <div class="span6 well">
    <legend>Closing</legend>
    <div id="closing">
      
    </div>
  </div>
</div>
{% endblock %}