<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <a class="brand" href="#">Apollo</a>
          <ul class="nav pull-right">
            <li class="active"><a href="#">Dashboard</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><i class="icon-th-large"></i> Elections<b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                <li class=""><a href="#">Submission list</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-book"></i> Contacts</a></li>
            <li class="divider-vertical"></li>
            <li><button class="btn btn-default">logout</button></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <legend>Dashboard</legend>
          <form class="form-horizontal well" action="" method="POST" accept-charset="utf-8">
            <select class="">
                <option disabled selected style='display:none;'>- - Province - -</option>
                <option>All</option>
              </select>
              <select class="">
                <option disabled selected style='display:none;'>- - Select Province - -</option>
                <option>All</option>
              </select>   
              <select class="">
                <option disabled selected style='display:none;'>- - Sample - -</option>
                <option>All</option>
              </select class="">                 
              <button class="btn btn-danger" type="submit">Filter</button>
              <button class="btn btn-info" type="submit">Reset</button>
            </select>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="span5 well">
          <legend>Setup</legend>
          <div class="progress">
            <div class="bar bar-success" style="width: 30%;"></div>
            <div class="bar bar-warning" style="width: 50%;"></div>
            <div class="bar bar-danger" style="width: 20%;"></div>
          </div>
          <legend>Voting</legend>
          <div class="progress">
            <div class="bar bar-success" style="width: 30%;"></div>
            <div class="bar bar-warning" style="width: 50%;"></div>
            <div class="bar bar-danger" style="width: 20%;"></div>
          </div>
          <legend>Couting</legend>
          <div class="progress">
            <div class="bar bar-success" style="width: 30%;"></div>
            <div class="bar bar-warning" style="width: 50%;"></div>
            <div class="bar bar-danger" style="width: 20%;"></div>
          </div>
          <legend>Closing</legend>
          <div class="progress">
            <div class="bar bar-success" style="width: 30%;"></div>
            <div class="bar bar-warning" style="width: 50%;"></div>
            <div class="bar bar-danger" style="width: 20%;"></div>
          </div>
        </div>
        <div class="span6 well">
          <legend>Maps</legend>
        </div>
      </div>
      <div class="footer">
        <footer>copyright 2012</footer>
      </div>
    </div>
  </body>
</html>
