{% extends "core/layout.html" %}
{% block title %}<title>Submission List</title>{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <legend>Submission list</legend>
    <form class="form-inline well" action="">
        <input type="text" class="" placeholder="Monitor ID">
        <input type="text" class="" placeholder="Date">
        <input type="text" class="span4" placeholder="Location">
        <input type="text" class="span3" placeholder="PDID"><br>
        <select class="">
          <option disabled selected style='display:none;'>- - Setup Status - -</option>
          <option>All</option>
        </select>
        <select class="">
          <option disabled selected style='display:none;'>- - Voting Status - -</option>
          <option>All</option>
        </select>   
        <select class="">
          <option disabled selected style='display:none;'>- - Closing Status - -</option>
          <option>All</option>
        </select> 
        <select class="">
          <option disabled selected style='display:none;'>- - Counting Status - -</option>
          <option>All</option>
        </select>
        <select class="">
          <option disabled selected style='display:none;'>- - EZ ID Match Status - -</option>
          <option>All</option>
        </select><br>
        <button class="btn btn-info" type="submit">Filter</button>
        <button class="btn btn-danger" type="submit">Reset</button>
        <button class="btn btn-success" type="submit">SMS</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped well">
      <thead >
        <tr>
          <th>Monitor ID</th>
          <th>Province</th>
          <th>District</th>
          <th>Polling Station</th>
          <th>Supervisor</th>
          <th>Monitor</th>
          <th>S</th>
          <th>V</th>
          <th>Cl</th>
          <th>Co</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="sub_edit.html">Edit</a></td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
        <tr>
          <td>10014</td>
          <td>Lagos</td>
          <td>Ikeja</td>
          <td>Ajanaku</td>
          <td>Joy Okomowho</td>
          <td>Peter Okoye</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="pagination pagination-centered">
      <ul>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">6</a>
        </li>
        <li>
          <a href="#">7</a>
        </li>
        <li>
          <a href="#">8</a>
        </li>
        <li>
          <a href="#">>></a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}