{% extends "core/layout.html" %}{% load apollo %}{% load bootstrap_pagination %}
{% block content %}
<div class="row">
  <div class="span12">
    {% submission_filter form %}
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered table-hover">
      <thead >
        {% submission_header form %}
      </thead>
      <tbody>
        {% submission_items submissions form %}
      </tbody>
    </table>
  </div>
</div>

{% if is_paginated %}
<div class="row">
  <div class="span12">
  {% bootstrap_paginate page_obj range=10 %}
  </div>
</div>
{% endif %}

{% endblock %}