<tr>
    <th>Monitor ID</th>
    <th>Date</th>
    {% for location_type in location_types %}
    <th>{{ location_type.name }}</th>
    {% endfor %}
    <th>Supervisor</th>
    <th>Monitor</th>
    {% if form.type == 'CHECKLIST' %}
    {% for group in form_groups %}
    <th style="text-align:center">{% if group.abbr %}<abbr title="{{ group.name }}">{{ group.abbr }}</abbr>{% else %}{{ group.name }}{% endif %}</th>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <th style="text-align:center">{{ field.tag }}</th>
    {% endfor %}
    {% endif %}
    <th style="text-align:center">Edit</th>
</tr>