{% extends "core/layout.html" %}{% load apollo %}{% load bootstrap_pagination %}
{% block content %}
<div class="row">
  <div class="span12">
    <div class="well" style="padding-bottom:0">
      <form action="" method="post" id="filter">
        {% csrf_token %}
      <div class="controls controls-row">
        <input class="span2" type="text" name="monitor" placeholder="Monitor ID">
        <input class="span2" type="text" name="date" placeholder="Date">
        <input class="span5" type="text" name="location" class="input-xlarge" placeholder="Location">
      </div>
      <div class="controls controls-row">
        <select class="span2" name="setup">
          <option>Setup Status</option>
          <option>Setup Partial</option>
          <option>Setup Missing</option>
          <option>Setup Complete</option>
        </select>
        <select class="span2" name="voting">
          <option>Voting Status</option>
          <option>Voting Partial</option>
          <option>Voting Missing</option>
          <option>Voting Complete</option>
        </select>
        <a type="submit" class="span1 btn btn-warning" href="javascript:document.getElementById('filter').submit();"><i class="icon-search icon-white"></i> Search</a>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered table-hover">
      <thead >
        {% submission_header form %}
      </thead>
      <tbody>
        {% submission_items submissions form %}
      </tbody>
    </table>
  </div>
</div>

{% if is_paginated %}
<div class="row">
  <div class="span12">
  {% bootstrap_paginate page_obj range=10 %}
  </div>
</div>
{% endif %}

{% endblock %}