{% load apollo %}{% load static %}
{% for submission in submissions %}
<tr>
    <td>{{ submission.observer.observer_id }}</td>
    <td>{{ submission.date|date:"D j-M" }}</td>
    {% for location_type in location_types %}
    <td>{% get_location_for_type submission location_type %}</td>
    {% endfor %}
    <td>{{ submission.observer.supervisor.name }}</td>
    <td>{{ submission.observer.name }}</td>
    {% for group in form_groups %}
    <td style="text-align:center">
        {% if submission|is_complete:group %}<img src="{% static "img/tick.png" %}" title="complete" alt="complete" />
        {% elif submission|is_partial:group %}<img src="{% static "img/caution.png" %}" title="partial" alt="partial" />
        {% elif submission|is_missing:group %}<img src="{% static "img/red_dot.png" %}" title="missing" alt="missing" />
        {% endif %}
    </td>
    {% endfor %}
    <td style="text-align:center"><a href="{% url submission_edit submission.pk %}">Edit</a></td>
</tr>
{% empty %}
{% with location_types|length|add:"5" as lt_count %}
{% with form_groups|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">No Data Available</td>
</tr>
{% endwith %}
{% endwith %}
{% endfor %}