{% extends "core/layout.html" %}
{% block title %}Submission Edit{% endblock %}

{% block content %}
  <style type="text/css">
    .options {
      display: block;
      margin-top: 0.5em;
    }
  </style>
  <div class="row">
    <div class="span12">
      <h2>Submission Edit</h2>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr><th>&nbsp;</th><th>A</th></tr>
          <tr><th>Monitor</th><td>Joy Okomowho (08034920032)</td></tr>
          <tr><th>Location</th><td>Opebi</td></tr>
          <tr><th>Supervisor</th><td>Greg Emuze (07033049258)</td></tr>
        </thead>
      </table>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td colspan="2">&nbsp;</td><td style="text-align:center"><strong>A</strong></td><td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4"><h4>Setup</h4></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td colspan="4"><h4>Voting</h4></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td colspan="4"><h4>Counting</h4></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
          <tr>
            <td>AA</td>
            <td>What time did the polling station open?<span class="options">Before 6am <strong>(1)</strong> At 6am <strong>(2)</strong> Between 6am &amp; 7am <strong>(3)</strong> Between 7am &amp; 8am <strong>(4)</strong> After 8am <strong>(5)</strong></span></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
            <td style="text-align:center"><input class="input-mini" type="text" name="bla" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="offset8 span2">
      <button class="btn btn-info btn-large btn-block">Save</button>
    </div>
    <div class="span2">
      <button class="btn btn-large btn-block">Cancel</button>
    </div>
  </div>

  <div class="row">
    <p>&nbsp;</p>
  </div>
{% endblock %}
