{% load webapp_tags %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="/assets/css/ui-lightness/style.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/facebox.css" />
<script src="/assets/js/application-min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/handlebars.1.0.0.beta.3.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/webapp/models.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/webapp/collections.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/webapp/views.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/webapp/routers.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/zambia/models.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/zambia/collections.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/zambia/views.js" type="text/javascript" charset="utf-8"></script>
{% if context_instance.settings.ZAMBIA_DEPLOYMENT == 'RRP' %}
<script src="/static/zambia/rrp_views.js" type="text/javascript" charset="utf-8"></script>
{% else %}
<script src="/static/zambia/general_views.js" type="text/javascript" charset="utf-8"></script>
{% endif %}
<script src="/static/zambia/routers.js" type="text/javascript" charset="utf-8"></script>
{% app_templates context_instance %}
<script type="text/javascript" charset="utf-8">
	$(function() {
		new WebappRouter();
		new ZambiaRouter();
		Backbone.history.start();
	});
	var setup = {complete: 1000, missing: 200, partial: 400};
	 data = [[setup.complete], [setup.missing], [setup.partial]];
	 max = data.reduce(function (x, y) { return x + y[0]; }, 0);
	    w = 400;
	    h = 25;
</script>
<style type="text/css" media="screen">
	.chart_data { width: 625px; font-size: 1.8em;margin-bottom:1.4em;}
	.chart_data span {font-weight:bold;}
	.data_missing { color: red;}
	.data_partial { color: gold;}
	.data_complete { color: green;}
</style>
</head>
<body>
<div id="wrapper">
	<div id="header">
{% if context_instance.settings.ZAMBIA_DEPLOYMENT == 'RRP' %}
		<div id="logo"><a href="#"><img src="/assets/images/logo_csec_rrp.png" alt="" /></a></div>
{% else %}
		<div id="logo"><a href="#"><img src="/assets/images/logo_csec.png" alt="" /></a></div>
{% endif %}
			<div id="navigation" > 
				<div class="menu-main-menu-container">
					<ul id="dropmenu" class="menu">
						<li><a href="#">Dashboard</a></li> 						
						<li><a href="#!/elections/checklists">Elections</a>
							<ul class="sub-menu"> 
								<li><a href="#!/elections/checklists">Checklists</a></li>
								<li><a href="#!/elections/incidents">Incidents</a></li> 
								{% if perms.webapp.can_analyse %}
								<li><a href="#!/elections/process_analysis">Process Analysis</a></li> 
								<li><a href="#!/elections/results_analysis">Results Analysis</a></li> 
								{% endif %}
							</ul> 
						</li> 		
						<li><a href="#!/contacts">Contacts</a></li>
						<li><a href="/accounts/logout/">Sign Out</a></li> 
					</ul>
				</div><!-- /dropmenu --> 
			</div><!-- /navigation -->
			<div style="position: fixed; width: 280px; height: 200px; margin-top: -100px; margin-left: -140px; left: 50%; top: 50%; display:none" id="throbber"></div>
	</div><!--/header-->
	<div id="container">
		<div class="page-title">
			<div class="page-title-content">
				<div class="page-title-info left">
					<h1>Page Title</h1>
				</div>
				<div class="page-title-link">
					<a href="#">Back to Dashboard &raquo;</a>
				</div>
				<p class="clr"></p>
			</div><!--/page-title-content-->
		</div><!--/page-title-->
		<div class="full_width_content">
			Page Contents
		</div><!--/full_width_content-->
	</div><!--/container-->
	<div id="footer">
		<div class="footer_bottom">
			<div class="copyright">
				&copy; Copyright 2011
			</div><!--/copyright-->
			</div><!--/footer_bottom-->
	</div><!--/footer-->
</div><!--/wrapper-->
</body>
</html>