<script type="text/x-handlebars-template" id="screen-dashboard-template" charset="utf-8">
	<div class="page-title">
		<div class="page-title-content">
			<div class="page-title-info left">
				<h1>{{title}}</h1>
			</div>
			<p class="clr"></p>
		</div>
	</div>
	<div class="full_width_content">
		{{safe content}}
	</div>
</script>
<script type="text/x-handlebars-template" id="screen-template" charset="utf-8">
	<div class="page-title">
		<div class="page-title-content">
			<div class="page-title-info left">
				<h1>{{title}}</h1>
			</div>
			<div class="page-title-link">
				<a href="#">Back to Dashboard &raquo;</a>
			</div>
			<p class="clr"></p>
		</div>
	</div>
	<div class="full_width_content">
		{{safe content}}
	</div>
</script>
<script type="text/x-handlebars-template" id="message-search-template" charset="utf-8">
	<div class="search_pane_dashboard">
		<form id="search">
		<div class="input_el"><input type="text" name="phone" class="input_smoke search_field" placeholder="Phone Number" id="search_connection__identity__endswith" pattern=".*[0-9]" title="Numeric figures only"></div>
		<div class="input_el"><input type="text" name="text" class="input_smoke search_field" placeholder="Text" id="search_text__contains"></div>
		<div class="input_el">
			<span class="btn_blue btn_space"><input type="submit" name="submit" value="Search" class="search_btn"><span>&nbsp;</span></span><span class="btn_gray"><a href="javascript:;" id="form_reset">Reset</a><span>&nbsp;</span></span>
		</div>
		</form>
		<div class="clear"></div>
	</div>
</script>
<script type="text/x-handlebars-template" id="message-header-template" charset="utf-8">
	<tbody>
		<tr><th width="144"><a href="javascript:;" class="sortable_column" id="sort_contact">Contact</a></th><th width="192"><a href="javascript:;" class="sortable_column" id="sort_connection">Connection</a></th><th width="96"><a href="javascript:;" class="sortable_column" id="sort_direction">Direction</a></th><th width="144"><a href="javascript:;" class="sortable_column" id="sort_date">Date</a></th><th width="384">Text</th></tr>
	</tbody>
</script>
<script type="text/x-handlebars-template" id="message-template" charset="utf-8">
	<td>{{#if contact}}{{contact.attributes.name}}{{else}}&nbsp;{{/if}}</td><td><strong>{{connection.attributes.identity}}</strong> ({{connection.attributes.backend.attributes.name}})</td><td>{{direction}}</td><td>{{date}}</td><td>{{text}}</td>
</script>
<script type="text/x-handlebars-template" id="message-empty-template" charset="utf-8">
	<tr><td colspan="5" class="empty"><em>No messages to display</em></td></tr>
</script>
<script type="text/x-handlebars-template" id="sms-blaster-template" charset="utf-8">
	<div id="sms">
		<table>
			<tr><th valign="top">Message</th><td><textarea name="message" class="message" rows="5" cols="40"></textarea></td></tr>
			<tr><th>&nbsp;</th><td><span class="btn_yellow" id="send_btn_wrapper"><input type="button" name="send_btn" id="send_btn" value="Send"><span>&nbsp;</span></span> <img src="/assets/images/fb_loader.gif" id="send_indicator" height="11" width="16" style="margin-left:8px;margin-top:7px;display:none" /> <span id="send_status" style="background-color:#FDFFB5;font-weight:bold;padding:3px;margin-top:3px;margin-left:8px;display:none;"></span></td></tr>
		</table>
	</div>
</script>
<script type="text/javascript" charset="utf-8">
	Handlebars.registerHelper('safe', function (text) {
		if (text) {
			return new Handlebars.SafeString(text);
		}
	});
	
	Templates = (typeof(Templates) == 'undefined') ? {} : Templates;
	Templates.Screen = Handlebars.compile($('#screen-template').html());
	Templates.DashboardScreen = Handlebars.compile($('#screen-dashboard-template').html());
	Templates.MessageSearch = Handlebars.compile($('#message-search-template').html());
	Templates.Message = Handlebars.compile($('#message-template').html());
	Templates.MessageEmpty = Handlebars.compile($('#message-empty-template').html());
	Templates.MessageHeader = Handlebars.compile($('#message-header-template').html());
	Templates.SMSBlaster = Handlebars.compile($('#sms-blaster-template').html());
</script>