<script type="text/x-handlebars-template" id="screen-template" charset="utf-8">
	<div id="container">
		<div class="page-title">
			<div class="page-title-content">
				<div class="page-title-info left">
					<h1>{{title}}</h1>
				</div>
				<div class="page-title-link">
					<a href="#home">Back to Dashboard &raquo;</a>
				</div>
				<p class="clr"></p>
			</div>
		</div>
		<div class="full_width_content">
			{{content}}
		</div>
	</div>
</script>
<script type="text/javascript" charset="utf-8">
	Templates = (typeof(Templates) == 'undefined') ? {} : Templates;
	Templates.Screen = Handlebars.compile($('#screen-template').html());
</script>