/******************* CSS Reset *******************/

a, abbr, acronym, address, applet, area, b, base, basefont, bdo, big, blockquote, body, br, button, caption, center, cite, code, col, colgroup, dd, del, dir, div, dfn, dl, dt, em, fieldset, font, form, frame, frameset, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, input, ins, isindex, kbd, label, legend, li, link, map, menu, noframes, noscript, object, ol, optgroup, option, p, param, pre, q, s, samp, select, small, span, strike, strong, style, sub, sup, table, tbody, td, textarea, tfoot, th, thead, tr, tt, u, ul, var {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	background:none;
}
ol, ul {
	list-style:none;
}
h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}
blockquote, q {
	quotes:none;
}
q:before, q:after {
	content: '';
}
table.datagrid {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}

table.datagrid th {
    padding: 1em 0.5em;
}

.datagrid tr:first-child {
    border-bottom: solid 2px #888;
}

.datagrid tr {
    border-bottom: 1px dashed #D3DAD9;
}

.datagrid tr:nth-child(2n+1) {
    background-color: #eee;
}

.datagrid tr:hover {
    background-color: #fff;
}

.datagrid tr:last-child {
    border-bottom: 0;
}

.datagrid th {
    text-align: left;
    border-right: whiteSmoke 5px solid;
}

.datagrid td {
    padding: 0.8em;
}

table.datagrid img {padding:0;}
table.datagrid th img {margin-left:0.5em;}

.datagrid td.empty {text-align:center;padding:2em;}

/******************* General Settings *******************/
html,body {
	height:100%;
	background:#f5f5f5;
	color:#717171;
	font-size:11px;
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	border-top:2px solid #ffa500;
}

input, textarea, select {
	font-size:11px;
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}
form, fieldset {
	border-style:none;
}
a {
	color:#7193b2;	
	text-decoration:none;
}
.left {
	float:left;
}	
.right {
	float: right;
}
.clr {
	height:0;
	font-size:0;
	clear:both;
}
p{
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#717171;
	line-height:21px;
}

h1, h2, h3, h4, h5, h6 { 
	padding-bottom:12px; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-style:italic; 
	font-weight:normal; 
	color:#000;
}
h1 {
	font-size:22px; 
	line-height: 26px;
}
h2 {
	font-size:20px; 
	line-height: 24px;
}
h3 {
	font-size:18px; 
	line-height: 22px;
}
h4 {
	font-size:16px; 
	line-height: 20px;
}
h5 {
	font-size:14px; 
	line-height: 18px;
}
h6 {
	font-size:12px; 
	line-height: 16px;
}

#wrapper {
	width:960px; 
	margin:0 auto;
}
#container {
	width:100%;
}
#container h1.page_title {
	padding:30px 0; 
	border-bottom:1px dashed #d3dad9;
}
#container h1.page_title span, #container h1.page_title a {
	color:#7193b2;
}

.page-title {
	width:100%;
	border-bottom:1px dashed #d3dad9;
}
.page-title-content {
	width:960px;
	margin:0 auto;
}
.page-title-info { 
	width:840px; 
}
.page-title-info h1 {
	padding:20px 0
}
.page-title-info span {
	font-size:16px;
	color:#7193b2;
}
.page-title-link {
	padding:26px 0px 0px 0px;
	color:#7193b2;
	float: right;
	line-height:18px;
	font-size:11px; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-style:italic; 
}

.clear { font-size:1px;line-height:1px;height:1px;clear:both;margin:0px;padding:0px; }

/******************* Header *******************/

#header {
	width:100%; 
	height:115px; 
	border-bottom:1px dashed #d3dad9;
}
#logo {
	width:155px; 
	height:29px; 
	float:left; 
	margin-top:38px;
}
#menu {
	width:500px; 
	float:right; 
	height:31px; 
	margin-top:41px;
}
#menu ul {
	float:right;
}
#menu ul li {
	float:left; 
	margin:0 15px 0 23px; 
	line-height:31px; 
	font-size:13px; 
	display:inline;
}
#menu ul li a:hover {
	color:#000;
}
#navigation {
	float:right;
	margin-top:16px;
}
#dropmenu, #dropmenu ul {
	margin:0;
	padding:0px;
	list-style:none;
	position:relative;
	z-index:300;
	width:100%;
	font-size:13px;
}
#dropmenu li a {
    color: #a9a9a9;
}
#dropmenu li li a {
    color:#a9a9a9;
}
#dropmenu a {
	display:block;
	color:#a9a9a9;
	padding:34px 22px;
	text-decoration:none;
}
#dropmenu li li a {
	background:url(../images/dividerrpt.png) no-repeat 16px bottom;
}
#dropmenu li a:hover {
	padding:34px 22px;
	color:#000;
}
#dropmenu li {
	float:left;
	position:relative;
}
#dropmenu ul {
	position:absolute;
	margin:10px 0 0 0px;
	display:none;
	width:16em;
	top:59px;
	left:-1px;
}
#dropmenu ul a {
	padding:10px;
}
#dropmenu li ul {
	width:16em;
	margin-top:3px;
	background:url(../images/subsubrpt.png) no-repeat  0px  0px ;
	padding-top:14px;
}
#dropmenu li ul  ul{
	width:16em;
	margin-top:3px;
	background:url(../images/subsubrpt_sub.png) no-repeat  0px 0px ;
	padding-top:14px;
}
#dropmenu li ul a {
	width:14.9em;
	height:auto;
	float:left;
}
#dropmenu ul ul {
	top:auto;
}
#dropmenu li ul ul {
	left:16em;
	margin:0 0 0 0px;
	top:0em;
}
#dropmenu li ul a:hover, #dropmenu li.current_page_item a {
	color:#000;
}
#dropmenu li.current_page_item ul li a {
	background:#fff;
}
#dropmenu li a.active {
    color: #000;
}
#dropmenu li ul li a:hover {
	padding:10px 10px;
	color:#000;
}
#dropmenu li a span {
	position: absolute;
	right:0px;
}
.sub-menu li a {
	font-size:12px !important;
	padding-left:15px !important;
	padding-right:15px !important;
}
#dropmenu li:last-child a{
	background: none;
}
#dropmenu li a span .firstlabel {
	display:none;
}
#dropmenu li a:hover span .firstlabel {
	display: none;
}
.sub-menu li {
    background: none repeat scroll 0 0 #fff;
}

/******************* Slider *******************/

.banner_home {
	width:100%; 
	overflow:hidden;
}
.banner_home h1 {
	text-align:center; 
	padding:0 0 30px 0;
	border-bottom:1px dashed #d3dad9;
	margin-bottom: 10px;
}
.banner_home h1 span {
	color:#7193b2;
}
.banner_inner {
	width:100%; 
	height:360px; 
	padding-top:30px; 
	padding-bottom:30px; 
	background:url(../images/banner_bg.png) bottom no-repeat; 
	position:relative;
}

.#easySlider {
 clear: both;
 margin: 0 auto;
 position: relative;
 width:960px;
}
.container_slider {
	width:100%;
	height:360px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
}
.slides {
	left:0;
	top:0;
	position:absolute;
}
.slides > div.slide {
	display: none;
	position: absolute;
	top: 0;
	width: 960px;
}
ol#controls {
	height:10px;
	width:180px;
	overflow:hidden;
	position:absolute;
	left:22px;
	bottom:22px;
}
ol#controls li {
	float:left;
	margin-right:8px;
	height:10px;
}
ol#controls li a {
	text-indent:-999999px;
	width:10px;
	height:10px;
	background:url(../images/banner_list.png) no-repeat;
	display:block;
}
ol#controls li a:hover {
	background:url(../images/banner_list_hover.png) no-repeat;
}
ol#controls li.current a {
	background:url(../images/banner_list_hover.png) no-repeat;
}


/******************* Home Page Content *******************/

.home_content {
	width:100%; 
	overflow:hidden; 
	margin-top: -25px;
}
.home_content h4, .latest_project h4 {
	color:#000; 
	padding-bottom:10px;
}
.free_quote {
	margin:0 auto; 
	padding:5px 10px; 
	border-bottom:1px dashed #d3dad9;
	margin-bottom:20px;
}
.free_quote h5 {
	padding:7px 0; 
	margin:0;
}
.free_quote h5 span {
	color:#7193b2;
}
.free_quote img {
	float:right; 
	margin:0; 
	padding:0px 0 10px 0;
}
.project_block, .blog_block {
	width:100%; 
	overflow:hidden; 
	padding:20px 0 30px 0;
}
.project_info, .blog_info1  {
	width:225px; 
	float:left; 
	padding-right:25px; 
	display:inline;
}
a.view_port , a.read_blog{
	background:#ffde00; 
	padding:0 16px; 
	line-height:20px; 
	margin-top:25px; 
	display:block; 
	color:#000; 
	font-size:11px; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-style:italic; 
	width:123px;
}
.portfolio_grid_item , .blog_grid {
	width:220px; 
	float:left; 
	margin-right:25px; 
	display:inline; 
	background:#fff;
}
.last {
	margin-right:0;
}
.portfolio_grid_item img , .blog_grid img{
	padding-bottom:0px;
}
.portfolio_grid_item p, .blog_grid p {
	font-size:13px; 
	line-height:16px;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-style:italic;	
	padding:10px 15px 10px 15px;
}
.portfolio_grid_item ul, .blog_grid ul {
	padding:0 15px; 
	overflow:hidden;
}
.portfolio_grid_item ul li, .blog_grid ul li {
	float:left; 
	color:#717171; 
	line-height:14px; 
	font-style:italic;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px;	
	padding-bottom:15px;
}
.portfolio_grid_item ul li a, .portfolio_list_item ul li a, .blog_grid ul li a {
	color:#a9a9a9; 
	padding:0 1px;
}
.portfolio_grid_item ul li a:hover , .portfolio_list_item ul li a:hover, .blog_grid ul li a:hover {
	color:#7193b2;
}
.portfolio_grid_item p a, .blog_grid p a {
	color:#000; 
	padding:0 1px;
}
.portfolio_grid_item p a:hover , .blog_grid p a:hover {
	color:#7193b2;
}

.portfolio_grid_item a.image {
	display: block; 
	position: relative; 
	width: 220px; 
	height: 160px;  
	background: #000;
} 
.portfolio_grid_item span.rollover {
	display: none; 
	position: absolute; 
	width: 220px; 
	height: 160px;  
	top:0; 
	left:0; 
	background: #000 url(../images/zoom.png) center no-repeat; 
	filter:alpha(opacity=50); 
	opacity: 0.5; 
	-moz-opacity:0.5;
}
.portfolio_grid_item:hover span.rollover {
	display: block;
}
.aboutus_block {
	width:100%; 
	padding:30px 0 20px 0; 
	overflow:hidden;
}
.about_column1 {
	width:225px; 
	float:left; 
	padding-right:25px;
}
.about_column2 {
	width:220px; 
	float:left; 
	padding-right:25px;
}
.testimonial {
	width:220px; 
	float:left; 
	padding-right:0;
}
.testimonial p {
	padding:10px 15px 30px 15px;
	color:#000; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px;
	line-height:16px;
	font-style:italic;
	background:#fff url(../images/folks_bg.png) bottom right no-repeat;
}
.testimonial span {
	text-align:right; 
	padding:0 0 7px 0; 
	color:#717171; 
	font-size:11px; 
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	display:block;
}
.testimonial a {
	color:#717171;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;	
	font-size:11px; 
	text-align:right; 
	font-style:italic; 
	display:block;
}

/******************* Portfolio Page Content *******************/

.inner_page_container {
	width:100%; 
	overflow:hidden; 
	padding:30px 0 0;
}
.portfolio_sidebar {
	width:177px; 
	background:#fff; 
	float:left; 
	margin-left:25px; 
	display:inline; 
	padding:25px 24px 3px;
}
.latest_project {
	padding:0 0 18px 0;
}
.filter_work, .view_work {
	width:100%; 
	border-top:1px dashed #d3dad9; 
	padding:20px 0;
}
.filter_work h6, .view_work h6 {
	color:#717171; 
	padding-bottom:6px;
}
.portfolio_sidebar ul {
	padding-left:15px;
}
.portfolio_sidebar ul li {
	line-height:21px; 
	color:#717171; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-style:italic;
}
.portfolio_sidebar ul li a {
	color:#717171;
}
.portfolio_sidebar ul li a:hover, .portfolio_sidebar ul li a.active_work {
	color:#000;
}
.portfolio_content {
	width:710px; 
	float:left;
}
.portfolio_grid {
	width:100%; 
	padding-bottom:30px; 
	overflow:hidden;
}
.portfolio_list { 
	width:100%; 
	margin-bottom:30px; 
	background:#fff;
}
.portfolio_list_item {
	padding:21px 22px; 
	overflow:hidden;
}
a.portfolio_list_item_title {
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:16px; 
	font-style:italic; 
	color:#000;
	padding:0 0 10px; 
}
a.portfolio_list_item_title:hover {
	color:#7193b2;
}
.portfolio_list_item ul {
	padding:10px 0 0 0; 
	overflow:hidden; 
	width:100%;
}
.portfolio_list_item ul li {
	float:left; 
	color:#717171; 
	line-height:14px; 
	font-style:italic;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px;	
	padding-bottom:10px;
}

/******************* Sidebar Left Page *******************/

.page_rightsidebar_container {
	width:100%; 
	padding:30px 0; 
	overflow:hidden;
}
.page_rightsidebar_content {
	width:690px; 
	float:left;
}
.col_block {
	width:100%; 
	overflow:hidden; 
	padding-bottom:15px;
}
.col_layout {
	padding:0 18px 0 0; 
	overflow:hidden; 
	float:left; 
	display:inline;
}
.col_layout h4 {
	padding:0 0 16px; 
}
.col_block1 {
	width:318px;
}
.col_block2 {
	width:204px;
}
.col_block3 {
	width:140px;
}
.col_block4 {
	width:433px;
}
.page_rightsidebar_sidebar {
	margin-top:0px!important;
}

/******************* Full Width Page ***************************/

.full_width_content {
	width:100%; 
	overflow:hidden; 
	margin-top:30px;
}
.full_width_content p {
	padding-bottom:25px;
}
.separator {
	border-bottom:1px dashed #d3dad9; 
	margin-bottom:25px;
}
.full_width_content p.quote {
	padding:5px 0 15px 75px; 
	background:url(../images/quotation.png) 25px top no-repeat; 
	color:#717171; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	font-style:italic;
}
ul.box_style li {
	background:#fff; 
	width:100%; 
	margin-bottom:25px; 
	height:40px;
}
ul.box_style li a {
	padding-left:74px; 
	color:#717171; 
	display:block; 
	height:40px; 
	line-height:40px;
}
ul.box_style li.style1 a {
	background:url(../images/style1.png) 25px 8px no-repeat;
}
ul.box_style li.style2 a {
	background:url(../images/style2.png) 25px 8px no-repeat;
}
ul.box_style li.style3 a {
	background:url(../images/style3.png) 25px 8px no-repeat;
}
ul.box_style li.style4 a {
	background:url(../images/style4.png) 25px 8px no-repeat;
}
.style_list {
	width:100%; 
	overflow:hidden; 
	padding-bottom:25px;
}
.style_list div {
	width:299px; 
	float:left;
}
.style_list ul {
	margin-left:25px;
}
.style_list ul li, .style_list ol li {
	margin-bottom:12px; 
	color:#717171;
}
.list2 {
	margin:0 30px; 
	display:inline;
}
.list1 ul li {
	padding-left:21px; 
	background:url(../images/list1.png) left center no-repeat;
}
.list2 ul li {
	padding-left:12px; 
	background:url(../images/list2.png) left center no-repeat;
}
.style_list ol {
	list-style-type:decimal; 
	margin-left:45px;
}
.price_table { 
	width:957px; 
	padding:7px 0 54px; 
	overflow:hidden;
}
.price_wrapper {
	width:956px; 
	padding-left:1px; 
	background:url(../images/price_box_bg.png) right repeat-y;
}
.price_bottom {
	width:956px; 
	padding-left:1px; 
	height:9px; 
	font-size:0; 
	background:url(../images/price_box_bottom.png) right no-repeat;
}
.price_box {
	width:239px; 
	float:left; 
	position:relative;
}
.price_box h1 {
	position:relative; 
	width:239px; 
	height:60px; 
	line-height:60px; 
	text-align:center; 
	margin-top:-7px;
}
.price_box h1 a {
	background:url(../images/price_box_top.png) no-repeat; 
	display:block; 
	color:#fff;
}
.price_box h1 a:hover {
	background:url(../images/price_box_top_hover.png) no-repeat;
}
.price_box ul {
	width:187px; 
	margin:0 auto;
}
.price_box ul li {
	line-height:47px; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:13px; 
	font-style:italic; 
	text-align:center; 
	border-bottom:1px dashed #d3dad9;
}
.price_box ul li.price_last {
	border:none;
}
.price_box ul li a {
	color:#717171;
}
.price_box ul li a:hover {
	color:#000;
}
.price_box p.price {
	text-align:center; 
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size:38px; 
	font-style:italic; 
	color:#ea3a3a; 
	padding:10px 0 30px;
}
.price_box a.join_now {
	width:80px; 
	height:30px; 
	position:relative; 
	margin:0 auto; 
	margin-bottom:-23px; 
	display:block; 
	line-height:30px; 
	text-align:center; 
	background:url(../images/join_btn.png) no-repeat; 
	color:#000; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	font-style:italic;
}

.columns_content_inner {
	width:100%; 
	overflow:hidden; 
	margin-bottom:25px;
}
.columns_content_inner p {
	padding-bottom:0 !important;
}
.columns_content_inner .col_block1 {
	width:462px;
}
.columns_content_inner .col_block2 {
	width:302px;
}
.columns_content_inner .col_block3 {
	width:222px;
}
.columns_content_inner .col_block4 {
	width:622px;
}


/******************* Blog *******************/

.blog_content, .contact_content {
	width:665px; 
	float:left; 
	display:inline; 
	margin-right:25px;
}
.blog_content_block, .contact_content_block {
	width:100%; 
	background:#fff; 
	padding-bottom:30px;
}
.contact_content_block {
	margin-bottom:30px;
}
.blog_content_inner, .contact_content_inner {
	width:100%; 
	margin-top:30px; 
	position:relative;
}
.blog_info, .contact_info {
	width:615px; 
	background:#fff; 
	padding:16px 25px 0px 25px;
}

img.right_pic {
	margin:10px 0 15px 25px; 
	float:right; 
	display:inline;
}
img.left_pic  {
	margin:10px 25px 15px 0; 
	float:left; 
	display:inline;
}
img.center_pic {
	margin:0px 0px 25px 0; 
	max-width: 615px;
}
.blog_info h2, .contact_info h2 {
	padding-bottom:10px;
}
.blog_info h2 a , .contact_info h2 a{
	color:#000;
}
.blog_info h2 a:hover {
	color:#7193b2;
}
.blog_info p, .contact_info p {
	padding-bottom:25px;
}
.blog_info_info, .contact_info_info {
	width:100%; 
	overflow:hidden;
}
.blog_info_info a img, .contact_info_info a img {
	float:right; 
	display:inline; 
	margin:0 0 12px 20px;
}
a.continue {
	line-height:30px; 
	display:block; 
	color:#000; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	font-style:italic;
	margin-top:-15px;
	padding-bottom: 14px;
}
a.continue:hover {
	color:#7193b2;
}
.blogBackrpt{
	background:#fff;	
}
p.quote {
	padding:5px 0 15px 75px; 
	background:url(../images/quotation.png) 25px top no-repeat; 
	color:#717171; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	font-style:italic;
}
.meta_box {
	width:412px; 
	height:35px; 
	overflow:hidden; 
	background:#ffde00; 
	position:absolute; 
	top:25px; 
	left:-11px;
}
.meta_box ul {
	overflow:hidden; 
	margin-left:20px;
}
.meta_box ul li {
	float:left; 
	line-height:35px; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	color:#000; 
	font-style:italic; 
	padding:0 2px;
}
.meta_box ul li a {
	color:#000; 
	text-decoration:none;
}
.meta_box ul li a:hover {
	text-decoration:underline;
}
.like {
	width:621px; 
	margin:0px 0 16px 24px; 
	padding:20px 0; 
	border-top:1px dashed #d3dad9; 
	border-bottom:1px dashed #d3dad9; 
	overflow:hidden;
}
.like h4 {
	color:#000; 
	padding-bottom:10px;
}
.like_pic {
	width:100px; 
	float:left; 
	display:inline; 
	padding:5px 14px 5px 0px; 
	margin-right:14px; 
	border-right:1px solid #f5f5f5;
}
.like_pic_rpt {
	border-right:none; 
	padding-right:0px; 
	margin-right:0px;
}

.sidebar {
	width:220px; 
	float:right; 
	padding:25px; 
	margin-top:30px; 
	background:#fff;
}
.topsearch {
	width:200px; 
	height:18px; 
	padding:6px 10px; 
	background:url(../images/top_search.png) no-repeat;
}
.topsearch input {
	background:none; 
	width:200px; 
	height:18px; 
	line-height:18px; 
	color:#717171; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	font-style:italic;
}
.sidebar_list {
	width:100%; 
	overflow:hidden;
}
.sidebar_list h4 {
	color:#000; 
	line-height:21px; 
	padding:15px 0;
}
.sidebar h4 {
	color:#000; 
	line-height:21px; 
}
.sidebar_list ul {
	border-bottom:1px dashed #d3dad9; 
	padding-bottom:14px; 
	overflow:hidden;
}
.sidebar_list ul li {
	height:18px; 
	line-height:21px;
}
.sidebar_list ul li a {
	color:#a9a9a9; 
	padding:3px 5px;
}
.sidebar_list ul li a:hover, .sidebar_list ul li a.active {
	background:#ffde00; 
	color:#000;
}
.posts {
	width:100%; 
	margin-bottom:10px;
}
.posts01 {
	margin-bottom:0px; 
	border-bottom:1px dashed #d3dad9; 
	padding-bottom:16px;
}
.posts a {
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	line-height:16px; 
	font-style:italic; 
	color:#000;
}
.posts a:hover {
	color:#7193b2;
}
.posts span {
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	line-height:16px; 
	font-style:italic; 
	color:#a9a9a9; 
	display:inline-block; 
	padding-top:10px;
}
.posts span a {
	color:#a9a9a9;
}
.posts span a:hover, .posts span a.active {
	color:#7193b2;
}
.sidebar_list ul.blog_photostream {
	width:100%; 
	overflow:hidden;
}
.sidebar_list ul.blog_photostream li {
	float:left; 
	height:70px; 
	display:inline; 
	margin:0 5px 5px 0;
}
.sidebar_list ul.blog_photostream li.margin_rpt {
	margin-right:0px;
}
.sidebar_list ul.blog_photostream li a {
	padding:0px;
}
.sidebar_list ul.blog_photostream li a:hover {
	background:none;
}

/******************* Pagination *******************/

ul.pagination {
	padding:0 25px; 
	height:35px; 
	background:#fff; 
	width:175px; 
	margin-top:25px;
}
ul.pagination li {
	float:left; 
	line-height:35px; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:13px; 
	font-style:italic; 
	color:#717171; 
	margin-right:4px; 
	display:inline;
}
ul.pagination li a {
	color:#717171;
}
ul.pagination li a:hover {
	color:#000;
}

/******************* Comments *******************/

#comments {
	position: relative;
	margin: 25px 25px 25px 25px;
	width: 615px;		
}
#comments ul{
	list-style: none;
	margin: 0;
}
ol#commentslist {
	margin: 0 0 0 0px;
	list-style: none;
	padding: none;	
	padding: 0;
}
#commentslist .children li {
	padding: 15px 0 0 25px;
	background: url(../images/comment_line.png) no-repeat 0px 40px;
	border-left: 1px solid #f5f5f5;
	margin: 0 0 15px 15px;	
}
.comment {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 20px 0;		
}
.comment .avatar {
	position: absolute;
	left: 0;
	top: 0;	
}
.comment h6 {
	color: #000;
	margin: 0 0 0 75px;
	padding: 0;	
}
#comments h4 {
	color: #000; 
	padding-bottom:18px;
}
.comment .date {	
	margin: 0 0 10px 75px;	
	display: block;
	color: #717171;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size: 11px;
	font-style: italic;		
}
.comment p {	
	margin: 0 0 10px 75px;
}
.comment-reply-link {
	margin: 0 0 0 75px;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size: 11px;
	font-style: italic;
	color: #ea3a3a;	
}
.comment-reply {
	display: inline-block!important;
	padding: 0 0 0 10px;
}

/******************* Reply Form *******************/
#message-note{
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	font-style:italic; 
	color:#ea3a3a;	
}
#message-note ul {
	margin-bottom:20px;
}
#message-note li{
	list-style:none;
	padding-bottom:5px;
}
.reply_form {
	width:640px; 
	padding-left:25px; 
	overflow:hidden; 
	margin-top:25px;
}
.reply_form_contact {
	width:640px; 
	padding-left:25px; 
	overflow:hidden; 
}
.reply_form h4, .reply_form_contact h4 {
	color: #000; 
	padding-bottom:25px;
}
.reply_textbox {
	width:520px; 
	height:18px; 
	padding:6px 10px; 
	margin-bottom:20px; 
	background:url(../images/reply_form.png) no-repeat;
}
.reply_textbox input {
	width:240px; 
	height:18px; 
	line-height:18px; 
	background:none; 
	color:#000; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	font-style:italic; 
	float:left;
}
.reply_textbox span {
	float:left; 
	margin-left:30px; 
	color:#000; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	font-style:italic;
}
.reply_textbox p {
	float:left; 
	display:block;
}
.reply_areabox {
	width:500px; 
	height:88px; 
	padding:6px 10px; 
	background:url(../images/reply_form_area.png) no-repeat;
}
.reply_areabox textarea {
	background:none; 
	width:500px; 
	height:88px;
	color:#000; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-size:11px; 
	font-style:italic;
}

/******************* Buttons *******************/

/* Button Gray for Comment Form */

.btn_gray_input {
	float: left;
	clear: both;
	background: url(../images/gray_left.png) no-repeat;
	padding: 0 0 0 3px;
	margin: 20px 0 0 0;
}
.btn_gray_input input {
	background: url(../images/gray.png) repeat-x left top;
}
.btn_gray_input span {
	background: url(../images/gray_right.png) no-repeat;
	float: left;
	width: 3px;
	height: 25px;
}
.btn_gray_input input:hover { 
	cursor: pointer;
	background: url(../images/gray_hover.png) repeat-x left top;
}
.btn_gray_input:hover {
	background: url(../images/gray_left_hover.png) no-repeat;
}
.btn_gray_input:hover span {
	background: url(../images/gray_right_hover.png) no-repeat;
	float: left;
	width: 3px;
	height: 25px;
}

.btn_gray_input input, .btn_gray a, .btn_yellow a, .btn_green a, .btn_red a, .btn_blue a, .btn_blue input, .btn_red input, .btn_green input, .btn_yellow input  {
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	color: #000;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-style:italic;
	font-size: 11px;
	text-decoration: none;
}
.btn_gray, .btn_yellow , .btn_green , .btn_red , .btn_blue {
	float: left;
	padding: 0 0 0 3px;
}
.btn_gray span, .btn_yellow span, .btn_green span, .btn_red span, .btn_blue span {
	float: left;
	width: 3px;
	height: 25px;
}
.btn_gray a:hover , .btn_yellow a:hover, .btn_green a:hover, .btn_red a:hover, .btn_blue a:hover  {
	cursor: pointer;
	height: 25px;
}
.btn_gray:hover span, .btn_yellow:hover span, .btn_green:hover span, .btn_red:hover span, .btn_blue:hover span   {
	float: left;
	width: 3px;
	height: 25px;

}
.buttons  p{
	display:inline;
	padding-bottom: 0px;
	margin: 0 30px 30px 0;
	display:block;
}

/* Button Gray */

.btn_gray {
	background: url(../images/gray_left.png) no-repeat;
}
.btn_gray a, .btn_gray input {
	background: url(../images/gray.png) repeat-x left top;
}
.btn_gray span {
	background: url(../images/gray_right.png) no-repeat;
}
.btn_gray a:hover, .btn_gray input:hover, .btn_gray input[disabled='disabled'] { 
	background: url(../images/gray_hover.png) repeat-x left top;
}
.btn_gray:hover, .btn_gray.disabled {
	background: url(../images/gray_left_hover.png) no-repeat;
}
.btn_gray:hover span, .btn_gray.disabled span {
	background: url(../images/gray_right_hover.png) no-repeat;
}

/* Button Yellow */

.btn_yellow {
	background: url(../images/yellow_left.png) no-repeat;
}
.btn_yellow a, .btn_yellow input {
	background: url(../images/yellow.png) repeat-x left top;
}
.btn_yellow span {
	background: url(../images/yellow_right.png) no-repeat;
}
.btn_yellow a:hover, .btn_yellow input:hover, .btn_yellow input[disabled='disabled'] { 
	background: url(../images/yellow_hover.png) repeat-x left top;
}
.btn_yellow:hover, .btn_yellow.disabled {
	background: url(../images/yellow_left_hover.png) no-repeat;
}
.btn_yellow:hover span, .btn_yellow.disabled span {
	background: url(../images/yellow_right_hover.png) no-repeat;
}

/* Button Green */

.btn_green {
	background: url(../images/green_left.png) no-repeat;
}
.btn_green a, .btn_green input {
	background: url(../images/green.png) repeat-x left top;
}
.btn_green span {
	background: url(../images/green_right.png) no-repeat;
}
.btn_green a:hover, .btn_green input:hover, .btn_green input[disabled='disabled'] { 
	background: url(../images/green_hover.png) repeat-x left top;
}
.btn_green:hover, .btn_green.disabled {
	background: url(../images/green_left_hover.png) no-repeat;
}
.btn_green:hover span, .btn_green.disabled span {
	background: url(../images/green_right_hover.png) no-repeat;
}

/* Button Red */

.btn_red {
	background: url(../images/red_left.png) no-repeat;
}
.btn_red a, .btn_red input {
	background: url(../images/red.png) repeat-x left top;
}
.btn_red span {
	background: url(../images/red_right.png) no-repeat;
}
.btn_red a:hover, .btn_red input:hover, .btn_red input[disabled='disabled'] { 
	background: url(../images/red_hover.png) repeat-x left top;
}
.btn_red:hover, .btn_red.disabled {
	background: url(../images/red_left_hover.png) no-repeat;
}
.btn_red:hover span, .btn_red.disabled span {
	background: url(../images/red_right_hover.png) no-repeat;
}

/* Button Blue */

.btn_blue {
	background: url(../images/blue_left.png) no-repeat;
}
.btn_blue a, .btn_blue input {
	background: url(../images/blue.png) repeat-x left top;
}
.btn_blue span {
	background: url(../images/blue_right.png) no-repeat;
}
.btn_blue a:hover, .btn_blue input:hover, .btn_blue input[disabled='disabled'] { 
	background: url(../images/blue_hover.png) repeat-x left top;
}
.btn_blue:hover, .btn_blue.disabled {
	background: url(../images/blue_left_hover.png) no-repeat;
}
.btn_blue:hover span, .btn_blue.disabled span {
	background: url(../images/blue_right_hover.png) no-repeat;
}

/******************* jquery-ui styles *******************/

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin-top: 1em;
	line-height: 2;
	vertical-align: baseline;
}
.ui-autocomplete-category:first-child {
    margin-top: 0;
}
ul.ui-menu{
	list-style:none;
	background:whitesmoke;
	width:10%;
	padding-left:0px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.ui-corner-all a{
	display:block;
	padding: .4em .4em;
	text-decoration:none;
	color:grey;
	cursor:pointer;
}
.ui-corner-all li a:hover{
	background:#FFA500;
	color:#fff;
}

/******************* Footer *******************/

#footer {
	width:100%; 
	overflow:hidden; 
	padding-bottom:25px;
	margin-top: 30px;
}
.footer_content {
	width:100%; 
	margin-bottom:25px; 
	padding:30px 0 30px; 
	border-top:1px dashed #d3dad9; 
	border-bottom:1px dashed #d3dad9; 
	overflow:hidden;
}
.f_info { 
	width:225px; 
	float:left; 
	display:inline; 
	margin-right:25px;
}
.tweets { 
	width:220px; 
	float:left; 
	display:inline; 
	margin-right:25px;
}
.blog { 
	width:220px; 
	float:left; 
	display:inline; 
	margin-right:25px;
}
.photostream {
	width:220px; 
	margin-right:0px;
}
.f_info p {
	padding-top:10px;
}
.f_info p a {
	color:#7193b2; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-style:italic;
}
.f_info p a:hover {
	color:#7193b2;	
}
.f_info p span {
	color:#a9a9a9; 
	display:block; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
	font-style:italic;
}
.f_info p span a {
	color:#a9a9a9; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	font-style:italic;
}
.f_info h5 { 
	color:#000; 
}
.f_info ul li {
	float:left; 
	display:inline; 
	margin:5px 5px 0px 0px;
}
.f_info ul li.margin_rpt {
	margin-right:0px;
}
.f_logo {
	width:135px;
}
.line {
	width:100%; 
	border-top:1px solid #d3dad9; 
	margin-top:10px; 
	overflow:hidden;
}
.footer_bottom {
	width:100%; 
	margin-bottom:25px;
}
.copyright {
	float:left; 
	color:#717171; 
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif; 
	font-size:11px; 
	font-style:italic;
}
.copyright a {
	color:#000;
}
.f_nav {
	float:right;
}
.f_nav ul li {
	float:left; 
	margin-left:5px;
}
.f_nav ul li a {
	color:#000;
}
.f_nav ul li span {
	color:#717171;
}
.border_top {
	margin-top:30px; 
	overflow:hidden;
}

/******************* Horizontal Line *******************/

.hr {
	margin: 0px 0 0 0px;
	padding: 0;
	width: 960px;
}
.hr h4 {
	float: left;
	margin: 0;
	padding: 0;
}
.hr_line {
	overflow:hidden;	
	display: inline;
	float: right;
	margin: 5px 0 0 15px;
	padding: 0 0 5px 0;
    border-bottom: 1px dashed #d3dad9;
	width: 790px;
}

/******************* Interaction Elements *******************/
.sortable_column {}

/****************** font definitions *****************/
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('/assets/fonts/DroidSerif.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('/assets/fonts/DroidSerifBold.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: bold;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('/assets/fonts/DroidSerifBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: normal;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('/assets/fonts/DroidSerifItalic.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('/assets/fonts/DroidSansBold.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('/assets/fonts/DroidSans.woff') format('woff');
}

/****************** Pagination *******************/

div.pagination {
	padding: 3px;
	margin: 3px;
	text-align:center;
	margin-top: 2em;
	font-family:Tahoma,Helvetica,sans-serif;
	font-size:1em;
}

div.pagination a {
	border: 1px solid #A9A9A9;
	margin:0 2px;
	padding:4px 8px;

	background-position:bottom;
	text-decoration: none;

	color: #717171;		
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #FFA500;
	background-image:none;
	background-color:#FFA500;
	color: #fff;
}
div.pagination a.current {
    color: #fff;
    background-color:#FFA500;
}

/****************** custom styles ******************************/
.input_smoke {background-color:#ddd;border:1px solid #ccc;padding:3px 10px;border-radius:4px;}
input.input_smoke {height:18px;width:152px;}
select.input_smoke {height:26px;width:174px;}
.input_smoke:focus {background-color:#ffa500;}
.edit_form_floated .input_smoke {width:18em;}
.edit_form_floated select.input_smoke {width:20em;}
.full_width_content .edit_form_floated label {display:block;font-size:1.5em;clear:both;overflow:auto;margin-bottom:0.8em;border-top:1px dotted #D3DAD9;padding-top:0.8em;}
.full_width_content .edit_form_floated label:first-child { border:0;}
.full_width_content .edit_form_floated span.label {display:block;float:left;width:12em;vertical-align:middle;line-height:1.3em;}
.full_width_content .edit_form_floated input, select {display:block;float:left;}

.filter_pane {
	background-color:#eee;
	width:920px;
	padding:20px;
	padding-bottom: 10px;
	display: none;
}
.search_pane_dashboard, .filter_pane_dashboard {
	background-color:#eee;
	margin-bottom:2em;
	width:920px;
	padding:20px;
	padding-bottom:0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.filter_pane_bottom {
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	height: 10px;
	background-color: #eee;
}
#filter_dropper {
	background-color:orange;
	margin-left: 800px;
	width: 100px;
	padding: 8px;
	text-align: center;
	color: white;
	cursor: pointer;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
    background: orange url(/assets/images/sort_desc.png) no-repeat 90% 40%;
}
#filter_dropper.down {
    background: orange url(/assets/images/sort_asc.png) no-repeat 90% 40%;
}
div.input_el {float:left; margin-right:10px;margin-bottom:1.5em;}
div.clear {clear:left;}
.btn_space {margin-right:8px;}

p.style { padding-top:1em;padding-bottom:1em;border-bottom: 1px dotted #D3DAD9;font:size:1.2em;overflow:auto; }
p.style .span { font-size: 1.3em; }
p.style label { font-size:1.5em; }	
p.style span { padding-right:10px;font-size:1.5em; }
p.style .head { font-weight:bold;float:left;font-size:1.5em;width:180px;}
p.style .input label { font-size:1em;display:inline-block;margin-right:1em;text-align:center;vertical-align:top; }
p.form_buttons { background-color: #fff;}

.pane { margin-top: 3em; display: none;}
.code { display: block;float:left;font-size:1em;width:30px;}
.span { display: block;float:left;width:300px;margin-right: 30px;color: #aaa;}
.input { display:block;float:left;width:560px;}
#incident_form .input {width:860px;}

div.section_tabs {
	padding: 0;width: 100%;border-top: 5px solid #FFA500;background: transparent;
	voice-family: "\"}\"";voice-family: inherit;margin-bottom: 6em;
}
div.section_tabs ul { margin:0;margin-left: 40px;padding: 0;list-style: none;}
div.section_tabs li { display: inline;margin: 0 2px 0 0;padding: 0;text-transform:uppercase;}
div.section_tabs a {
	float: left;display: block;font: bold 12px Arial;color: black;text-decoration: none;
	margin: 0 5px 0 0;padding: 5px 10px 9px 10px;
	background-color: white;
	-moz-border-radius-bottomleft: 5px;border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px;
}
div.section_tabs a:hover, .section_tabs .current a {
	background-color: #FFA500;padding-top: 9px;padding-bottom: 5px;color: white;
}
#incident_form input {margin-right:0.5em;}
#incident_form input[type=submit] {margin-right:0;}

#facebox .content table tr td, #facebox .content table tr th {
	padding: 2px;
}

#facebox .content textarea {
	background-color: whiteSmoke;
	padding: 5px;
}

.input_text {height:18px;background-color:#ddd;border:1px solid #ccc;padding:3px 10px;width:60px;border-radius:4px;}
select.input_text {height:26px;width:174px;}
.input_text:focus {background-color:#ffa500;}
p.style .textbox{display: block; float:left; width:80px;font-size:.8em;}
.span_text{
	display: block;
	float:left;
	width:158px;
	margin-left:3px;
}
.span_mid{
	display: block;
	float:left;
	width:158px;
	margin-left:10px;
}
.span_text_last{
	display: block;
	float:left;
	width:158px;
	margin-left:10px;
}
