{% extends 'psc/layout.html' %}
{% load calc %}
{% block javascripts %}
{{ block.super }}
<script src="/assets/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("#reset").click(function () {
            $("#id_date").val("");
            $("#filter_form").submit();
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="grid_16">
    <div class="box">
        <h2>A Summary of Zones<span class="flag">
                <button onclick="location.href='{% url psc.views.dco_zone_summary %}'">Refresh</button>
        </span></h2>
        <div class="block">
            <div id="filter">
                <form action="" method="get" id="filter_form" accept-charset="utf-8">
                    <table>
                        <thead>
                            <tr>
								{% for field in filter_form %}
                                <th width="10%">{{ field.label }}</th>
								{% endfor %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								{% for field in filter_form %}
                                <td>{{ field }}</td>
								{% endfor %}
                                <td><input type="button" value="reset" id="reset"> <input type="submit" value="filter &rarr;"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
				</div>
        <div class="block">
            <table width="100%" class="summary">
                <thead>
                    <tr>
                        <th>Zone</th>
                        <th colspan="2">Arrival Text</th>
                        <th colspan="5">2nd SMS</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="missing" /></td>
                        <td><img src="/assets/img/status.png" width="16" height="16" alt="complete" /></td>
                        <td><img src="/assets/img/status-busy.png" width="16" height="16" alt="unverified problem" /></td>
                        <td><img src="/assets/img/information.png" width="16" height="16" alt="verified" /></td>
                        <td><img src="/assets/img/status-away.png" width="16" height="16" alt="partial" /></td>
                        <td><img src="/assets/img/exclamation-red.png" width="16" height="16" alt="missing" /></td>
                    </tr>
                    {% for zone in zone_list %}
                    <tr>
                        <td>{{ zone.name }}</td>
                        <td>{{ zone.arrived_yes|percentage:zone.n }}</td>
                        <td>{{ zone.arrived_no|percentage:zone.n }}</td>
                        <td>{{ zone.status_complete|percentage:zone.n }}</td>
                        <td>{{ zone.status_problem|percentage:zone.n }}</td>
                        <td>{{ zone.status_not_open|percentage:zone.n }}</td>
                        <td>{{ zone.status_partial|percentage:zone.n }}</td>
                        <td>{{ zone.status_missing|percentage:zone.n }}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
