{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joint.min.css') }}">
{% endblock %}


{% block subtitle %}<a href="{{ url_for('locationset.index_view') }}">{{ location_set.name }}</a>{% endblock subtitle %}


{% block body %}
<div class="modal fade {{- ' rtl' if g.locale.text_direction == 'rtl' else '' }}" id="addDivision" role="dialog">
<form role="form" class="form-horizontal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">{{ _('Add Division') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row align-items-center">
          <label for="name" class="col-2 control-label text-right">{{ _('Name') }}</label>
          <div class="col-10">
            <input type="text" class="form-control" id="addDivisionName">
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label for="parents" class="col-2 control-label text-right">{{ _('Parents') }}</label>
          <div class="col-10">
            <select multiple="multiple" class="form-control" name="parents" id="addDivisionParents"></select>
            <small class="form-text text-muted">{{ _('All administrative divisions that this is a child of.') }}</small>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-2">&nbsp;</div>
          <div class="col-10 ">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="addDivisionAdministrative" name="is_administrative" value="true">
              <label class="custom-control-label" for="addDivisionAdministrative">{{ _('Display on dashboard and in tables') }}</label>
              <small class="form-text text-muted">{{ _('Whether to show location data of this division on the dashboard and other tables.') }}</small>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-2">&nbsp;</div>
          <div class="col-10">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="addDivisionPolitical" name="is_political" value="true">
              <label class="custom-control-label" for="addDivisionPolitical">{{ _('Use in data summary') }}</label>
              <small class="form-text text-muted">{{ _('Whether to show aggregated data summaries at this administrative level.') }}</small>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-2">&nbsp;</div>
          <div class="col-10">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="addDivisionRegisteredVoters" name="has_registered_voters" value="true">
              <label class="custom-control-label" for="addDivisionRegisteredVoters">{{ _('Has registered voters') }}</label>
              <small class="form-text text-muted">{{ _('Indicates whether your location data will have registered voters at this administrative level.') }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="button" class="btn btn-primary" id="addModalSaveButton">{{ _('Add') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form>
</div><!-- /.modal -->

<div class="modal fade {{- ' rtl' if g.locale.text_direction == 'rtl' else '' }}" id="updateDivision" role="dialog">
<form role="form" class="form-horizontal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">{{ _('Update Division') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom:5px">
        <div class="form-group row align-items-center">
          <label for="name" class="col-2 control-label text-right">{{ _('Name') }}</label>
          <div class="col-10">
            <input type="text" class="form-control" id="updateDivisionName" name="name">
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label for="parents" class="col-2 control-label text-right">{{ _('Parents') }}</label>
          <div class="col-10">
            <select multiple="multiple" class="form-control" name="parents" id="updateDivisionParents"></select>
            <small class="form-text text-muted">{{ _('All administrative divisions that this is a child of.') }}</small>
            <input type="hidden" class="form-control" id="updateDivisionId" name="id">
          </div>
        </div>

        <div class="form-group row align-items-center">
          <div class="col-2">&nbsp;</div>
          <div class="col-10">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="updateDivisionAdministrative" name="is_administrative" value="true">
              <label class="custom-control-label" for="updateDivisionAdministrative">{{ _('Display on dashboard and in tables') }}</label>
              <small class="form-text text-muted">{{ _('Whether to show location data of this division on the dashboard and other tables.') }}</small>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-2">&nbsp;</div>
          <div class="col-10">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="updateDivisionPolitical" name="is_political" value="true">
              <label class="custom-control-label" for="updateDivisionPolitical">{{ _('Use in data summary') }}</label>
              <small class="form-text text-muted">{{ _('Whether to show aggregated data summaries at this administrative level.') }}</small>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-2">&nbsp;</div>
          <div class="col-10">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="updateDivisionRegisteredVoters" name="has_registered_voters" value="true">
              <label class="custom-control-label" for="updateDivisionRegisteredVoters">{{ _('Has registered voters') }}</label>
              <small class="form-text text-muted">{{ _('Indicates whether your location data will have registered voters at this administrative level.') }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="button" class="btn btn-danger" id="updateModalDeleteButton">{{ _('Delete') }}</button>
        <button type="button" class="btn btn-primary" id="updateModalSaveButton">{{ _('Update') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form>
</div><!-- /.modal -->


{% if not has_admin_divisions %}
<form action="{{ url_for('locationset.import_divisions', location_set_id=location_set.id) }}" enctype="multipart/form-data" method="post">
<div class="modal fade {{- ' rtl' if g.locale.text_direction == 'rtl' else '' }}" id="importModal" role="dialog" aria-labelledby="importModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">{{ _('Import Admin Divisions') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ form.hidden_tag() }}
          <div class="custom-file">
            {{ form.import_file(class_='custom-file-input') }}
            <label for="import_file" class="custom-file-label" data-browse="{{ _('Browse') }}">{{ _('Choose file') }}</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="submit" class="btn btn-primary">{{ _('Import') }}</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endif %}



<form id="save-form" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="divisions_graph" id="divisions_graph" value="" />
</form>


<div class="d-flex justify-content-between align-items-md-center flex-row mb-n2">
  <nav class="nav mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-n2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item {%- if loop.last %} active{% endif %}" {%- if loop.last %} aria-current="page"{% endif %}>
          {% if breadcrumb.url -%}
          <a href="{{ breadcrumb.url }}" class="text-decoration-none">{{ breadcrumb.text or breadcrumb }}</a>
          {%- else -%}
          {{ breadcrumb.text or breadcrumb }}
          {%- endif %}
        </li>
        {% endfor %}
    </ol>
  </nav>
  <div class="d-flex justify-content-between align-items-center flex-row mt-1 mb-1">
    <div class="btn-toolbar d-md-flex flex-nowrap ml-2" role="toolbar">
      <button type="button" id="addDivisionButton" class="btn btn-secondary mr-2">{{ _('Add Division') }}</button>
      <a href="{{ url_for('locationset.export_divisions', location_set_id=location_set.id) }}" class="btn btn-secondary mr-2 d-none d-md-block">{{ _('Export') }}</a>
      {% if not has_admin_divisions %}
      <button type="button" id="exportBtn" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#importModal">{{ _('Import') }}</button>
      {% endif %}
      <button type="button" id="saveBtn" class="btn btn-primary mr-2">{{ _('Save') }}</button>
    </div>
  </div>
</div>

<div class="card mt-3 border-0">
  <div id="paper" data-graph='{{ location_set.make_admin_divisions_graph()|tojson }}'></div>
</div>
{% endblock %}


{%- block footer -%}
  <div class="mt-n2 pb-2 d-flex justify-content-end">
    <div>
      
    </div>
  </div>
{%- endblock %}


{% block tail_js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dagre.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graphlib.core.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/joint.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/locations_builder.js') }}"></script>
<script type="text/javascript">
  (function() {
    $('#importModal').on('show.bs.modal', function(){
      var widget = document.getElementById('import_file');
      widget.value = ''
      widget.dispatchEvent(new Event('change'));
    });
    setTimeout(function(){ $('.alert').alert('close');}, 3000);
  })();
</script>
{% endblock %}