{% extends 'admin/base.html' %}
{% block body %}
<div class="d-flex justify-content-between align-items-md-center flex-column flex-md-row mb-n2">
  <nav class="nav mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb mb-n2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item {%- if loop.last %} active{% endif %}" {%- if loop.last %} aria-current="page"{% endif %}>
          {% if breadcrumb.url -%}
          <a href="{{ breadcrumb.url }}" class="text-decoration-none">{{ breadcrumb.text or breadcrumb }}</a>
          {%- else -%}
          {{ breadcrumb.text or breadcrumb }}
          {%- endif %}
        </li>
        {% endfor %}
    </ol>
  </nav>
</div>

<form class="form-horizontal" method="POST">
  <div class="row{{ ' rtl' if g.locale.text_direction == 'rtl' else '' }}">
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
      <div class="card border-light bg-light mt-2">
        <h5 class="card-header">
          {{ _('Edit Form') }}
        </h5>
        <div class="card-body">
          {{ form.hidden_tag() }}
          {%- for field in form -%}
          {%- if field.type != 'CSRFTokenField' -%}
          <div class="form-group row align-items-center">
            {% if field.name in ['require_exclamation', 'track_data_conflicts', 'calculate_moe', 'quality_checks_enabled'] %}
              <div class="col-4">&nbsp;</div>
              <div class="col-8">
                <div class="custom-control custom-checkbox">
                  {{ field(class_='custom-control-input is-invalid' if field.errors else 'custom-control-input', **{'aria-describedby': '{}_help'.format(field.id)}) }}
                  {{ field.label(class_='custom-control-label') }}
                  {% if field.errors %}
                  {% for e in field.errors %}
                  <span class="invalid-feedback">{{ e }}</span>
                  {% endfor %}
                  {%- else %}
                  {%- if field.description %}
                  <small id="{{ field.id }}_help" class="form-text text-muted">{{ field.description }}</small>
                  {%- endif %}
                  {% endif %}
                </div>
              </div>
            {% else %}
              {{ field.label(class_='col-4 control-label text-right mb-0') }}
              <div class="col-8">
                  {%- if field.name in ['form_type', 'accredited_voters_tag', 'blank_votes_tag', 'invalid_votes_tag', 'registered_voters_tag'] %}
                  {{ field(class_='form-control custom-select is-invalid' if field.errors else 'form-control custom-select', **{'aria-describedby': '{}_help'.format(field.id)}) }}
                  {% elif field.name == 'vote_shares' %}
                  {{ field(class_='form-control select2', **{'aria-describedby': '{}_help'.format(field.id)}) }}
                  {% else %}
                  {{ field(class_='form-control is-invalid' if field.errors else 'form-control', **{'aria-describedby': '{}_help'.format(field.id)}) }}
                  {% endif %}
                  {% if field.errors %}
                  {% for e in field.errors %}
                  <span class="invalid-feedback">{{ e }}</span>
                  {% endfor %}
                  {% else %}
                  {%- if field.description %}
                  <small id="{{ field.id }}_help" class="form-text text-muted">{{ field.description }}</small>
                  {%- endif %}
                  {% endif %}
              </div>
            {% endif %}
          </div>
          {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="card-footer text-right">
          <a href="{{ url_for('formsview.index') }}" id="cancelBtn" class="btn btn-secondary">{{ _('Cancel') }}</a>
          <button type="submit" id="saveBtn" class="btn btn-primary">{{ _('Save') }}</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}