{% extends 'admin/base.html' %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/angular-form-builder.css') }}">
<style>
  .form-group {
    margin-bottom: 0
  }
  .panel {
    margin-bottom: 0
  }
</style>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-md-center flex-column flex-md-row mb-n2">
  <nav class="nav mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb mb-n2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item {%- if loop.last %} active{% endif %}" {%- if loop.last %} aria-current="page"{% endif %}>
          {% if breadcrumb.url -%}
          <a href="{{ breadcrumb.url }}" class="text-decoration-none">{{ breadcrumb.text or breadcrumb }}</a>
          {%- else -%}
          {{ breadcrumb.text or breadcrumb }}
          {%- endif %}
        </li>
        {% endfor %}
    </ol>
  </nav>
</div>

<div id="app" ng-app="app">
  <div class="row mt-3 d-flex" id="formbuilder" ng-controller="BuilderController" data-form='{{ form_data|tojson }}' data-csrf="{{ csrf_token() }}">
    <div class="col-md-6">
      <div class="card border-light bg-light">
        <div class="card-header">
          <h5 class="card-title mb-0">{{ form.name }}</h5>
        </div>
        <div fb-builder="default"></div>
      </div>
    </div>
    <div class="col-md-6 sticky-top h-100" style="top: 5em">
      <div class="card border-light bg-light" style="margin-bottom:2.5em;">
        <div class="card-body">
          <div fb-components></div>
          <div>
            <button id="save" class="btn btn-primary d-none" ng-click="submit();"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="mt-n2 pb-2 w-25 d-flex justify-content-end">
  <div>
    <a href="{{ url_for('formsview.index') }}" class="btn btn-secondary">{{ _('Cancel') }}</a>
    <button type="button" id="saveBtn" class="btn btn-primary">{{ _('Save') }}</button>
  </div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/simply-toast.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-form-builder.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-form-builder-components.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-validator.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-validator-rules.min.js') }}"></script>
<script type="text/javascript">
(function() {
  angular.module('app', ['builder', 'builder.components', 'validator.rules']).run([
    '$builder', function($builder) {
      return $builder;
    }
  ]).controller('BuilderController', [
    '$scope', '$builder', '$validator', function($scope, $builder, $validator) {
      var datasets = document.getElementById('formbuilder').dataset;
      var bootstrapData = JSON.parse(datasets.form);

      for (var i = 0; i < bootstrapData.fields.length; i++)
        $builder.addFormObject('default', bootstrapData.fields[i]);
      $scope.form = $builder.forms['default'];
      $scope.input = [];
      $scope.defaultValue = {};
      return $scope.submit = function() {
        return $validator.validate($scope, 'default').success(function() {
          $.ajax({
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
                xhr.setRequestHeader('X-CSRFToken', datasets.csrf);
              }
            },
            contentType: 'application/json; charset=utf-8',
            async: false,
            data: JSON.stringify({fields: $scope.form}),
            error: function(obj, status, error) {
              $.simplyToast('Error: ' + error, 'danger', {delay: 5000});
            },
            type: 'POST',
          });
          window.location.href = "{{ url_for('formsview.index') }}";
        }).error(function() {
          return console.log('error');
        });
      };
    }
  ]);

  $('#saveBtn').click(function(){
    $('#save').click();
  })
}).call(this);
</script>
{% endblock %}
