{% extends 'admin/base.html' %}
{% block body %}
<div class="d-flex justify-content-between align-items-md-center flex-column flex-md-row mb-n2">
  <nav class="nav mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb mb-n2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item {%- if loop.last %} active{% endif %}" {%- if loop.last %} aria-current="page"{% endif %}>
          {% if breadcrumb.url -%}
          <a href="{{ breadcrumb.url }}" class="text-decoration-none">{{ breadcrumb.text or breadcrumb }}</a>
          {%- else -%}
          {{ breadcrumb.text or breadcrumb }}
          {%- endif %}
        </li>
        {% endfor %}
    </ol>
  </nav>
</div>

<form class="form-horizontal" method="POST">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card border-light bg-light mt-2">
        <h5 class="card-header">
          {{ _('Create Form') }}
        </h5>
        <div class="card-body">
          {{ form.hidden_tag() }}
          {%- for field in form -%}
          {%- if field.type != 'CSRFTokenField' -%}
          <div class="form-group row align-items-center">
            {% if field.name in ['require_exclamation', 'track_data_conflicts', 'calculate_moe', 'quality_checks_enabled'] %}
              <div class="col-sm-8 offset-sm-4">
                <div class="custom-control custom-checkbox">
                  {{ field(class_='custom-control-input is-invalid' if field.errors else 'custom-control-input') }}
                  {{ field.label(class_='custom-control-label') }}
                  {% if field.errors %}
                  {% for e in field.errors %}
                  <span class="invalid-feedback">{{ e }}</span>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            {% else %}
              {{ field.label(class_='col-sm-4 control-label text-right mb-0') }}
              <div class="col-sm-8">
                  {%- if field.name == 'form_type' %}
                  {{ field(class_='form-control custom-select is-invalid' if field.errors else 'form-control custom-select') }}
                  {% else %}
                  {{ field(class_='form-control is-invalid' if field.errors else 'form-control') }}
                  {% endif %}
                  {% if field.errors %}
                  {% for e in field.errors %}
                  <span class="invalid-feedback">{{ e }}</span>
                  {% endfor %}
                  {% endif %}
              </div>
            {% endif %}
          </div>
          {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="card-footer text-right">
          <a href="{{ url_for('formsview.index') }}" id="cancelBtn" class="btn btn-secondary">{{ _('Cancel') }}</a>
          <button type="submit" id="saveBtn" class="btn btn-primary">{{ _('Save') }}</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}