{% macro menu_icon(item) -%}
{% set icon_type = item.get_icon_type() %}
{%- if icon_type %}
  {% set icon_value = item.get_icon_value() %}
  {% if icon_type == 'glyph' %}
    <i class="{{ icon_value }}"></i>
  {% elif icon_type == 'image' %}
    <img src="{{ url_for('static', filename=icon_value) }}" alt="menu image"></img>
  {% elif icon_type == 'image-url' %}
    <img src="item.icon_value" alt="menu image"></img>
  {% endif %}
{% endif %}
{%- endmacro %}

{% macro menu() %}
  {%- for item in admin_view.admin.menu()[1:] %}
    {%- if item.is_category() -%}
      {% set children = item.get_children() %}
      {%- if children %}
        {% set class_name = item.get_class_name() %}
        {%- if item.is_active(admin_view) %}
        <li class="nav-item active dropdown{% if class_name %} {{class_name}}{% endif %}">
        {% else -%}
        <li class="nav-item dropdown{% if class_name %} {{class_name}}{% endif %}">
        {%- endif %}
          <div class="dropdown-menu">
            {%- for child in children -%}
            <a class="dropdown-item" href="{{ child.get_url() }}">{{ menu_icon(child) }}{{ child.name }}</a>
            {%- endfor %}
          </div>
        </li>
      {% endif %}
    {%- else %}
      {%- if item.is_accessible() and item.is_visible() -%}
        {% set class_name = item.get_class_name() %}
        {%- if item.is_active(admin_view) %}
        <li class="nav-item active{% if class_name %} {{class_name}}{% endif %}">
        {%- else %}
        <li class="nav-item {%- if class_name %} {{class_name}}{% endif %}">
        {%- endif %}
          <a class="nav-link" href="{{ item.get_url() }}">{{ menu_icon(item) }}{{ item.name }}</a>
        </li>
      {%- endif -%}
    {% endif -%}
  {% endfor %}
{% endmacro %}

{% macro menu_links() %}
  {% for item in admin_view.admin.menu_links() %}
    {% if item.is_accessible() and item.is_visible() %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.get_url() }}">{{ menu_icon(item) }}{{ item.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
        <div class="alert alert-{{ category }}">
        {% else %}
        <div class="alert">
        {% endif %}
          {{ m }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
