{% macro render_mapping_form(form) %}
<div class="col-sm-11 d-none" id="form-action-errors"></div>
<div class="col-sm-11">
	{{ form.hidden_tag() }}
	<input type="hidden" name="action" id="form-action" value="{{ request.full_path }}">
	{%- for field in form -%}
	{%- if field.type != 'CSRFTokenField' -%}
	<div class="form-group row align-items-center {{- ' has-error' if field.errors }}">
		{{ field.label(class_='col-sm-4 control-label text-right mb-0') }}
		<div class="col-sm-8">
			{{ field(class_='form-control custom-select is-invalid' if field.errors else 'form-control custom-select') }}
			{% if field.errors %}
			{% for e in field.errors %}
			<p class="help-block">{{ e }}</p>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	{%- endif -%}
	{%- endfor -%}
</div>
{% endmacro %}
