{%- extends 'admin/master.html' -%}
{%- from 'admin/locations_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}


{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-wizard.css') }}">
{% endblock %}


{% block body %}
<div class="d-flex justify-content-between align-items-md-center flex-row mb-2">
  <nav class="nav mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-n2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item {%- if loop.last %} active{% endif %}" {%- if loop.last %} aria-current="page"{% endif %}>
          {% if breadcrumb.url -%}
          <a href="{{ breadcrumb.url }}" class="text-decoration-none">{{ breadcrumb.text or breadcrumb }}</a>
          {%- else -%}
          {{ breadcrumb.text or breadcrumb }}
          {%- endif %}
        </li>
        {% endfor %}
    </ol>
  </nav>
  <div class="d-flex justify-content-between align-items-start flex-row mt-1 mb-1">
    <div class="btn-toolbar d-none d-md-flex" role="toolbar">
      {%- if perms.export_locations.can() -%}
      <a class="btn btn-secondary mr-2" href="{{ url_for('locationset.locations_list', export='true', location_set_id=location_set_id, **request.args) }}">{{ _('Export') }}</a>
      {%- endif -%}
      {%- if perms.import_locations.can() -%}
      <button id="open-wizard" class="btn btn-primary">{{ _('Import Locations') }}</button>
      {%- endif -%}
    </div>
  </div>
</div>

<div class="card mt-1 border-0">
  <div class="row">
    <div class="col-md-12">
      {{ render_filter_form(filter_form) }}
    </div>
  </div>

  <div class="card-header">
    {{ render_pager(locations, 'locationset.locations_list', args) }}
  </div>

  <div class="table-responsive mb-n3">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-right col-1">{{ _('Code') }}</th>
          <th scope="col" class="col-3">{{ _('Name') }}</th>
          <th scope="col">{{ _('Type') }}</th>
          {% for field in extra_fields %}
          {% if perms.can_access_resource(field) %}
          <th scope="col">{{ field.label }}</th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for location in locations.items %}
        <tr class="{{ 'rtl' if g.locale.text_direction == 'rtl' else '' }}">
          <td class="text-right text-monospace"><a href="{{ url_for('locationset.location_edit', id=location.id) }}">{{ location.code }}</a></td>
          <td class="text-monospace">{{ location.name }}</td>
          <td class="text-monospace">{{ location.location_type.name }}</td>
          {% for field in extra_fields %}
          {% if perms.can_access_resource(field) %}
          {%- if location.extra_data -%}
          <td class="text-monospace">{{ location.extra_data.get(field.name)|default('', true) }}</td>
          {%- else -%}
          <td></td>
          {%- endif -%}
          {% endif %}
          {% endfor %}
        </tr>
        {% else %}
        <tr class="table-warning">
          {%- set colspan = 3 + extra_fields|length -%}
          <td class="text-center text-muted" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- IMPORT WIZARD -->
    <div class="wizard" id="import-wizard" data-title="{{ _('Import Locations') }}">
      <!-- Step 1 -->
      <div class="wizard-card" data-cardname="uploadFile">
        <h3>{{ _('Upload File') }}</h3>
        <div class="wizard-input-section">
        <form enctype="multipart/form-data" method="POST" id="upload-form" action="{{ url_for('locationset.locations_import', location_set_id=location_set_id) }}"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="custom-file">
            <input type="file" class="custom-file-input upload" id="uploadFile" name="spreadsheet">
            <label for="uploadFile" class="custom-file-label" data-browse="{{ _('Browse') }}">{{ _('Choose file') }}</label>
            <small class="form-text text-muted" id="uploadFileHelptext">{{ _('Only .csv, .xls and .xlsx files') }}</small>
          </div>
        </form>
        </div>
      </div>

      <div class="wizard-card pr-0" data-cardname="mapFields">
        <h3>{{ _('Map Fields') }}</h3>
        <div class="wizard-input-section overflow-auto"></div>
      </div>

      <div class="wizard-card" data-cardname="finalize">
        <h3>{{ _('Finalize') }}</h3>
        <div class="wizard-input-section">
          <div class="alert alert-info">
            <span class="create-server-name">{% trans %}Click the <strong>Submit</strong> button to begin the import process.{% endtrans %}</span>
          </div>
        </div>
      
        <div class="wizard-failure">
          <div class="alert alert-danger">
            {% trans %}There was a problem submitting the form. Please try again in a minute.{% endtrans %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    {{ render_pager(locations, 'locationset.locations_list', args) }}
  </div>
  <div aria-live="polite" aria-atomic="true" id="app">
    <div style="position: absolute; top: 1rem; right: 1rem;">
      <task-toast v-for="task in tasks" :key="task.id" :task-info="task"></task-toast>
    </div>
  </div>
</div>
<div class="modal fade" id="finalizeModal" tabindex="-1" role="dialog" aria-labelledby="finalizeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finalizeModalLabel">{{ _('Import Locations') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ _('The administrative divisions attached to this location set needs to be finalized before importing locations.') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{%- block tail_js -%}
{{ super() }}
<template id="task-toast">
  <div class="toast" style="width: 250px;" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-delay="5000">
    <div class="toast-header">
      <strong class="mr-auto">{{ '{{' }} taskInfo.status {{ '}}' }}</strong>
      <button class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="toast-body">
      <div class="row">
        <div class="col">
          <div class="clearfix"><strong>{{ '{{' }} processedCount {{ '}}' }} / {{ '{{' }} totalCount {{ '}}' }}</strong></div>
          <div class="progress" style="height: 0.25rem;">
            <div class="progress-bar" :style="processedStyle"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="clearfix"><strong>{{ '{{' }} warningCount {{ '}}' }} / {{ '{{' }} totalCount {{ '}}' }}</strong></div>
          <div class="progress" style="height: 0.25rem;">
            <div class="progress-bar bg-warning" :style="warningStyle"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="clearfix"><strong>{{ '{{' }} errorCount {{ '}}' }} / {{ '{{' }} totalCount {{ '}}' }}</strong></div>
          <div class="progress" style="height: 0.25rem;">
            <div class="progress-bar bg-danger" :style="errorStyle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-wizard.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/EventSource.js') }}"></script>
<script src="{{ url_for('static', filename='js/promise-polyfill.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fetch.umd.js') }}"></script>
<script type="text/javascript">
$(function(){
  var roundTo = function(num) {
    return Math.round((num + 0.00001) * 100) / 100;
  };

  Vue.component('task-toast', {
    updated: function() {
      // clear completed tasks
      if (this.taskInfo.quit == true)
        this.clear();
    },
    template: '#task-toast',
    props: {
      taskInfo: {
        id: String,
        status: String,
        quit: Boolean,
        progress: Object,
        description: String,
        name: String
      }
    },
    methods: {
      clear: function() {
        $(this.$el).toast('hide');
      }
    },
    computed: {
      processedCount: function() {
        return this.taskInfo.progress.processed_records;
      },
      warningCount: function() {
        return this.taskInfo.progress.warning_records;
      },
      errorCount: function() {
        return this.taskInfo.progress.error_records;
      },
      totalCount: function() {
        return this.taskInfo.progress.total_records;
      },
      processedStyle: function() {
        return {width: roundTo(100 * this.taskInfo.progress.processed_records / this.taskInfo.progress.total_records) + '%'};
      },
      warningStyle: function() {
        return {width: roundTo(100 * this.taskInfo.progress.warning_records / this.taskInfo.progress.total_records) + '%'};
      },
      errorStyle: function() {
        return {width: roundTo(100 * this.taskInfo.progress.error_records / this.taskInfo.progress.total_records) + '%'};
      }
    },
    mounted: function() {
      $(this.$el).toast('show');
      var self = this;
      if (this.taskInfo.quit == true) {
        // clear already completed tasks after 5 seconds
        window.setTimeout(function() {
          self.clear();
        }, 5000);
      }
    },
    destroyed: function() {
      $(this.el).toast('dispose');
    }
  });

  var vm = new Vue({
    el: '#app',
    data: {
      tasks: []
    },
    methods: {
      addTask: function(taskInfo) {
        var self = this;
        var index = self.tasks.findIndex(function(task) {
          return task.id == taskInfo.id;
        });
        if (index == -1)
          self.tasks.unshift(taskInfo);
        else
          self.tasks.splice(index, 1, taskInfo);
      },
      loadCompletedTasks: function() {
        var self = this;
        fetch("{{ url_for('users.task_list') }}")
        .then(function(response) {
          return response.json();
        }).then(function(data) {
          if (data.results.length > 0) {
            data.results.forEach(function(taskInfo) {
              self.addTask(taskInfo);
            });
          }

        }).catch(function(err) {
          console.error(err);
        });
      },
      loadRunningTasks: function() {
        var self = this;
        if (window.EventSource) {
          var es = new EventSource("{{ url_for('sse.stream', channel=channel) }}");
          es.onmessage = function (ev) {
            let data = JSON.parse(ev.data);
            if (data.id !== undefined) {
              self.addTask(data);
            }
          };
        }
      }
    },
    mounted: function() {
      this.loadCompletedTasks();
      this.loadRunningTasks();
    }
  });

    $('#filter_reset').on('click', function() {
      var $form = $(this).parents('form').first();
      $form.find(':input').not('button').each(function() { $(this).val(''); })
      $form.submit();
    });

    var finalizeModal = $('#finalizeModal');

    var wizard = $('#import-wizard').wizard({
        keyboard : true,
        contentHeight : 500,
        contentWidth : 700,
        showCancel: true,
        backdrop: true,
        buttons: {'cancelText': "{{ _('Cancel') }}",
                  'nextText': "{{ _('Next') }}",
                  'backText': "{{ _('Back') }}",
                  'submitText': "{{ _('Submit') }}",
                  'submittingText': "{{ _('Submitting...') }}"}
    });

    wizard.on('closed', function() {
        wizard.reset();
        var uploadFile = document.getElementById('uploadFile');
        uploadFile.value = ''
        uploadFile.dispatchEvent(new Event('change'));
        $('#uploadFile').removeClass('is-invalid');
        $('#uploadFileHelptext').removeClass('invalid-feedback');
    });

    wizard.cards['uploadFile'].on('validate', function (card) {
        var cont = true;
        $('#upload-form').ajaxSubmit({
            async: false,
            error: function (data) {
                input = card.el.find("#uploadFile");
                input_helptext = card.el.find('#uploadFileHelptext');
                input.addClass('is-invalid');
                input_helptext.removeClass('text-muted');
                input_helptext.addClass('invalid-feedback');
                cont = false;
            },
            success: function (data) {
                $('.wizard-input-section', wizard.cards['mapFields'].el).html(data);
                $('.wizard-input-section').height(wizard.dimensions.cardContainer - 85);
                cont = true;
            }
        });
        return cont;
    });

    wizard.cards['mapFields'].on('validate', function (card) {
      var cont = false;

      $.ajax({
        type: 'POST',
        url: $('#form-action').val(),
        data: wizard.serialize(),
        async: false,
        beforeSend: function (xhr) { xhr.setRequestHeader('X-Validate', '1'); },
      }).done(function (response) {
        cont = true;
      }).fail(function (data) {
        $('#form-action-errors', wizard.cards['mapFields'].el).html(data.responseText);
        $('#form-action-errors', wizard.cards['mapFields'].el).removeClass('d-none');
        cont = false;
      });

      return cont;
    });

    wizard.on("submit", function(wizard) {
        $.ajax({
            type: 'POST',
            url: $('#form-action').val(),
            data: wizard.serialize()
        }).done(function (response) {
            wizard.trigger("success");
            wizard.hideButtons();
            wizard._submitting = false;
            wizard.submitSuccess();
            wizard.updateProgressBar(0);
            wizard.close();
            vm.loadRunningTasks();
        }).fail(function (data) {
            wizard.submitFailure();
            wizard.showButtons();
        });
    });

    $('#open-wizard').click(function(e) {
        e.preventDefault();
      {%- if location_set.is_finalized is not sameas true %}
        finalizeModal.modal('show');
      {%- else %}
        wizard.reset();
        var uploadFile = document.getElementById('uploadFile');
        uploadFile.value = ''
        uploadFile.dispatchEvent(new Event('change'));
        $('#uploadFile').removeClass('is-invalid');
        $('#uploadFileHelptext').removeClass('invalid-feedback');
        wizard.show();
      {%- endif %}
    });
});
</script>
{%- endblock -%}
