{% macro locations_builder(model, column) %}
<div class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary" disabled>{{ model.location_types.count() }}</button>
  <a href="{{ url_for('locationset.builder', location_set_id=model.id) }}" class="btn btn-primary">{{ _('Manage') }}</a>
</div>
{% endmacro %}

{% macro locations_list(model, column) %}
<div class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary" disabled>{{ model.locations.count() }}</button>
  <a href="{{ url_for('locations.location_list', location_set_id=model.id) }}" class="btn btn-primary">{{ _('Manage') }}</a>
</div>
{% endmacro %}

{% macro samples_list(model, column) %}
<div class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary" disabled>{{ model.samples.count() }}</button>
  <a href="{{ url_for('locations.sample_list', location_set_id=model.id) }}" class="btn btn-primary">{{ _('Manage') }}</a>
</div>
{% endmacro %}

{% macro participants_list(model, column) %}
<div class="btn-group btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary" disabled>{{ model.participants.count() }}</button>
  <a href="{{ url_for('participants.participant_list_with_set', participant_set_id=model.id) }}" class="btn btn-primary">{{ _('Manage') }}</a>
</div>
{% endmacro %}

{% macro event_archive(model, column) %}
<div class="btn-group btn-group" role="group" aria-label="...">
  <a href="{{ url_for('event.download', event_id=model.id) }}" class="btn btn-primary">{{ _('Download Archive') }}</a>
</div>
{% endmacro %}