{% macro render_toast_template() %}
{% raw %}
<template id="task-toast">
  <div class="toast" style="width: 250px;" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-delay="5000">
    <div class="toast-header">
      <strong class="mr-auto">{{ taskInfo.status }}</strong>
      <button class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="toast-body">
      <div class="row">
        <div class="col">
          <div class="clearfix"><strong>{{ processedCount }} / {{ totalCount }}</strong></div>
          <div class="progress" style="height: 0.25rem;">
            <div class="progress-bar" :style="processedStyle"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="clearfix"><strong>{{ warningCount }} / {{ totalCount }}</strong></div>
          <div class="progress" style="height: 0.25rem;">
            <div class="progress-bar bg-warning" :style="warningStyle"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="clearfix"><strong>{{ errorCount }} / {{ totalCount }}</strong></div>
          <div class="progress" style="height: 0.25rem;">
            <div class="progress-bar bg-danger" :style="errorStyle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
{% endraw %}
{% endmacro %}

{% macro render_toast_parent(toast_app_id) %}
<div aria-live="polite" aria-atomic="true" id="{{ toast_app_id }}">
  <div style="position: relative; margin-bottom: 2rem; margin-right: 2rem;">
    <task-toast v-for="task in tasks" :key="task.id" :task-info="task"></task-toast>
  </div>
</div>
{% endmacro %}