{% load apollo %}{% load apollo %}{% load compressed %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    {% compressed_css 'apollo' %}
    {% block stylesheets %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- abbr tag for IE 7 and below -->
    <!--[if lte IE 7]>
      <script type="text/javascript">document.createElement('abbr');</script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    {% block head %}{% endblock %}
  </head>
   <style type="text/css">
  /*  .nav .dropdown-toggle .caret{border-top-color:#ffffff;}
     .nav .dropdown-toggle .caret:hover{border-top-color:#ffffff;}*/
  </style>
  <body>
    <div class="navbar navbar-static-top navbar_style">
      <div class="container">
        <a class="brand" href="#"><img src="{{ STATIC_URL }}img/logo.png"></a>
        <ul class="nav pull-right">
          <li><a href="{% url dashboard %}"><i class="icon-home"></i> Dashboard</a></li>
          {% forms_menu request perms %}
          {% if perms.core.can_analyse %}{% analysis_menu request %}{% endif %}
          {% if perms.core.view_observers %}<li><a href="{% url contacts_list %}"><i class="icon-user"></i> Observers</a></li>{% endif %}
          {% if perms.messagelog.view_messages %}<li><a href="{% url messages_list %}"><i class="icon-envelope"></i> Messages</a></li>{% endif %}
          <li><div class="btn-group pull-right">
          <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#"> {{ request.user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="{% url user-logout %}">Logout</a></li>
          </ul>
        </div></li>
        </ul>
      </div>
    </div>
    <div class="container con_style">
      <h3 class="h_style">{% block title %}{{ page_title }}{% endblock %}{% activity_name request %}</h3>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
      <div class="footer">
        <footer>{% block footer %}{% endblock %}</footer>
      </div>
    </div>

    {% compressed_js 'apollo' %}{% block javascripts %}{% endblock %}

    {% if not debug %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-126343-19']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </body>
</html>
