aws_region            = "us-east-1"
project_name          = "apollo"
environment           = "dev"
db_password           = "pickadbpassword"
secret_key            = "thisisyoursecretkey"
aws_access_key_id     = "LONGSTRINGOFUCGIBBERISH"
aws_secret_access_key = "muchlongerstringofmixedcaseandnumericgibberish"
