<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Le styles -->
    {% assets 'apollo_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen,projection" charset="utf-8">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endassets %}
    {% block stylesheets %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- abbr tag for IE 7 and below -->
    <!--[if lte IE 7]>
      <script type="text/javascript">document.createElement('abbr');</script>
    <![endif]-->

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbrand-container" href="{{ url_for('dashboard.index') }}">
            {% if g.deployment.logo %}
            <img src="{{ g.deployment.logo }}" title="Apollo" class="navbrand-logo">
            {% else %}Apollo{% endif %}
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- main menu -->
            {% autoescape False %}
            {% for menu_item in current_menu.submenu('main').children %}
            {% if not menu_item.children and menu_item.visible %}
            <li><a href="{{ menu_item.url }}">{{ menu_item.icon }} {{ _(menu_item.text) }}</a></li>
            {% elif menu_item.visible %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.icon }} {{ _(menu_item.text) }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if menu_item.children|count < 2 %}
                {% for submenu_item in menu_item.children[0].dynamic_list %}
                <li><a href="{{ submenu_item.url }}">{{ submenu_item.icon }} {{ _(submenu_item.text) }}</a></li>
                {% endfor %}
                {% else %}
                {% for submenu_item in menu_item.children %}
                {% if submenu_item.visible %}
                <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ submenu_item.icon }} {{ _(submenu_item.text) }}</a>
                  <ul class="dropdown-menu">
                    {% for subsubmenu_item in submenu_item.dynamic_list %}
                    <li><a href="{{ subsubmenu_item.url }}">{{ subsubmenu_item.icon }} {{ _(subsubmenu_item.text) }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
              </ul>
            </li>
            {% endif %}
            {% endfor %}
            {% endautoescape %}

            <li class="divider-vertical"></li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="{{ current_user.email|gravatar }}" class="img-rounded" style="margin-right: 0.25em; border-radius: 12px"><b class="caret"></b></a>
              <ul class="dropdown-menu left-submenu">
                <li class="eml"><a href="#">{{ current_user.email}}</a></li>
              {%- if current_menu.submenu('user.events').visible %}
                <li class="divider"></li>
                <li><a href="{{ current_menu.submenu('user.events').url }}"><i class="glyphicon glyphicon-calendar"></i> {{ current_menu.submenu('user.events').text }}</a></li>
              {%- endif %}
              {%- if current_menu.submenu('user.concurrent_events').visible -%}
              {% for event in current_menu.submenu('user.concurrent_events').dynamic_list -%}
                {% if event.active %}
                <li><a href="javascript:;"><i class="glyphicon glyphicon-calendar"></i> <span class="text-muted">{{ event.text }}</span></a></li>
                {% else %}
                <li><a href="{{ event.url }}"><i class="glyphicon glyphicon-calendar"></i> <span>{{ event.text }}</span></a></li>
                {% endif %}
              {% endfor -%}
              {%- endif %}
              {%- if perms.role('admin').can() %}
                <li class="divider"></li>
                <li><a href="{{ url_for('deployment.index_view') }}"><i class="glyphicon glyphicon-user"></i> {{ _('Admin') }}</a></li>
              {%- endif %}
              {%- if current_menu.submenu('user.locations_builder').visible or current_menu.submenu('user.locations_list').visible or current_menu.submenu('user.forms').visible %}
                <li class="divider"></li>
              {%- endif %}
              {%- if current_menu.submenu('user.locations_builder').visible %}
                <li><a href="{{ current_menu.submenu('user.locations_builder').url }}"><i class="glyphicon glyphicon-map-marker"></i> {{ current_menu.submenu('user.locations_builder').text }}</a></li>
              {%- endif %}
              {%- if current_menu.submenu('user.locations_list').visible %}
                <li><a href="{{ current_menu.submenu('user.locations_list').url }}"><i class="glyphicon glyphicon-map-marker"></i> {{ current_menu.submenu('user.locations_list').text }}</a></li>
              {%- endif %}
              {%- if current_menu.submenu('user.forms').visible -%}
                <li><a href="{{ current_menu.submenu('user.forms').url }}"><i class="glyphicon glyphicon-list-alt"></i> {{ current_menu.submenu('user.forms').text }}</a></li>
              {%- endif %}
              {%- if current_menu.submenu('user.locations_builder').visible or current_menu.submenu('user.formbuilder').visible %}
              {%- endif -%}
                <li class="divider"></li>
                <li><a href="{{ url_for_security('logout') }}"><i class="glyphicon glyphicon-log-out"></i> {{ _('Logout') }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h3 class="lead h3">{% block title %}{{ page_title }}{% endblock %} · <em class="text-muted">{{ g.event.name }}</em>{% block toolbar %}{% endblock %}</h3>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <div class="container">
          <footer>
          {%- block footer -%}
            <p style="padding-top:18px;">Apollo &mdash; v2.5.6</p>
          {%- endblock -%}
          </footer>
        </div>
    </div>
    {% assets 'apollo_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}" charset="utf-8"></script>
    {% endassets %}
    {%- block scripts -%}{%- endblock -%}
    {% if not debug and ga_key %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga_key }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </body>
</html>
