{% extends 'frontend/layout.html' %}
{% block stylesheets %}
<style type="text/css">
.chart svg{height:300px; margin-top: .8em;}
.axis text {
  font: 8px sans-serif;
  fill: #666;
  text-anchor: start;
}
.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.daily .axis text {
  text-anchor: end;
}
.table-hide {
  empty-cells: hide;
}
</style>
{% endblock %}
{% from 'frontend/macros/dashboard_filter.html' import render_filter_form %}

{%- block toolbar %}
<div class="btn-toolbar mt-md-0 mt-1" role="toolbar">
  <div class="btn-group" role="group" aria-label="{{ _('Chart Selection') }}">
    <a class="btn btn-primary{{ ' active' if session['dashboard_chart_type'] != 'bar' else  '' }}" href="{{ modify_query(chart='pie') }}" title="{{ _('Pie Chart') }}" aria-label="{{ _('Pie Chart') }}"><i class="fa fa-chart-pie"></i></a>
    <a class="btn btn-primary{{ ' active' if session['dashboard_chart_type'] == 'bar' else  '' }}" href="{{ modify_query(chart='bar') }}" title="{{ _('Bar Chart') }}" aria-label="{{ _('Bar Chart') }}"><i class="fa fa-chart-bar"></i></a>
  </div>
</div>
{%- endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
      {{ render_filter_form(filter_form, location)}}
  </div>
</div>
{%- if not daily_stratified_progress %}
{% if data %}
<div class="row">
{% for row in data %}
  <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-2 mt-4 p-0">
  {%- if group -%}
    <h5 class="text-center">{% if next_location %}<a class="text-decoration-none" href="{{ url_for('dashboard.checklists', form_id=form_id, group=group.slug, locationtype=locationtype, location_=row.get('id', ''), **args) }}">{% endif %}{% if row.name|count > 19 %}<abbr title="{{ row.name }}">{{ row.name|truncate(14, True) }}</abbr>{% else %}{{ row.name }}{% endif %}{% if next_location %}</a>{% endif %}</h5>
  {%- else -%}
    <h5 class="text-center">{% if not location and not request.args.location %}<a class="text-decoration-none" href="{{ url_for('dashboard.checklists', form_id=form_id, group=row.slug, locationtype=locationtype, **args) }}">{% endif %}{% if row.name|count > 19 %}<abbr title="{{ row.name }}">{{ row.name|truncate(14, True) }}</abbr>{% else %}{{ row.name }}{% endif %}{% if not location %}</a>{% endif %}</h5>
  {% endif %}
    <div class="chart text-center" data-chart='{{ row|tojson }}'>
    </div>
  </div>
{% endfor %}
</div>
{% else %}
<div class="card border-light">
  <div class="card-header text-center">{{ _('No Data Available') }}</div>
</div>
{% endif %}
{%- endif %}
{%- if form.show_progress and (daily_progress or daily_stratified_progress) %}
<div class="row">
  {%- if daily_stratified_progress %}
  <div class="col-12 mb-2 mt-4 p-0">
    <h5 class="text-center">{{ _('Daily Progress Report') }}</h5>
    <div class="table-responsive mb-n3 mt-4">
      <table class="table table-sm table-hover table-bordered table-hide">
        <thead class="thead-light">
          <tr>
            <td style="border-top-style: none; border-left-style: none; border-bottom-style: none;"></td>
            <th class="text-center" colspan="{{ event_days|length }}">{{ _('Days') }}</th>
          </tr>
          <tr>
            <th></th>
            {% for day in event_days -%}
            <th scope="col" class="text-center">{{ loop.index }}</th>
            {% endfor %}
            <th scope="col" class="text-center">{% trans %}Total{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          {%- for item in daily_stratified_progress %}
          <tr>
            <td>{% if next_location %}<a class="text-decoration-none" href="{{ url_for('dashboard.checklists', form_id=form_id, progress='✔', locationtype=locationtype, **args) }}">{% endif %}{{ item.name }}{% if next_location %}</a>{% endif %}</td>
            {% for day in event_days -%}
            <td class="text-center text-monospace" title="{% trans index=loop.index %}Day {{ index }}{% endtrans %}">{{ item.data[day] or 0 }}</th>
            {% endfor %}
            <td class="text-center text-monospace" title="{% trans %}Total{% endtrans %}">{{ item.data.total or 0 }}</td>
          <tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {%- else %}
  <div class="col-12 mb-2 mt-4 p-0">
    <h5 class="text-center">{% if not location and not request.args.location %}<a class="text-decoration-none" href="{{ url_for('dashboard.checklists', form_id=form_id, progress='✔', locationtype=locationtype, **args) }}">{% endif %}{{ _('Daily Progress Report') }}{% if not location and not request.args.location %}</a>{% endif %}</h5>
    <div class="table-responsive mb-n3 mt-4">
      <table class="table table-sm table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-center" colspan="{{ event_days|length }}">{{ _('Days') }}</th>
          </tr>
          <tr>
            {% for day in event_days -%}
            <th scope="col" class="text-center">{{ loop.index }}</th>
            {% endfor %}
            <th scope="col" class="text-center">{% trans %}Total{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for day in event_days -%}
            <td class="text-center text-monospace" title="{% trans index=loop.index %}Day {{ index }}{% endtrans %}">{{ daily_progress[day] or 0 }}</th>
            {% endfor %}
            <td class="text-center text-monospace" title="{% trans %}Total{% endtrans %}">{{ daily_progress.total or 0 }}</td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- endif %}
</div>
{%- elif form.show_progress and not group %}
<div class="card border-light">
  <div class="card-header text-center">{{ _('No Data Available') }}</div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script type="text/javascript">
  var time = new Date().getTime();

  $(document.body).bind("mousemove keypress", function(e) {
    time = new Date().getTime();
  });

  function refresh() {
    if(new Date().getTime() - time >= 300000)
      window.location.reload(true);
    else
      setTimeout(refresh, 10000);
  }

  $(function () {
      $('.chart').each(function(idx, el) {
        var json = JSON.parse(el.dataset.chart);
        var dataMap = d3.map()
          .set('Missing', json.Missing + (json.Conflict || 0))
          .set('Partial', json.Partial)
          .set('Complete', json.Complete)
          .set('No Signal', json.Offline);
        var labels = ['Missing', 'Partial', 'Complete', 'No Signal'];
        var labelsMap = d3.map()
          .set('Missing', "{{ _('Missing') }}")
          .set('Partial', "{{ _('Partial') }}")
          .set('Complete', "{{ _('Complete') }}")
          .set('No Signal', "{{ _('No Signal') }}");
        var colors = ["#dc3545", "#ffc107", "#007bff", "#aaaaaa"];
        var label_colors = ["#ffffff", "#000000", "#ffffff", "#000000"];
        var total_label = "{{ _('Total') }}";

      {%- if session['dashboard_chart_type'] == 'bar' %}
        drawBarChart(el, dataMap, labels, labelsMap, colors, total_label);
      {%- else %}
        drawPieChart(el, dataMap, labels, labelsMap, colors, label_colors, total_label);
      {%- endif %}
      });
  });
</script>
<script type="text/javascript">
$(function () {
  $('#filter_reset').on('click', function() {
    var $form = $(this).parents('form').first();
    $form.find(':input').not('button').each(function() { $(this).val(''); })
    $form.submit();
  });
  LocationOptions.placeholder = { id: '-1', text: '{{ _("Location") }}'};
  $('select.select2-locations').select2(LocationOptions);
});
</script>
{% endblock %}