{% extends 'frontend/_layout.html' %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-toggle.css') }}">
<style type="text/css">
.piechart svg{height:300px; margin-left: .8em; margin-top: .8em;}
.toggle.btn{min-height: 30px;}
.toggle-on.btn{padding-right: 30px;}
.toggle-off.btn{padding-left: 32px;}
</style>
{% endblock %}
{% from 'frontend/macros/dashboard_filter.html' import render_filter_form %}
{% block scripts %}
 <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/filters.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-toggle.js') }}"></script>
<script type="text/javascript">
  var time = new Date().getTime();
  
  $(document.body).bind("mousemove keypress", function(e) {
    time = new Date().getTime();
  });

  function refresh() {
    if(new Date().getTime() - time >= 300000) 
      window.location.reload(true);
    else 
      setTimeout(refresh, 10000);
  }
   $(function() {
    $('#toggle-two').bootstrapToggle({
      on: 'Observers',
      off: 'Polling Unit'
    });
  })

</script>
<script type="text/javascript">  
  //Create SVG element

</script>
{% endblock %}
<div class="container">
<h3 class="lead h3">
  {% block title %}{{ page_title }}{% endblock %} · <em class="text-muted">{{ g.event.name }}</em>{% block toolbar %}
  {% endblock %}
</h3>
</div>
{% block content %}
<div class="row">
  <div class="col-md-12">
      <div class="well well-sm filter">
          {{ render_filter_form(filter_form, location)}}
      </div>
  </div>
</div>
{% if data %}
{% for row in data %}
{% if loop.index0 is divisibleby 6 %}<div class="row">{% endif %}
  <div class="col-md-2">
  {%- if group -%}
    <legend class="centered">{% if next_location %}<a href="{{ url_for('dashboard.index', group=group, locationtype=locationtype, location=row.get('id', ''), **args) }}">{% endif %}{{ row.name }}{% if next_location %}</a>{% endif %}</legend>
  {%- else -%}
    <legend style="text-align:center">{% if not location %}<a href="{{ url_for('dashboard.index', group=row.name, locationtype=locationtype, **args) }}">{% endif %}{{ row.name }}{% if not location %}</a>{% endif %}</legend>
  {% endif %}
    <div class="piechart" data-chart='{{ row|tojson }}'>
    </div>
  </div>
{% if loop.last or loop.index is divisibleby 6 %}</div>{% endif %}
{% endfor %}
{% else %}
<div class="row">
  <div class="col-md-12">
  <table width="100%" class="table table-striped table-bordered">
    <tr class="warning">
      <td style="text-align:center">{{ _('No Data Available') }}</td>
    </tr>
  </table>
  </div>
</div>
{% endif %}
{% endblock %}
