<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ _('Account recovery') }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assets 'apollo_css' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_URL }}" />
{% endassets %}
</head>
<body>
<div class="container">
<div class="row" style="padding-top: 70px;">
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
<div class="panel-heading">{{ _('Account recovery') }}</div>
<div class="panel-body">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-info">{{ msg }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{ url_for_security('forgot_password') }}" method="post" name="forgot_password_form">
{{ forgot_password_form.hidden_tag() }}
<div class="form-group">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
<input type="email" name="email" id="email" class="form-control" placeholder="{{ _('Email') }}">
</div>
</div>
<div class="form-group"><button type="submit" class="btn btn-primary btn-block">{{ _('Reset Password') }}</button></div>
</form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>