{%- extends 'frontend/_layout.html' -%}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}
{% block toolbar %}
{% endblock %}
{% block content %}
{%- set flash_msgs = get_flashed_messages(category_filter=['task_begun']) -%}
{%- if flash_msgs -%}
    <div>
    {%- for msg in flash_msgs -%}
      <p class="alert alert-info">{{ msg }}</p>
    {%- endfor -%}
    </div>
{%- endif -%}
    <div class="row-fluid">
      <div>
        {{ render_pager_counter(form_sets, args) }}
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>{{ _('Name') }}</th>
              <th>{{ _('# linked events') }}</th>
              <th colspan="2">{{ _('Forms') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for form_set in form_sets.items %}
            <tr>
              <td>{{ form_set.name }}</td>
              <td>{{ form_set.events|length }}</td>
              <td>{{ form_set.forms.count() }}</td>
              <td><a href="{{ url_for('forms.list_forms', form_set_id=form_set.id) }}">{{ _('Manage') }}</a></td>
            </tr>
            {% else %}
            <tr class="warning">
              <td class="text-center" colspan="2">{{ _('No form sets') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      {{ render_pager(form_sets, 'forms.form_set_list', args) }}
      </div>
    </div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-wizard.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/URI.min.js') }}"></script>
{%- endblock -%}
