{% load i18n %}{% if checklist_forms %}
{% if checklist_forms|length > 1 %}
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-check"></i> {% trans "Checklists" %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for form in checklist_forms %}
        <li><a href="{% url submissions_list form.pk %}"><i class="glyphicon glyphicon-check"></i> {{ form.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% elif checklist_forms|length == 1 %}
<li><a href="{% url submissions_list checklist_forms.0.pk %}"><i class="glyphicon glyphicon-check"></i> {{ checklist_forms.0.name }}</a></li>
{% endif %}
{% endif %}

{% if incident_forms %}
{% if incident_forms|length > 1 %}
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-check"></i> {% trans "Incidents" %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for form in incident_forms %}
        <li><a href="{% url submissions_list form.pk %}"><i class="glyphicon glyphicon-check"></i> {{ form.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% elif incident_forms|length == 1 %}
<li><a href="{% url submissions_list incident_forms.0.pk %}"><i class="glyphicon glyphicon-check"></i> {{ incident_forms.0.name }}</a></li>
{% endif %}
{% endif %}

{% if perms.core.can_verify %}
{% if verification_forms %}
{% if verification_forms|length > 1 %}
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-warning-sign"></i> {% trans "Verification" %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for form in verification_forms %}
        <li><a href="{% url verifications_list form.pk %}"><i class="glyphicon glyphicon-warning-sign"></i> {{ form.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% elif verification_forms|length == 1 %}
<li><a href="{% url verifications_list verification_forms.0.pk %}"><i class="glyphicon glyphicon-warning-sign"></i> {% trans "Verification" %}</a></li>
{% endif %}
{% endif %}
{% endif %}
