{% extends 'frontend/_layout.html' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.handsontable.full.min.css') }}">
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-10">
		<div id="check_builder" data-checks='{{ check_data|tojson}}'></div>
	</div>
	<div class="col-md-2">
		<button class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.handsontable.full.min.js') }}"></script>
<script>
	$(document).ready(function() {
		var check_data = JSON.parse(document.getElementById('check_builder').dataset.checks);
		$('#check_builder').handsontable({
			data: check_data,
			colHeaders: ['Name', 'LHS', 'Comparator', 'RHS'],
			columns: [{
				type: 'text'
			}, {
				type: 'text'
			}, {
				type: 'dropdown',
				source: ['>', '<', '=', '>=', '<=', '!=']
			}, {
				type: 'text'
			}],
			rowHeaders: true,
			minSpareRows: 1,
			stretchH: 'all'
		});
	});
</script>
{% endblock %}