{%- extends 'frontend/_layout.html' -%}
{% block content %}
{%- from 'frontend/macros/submission_field_macros.html' import render_submission_field %}
<div>
<form method="POST">
{{ submission_form.csrf_token() }}
<table class="table table-bordered table-striped table-hover">
  <tbody>
    <tr>
      <td>{{ _('Participant') }}</td>
      <td>{{ submission_form.contributor(class_='select2-container span4 input-xlarge select2 select2-observers') }}</td>
    </tr>
    <tr>
      <td>{{ _('Location') }}</td>
      <td>{{ submission_form.location(class_='select2-container span4 input-xlarge select2 select2-locations') }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped table-hover">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {%- for group in form.groups %}
    <tr>
      <td colspan="3"><h4>{{ group.name }}</h4></td>
    </tr>
    {%- for field in group.fields %}
    <tr>
      <th style="text-align: center">{{ field.name }}</th>
      <td>{{ field.description }}
      {%- if field.options %}
      <span class="options">
      {% for description, value in field.options|dictsort(false, 'value') %}
      <span class="option"><strong>({{ value }})</strong> {{ description }}</span>
      {% endfor %}
      </span>
      {%- endif %}
      </td>
      <td {%- if submission_form[field.name].errors %} class="danger"{%- endif -%}>{{ render_submission_field(submission_form[field.name]) }}</td>
    </tr>
    {% endfor -%}
    {% endfor -%}
    <tr>
      <td>{{ _('Description') }}</td>
      <td colspan="2">{{ submission_form.description(cols=40, rows=5,class_='form-control span4') }}</td>
    </tr>
    <tr>
      <td>{{ _('Status') }}</td>
      <td colspan="2">{{ submission_form.status (class_='form-control span2 input-sm')}}</td>
    </tr>
  </tbody>
</table>


 <div class="row navbar-fixed-bottom" style="bottom:0px; background:#fff; padding:1em 0 1em 2.6em;">
      <div class="container">
        <div class="col-md-offset-8 col-md-2">
          <button type="submit" class="btn btn-info btn-lg btn-block" style= "margin-left:1em;">Save</button>
        </div>
        <div class="col-md-2">
          <a class="btn btn-default btn-lg btn-block" style= "margin-left:;" href="{{ url_for('submissions.submission_list', form_id=form.pk) }}">Cancel</a>
        </div>
      </div>
    </div>
</form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/moment-with-langs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/timestamps.js') }}"></script>
{% endblock %}
