{% extends "frontend/_layout.html" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joint.min.css') }}">
{% endblock %}
{% block toolbar %}
<div class="btn-group pull-right">
<form id="save_form" method="POST" action="{{ request.url }}">
  <input type="hidden" name="divisions_graph" id="divisions_graph" value="" />
  <button style="margin-left:1em" type="submit" class="btn btn-primary" id="save">{% trans %}Save{% endtrans %}</button>
</form>
</div>
<div class="btn-group pull-right">
  <button style="margin-left:1em" type="button" class="btn btn-default" id="addDivisionModalButton">{% trans %}Add Division{% endtrans %}</button>
</div>
{% endblock %}
{% block content %}
<div class="modal fade" id="addDivision" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans %}Add Division{% endtrans %}</h4>
      </div>
      <form role="form" class="form-horizontal">
      <div class="modal-body" style="padding-bottom:5px">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{% trans %}Name{% endtrans %}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="addDivisionName">
            </div>
          </div>
          <div class="form-group">
            <label for="parents" class="col-sm-2 control-label">{% trans %}Parents{% endtrans %}</label>
            <div class="col-sm-10">
              <select multiple="multiple" class="form-control" name="parents" id="addDivisionParents">
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-primary" id="addDivisionAddButton">{% trans %}Add{% endtrans %}</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="updateDivision" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans %}Update Division{% endtrans %}</h4>
      </div>
      <form role="form" class="form-horizontal">
      <div class="modal-body" style="padding-bottom:5px">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{% trans %}Name{% endtrans %}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="updateDivisionName" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="parents" class="col-sm-2 control-label">{% trans %}Parents{% endtrans %}</label>
            <div class="col-sm-10">
              <select multiple="multiple" class="form-control" name="parents" id="updateDivisionParents">
              </select>
              <input type="hidden" class="form-control" id="updateDivisionId" name="id">
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="button" class="btn btn-danger" id="updateDivisionDeleteButton">{% trans %}Delete{% endtrans %}</button>
          <button type="submit" class="btn btn-primary" id="updateDivisionUpdateButton">{% trans %}Update{% endtrans %}</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%- set flash_msgs = get_flashed_messages(category_filter=['locations_builder']) -%}
{%- if flash_msgs -%}
<div class="row">
  <div class="col-md-12">
{%- for msg in flash_msgs -%}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ msg|safe }}
    </div>
{%- endfor -%}
  </div>
</div>
{%- endif -%}
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div id="paper" style="margin-top: 5em" data-graph="{{ g.deployment.administrative_divisions_graph }}"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/joint.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/joint.layout.DirectedGraph.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/locations_builder.js') }}"></script>
{% endblock %}
