{%- extends 'frontend/_layout.html' -%}
{% block stylesheets %}
<style type="text/css">
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
</style>
{% endblock %}
{% block subtitle %}<a href="{{ url_for('locationset.index_view') }}">{{ location_set.name }}</a>{% endblock subtitle %}
{% block content %}
<div class="row-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ page_title }}</h3>
      </div>
      <div class="panel-body">
        {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for key in form.errors %}
            {% for msg in form.errors[key] %}
            <li>{{ msg }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <form enctype="multipart/form-data" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="form-group">
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-4">
                  <div class="fileUpload btn btn-default btn-sm" style="margin-left:1px;">
                    <span>Browse</span>
                    <i class="glyphicon glyphicon-search"></i>
                    <input id="uploadBtn" type="file" class="upload" name="spreadsheet" />
                  </div>
                </div>
                <div class="col-sm-8" style="margin-left:-30px;">
                  <input id="uploadFile" type="text" placeholder="Data File" class="form-control input-sm" readonly>
                  <p class="help-block">
                    <small>{{ _('(only .csv, .xls and .xlsx files)') }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <button class="btn btn-primary">{{ _('Upload') }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(function(){
  $("#uploadBtn").change(function () {
      $("#uploadFile").val(this.files[0].name);
  });
});
</script>
{% endblock scripts %}