{% extends "frontend/_layout.html" %}
{% load apollo %}{% load i18n %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="span8 offset2">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <tbody>
        {% for field in form %}
          <tr>
            <td><label for="{{ field.name }}">{{ field.label }}</label></td>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" class="btn btn-primary" value="Save"> <a class="btn" style="margin-left:0.5em" href="javascript:history.go(-1);">{{ _('Cancel') }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endblock %}
