{% extends "frontend/_layout.html" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joint.min.css') }}">
{% endblock %}
{% block toolbar %}
<div class="btn-group pull-right">
<form id="save_form" method="POST" action="{{ request.url }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="divisions_graph" id="divisions_graph" value="" />
  <button style="margin-left:1em" type="submit" class="btn btn-sm btn-primary" id="save"><i class="glyphicon glyphicon-floppy-save"></i> {{ _('Save') }}</button>
</form>
</div>
<div class="btn-group pull-right">
  <button style="margin-left:1em" type="button" class="btn btn-sm btn-default" id="addDivisionModalButton"><i class="glyphicon glyphicon-plus"></i> {{ _('Add Division') }}</button>
</div>
{% endblock %}
{% block content %}
<div class="modal fade" id="addDivision" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ _('Add Division') }}</h4>
      </div>
      <form role="form" class="form-horizontal">
      <div class="modal-body" style="padding-bottom:5px">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{{ _('Name') }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="addDivisionName">
            </div>
          </div>
          <div class="form-group">
            <label for="parents" class="col-sm-2 control-label">{{ _('Parents') }}</label>
            <div class="col-sm-10">
              <select multiple="multiple" class="form-control" name="parents" id="addDivisionParents">
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <div class="checkbox">
                <label for="addDivisionAdministrative">
                  <input type="checkbox" name="is_administrative" id="addDivisionAdministrative" value="true" /> {{ _('Administrative Division') }}
                </label>
              </div>
              <div class="checkbox">
                <label for="addDivisionPolitical">
                  <input type="checkbox" name="is_political" id="addDivisionPolitical" value="true" /> {{ _('Political Division') }}
                </label>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
          <button type="submit" class="btn btn-primary" id="addDivisionAddButton">{{ _('Add') }}</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="updateDivision" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ _('Update Division') }}</h4>
      </div>
      <form role="form" class="form-horizontal">
      <div class="modal-body" style="padding-bottom:5px">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{{ _('Name') }}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="updateDivisionName" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="parents" class="col-sm-2 control-label">{{ _('Parents') }}</label>
            <div class="col-sm-10">
              <select multiple="multiple" class="form-control" name="parents" id="updateDivisionParents">
              </select>
              <input type="hidden" class="form-control" id="updateDivisionId" name="id">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <div class="checkbox">
                <label for="updateDivisionAdministrative">
                  <input type="checkbox" name="is_administrative" id="updateDivisionAdministrative" value="true" /> {{ _('Administrative Division') }}
                </label>
              </div>
              <div class="checkbox">
                <label for="updateDivisionPolitical">
                  <input type="checkbox" name="is_political" id="updateDivisionPolitical" value="true" /> {{ _('Political Division') }}
                </label>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
          <button type="button" class="btn btn-danger" id="updateDivisionDeleteButton">{{ _('Delete') }}</button>
          <button type="submit" class="btn btn-primary" id="updateDivisionUpdateButton">{{ _('Update') }}</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%- set flash_msgs = get_flashed_messages(category_filter=['locations_builder']) -%}
{%- if flash_msgs -%}
<div class="row">
  <div class="col-md-12">
{%- for msg in flash_msgs -%}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ msg }}
    </div>
{%- endfor -%}
  </div>
</div>
{%- endif -%}
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div id="paper" style="margin-top: 5em" data-graph='{{ g.deployment.administrative_divisions_graph }}'></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/joint.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/joint.layout.DirectedGraph.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/locations_builder.js') }}"></script>
{% endblock %}
