{% extends "frontend/_layout.html" %}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}
{% block toolbar %}
{% if perms.export_messages.can() %}
<a class="btn btn-sm btn-default pull-right" href="{{ url_for('messages.message_list', export='true', **request.args) }}"><i class="glyphicon glyphicon-export"></i> {{ _('Export') }}</a>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div id="container" style="height: 160px; min-width: 600px" data-chart='{{ chart_data|tojson }}'></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm filter">
      <form action="{{ request.url }}" method="GET" id="filter" class="form-inline">
        <div class="form-group">
          {{ filter_form.mobile(class_="form-control span2 input-sm", placeholder=_("Mobile")) }}
        </div>
        <div class="form-group">
          {{ filter_form.text(class_="form-control span2 input-sm", placeholder=_("Text")) }}
        </div>
        <div class=" form-group">
          <div class="input-group date span2 datesel" data-date="" data-date-format="dd-mm-yyyy">
            {{ filter_form.date(class_="form-control span2 input-sm", placeholder=_("Date"), style="width:129px;", size="16", readonly="readonly") }}
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-search"></i> {{ _('Search') }}</button>
        </div>
        <div class="form-group">
          <a class="btn btn-default form-reset btn-sm">{{ _('Clear') }}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ render_pager_counter(pager, args) }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover" style="table-layout:fixed">
      <thead >
        <tr>
          <th width="7%">{{ _('Date') }}</th>
          <th width="7%">{{ _('Time') }}</th>
          <th width="10%">{{ _('Mobile') }}</th>
          <th width="7%">{{ _('Direction') }}</th>
          <th width="60%">{{ _('Text') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for message in pager.items %}
        <tr>
          <td class="timestamp-date" data-timestamp="{{ message.received|timestamp }}">{{ message.received.strftime('%b %d %Y') }}</td>
          <td class="timestamp-time" data-timestamp="{{ message.received|timestamp }}">{{ message.received.strftime('%I:%M %p') }}</td>
          <td>{% if message.direction == 'IN' %}{{ message.sender }}{% else %}{{ message.recipient }}{% endif %}</td>
          <td>{% if message.direction == 'IN' %}{{ _('IN') }}{% else %}{{ _('OUT') }}{% endif %}</td>
          <td style="word-wrap:break-word">{{ message.text }}</td>
        </tr>
        {% else %}
        <tr class="warning">
          <td style="text-align:center" colspan="5">{{ _('No Data Available') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  {{ render_pager(pager, 'messages.message_list', args) }}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/moment-with-langs.min.js') }}"></script>
<script type="text/javascript">
  moment.lang('{{ g.locale }}');
  $(function () {
    // load the data
    var data = $('#container').data('chart');

    Highcharts.setOptions({
      global: {
        useUTC: false
      }
    });

    // Create the chart
    $('#container').highcharts('StockChart', {
        rangeSelector : {
            enabled : false
        },

        navigator: {
          height: 30,
          margin: 10
        },

        credits: {
          enabled: false
        },

        exporting: {
          enabled: false
        },

        scrollbar : {
          enabled : false
        },

        series : [{
            name : '{{ _('Incoming Messages') }}',
            data : data.incoming,
            color: '#ff7f0e',
            type: 'column',
            tooltip: {
                valueDecimals: 0
            }
          }],

        yAxis: {
          min: 0
        }
    });
  });
</script>
<script src="{{ url_for('static', filename='js/timestamps.js') }}"></script>
<script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
{% endblock %}
