{% extends 'frontend/_layout.html' %}{% from 'frontend/macros/analysis_breadcrumb.html' import render_analysis_breadcrumb -%}{% from 'frontend/macros/analysis_navigation.html' import render_analysis_navigation %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    {{ render_analysis_breadcrumb(breadcrumb_data) }}
  </div>
  <div class="col-md-7">
    <form class="form-horizontal pull-right" method="GET" accept-charset="utf-8">
      {{ filter_form.status }} {{ filter_form.witness }} {{ filter_form.sample }}
      <button class="btn btn-warning" type="submit"><i class="icon-search icon-white"></i> {% trans %}Filter{% endtrans %}</button>
    </form>
  </div>
  <div class="col-md-12">
    {{ render_analysis_navigation(navigation_data) }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if incidents %}
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#table" data-toggle="tab">{% trans %}Table{% endtrans %}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="table">
          <table class="table table-bordered table-striped">
            <tr>
              <td colspan="{{ 6 + location_types.count() }}"><strong>{{ form_field.name }}</strong> &middot; {{ form_field.description }}</td>
            </tr>
            <tr>
              <th>{% trans %}Observer ID{% endtrans %}</th>
              <th>{% trans %}Name{% endtrans %}</th>
              {% for lt in location_types %}
              <th>{{ lt.name }}</th>
              {% endfor %}
              <th>{% trans %}Location{% endtrans %}</th>              
              <th style="text-align:center">{% trans %}Witnessed{% endtrans %}</th>              
              <th style="text-align:center" width="50">{% trans %}Status{% endtrans %}</th>              
              <th>{% trans %}Description{% endtrans %}</th>              
            </tr>
            {% for incident in incidents %}
            <tr>
              <td>{{ incident.contributor.participant_id|default }}</td>
              <td>{{ incident.contributor.name|default }}</td>
              {% for lt in location_types %}
              <td><!-- Here be get location for type -->&nbsp;</td>
              {% endfor %}
              <td>{{ incident.location }} &middot; <em class"muted">{{ incident.location.location_type }}</em></td>
              <td style="text-align:center">
              {%- if incident.witness == 'witnessed' -%}
              <i class="glyphicon glyphicon-eye-open"></i>
              {%- elif incident.witness == 'after' -%}
              <i class="glyphicon glyphicon-eye-close"></i>
              {%- elif incident.witness == 'reported' -%}
              <i class="glyphicon glyphicon-user"></i>
              {%- else -%}
              &nbsp;
              {%- endif -%}
              </td>
              <td style="text-align:center">
              {% if incident.status == 'confirmed' %}
              <img src="{{ url_for('static', filename='img/tick.png') }}" title="{% trans %}Confirmed{% endtrans %}" alt="{% trans %}Confirmed{% endtrans %}" />
              {% elif incident.status == 'rejected' %}
              <img src="{{ url_for('static', filename='img/red_dot.png') }}" title="{% trans %}Rejected{% endtrans %}" alt="{% trans %}Rejected{% endtrans %}" />
              {% else %}
              <img src="{{ url_for('static', filename='img/caution.png') }}" title="{% trans %}Unmarked{% endtrans %}" alt="{% trans %}Unmarked{% endtrans %}" />
              {% endif %}
              </td>
              <td>{{ incident.incident_comment }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}