{% extends 'frontend/_layout.html' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nv.d3.min.css') }}">
{% endblock %}
{% block content %}
{% from 'frontend/macros/dashboard_filter.html' import render_filter_form %}
<div class="well">
{{ render_filter_form(filter_form)}}
</div>
<div class="row">
{% if data %}
{% for row in data %}
<div class="col-md-6 text-center">
<div class="piecontainer">
{%- if should_expand -%}
{%- if group -%}
<h3><a href="{{ url_for('dashboard.index', group=group, locationtype=locationtype, **args) }}">{{ row.name }}</a></h3>
{%- else -%}
<h3><a href="{{ url_for('dashboard.index', group=row.name, locationtype=locationtype, **args) }}">{{ row.name }}</a></h3>
{%- endif -%}
{%- else -%}
<h3>{{ row.name }}</h3>
{%- endif -%}
<svg class="piechart" data-chart='{{ row|tojson|safe }}'></svg>
</div>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}