{%- extends 'frontend/_layout.html' -%}
{% block content %}{% set form, siblings, master = submission.form, submission.siblings, submission.master %}
<div class="col-md-12">
<table class="table table-bordered">
{%- if form.form_type == 'CHECKLIST' -%}
<tr>
  <th width="15%">&nbsp;</th>
  <th>1</th>
  {%- for sib in siblings -%}
  <th>{{ loop.index + 1 }}</th>
  {%- endfor -%}
</tr>
{%- endif -%}
<tr>
  <th>{%- trans -%}Participant{% endtrans -%}</th>
  <td><strong>{{ submission.contributor.participant_id }}</strong> &mdash; <strong>{{ submission.contributor.name }}</strong>{%- if submission.contributor.phone %} ({{ submission.contributor.phone }}){%- endif %}</td>
  {%- if form.form_type == 'CHECKLIST' -%}
  {%- for sib in siblings -%}
  <td><strong>{{ sib.contributor.name }}</strong>{% if sib.contributor.phone %} ({{ sib.contributor.phone }}){% endif %} &mdash; <strong>{{ sib.contributor.participant_id }}</strong></td>
  {%- endfor -%}
  {%- endif -%}
</tr>
<tr>
  <th>{%- trans -%}Role{% endtrans -%}</th>
  <td>{{ submission.contributor.role }}</td>
  {%- if form.form_type == 'CHECKLIST' -%}
  {%- for sib in siblings -%}
  <td>{{ sib.contributor.role }}</td>
  {%- endfor -%}
  {%- endif -%}
</tr>
<!--
TODO: insert last used identity here
-->
{%- if form.form_type == 'CHECKLIST' -%}
<tr>
  <th>{%- trans -%}Location{%- endtrans %}</th>
  <td><strong>{{ submission.location }}</strong></td>
  {%- for sib in siblings -%}
  <td><strong>{{ sib.location }}</strong></td>
  {%- endfor -%}
</tr>
<!--
TODO: insert location path here
-->
<tr>
  <th>{%- trans -%}Supervisor{%- endtrans %}</th>
  <td><strong>{{ submission.contributor.supervisor|default('<em>N/A</em>', true) }}</strong>{%- if submission.contributor.supervisor.phone %} ({{ submission.contributor.supervisor.phone }}){%- endif -%}</td>
  {%- for sib in siblings -%}
  <td><strong>{{ sib.contributor.supervisor|default('<em>N/A</em>', true) }}</strong>{%- if sib.contributor.supervisor.phone %} ({{ sib.contributor.supervisor.phone }}){%- endif -%}</td>
  {%- endfor -%}
</tr>
{%- endif -%}
</table>
</div>
<div class="col-md-12">
<form method="POST">
{{ submission_form.csrf_token() }}
{%- if form.form_type == 'CHECKLIST' %}
{%- for f in sibling_forms -%}{{ f.csrf_token() }}{%- endfor -%}{{ master_form.csrf_token() }}
<table class="table table-bordered table-striped table-hover">
<tbody>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td style="text-align: center"><strong>1</strong></td>
    {%- for sibling in siblings -%}
    <td style="text-align: center"><strong>{{ loop.index + 1 }}</strong></td>
    {%- endfor -%}
    <td>&nbsp;</td>
  </tr>
  {% for group in form.groups %}
  <tr>
    <td colspan="{{ siblings|count + 4 }}"><h4>{{ group.name }}</h4></td>
  </tr>
  {% for field in group.fields %}
  <tr>
    <th>{{ field.name }}</th>
    <td>{{ field.description }}</td>
    <td>{{ submission_form[field.name] }}</td>
    {% for sibling_form in sibling_forms %}
    <td>{{ sibling_form[field.name] }}</td>
    {% endfor %}
    <td>{{ master_form[field.name] }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</tbody>
</table>
{% else %}
<table class="table table-bordered table-striped table-hover">
  <tbody>
    
  </tbody>
</table>
{% endif -%}
</form>
</div>
{% endblock %}