{%- extends 'frontend/_layout.html' -%}
{% block toolbar %}
{%- if submission.versions %}
<div class="btn-group pull-right">
  <a href class="btn btn-default">{%- trans -%}History{%- endtrans -%}</a>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    {% for version in submission.versions -%}
    <li><a href="{{ url_for('submissions.submission_version', submission_id=submission.pk, version_id=version.pk) }}"><span class="tonow">{{ version.timestamp|timestamp }}</span> &mdash; <em>{{ version.identity }}</em></a></li>
    {%- endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
{% block content %}{% set form, siblings, master = submission.form, submission.siblings, submission.master %}
<div class="col-md-12">
<table class="table table-bordered">
{%- if form.form_type == 'CHECKLIST' -%}
<tr>
  <th width="15%">&nbsp;</th>
  <th>1</th>
  {%- for sib in siblings -%}
  <th>{{ loop.index + 1 }}</th>
  {%- endfor -%}
</tr>
{%- endif -%}
<tr>
  <th>{%- trans -%}Participant{% endtrans -%}</th>
  <td><strong>{{ submission.contributor.participant_id }}</strong> &mdash; <strong>{{ submission.contributor.name }}</strong>{%- if submission.contributor.phone %} ({{ submission.contributor.phone }}){%- endif %}</td>
  {%- if form.form_type == 'CHECKLIST' -%}
  {%- for sib in siblings -%}
  <td><strong>{{ sib.contributor.name }}</strong>{% if sib.contributor.phone %} ({{ sib.contributor.phone }}){% endif %} &mdash; <strong>{{ sib.contributor.participant_id }}</strong></td>
  {%- endfor -%}
  {%- endif -%}
</tr>
<tr>
  <th>{%- trans -%}Role{% endtrans -%}</th>
  <td>{{ submission.contributor.role }}</td>
  {%- if form.form_type == 'CHECKLIST' -%}
  {%- for sib in siblings -%}
  <td>{{ sib.contributor.role }}</td>
  {%- endfor -%}
  {%- endif -%}
</tr>
<!--
TODO: insert last used identity here
-->
{%- if form.form_type == 'CHECKLIST' -%}
<tr>
  <th>{%- trans -%}Location{%- endtrans %}</th>
  <td><strong>{{ submission.location }}</strong></td>
  {%- for sib in siblings -%}
  <td><strong>{{ sib.location }}</strong></td>
  {%- endfor -%}
</tr>
<!--
TODO: insert location path here
-->
<tr>
  <th>{%- trans -%}Supervisor{%- endtrans %}</th>
  <td><strong>{{ submission.contributor.supervisor|default('<em>N/A</em>', true) }}</strong>{%- if submission.contributor.supervisor.phone %} ({{ submission.contributor.supervisor.phone }}){%- endif -%}</td>
  {%- for sib in siblings -%}
  <td><strong>{{ sib.contributor.supervisor|default('<em>N/A</em>', true) }}</strong>{%- if sib.contributor.supervisor.phone %} ({{ sib.contributor.supervisor.phone }}){%- endif -%}</td>
  {%- endfor -%}
</tr>
{%- endif -%}
</table>
</div>
<div class="col-md-12">
<form method="POST">
{{ submission_form.csrf_token() }}
{%- if form.form_type == 'CHECKLIST' %}
{%- for f in sibling_forms -%}{{ f.csrf_token() }}{%- endfor -%}{{ master_form.csrf_token() }}
<table class="table table-bordered table-striped table-hover" style="margin-bottom:5.5em;">
<tbody>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td style="text-align: center"><strong>OBS 1</strong></td>
    {%- for sibling in siblings -%}
    <td style="text-align: center"><strong>OBS {{ loop.index + 1 }}</strong></td>
    {%- endfor -%}
    <td style="text-align: center"><strong>PS</strong></td>
  </tr>
  {% for group in form.groups %}
  <tr>
    <td colspan="{{ siblings|count + 4 }}"><h4>{{ group.name }}</h4></td>
  </tr>
  {% for field in group.fields %}
  <tr>
    <th>{{ field.name }}</th>
    <td>{{ field.description }}
      {%- if field.options %}
      <span class="options">
      {% for item in field.options|dictsort(false, 'value') %}
      <span class="option"><strong>({{ item.1 }})</strong> {{ item.0 }}</span>
      {% endfor %}
      </span>
      {%- endif %}
    </td>
    {%- if readonly -%}
    <td>{{ submission_form[field.name](class_='form-control input-mini', disabled=1) }}</td>
    {%- else -%}
    <td {%- if submission_form[field.name].errors %} class="danger"{%- endif -%}>{{ submission_form[field.name](class_='form-control input-mini') }}</td>
    {%- endif -%}
    {%- for sibling_form in sibling_forms -%}
    <td>{{ sibling_form[field.name](class_='form-control input-mini', disabled=1) }}</td>
    {%- endfor -%}
    <td {%- if master_form[field.name].errors %} class="danger"{%- endif -%}>{{ master_form[field.name](class_='form-control input-mini') }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</tbody>
</table>
{% else %}
<table class="table table-bordered table-striped table-hover" style="margin-bottom:5.5em;">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {%- for group in form.groups %}
    <tr>
      <td colspan="3"><h4>{{ group.name }}</h4></td>
    </tr>
    {%- for field in group.fields %}
    <tr>
      <th style="text-align: center">{{ field.name }}</th>
      <td>{{ field.description }}
      {%- if field.options %}
      <span class="options">
      {% for description, value in field.options.iteritems() %}
      <span class="option"><strong>({{ value }})</strong> {{ description }}</span>
      {% endfor %}
      </span>
      {%- endif %}
      </td>
      <td {%- if submission_form[field.name].errors %} class="danger"{%- endif -%}>{{ submission_form[field.name] }}</td>
    </tr>
    {% endfor -%}
    {% endfor -%}
    <tr>
      <td>{%- trans -%}Witness{%- endtrans -%}</td>
      <td colspan="2">{{ submission_form.witness }}</td>
    </tr>
    <tr>
      <td>{%- trans -%}Description{%- endtrans -%}</td>
      <td colspan="2">{{ submission_form.description(cols=40, rows=5) }}</td>
    </tr>
    <tr>
      <td>{%- trans -%}Status{%- endtrans -%}</td>
      <td colspan="2">{{ submission_form.status }}</td>
    </tr>
  </tbody>
</table>
{% endif -%}


 <div class="row navbar-fixed-bottom" style="bottom:0px; background:#fff; padding-top:1em; padding-bottom:1em;">
      <div class="container">
        <div class="col-md-offset-8 col-md-2">
          <button type="submit" class="btn btn-info btn-lg btn-block" style= "margin-left:1em;">Save</button>
        </div>
        <div class="col-md-2">
          <a class="btn btn-default btn-lg btn-block" style= "margin-left:;" href="{{ url_for('submissions.submission_list', form_id=form.pk) }}">Cancel</a>
        </div>
      </div>
    </div>
</form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/timestamps.js') }}"></script>
{% endblock %}
