{%- extends 'frontend/layout.html' -%}
{%- from 'frontend/macros/participant_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}
{%- from 'frontend/macros/send_message.html' import send_message_modal -%}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-wizard.css') }}">
<style type="text/css">
.wizard-modal p {
  margin: 0 0 10px;
  padding: 0;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
</style>
{% endblock %}

{% block toolbar %}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
  {%- if perms.export_participants.can() -%}
  <a class="btn btn-secondary mr-2" href="{{ url_for('participants.participant_list', export='true') }}">{{ _('Export') }}</a>
  {%- endif -%}
  <a class="btn btn-secondary mr-2" href="{{ url_for('participants.participant_performance_list') }}">{{ _('Performance Evaluation') }}</a>
  {%- if perms.import_participants.can() -%}
  <button id="open-wizard" class="btn btn-primary mr-2">{{ _('Import Participants') }}</button>
  {%- endif -%}
  {%- if perms.send_messages.can() -%}
  <button class="btn btn-success mr-2" id="send_message_modal_btn">{{ _('Send Message') }}</button>
  {%- endif -%}
  {%- if perms.role('admin').can() and g.event.participant_set_id -%}
  <button class="btn btn-danger mr-2" id="nuke_participants_modal_btn" data-toggle="modal" data-target="#nuke_modal">{{ _('Purge Participants') }}</button>
  {%- endif -%}
</div>
{% endblock %}

{% block content %}
{%- set flash_msgs = get_flashed_messages(category_filter=['task_begun']) -%}
<div class="row">
  <div class="col-md-12">
    {{ render_filter_form(filter_form, location, location_set_id) }}
  </div>
</div>

<div class="card-header">
  {{ render_pager(participants, 'participants.participant_list', args) }}
</div>

<div class="table-responsive-md mb-n3">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        {% if request.args.sort_by == 'id' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col" class="text-right col-1"><a class="text-decoration-none" href="{{ modify_query(sort_by='id', sort_direction='asc', page='') }}">{{ _('ID') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col" class="text-right col-1"><a class="text-decoration-none" href="{{ modify_query(sort_by='id', sort_direction='desc', page='') }}">{{ _('ID') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif %}{% else -%}
        <th scope="col" class="text-right col-1"><a class="text-decoration-none" href="{{ modify_query(sort_by='id', sort_value='', sort_direction='', page='') }}">{{ _('ID') }}</a></th>
        {% endif -%}

        {%- for location_type in location_types -%}
        {% if request.args.sort_by == 'location' and request.args.sort_value == location_type.id|string %}
        {% if request.args.sort_direction == 'desc' %}
        <th scope="col">
          <a class="text-decoration-none" href="{{ modify_query(sort_by='location', sort_value=location_type.id, sort_direction='asc', page='') }}">{{ location_type.name }} <i class="fa fa-chevron-down"></i></a>
        </th>
        {% else -%}
        <th scope="col">
          <a class="text-decoration-none" href="{{ modify_query(sort_by='location', sort_value=location_type.id, sort_direction='desc', page='') }}">{{ location_type.name }} <i class="fa fa-chevron-up"></i></a>
        </th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='location', sort_value=location_type.id, sort_direction='', page='') }}">{{ location_type.name }}</a></th>
        {% endif %}
        {%- endfor -%}

        {% if request.args.sort_by == 'location_name' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='location_name', sort_direction='asc', page='') }}">{{ _('Location') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='location_name', sort_direction='desc', page='') }}">{{ _('Location') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='location_name', sort_value='', sort_direction='', page='') }}">{{ _('Location') }}</a></th>
        {% endif -%}

        {% if request.args.sort_by == 'name' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='name', sort_direction='asc', page='') }}">{{ _('Name') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='name', sort_direction='desc', page='') }}">{{ _('Name') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='name', sort_value='', sort_direction='', page='') }}">{{ _('Name') }}</a></th>
        {% endif -%}
        {% if request.args.sort_by == 'phone' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='phone', sort_direction='asc', page='') }}">{{ _('Phone') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='phone', sort_direction='desc', page='') }}">{{ _('Phone') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='phone', sort_value='', sort_direction='', page='') }}">{{ _('Phone') }}</a></th>
        {% endif -%}

        {% if request.args.sort_by == 'gen' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='gen', sort_direction='asc', page='') }}">{{ _('Gender') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='gen', sort_direction='desc', page='') }}">{{ _('Gender') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='gen', sort_value='', sort_direction='', page='') }}">{{ _('Gender') }}</a></th>
        {% endif -%}

        {% if request.args.sort_by == 'role' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='role', sort_direction='asc', page='') }}">{{ _('Role') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='role', sort_direction='desc', page='') }}">{{ _('Role') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='role', sort_value='', sort_direction='', page='') }}">{{ _('Role') }}</a></th>
        {% endif -%}

        {% if request.args.sort_by == 'org' -%}
        {% if request.args.sort_direction == 'desc' -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='org', sort_direction='asc', page='') }}">{{ _('Organization') }} <i class="fa fa-chevron-down"></i></a></th>
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='org', sort_direction='desc', page='') }}">{{ _('Organization') }} <i class="fa fa-chevron-up"></i></a></th>
        {% endif -%}
        {% else -%}
        <th scope="col"><a class="text-decoration-none" href="{{ modify_query(sort_by='org', sort_value='', sort_direction='', page='') }}">{{ _('Organization') }}</a></th>
        {% endif -%}

        {% for field in extra_fields %}
        {% if perms.can_access_resource(field) %}
        <th scope="col">{{ field.label }}</th>
        {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for participant in participants.items %}
      <tr>
        {%- if perms.edit_participant.can() -%}
        <td class="text-right text-monospace"><a href="{{ url_for('participants.participant_edit', id=participant.id) }}" data-toggle="modal" data-target="#edit_modal">{{ participant.participant_id }}</a></td>
        {%- else -%}
        <td class="text-right text-monospace">{{ participant.participant_id }}</td>
        {%- endif -%}
        {%- for location_type in location_types -%}
        <td class="text-monospace">{{ participant.location.make_path()[location_type.name] }}</td>
        {%- endfor -%}
        <td class="text-monospace">{{ participant.location.name|default('N/A', true) }}</td>
        <td class="text-monospace">{{ participant.name|default('', true) }}</td>
        <td class="text-monospace">{{ participant.primary_phone|default('', true) }}</td>
        <td class="text-monospace">{{ participant.gender_display }}</td>
        <td class="text-monospace">{{ participant.role.name|default('N/A', true) }}</td>
        <td class="text-monospace">{{ participant.partner|default('', true) }}</td>
        {% for field in extra_fields %}
        {% if perms.can_access_resource(field) %}
        {%- if participant.extra_data -%}
        <td class="text-monospace">{{ participant.extra_data.get(field.name)|default('', true) }}</td>
        {%- else -%}
        <td></td>
        {%- endif -%}
        {% endif %}
        {% endfor %}
      </tr>
      {% else %}
      {%- set colspan = 7 + (location_types|length) + (extra_fields|length) -%}
      <tr class="table-warning">
        <td class="text-center text-muted" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="card-footer">
  {{ render_pager(participants, 'participants.participant_list', args) }}
</div>

<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:450px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editModalLabel">{{ _('Edit Participant') }}</h4>
      </div>
      <div class="modal-body" style="height:4.5em">
        <div id="loader" class="ajax_loader" style="margin:auto">
          <div class="ajax_loader_block block_1"></div>
          <div class="ajax_loader_block block_2"></div>
          <div class="ajax_loader_block block_3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if perms.role('admin').can() -%}
<div class="modal fade" id="nuke_modal" tabindex="-2" role="dialog" aria-labelledby="nukeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="nukeModalLabel">{{ _('Purge Participants') }}</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">{% trans %}<strong>WARNING:</strong> This will delete all participants, as well as any data linked to them &ndash; checklists, critical incident reports and messages.{% endtrans %}</div>
        <p>{% trans %}Please enter <code id="compare"></code> below to proceed:{% endtrans %}</p>
        <div class="form-group">
          <input class="form-control" id="prompt">
        </div>
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('participants.nuke_event_participants') }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
          <button class="btn btn-danger" disabled="true" id="confirm_nuke">{{ _('Yes, I understand') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
<!-- IMPORT WIZARD -->
<div class="wizard" id="import-wizard" data-title="{{ _('Import Participants') }}">
  <!-- Step 1 -->
  <div class="wizard-card" data-cardname="uploadFile">
    <h3>{{ _('Upload File') }}</h3>
    <div class="wizard-input-section">
    <form enctype="multipart/form-data" method="POST" id="upload-form" action="{{ url_for('participants.participant_list_import') }}"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4">
              <div class="fileUpload btn btn-default btn-sm" style="margin-left:1px;">
                <span>{{ _('Browse') }}</span>
                <i class="glyphicon glyphicon-search"></i>
                <input id="uploadBtn" type="file" class="upload" name="spreadsheet" />
              </div>
            </div>
            <div class="col-sm-8" style="margin-left:-30px;">
              <input id="uploadFile" type="text" placeholder="Data File" class="form-control input-sm" readonly>
              <p class="help-block"><small>{{ _('(only .csv, .xls and .xlsx files)') }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>

  <div class="wizard-card" data-cardname="mapFields">
    <h3>{{ _('Map Fields') }}</h3>
    <div class="wizard-input-section"></div>
  </div>

  <div class="wizard-card" data-cardname="finalize">
    <h3>{{ _('Finalize') }}</h3>
    <div class="wizard-input-section">
      <div class="alert alert-info">
        <span class="create-server-name">{% trans %}Click the <strong>Submit</strong> button to begin the import process.{% endtrans %}</span>
      </div>
    </div>

    <div class="wizard-failure">
      <div class="alert alert-danger">
        {% trans %}There was a problem submitting the form. Please try again in a minute.{% endtrans %}
      </div>
    </div>
  </div>
</div>
{%- endblock -%}

{%- block scripts -%}
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-wizard.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/URI.min.js') }}"></script>
<script type="text/javascript">
var wizard;

$(function(){
    $("#uploadBtn").change(function () {
        $("#uploadFile").val(this.files[0].name);
    });

    $('#delete').hide();

    $('input[type="checkbox"]').click(function() {
        if (this.checked)
        {
            $('#delete').fadeIn('slow');
        }
        else
        {
            if ( !$('.checked:checked').length )
            {
                $('#delete').fadeOut('slow');
            }
        }
    });

    var edit_modal_content;

    $('#edit_modal').on('show.bs.modal', function (e) {
        edit_modal_content = $('#edit_modal').html();
    });
    $('#edit_modal').on('hidden.bs.modal', function(e) {
        $('#edit_modal').removeData();
        $('#edit_modal').html(edit_modal_content);
    });

    {%- if perms.role('admin').can() -%}
    $('#nuke_modal').on('show.bs.modal', function (e) {
        var compare = '{{ _("DELETE") }}';
      $('#compare').html(compare);
      $('#prompt').on('input', _.debounce(function () {
        $('#confirm_nuke').prop('disabled', $('#prompt').val() != compare);
      }, 500));
    });
    {%- endif -%}

    var wizard = $('#import-wizard').wizard({
        keyboard : true,
        contentHeight : 500,
        contentWidth : 700,
        showCancel: true,
        backdrop: true,
        buttons: {'cancelText': "{{ _('Cancel') }}",
                  'nextText': "{{ _('Next') }}",
                  'backText': "{{ _('Back') }}",
                  'submitText': "{{ _('Submit') }}",
                  'submittingText': "{{ _('Submitting...') }}"}
    });

    wizard.on('closed', function() {
        wizard.reset();
        $("#uploadFile").val("");
        $("#uploadBtn").wrap('<form>').closest('form').get(0).reset();
        $("#uploadBtn").unwrap();
    });

    wizard.cards['uploadFile'].on('validate', function (card) {
        var cont = true;
        $('#upload-form').ajaxSubmit({
            async: false,
            error: function (data) {
                input = card.el.find("#uploadFile");
                card.wizard.errorPopover(input, "{{ _('Invalid File') }}");
                cont = false;
            },
            success: function (data) {
                $('.wizard-input-section', wizard.cards['mapFields'].el).html(data);
                cont = true;
            }
        });
        return cont;
    });

    wizard.cards['mapFields'].on('validate', function (card) {
      var cont = false;

      $.ajax({
        type: 'POST',
        url: $('#form-action').val(),
        data: wizard.serialize(),
        async: false,
        beforeSend: function (xhr) { xhr.setRequestHeader('X-Validate', '1'); },
      }).done(function (response) {
        cont = true;
      }).fail(function (data) {
        $('#form-action-errors', wizard.cards['mapFields'].el).html(data.responseText);
        $('#form-action-errors', wizard.cards['mapFields'].el).removeClass('hidden');
        cont = false;
      });

      return cont;
    });

    wizard.on("submit", function(wizard) {
        $.ajax({
            type: 'POST',
            url: $('#form-action').val(),
            data: wizard.serialize()
        }).done(function (response) {
            wizard.trigger("success");
            wizard.hideButtons();
            wizard._submitting = false;
            wizard.submitSuccess();
            wizard.updateProgressBar(0);
            wizard.close();
        }).fail(function () {
          wizard.submitFailure();
          wizard.showButtons();
        });
    });

    $('#open-wizard').click(function(e) {
        e.preventDefault();
        wizard.reset();
        $("#uploadFile").val("");
        $("#uploadBtn").wrap('<form>').closest('form').get(0).reset();
        $("#uploadBtn").unwrap();
        wizard.show();
    });

    $('#edit_modal').on('shown.bs.modal', function (e) {
      $('#edit_modal input.select2-observers-clear').select2(observer_select2_clearable_options);
      $('#edit_modal input.select2-locations').select2(locations_select2_options);
    });

    $('#filter_reset').on('click', function() {
      var $form = $(this).parents('form').first();
      $form.find(':input').not('button').each(function() { $(this).val(''); })
      $form.submit();
    });

    $('select.select2-locations').select2(LocationOptions);
    $('#group.select2').select2({
      theme: 'bootstrap4',
      placeholder: "{{ _('All Groups') }}"
    });
});
</script>

{% if perms.send_messages.can() %}
{{ send_message_modal(participants.total) }}
{% endif %}
{%- endblock -%}
