{%- extends 'frontend/_layout.html' -%}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}
{% block toolbar %}
  {#
  {%- if perms.export_participants.can() -%}
  <a class="btn btn-sm btn-default pull-right" href="{{ url_for('participants.participant_list', export='true', **request.args) }}"><i class="glyphicon glyphicon-export"></i> {{ _('Export') }}</a>
  {%- endif -%}
  #}
  <a class="btn btn-sm btn-default pull-right" href="{{ url_for('participants.participant_performance_list') }}" style="margin-right:1em;"><i class="glyphicon glyphicon-stats"></i> {{ _('Performance Evaluation') }}</a>
  {%- if perms.import_participants.can() -%}
  <button id="open-wizard" class="btn btn-sm btn-primary pull-right" style="margin-right:1em;"><i class="glyphicon glyphicon-import glyphicon-white"></i> {{ _('Import Participants') }}</button>
  {%- endif -%}
  {%- if perms.role('admin').can() -%}
  <button class="btn btn-sm btn-danger pull-right" id="nuke_participants_modal_btn" style="margin-right: 1em;" data-toggle="modal" data-target="#nuke_modal"><i class="glyphicon glyphicon-trash"></i> {{ _('Purge Participants') }}</button>
  {%- endif -%}
{% endblock %}
{% block content %}
{%- set flash_msgs = get_flashed_messages(category_filter=['task_begun']) -%}
{%- if flash_msgs -%}
    <div>
    {%- for msg in flash_msgs -%}
      <p class="alert alert-info">{{ msg }}</p>
    {%- endfor -%}
    </div>
{%- endif -%}
    <div class="row-fluid">
      <div>
        {{ render_pager_counter(participant_sets, args) }}
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>{{ _('Name') }}</th>
              <th>{{ _('# linked events') }}</th>
              <th colspan="2">{{ _('Participant groups') }}</th>
              <th colspan="2">{{ _('Participants') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for participant_set in participant_sets.items %}
            <tr>
              <td>{{ participant_set.name }}</td>
              <td>{{ participant_set.events|length }}</td>
              <td>{{ participant_set.participant_groups|length }}</td>
              <td>{{ _('Manage') }}</td>
              <td>{{ participant_set.participants|length }}</td>
              <td>{{ _('Manage') }}</td>
            </tr>
            {% else %}
            <tr class="warning">
              <td class="text-center" colspan="6">{{ _('No participant sets') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      {{ render_pager(participant_sets, 'participants.participant_set_list', args) }}
      </div>
    </div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chosen.jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-wizard.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/URI.min.js') }}"></script>
{%- endblock -%}
