{%- extends 'frontend/_layout.html' -%}
{%- from 'frontend/macros/participant_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}
{%- from 'frontend/macros/send_message.html' import send_message_modal -%}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.raty.css') }}" media="screen" charset="utf-8">
<style type="text/css">
.arrow-style{text-decoration:none; color:#333;}
a:hover.arrow-style{text-decoration:none; color:#333;}
.img{margin: 4px 0 0 -6px;}
</style>
{% endblock %}
{% block toolbar %}
  {%- if perms.export_participants.can() -%}
  <a class="btn btn-sm btn-default pull-right" href="{{ url_for('participants.participant_performance_list', export='true', **request.args) }}"><i class="glyphicon glyphicon-export"></i> {{ _('Export') }}</a>
  {%- endif -%}
  {%- if perms.send_messages.can() -%}
  <button class="btn btn-sm btn-success pull-right" id="send_message_modal_btn" style="margin-right:1em;"><i class="glyphicon glyphicon-envelope"></i> {{ _('Send Message') }}</button>
  {%- endif -%}
{% endblock %}
{% block content %}
{%- set flash_msgs = get_flashed_messages(category_filter=['task_begun']) -%}
    <div class="row-fluid">
      <div class="well well-sm filter">
        {{ render_filter_form(filter_form, location) }}
      </div>
    </div>
{%- if flash_msgs -%}
    <div>
    {%- for msg in flash_msgs -%}
      <p class="alert alert-info">{{ msg }}</p>
    {%- endfor -%}
    </div>
{%- endif -%}
    <div class="row-fluid">
      <div>
        {{ render_pager_counter(participants, args) }}
        <form class="form-inline" action="{{ request.url }}" method="POST">
          {{ form.csrf_token() }}{{ form.select_superset() }}
          <a href="#" id="delete" class="btn btn-sm btn-danger pull-left"><i class="glyphicon glyphicon-trash i_custom"></i></a>
          <table class="table table-bordered table-striped">
           <thead>
             <tr>
              <th><input type="checkbox" class="checked" id="select_all" name="select_all"></th>
               <th><a href="{{ url_for('participants.participant_performance_list', sort_by='id', **args) }}" class="arrow-style"><img src="{{ url_for('static', filename='img/double-arrow.gif') }}" class="img pull-left"></img>{{ _('ID') }}</a></th>
               {%- for location_type in location_types -%}
               <th>{{ location_type.name }}</th>
               {%- endfor -%}
               <th>{{ _('Location') }}</th>
               <th><a href="{{ url_for('participants.participant_performance_list', sort_by='name', **args) }}" class="arrow-style"><img src="{{ url_for('static', filename='img/double-arrow.gif') }}" class="img pull-left"></img>{{ _('Name') }}</a></th>
               <th>{{ _('Role') }}</th>
               <th>{{ _('Phone') }}</th>
               <th class="text-right">{{ _('Messages') }}</th>
               <th class="text-right">{{ _('Accuracy') }}</th>
               <th class="text-right">{{ _('Completion') }}</th>
               <th class="text-center">{{ _('Rating') }}</th>
               <th class="text-center">{{ _('View') }}</th>
             </tr>
           </thead>
           <tbody>
             {% for participant in participants.items %}
             {% set accuracy = participant.accurate_message_count|percent_of(participant.message_count, 100.0) %}
             {% set completion = participant.completion_rating|percent_of(1, 100.0) %}
             <tr>
               <td><input type="checkbox" class="checked" name="ids" value="{{ participant.id }}"></td>
               <td>{{ participant.participant_id }}</td>
               {%- for location_type in location_types -%}
               <td>{{ participant.location_name_path[location_type.name] }}</td>
               {%- endfor -%}
               <td>{{ participant.location|default('N/A', true) }}</td>
               <td>{{ participant.name|default('', true) }}</td>
               <td>{{ participant.role|default('N/A', true) }}</td>
               <td>{{ participant.phone|default('', true) }}</td>
               <td class="text-right">{{ participant.message_count|default('0', true) }}</td>
               <td class="text-right">{{ accuracy|round|int }}%</td>
               <td class="text-right">{{ completion|round|int }}%</td>
               <td class="text-center"><div class="raty" data-score="{{ (accuracy + completion)/200 * 5 }}" data-number="5"></div></td>
               <td class="text-center"><a href="{{ url_for('participants.participant_performance_detail', pk=participant.id) }}">{{ _('View') }}</a></td>
             </tr>
             {% else %}
             {%- if perms.edit_participant.can() -%}
             {%- set colspan = 9 + (location_types|length) + (g.deployment.participant_extra_fields|length) -%}
             {%- else -%}
             {%- set colspan = 8 + (location_types|length) + (g.deployment.participant_extra_fields|length) -%}
             {%- endif -%}
             <tr class="warning">
               <td class="text-center" colspan="{{ colspan }}">{{ _('No Data Available') }}</td>
             </tr>
             {% endfor %}
           </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      {{ render_pager(participants, 'participants.participant_performance_list', args) }}
      </div>
    </div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.raty.js') }}"></script>
<script type="text/javascript">
  $(function(){
    $('#delete').hide();
    $('input[type="checkbox"]').click(function() {
      if (this.checked)
    {
      $('#delete').fadeIn('slow');
    }
    else
    {
        if ( !$('.checked:checked').length )
        {
            $('#delete').fadeOut('slow');
        }
    }
    });
    $('div.raty').raty({
        number: function() { return $(this).data('number'); },
        score: function() { return $(this).data('score'); },
        readOnly: true,
        starOn: '{{ url_for('static', filename='img/star-on.png') }}',
        starOff: '{{ url_for('static', filename='img/star-off.png') }}',
        starHalf: '{{ url_for('static', filename='img/star-half.png') }}'
    })
  });
</script>
{% if perms.send_messages.can() %}
{{ send_message_modal(participants.total) }}
{% endif %}
{%- endblock -%}
