{% extends 'frontend/_layout.html' %}{% from 'frontend/macros/participants_filter.html' import render_filter_form %}{% block content %}
    <div class="row-fluid">
      <div class="well">
        {{ render_filter_form(filter_form) }}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-10 col-offset-1">
      	<table class="table table-bordered table-striped">
         <thead>
           <tr>
             <th>Participant ID</th>
             <th>Name</th>
             <th>Role</th>
             <th>Location</th>
             <th>Organization</th>
           </tr>
         </thead>
         <tbody>
           {% for participant in participants.items %}
           <tr>
             <td>{{ participant.participant_id }}</td>
             <td>{{ participant.name }}</td>
             <td>{{ participant.role }}</td>
             <td>{{ participant.location }}</td>
             <td>{{ participant.partner }}</td>
           </tr>
           {% endfor %}
         </tbody>
        </table>
        {% from 'frontend/macros/pagination.html' import render_pager %}{{ render_pager(participants, 'participants.participant_list') }}
      </div>
    </div>
{%- endblock %}