{% extends 'frontend/_layout.html' %}
{% block toolbar %}
<a class="btn btn-sm btn-primary pull-right" id="saveBtn"><span class="glyphicon glyphicon-floppy-save"></span> {{ _('Save') }}</a>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.handsontable.full.min.css') }}">
{% endblock %}
{% block content %}
<form method="post">
<div class="row">
	<div class="col-md-12">
		<div id="check_builder" data-checks='{{ check_data|tojson}}' data-failed-indices="{{ failed_checks|tojson }}"></div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /><input type="hidden" name="postdata" id="postdata" value="" />
	</div>
</div>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/canvas-datagrid.js') }}"></script>
<script>
	var loader = function() {
		var check_data = JSON.parse(document.getElementById('check_builder').dataset.checks);
		var failedIndices = JSON.parse(document.getElementById('check_builder').dataset.failedIndices);
		var grid = canvasDatagrid({
			parentNode: document.getElementById('check_builder'),
			schema: [
				{name: '0', title: 'Description'},
				{name: '1', title: 'LHS'},
				{
					name: '2', title: 'Comparator',
					enum: [
						['>', '>'],
						['<', '<'],
						['=', '='],
						['>=', '>='],
						['<=', '<='],
						['!=', '!=']
					]
				},
				{name: '3', title: 'RHS'},
			]
		});
		grid.attributes.showNewRow = true;
		grid.addEventListener('rendercell', function (evt) {
			if (!evt.cell.isHeader && (failedIndices.indexOf(evt.cell.rowIndex) !== -1))
				evt.ctx.fillStyle = '#fcc';
		});
		grid.data = check_data;

		var saveBtn = document.getElementById('saveBtn');
		saveBtn.addEventListener('click', function() {
			var postElement = document.getElementById('postdata');
			postElement.value = JSON.stringify(grid.data);
			document.forms[0].submit();
		});
	};

	document.addEventListener('DOMContentLoaded', loader);

	/*var save;
	$(document).ready(function() {
		var check_data = JSON.parse(document.getElementById('check_builder').dataset.checks);
		$('#check_builder').handsontable({
			data: check_data,
			colHeaders: ['Description', 'LHS', 'Comparator', 'RHS'],
			columns: [{
				type: 'text'
			}, {
				type: 'text'
			}, {
				type: 'dropdown',
				source: ['>', '<', '=', '>=', '<=', '!=']
			}, {
				type: 'text'
			}],
			rowHeaders: true,
			minSpareRows: 1,
			stretchH: 'all',
			contextMenu: true
		});

		save = function() {
			handsontable = $('#check_builder').handsontable('getInstance');
			$('#postdata').val(JSON.stringify(handsontable.getData()));
			$('form').submit();
		}
	});*/
</script>
{% endblock %}
