{% extends "frontend/layout.html" %}
{%- from 'frontend/macros/quality_assurance_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager -%}
{%- from 'frontend/macros/quality_assurance_list_macros.html' import submission_header, submission_items -%}
{%- from 'frontend/macros/send_message.html' import send_message_modal -%}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset_url_for('datetimepicker.css') }}">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ asset_url_for('moment.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset_url_for('datetimepicker.js') }}" charset="utf-8"></script>
<script type="text/javascript">
$(function () {
  moment.lang('{{ g.locale }}');

  $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    format: 'DD-MM-YYYY',
    widgetPositioning: {
      horizontal: "{{ 'right' if g.locale.text_direction == 'rtl' else 'left' }}"
    },
    allowInputToggle: true,
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas {{ 'fa-chevron-right' if g.locale.text_direction == 'rtl' else 'fa-chevron-left' }}',
      next: 'fas {{ 'fa-chevron-left' if g.locale.text_direction == 'rtl' else 'fa-chevron-right' }}',
      today: 'far fa-calendar-check',
      clear: 'fas fa-trash',
      close: 'fas fa-times'
    }
  });

  $('.timestamp-moment').each(function (index) {
    var timestamp = Number($(this).data('timestamp'));
    if (timestamp !== 0) {
      var mm = moment.unix(timestamp).tz('{{ config.TIMEZONE }}');
      this.innerText = mm.format('ll LT');
    }
  });

  $('#filter_reset').on('click', function() {
    var $form = $(this).parents('form').first();
    $form.find(':input').not('button').each(function() { $(this).val(''); })
    $form.submit();
  });
  LocationOptions.placeholder = { id: '-1', text: '{{ _("Location") }}'};
  $('select.select2-locations').select2(LocationOptions);
});
</script>
{% if perms.send_messages.can() %}
{{ send_message_modal(pager.total) }}
{% endif %}
{% endblock %}

{% block toolbar %}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
{% if perms.export_submissions.can() %}
<a class="btn btn-secondary mr-2" href="{{ url_for('submissions.quality_assurance_list', form_id=form.id, export='observer', **request.args) }}">{{ _('Export') }}</a>
{% endif %}
{%- if perms.send_messages.can() -%}
<button class="btn btn-success mr-2" id="send_message_modal_btn">{{ _('Send Message') }}</button>
{%- endif -%}
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {{ render_filter_form(form, filter_form, location) }}
  </div>
</div>

<div class="card-header">
  {{ render_pager(pager, 'submissions.quality_assurance_list', args) }}
</div>

<div class="table-responsive mb-n3">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      {{ submission_header(form, form_fields, location_types, perms) }}
    </thead>
    <tbody>
      {{ submission_items(pager.items, form, form_fields, location_types, quality_statuses, verification_statuses, perms) }}
    </tbody>
  </table>
</div>

<div class="card-footer">
  {{ render_pager(pager, 'submissions.quality_assurance_list', args) }}
</div>
{% endblock %}
