{% extends 'frontend/_layout.html' %}
{% block toolbar %}
<a class="btn btn-sm btn-primary pull-right" href="javascript:save();"><span class="glyphicon glyphicon-floppy-save"></span> {{ _('Save') }}</a>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.handsontable.full.min.css') }}">
{% endblock %}
{% block content %}
<form action="{{ request.url|safe }}" method="post">
<div class="row">
	<div class="col-md-12">
		<div id="check_builder" data-checks='{{ check_data|tojson}}'></div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /><input type="hidden" name="postdata" id="postdata" value="" />
	</div>
</div>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.handsontable.full.min.js') }}"></script>
<script>
	var save;
	$(document).ready(function() {
		var check_data = JSON.parse(document.getElementById('check_builder').dataset.checks);
		$('#check_builder').handsontable({
			data: check_data,
			colHeaders: ['Name', 'Description', 'LHS', 'Comparator', 'RHS'],
			columns: [{
				type: 'text'
			}, {
				type: 'text'
			}, {
				type: 'text'
			}, {
				type: 'dropdown',
				source: ['>', '<', '=', '>=', '<=', '!=']
			}, {
				type: 'text'
			}],
			rowHeaders: true,
			minSpareRows: 1,
			stretchH: 'all',
			contextMenu: true
		});

		save = function() {
			handsontable = $('#check_builder').handsontable('getInstance');
			$('#postdata').val(JSON.stringify(handsontable.getData()));
			$('form').submit();
		}

		$('#save_button').click(function () {
			handsontable = $('#check_builder').handsontable('getInstance');
			$('#postdata').val(JSON.stringify(handsontable.getData()));
			return true;
		});
	});
</script>
{% endblock %}
