{% extends "frontend/_layout.html" %}
{%- from 'frontend/macros/quality_assurance_dashboard_filter.html' import render_filter_form -%}

{% block toolbar %}
{% if perms.export_submissions.can() %}
<div class="btn-group pull-right">
  <a class="btn btn-sm btn-default" href="{{ url_for('submissions.quality_assurance_list', form_id=form.pk, export='observer', **request.args) }}"><i class="glyphicon glyphicon-export"></i> {{ _('Export') }}</a>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {{ render_filter_form(form, filter_form, location) }}
  </div>
</div>
<div class="row" id="check_breakdown" data-checks='{{ check_data|tojson }}'>
  <section id="check-container">
    <div class="col-md-6" v-for="check in checks">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><h4><%= check.description %></h4></div>
      </div>
      <div class="panel-body" id="<%= check.name %>"></div>
    </div>
  </div>
  </section>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dimple.v2.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script>
var check_data = JSON.parse(document.getElementById('check_breakdown').getAttribute('data-checks'));
Vue.config.delimiters = [ '<%=', '%>' ];

var app = new Vue({
  el: '#check-container',
  data: {checks: check_data}
});

check_data.forEach(function (item, i){
  var i_svg = dimple.newSvg('#' + item.name, '100%', '250px');
  var i_chart = new dimple.chart(i_svg, item.counts);
  var i_x_axis = i_chart.addMeasureAxis('x', 'count');
  i_x_axis.tickFormat = 'd';
  i_chart.addCategoryAxis('y', 'label').hidden = true;
  i_chart.addSeries('label', dimple.plot.bar);
  i_chart.assignColor('ok', '#8ae234');
  i_chart.assignColor('flagged and verified', '#fcaf3e');
  i_chart.assignColor('flagged and unverified', '#ef2929');
  i_chart.assignColor('missing', '#babdb6');
  i_chart.addLegend(60, 10, 500, 20, "right");
  i_chart.draw();
});
</script>
{% endblock %}
