<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ _('Reset password') }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assets 'apollo_css' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_URL }}" />
{% endassets %}
</head>
<body>
<div class="container">
<div class="row" style="padding-top: 70px;">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-heading">{{ _('Reset password') }}</div>
<div class="panel-body">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-info">{{ msg }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="post" name="reset_password_form">
{{ reset_password_form.hidden_tag() }}
<div class="form-group">
<label for="{{ reset_password_form.password.id }}">{{ reset_password_form.password.label }}</label>
{{ reset_password_form.password(class_='form-control') }}
</div>
<div class="form-group">
<label for="{{ reset_password_form.password_confirm.id }}">{{ reset_password_form.password_confirm.label }}</label>
{{ reset_password_form.password_confirm(class_='form-control') }}
</div>
<div class="form-group"><button type="submit" class="btn btn-primary btn-block">{{ _('Reset Password') }}</button></div>
</form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>