{% load apollo %}{% load i18n %}
<div class="well well-sm">
  <form action="{% url submissions_list form.pk %}" method="get" id="filter" class="form-inline">
    <div class="form-group">
      {{ filter_form.observer__observer_id }}
      {{ filter_form.location }}
      {{ filter_form.sample }}
      {% if form.type != 'CHECKLIST' %}{{ filter_form.status }}{% endif %}
    </div>
    {% if form.type == 'CHECKLIST' %}
    <div class="form-group">
      {% for group in form_groups %}
      {{ filter_form|groupsel:group.pk }}
      {% endfor %}      
    </div>
    {% endif %}
    <div class="">
      <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> {% trans "Filter" context "verb" %}</button>
      <a class="btn btn-default form-reset" id="filter_reset">{% trans "Clear" context "verb" %}</a>
    </div>
  </form>
</div>
