{% extends "frontend/layout.html" %}
{%- from 'frontend/macros/submission_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager -%}
{%- from 'frontend/macros/submission_list_macros.html' import submission_header, submission_items -%}
{%- from 'frontend/macros/send_message.html' import send_message_modal -%}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch-button.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.bootstrap4.css') }}">
<link rel="stylesheet" href="{{ asset_url_for('datetimepicker.css') }}">
<link rel="stylesheet" href="{{ asset_url_for('leaflet.css') }}">
<style>
#mapView{height:60vh}
</style>
{% endblock %}
{% block scripts -%}
<template id="custom-dropdown">
  <select class="form-control" ref="dropdownEl">
    <option v-if="blankOption" disabled :selected="blankOption.value === selected" :value="blankOption.value">[[ blankOption.label ]]</option>
    <option v-for="(option, index) in options" :key="index" :selected="option.value === selected" :value="option.value">[[ option.label ]]</option>
  </select>
</template>
<template id="expression-builder">
  <div class="p-2 mb-1" :class="cardStyle">
    <div class="d-flex justify-content-around">
      <div class="input-group">
        <custom-dropdown v-model="term.field" ref="lhs" :selected="term.field ? term.field.tag : ''" :options="fieldOptions" :field-map="fieldMap" :bus="bus" :blank-option="{label: '{{ _('Select field')}}', value: ''}"></custom-dropdown>
        <select class="form-control custom-select" v-model="term.operator" v-if="term.field !== null">
          <option disabled value="">{{ _('Select operator') }}</option>
          <option value="=">=</option>
          <option value="<>">&lt;&gt;</option>
          <option value="<" v-if="term.field.type === 'integer'">&lt;</option>
          <option value="<=" v-if="term.field.type === 'integer'">&lt;=</option>
          <option value=">" v-if="term.field.type === 'integer'">&gt;</option>
          <option value=">=" v-if="term.field.type === 'integer'">&gt;=</option>
        </select>
        <select class="form-control custom-select" v-model="term.source" v-if="term.field !== null && term.field.type === 'integer'" @change="updateSource">
          <option disabled value="">{{ _('Select source') }}</option>
          <option value="field">Field</option>
          <option value="value">Value</option>
        </select>
        <input type="number" class="form-control" v-model="term.value" v-if="term.field !== null && term.field.type === 'integer' && term.source === 'value'">
        <custom-dropdown ref="valueDropdown" v-model="term.value" v-if="term.field !== null && term.field.type === 'integer' && term.source === 'field'" :selected="term.value || ''" :options="getValueFields()" :field-map="null" :bus="bus" :blank-option="{label: '{{ _('Select field')}}', value: ''}"></custom-dropdown>
        <select class="form-control custom-select" v-model="term.value" v-if="term.field !== null && term.field.type === 'select'">
          <option disabled value="">{{ _('Select value') }}</option>
          <option v-for="[key, value] in getSortedOptions(term.field.options)" :value="value" :key="value">[[ value ]]</option>
        </select>
      </div>
      <div class="pl-2">
        <a class="btn btn-danger text-white" @click="removeItem">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</template>
<script src="{{ url_for('static', filename='js/bootstrap-switch-button.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ohm.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectize.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser-file-storage.min.js') }}"></script>
<script type="text/javascript" src="{{ asset_url_for('moment.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset_url_for('datetimepicker.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset_url_for('leaflet.js') }}" charset="utf-8"></script>
<script type="text/javascript">
$(function () {
  // initialize the parser
  const formSchema = JSON.parse(document.querySelector('#valuesWrapper').dataset.formSchema);

  const choiceFields = formSchema.filter(f => f.type === 'select').reduce((accumulator, f) => {
    accumulator[f.tag] = f;
    return accumulator
  }, {});

  const integerFields = formSchema.filter(f => f.type === 'integer').reduce((accumulator, f) => {
    accumulator[f.tag] = f;
    return accumulator
  }, {});

  const usableFields = {...choiceFields, ...integerFields};

  let choiceFieldsGrammar, integerFieldsGrammar, choiceActions, intActions, choiceSemantics, intSemantics;
  if (Object.keys(choiceFields).length > 0) {
    choiceFieldsGrammar = ohm.grammar(`
      QueryItem {
        expression = field spaces operator spaces number
        number = digit+
        operator = "=" | "!=" | "<>"
        field = ${Object.keys(choiceFields).map(f => `"${f}"`).join(" | ")}
      }
    `);
    choiceActions = {
      expression(field, _1, operator, _2, number) {
        return {
          field: choiceFields[field.eval()],
          operator: operator.eval(),
          value: number.eval(),
          source: "value"
        };
      },
      operator(o) {
        return o.sourceString;
      },
      field(f) {
        return f.sourceString;
      },
      number(digits) {
        return parseInt(digits.sourceString);
      }
    };
    choiceSemantics = choiceFieldsGrammar.createSemantics();
    choiceSemantics.addOperation('eval', choiceActions);
  }

  if (Object.keys(integerFields).length > 0) {
    integerFieldsGrammar = ohm.grammar(`
      QueryItem {
        expression = field spaces operator spaces entity
        entity = field | number
        number = digit+
        operator = "=" | "!=" | "<>" | ">=" | ">" | "<=" | "<"
        field = ${Object.keys(integerFields).map(f => `"${f}"`).join(" | ")}
      }
    `);
  
    intActions = {
      expression(field, _1, operator, _2, entity) {
        data = {
          field: integerFields[field.eval()],
          operator: operator.eval(),
          value: entity.eval()
        };
  
        if (typeof data["value"] === "number")
          data["source"] = "value";
        else
          data["source"] = "field";
  
        return data;
      },
      entity(e) {
        return e.eval();
      },
      operator(o) {
        return o.sourceString;
      },
      field(f) {
        return f.sourceString;
      },
      number(digits) {
        return parseInt(digits.sourceString);
      }
    };
  
    intSemantics = integerFieldsGrammar.createSemantics();
    intSemantics.addOperation('eval', intActions);
  }

  const queryParams = new URLSearchParams(window.location.search);
  const valueParams = queryParams.get('values');
  const expressions = (valueParams || '').split(',');

  let choiceData, integerData;

  if (choiceFieldsGrammar) {
    choiceData = expressions.filter(
      e => choiceFieldsGrammar.match(e).succeeded()
    ).map(
      e => choiceSemantics(choiceFieldsGrammar.match(e)).eval()
    );
  } else {
    choiceData = [];
  }

  if (integerFieldsGrammar) {
    integerData = expressions.filter(
      e => integerFieldsGrammar.match(e).succeeded()
    ).map(
      e => intSemantics(integerFieldsGrammar.match(e)).eval()
    );
  } else {
    integerData = [];
  }

  const initialData = [...choiceData, ...integerData];

  const customDropdown = Vue.component('custom-dropdown', {
    data: function () {
      return {};
    },
    delimiters: ['[[', ']]'],
    destroyed: function () {
      this.destroyDropdown();
    },
    methods: {
      destroyDropdown: function () {
        if (this.dropdown) {
          this.dropdown[0].selectize.destroy();
          this.dropdown = null;
        }
      }
    },
    created: function() {
      const thisRef = this;
      thisRef.bus.$on('destroy-dropdown', () => {
        if (thisRef.dropdown) {
          thisRef.destroyDropdown();
        }
      });
    },
    mounted: function () {
      const thisRef = this;
      const elementRef = thisRef.$refs.dropdownEl;
      thisRef.$nextTick(() => {
        thisRef.dropdown = $(elementRef).selectize({
          duplicates: true,
          onChange: function (newValue) {
            if (thisRef.fieldMap !== null)
              thisRef.$emit('input', thisRef.fieldMap[newValue]);
            else
              thisRef.$emit('input', newValue);
          },
          onInitialize: function () {
            if (thisRef.selected) {
              if (thisRef.fieldMap !== null)
                thisRef.$emit('input', thisRef.fieldMap[thisRef.selected]);
              else
                thisRef.$emit('input', thisRef.selected);
            }
          }
        });
      });
    },
    props: ['blankOption', 'bus', 'fieldMap', 'options', 'selected', 'value'],
    template: '#custom-dropdown',
  });
  
  /*
  const expressionBuilder = Vue.component('expression-builder', {
    beforeDestroy: function () {
      this.destroyDropdowns(this.index);
    },
    computed: {
      cardStyle: function () {
        if (!this.isEmpty(this.term.field) && !this.isEmpty(this.term.operator) && !this.isEmpty(this.term.value))
          return [];

        return ["bg-warning"];
      },
      fieldMap: function () {
        return usableFields;
      },
      fieldOptions: function () {
        return Object.keys(usableFields).sort().map(i => {
          return {label: i, value: i};
        });
      }
    },
    data: function () {
      return {};
    },
    delimiters: ['[[', ']]'],
    methods: {
      destroyDropdowns: function (index) {
        if (index === this.index) {
          this.$refs.lhs.destroyDropdown();
          if (this.$refs.valueDropdown) {
            this.$refs.valueDropdown.destroyDropdown();
          }
        }
      },
      isEmpty: function (val) {
        return (val === null) || (val === undefined) || (val === "");
      },
      selectField: function () {
        this.term.field = this.schema[idx];
      },
      removeItem: function () {
        this.$emit('remove-item', this.index);
        this.destroyDropdowns(this.index);
      },
      getSortedOptions: function (options) {
        if (options === undefined)
          return [];

        const pairs = Object.entries(options).toSorted((a, b) => a[1] - b[1]);
        return pairs;
      },
      getValueFields: function () {
        const thisRef = this;
        if (!thisRef.term.field || thisRef.term.field.type !== 'integer') return [];

        const tags = thisRef.schema.filter(f => f.tag !== thisRef.term.field.tag && f.type === 'integer').map(f => f.tag);
        return tags.filter(f => f !== thisRef.term.field.tag).map(f => {
          return {label: f, value: f};
        });
      },
      updateSource: function () {
        if (this.term.source === 'value' && this.$refs.valueDropdown) {
          this.$refs.valueDropdown.destroyDropdown();
        }
        this.term.value = null;
      }
    },
    props: ['bus', 'schema', 'index', 'term'],
    template: '#expression-builder'
  });

  const app = new Vue({
    computed: {
      expressions: function () {
        const thisRef = this;
        const completeTerms = this.terms.filter(term => thisRef.isComplete(term));
        return completeTerms.map(term => `${term.field.tag}${term.operator}${term.value}`);
      },
      serializedExpressions: function () {
        const thisRef = this;
        const completeTerms = this.terms.filter(term => thisRef.isComplete(term));
        return completeTerms.map(term => `${term.field.tag}${term.operator}${term.value}`).join(',');
      },
    },
    delimiters: ['[[', ']]'],
    methods: {
      addNewTerm: function () {
        this.terms.push({
          field: null,
          operator: null,
          value: null,
          source: null
        });
      },
      isComplete: function (term) {
        return !this.isEmpty(term.field) && !this.isEmpty(term.operator) && !this.isEmpty(term.value);
      },
      isEmpty: function (val) {
        return (val === null) || (val === undefined) || (val === "");
      },
      removeItem: function (index) {
        this.terms.splice(index, 1);
      }
    },
    el: '#filter-app',
    data: {
      terms: [...initialData],
      schema: formSchema,
      bus: new Vue()
    },
    components: {
      'expression-builder': expressionBuilder,
    }
  });
  */

  const app = new Vue({
    computed: {
      expressions() {
        const thisRef = this;
        const completeTerms = this.terms.filter(term => thisRef.isComplete(term));
        return completeTerms.map(term => `${term.field.tag}${term.operator}${term.value}`);
      },
      serializedExpressions() {
        const thisRef = this;
        const completeTerms = this.terms.filter(term => thisRef.isComplete(term));
        return completeTerms.map(term => `${term.field.tag}${term.operator}${term.value}`).join(',');
      },
    },
    data: {
      schema: formSchema,
      terms: [...initialData]
    },
    delimiters: ['[[', ']]'],
    el: '#filter-app',
    methods: {
      addNewTerm() {
        this.terms.push({
          field: null,
          operator: null,
          value: null,
          source: null
        });
      },
      isComplete(term) {
        return !this.isEmpty(term.field) && !this.isEmpty(term.operator) && !this.isEmpty(term.value);
      },
      isEmpty(val) {
        return (val === null) || (val === undefined) || (val === "");
      },
      removeItem(index) {
        this.terms.splice(index, 1);
      }
    },
    mounted() {
      if (this.terms.length === 0) {
        this.addNewTerm();
      }
    }
  });

  // initialize the toast
  $('#notification-toast').toast();

  // initialize the storage. it uses IndexedDB, so it could fail to
  // initialize
  let BROWSER_STORAGE_AVAILABLE = null;   // IndexedDB storage
  let memoryStorage = [];                 // in-memory storage

  let totalImageCount = 0;
  let numProcessedImages = 0;

  const setUpBulkDownloads = () => {
    browserFileStorage.init('apollo-image-storage')
      .then(() => {
        BROWSER_STORAGE_AVAILABLE = true;
        browserFileStorage.deleteAll()
          .then(() => {})
          .catch(() => {});
      })
      .catch(error => {
        if (error.dbError || !error.supported)
          BROWSER_STORAGE_AVAILABLE = false;
        else if (error.alreadyInit)
          BROWSER_STORAGE_AVAILABLE = true;
      })
  };

  const chunk = (array, chunkSize) => {
    let outputArray = [];
    for (let i = 0; i < array.length; i += chunkSize)
      outputArray.push(array.slice(i, i + chunkSize));

    return outputArray;
  };

  const downloadImage = (imageSpec) => {
    return fetch(imageSpec.url)
      .then(response => {
        if (response.ok)
          return response.blob();
        else
          return null;
      })
      .catch(() => null)
  };

  const processChunk = imageSpecs => {
    let requests = imageSpecs.map(downloadImage);

    return Promise.all(requests)
      .then(responses => {
        responses.forEach((blob, index) => {
          const filename = imageSpecs[index].filename;
          if (blob !== null) {
            if (BROWSER_STORAGE_AVAILABLE) {
              browserFileStorage.save(filename, blob)
                .then(() => {})
                .catch(() => {});
            } else {
              memoryStorage.push({filename: filename, blob: blob});
            }
          }
        });
      })
      .finally(() => {
        numProcessedImages += imageSpecs.length;
        updateProgressBar();
      })
  };

  const updateProgressBar = () => {
    let progressBar = document.getElementById('toast-progress');
    let percentageDone = +(numProcessedImages / totalImageCount * 100).toFixed(1);
    progressBar.innerText = percentageDone + '%';
    progressBar.style.width = Math.ceil(percentageDone) + '%';
  };

  const processManifest = manifest => {
    totalImageCount = manifest.length || 1;
    let chunks = chunk(manifest, 10);
    return chunks.map(processChunk);
  };

  const downloadArchive = (fileSpecs, archiveName) => {
    const zip = new JSZip();
    fileSpecs.forEach(fileSpec => zip.file(fileSpec.filename, fileSpec.blob));

    return zip.generateAsync({type: 'blob'})
      .then(content => {
        let archiveURL = URL.createObjectURL(content);
        let anchor = document.createElement('a');
        anchor.href = archiveURL;
        anchor.download = archiveName;
        document.body.appendChild(anchor);
        anchor.click();
        document.body.removeChild(anchor);
        URL.revokeObjectURL(archiveURL);
      });
  };

  document.addEventListener('click', event => {
    if (!event.target.matches('[data-download-all]'))
      return;

    const endpoint = event.target.dataset.manifestUrl;
    const eventId = event.target.dataset.eventId;
    const formId = event.target.dataset.formId;
    const eventName = event.target.dataset.eventName;
    const formName = event.target.dataset.formName;
    
    fetch(endpoint, {
      method: 'POST',
      body: JSON.stringify({
        event: eventId,
        form: formId
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      if (!data || !data.images || (data.images.length === 0)) {
        $('#noImagesModal').modal();
        return;
      }

      // prompt user if they try to exit the page once downloads begin,
      // and show notification toast
      window.onbeforeunload = () => true;
      $('#notification-toast').toast('show');

      Promise.all(processManifest(data.images))
        .then(() => {
          let fileSpecs = null;
          const timestamp = Math.floor(Date.now() / 1000);
          archiveName = `${eventName}-${formName}-${timestamp}.zip`;
          if (BROWSER_STORAGE_AVAILABLE) {
            browserFileStorage.loadAll()
            .then(files => {
              fileSpecs = files;
              return downloadArchive(fileSpecs, archiveName);
            })
            .finally(() => {
              browserFileStorage.deleteAll();
            })
          } else {
            downloadArchive(memoryStorage, archiveName)
              .finally(() => { memoryStorage = []; })
          }
        }).finally(() => {
          window.onbeforeunload = null;
          document.querySelector('#toast-dismiss').classList.remove('invisible');
          totalImageCount = 0;
          numProcessedImages = 0;
      });
    });
  });


  moment.lang('{{ g.locale }}');
  var marker = undefined;
  var map = undefined;
  LocationOptions.placeholder = { id: '-1', text: '{{ _("Location") }}'};

  $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    format: 'DD-MM-YYYY',
    widgetPositioning: {
      horizontal: "{{ 'right' if g.locale.text_direction == 'rtl' else 'left' }}"
    },
    allowInputToggle: true,
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas {{ 'fa-chevron-right' if g.locale.text_direction == 'rtl' else 'fa-chevron-left' }}',
      next: 'fas {{ 'fa-chevron-left' if g.locale.text_direction == 'rtl' else 'fa-chevron-right' }}',
      today: 'far fa-calendar-check',
      clear: 'fas fa-trash',
      close: 'fas fa-times'
    }
  });

  $('.timestamp-moment').each(function (index) {
    var timestamp = Number($(this).data('timestamp'));
    if (timestamp !== 0) {
      var mm = moment.unix(timestamp).tz('{{ config.TIMEZONE }}');
      this.innerText = mm.format('ll LT');
    }
  });
  $('#filter_reset').on('click', function() {
    var $form = $(this).parents('form').first();
    $form.find(':input').not('button').each(function() { $(this).val(''); })
    $form.submit();
  });
  $('select.select2-locations').select2(LocationOptions);
  $('#geolocationModal').on('shown.bs.modal', function (ev) {
    var target = $(ev.relatedTarget);
    var longitude = target.data('longitude');
    var latitude = target.data('latitude');

    if (map === undefined) {
      map = L.map('map').setView([latitude, longitude], 16);
{%- if config.MAPBOX_TOKEN %}
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: '{{ config.MAPBOX_TOKEN }}'
      }).addTo(map);
{%- else %}
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18
      }).addTo(map);
{%- endif %}
    }

    if (marker !== undefined) {
      marker.remove(map);
    }

    marker = L.marker([latitude, longitude]).addTo(map);
    map.panTo([latitude, longitude]);
  });

{%- if form.show_map %}

  // initialize the map view
  var mapView = L.map('mapView', {preferCanvas: true}).setView([0, 0], 2);
  {%- if config.MAPBOX_TOKEN %}
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: '{{ config.MAPBOX_TOKEN }}'
  }).addTo(mapView);
  {%- else %}
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    maxZoom: 18
  }).addTo(mapView);
  {%- endif %}

  var info = L.control();
  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };
  info.update = function (props) {
    if (props) {
      $(this._div).finish();
      this._div.innerHTML = `
<div class="card text-white bg-primary border-0" style="min-width: 20vw">
  <h5 class="card-header text-monospace {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}">${props.participant} — ${props.participant_id}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-dark bg-light text-monospace {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}">${props.phone}</li>
    <li class="list-group-item text-dark bg-light text-monospace {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}"><strong>${props.location}</strong></li>
${(props.last_updated ? `
    <li class="list-group-item text-dark bg-light text-muted text-monospace timestamp-moment {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}" data-timestamp='${props.last_updated_timestamp}'>${props.last_updated}</li>
`: '')}
  </ul>
</div>
`;
      $('li.timestamp-moment').each(function (index) {
        var timestamp = Number($(this).data('timestamp'));
        if (timestamp !== 0) {
          var mm = moment.unix(timestamp).tz('{{ config.TIMEZONE }}');
          this.innerText = mm.format('ll LT');
        }
      });
      $(this._div).fadeIn(200);
    }
  };
  info.delete = function () {
    $(this._div).finish();
    $(this._div).fadeOut(2000);
  };
  info.addTo(mapView);
  mapView.panTo([0, 0]);

  $.getJSON('{{ url_for('submissions.submission_list', form_id=form.id, geojson='✓', **request.args) | safe }}', function (data) {
    markers = L.geoJson(data, {
      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng);
      },
      onEachFeature: function (feature, layer) {
        if (feature.properties) {
          layer.on({
            mouseover: function () {
              layer.setStyle({color: 'orange'});
              layer.setRadius(15);
              info.update({
                location: feature.properties.location || '{{ _("No Location") }}',
                participant: feature.properties.participant || '{{ _("No Name") }}',
                participant_id: feature.properties.participant_id || '00000',
                phone: feature.properties.phone || '{{ _("No Phone") }}',
                last_updated: feature.properties.last_updated || '',
                last_updated_timestamp: feature.properties.last_updated_timestamp || ''
              });
            },
            mouseout: function () {
              layer.setStyle({color: '#3388ff'});
              layer.setRadius(10);
              info.delete();
            }
          });
        }
      }
    });
    markers.addTo(mapView);

    $('a[aria-controls="mapView"]').one('shown.bs.tab', function (e) {
      mapView.invalidateSize();
      if (markers.getBounds().isValid()) {
        mapView.fitBounds(markers.getBounds());
      }
    });
    $('a[aria-controls="mapView"]').on('shown.bs.tab', function (e) {
      $('input#v').val('map');
    });
    $('a[aria-controls="listView"]').on('shown.bs.tab', function (e) {
      $('input#v').val('');
    });

    if (markers.getBounds().isValid()) {
      mapView.fitBounds(markers.getBounds());
    }
  });
{%- endif %}
});
</script>
{% if perms.send_messages.can() %}
{{ send_message_modal(pager.total) }}
{% endif %}
<div class="modal" id="geolocationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">{{ _('Location') }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0" style="height: 300px !important" id="map">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="noImagesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">{{ _('Nothing To Download') }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ _('There are no images to download') }}</p>
      </div>
      <div class="modal-footer"><button class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button></div>
    </div>
  </div>
</div>

<div aria-live="polite" aria-atomic="true">
  <div class="toast p-2" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast" data-autohide="false" style="position: absolute; bottom: 100px; right: 50px; min-width: 200px;">
    <div class="toast-header">
      <span class="text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>
        &nbsp;
      </span>
      <strong class="mr-auto">{{ _('Download Progress') }}</strong>
      <button id="toast-dismiss" type="button" data-dismiss="toast" aria-label="Close" class="ml-2 mb-1 close invisible">
        <span aria-hidden="true">&times</span>
      </button>
    </div>
    <div class="toast-body">
      <div class="progress">
        <div id="toast-progress" class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block toolbar -%}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
{% if form.form_type == 'INCIDENT' %}
{% if perms.add_submission.can() %}
<a style="margin-left:1em" class="btn btn-primary ml-2" href="{{ url_for('submissions.submission_create', form_id=form.id) }}">{{ _('Add Incident') }}</a>
{% endif %}
{% if perms.export_submissions.can() %}
<a class="btn btn-secondary ml-2" href="{{ url_for('submissions.submission_list', form_id=form.id, export='observer', **request.args) }}">{{ _('Export') }}</a>
{% endif %}
{% else %}
{% if perms.export_submissions.can() %}
<div class="btn-group ml-2" role="group">
  <a class="btn btn-secondary" href="{{ url_for('submissions.submission_list', form_id=form.id, export='master', **request.args) }}">{{ _('Export') }}</a>
  <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="exportMenuReference" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">{{ _('Toggle Dropdown') }}</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="exportMenuReference">
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='observer', **request.args) }}">{{ _('Observer') }}</a>
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='observer-ts', **request.args) }}">{{ _('Observer (Timestamps)') }}</a>
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='master', **request.args) }}">{{ _('Location') }}</a>
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='aggregated', **request.args) }}">{{ _('Aggregate') }}</a>
    {% if form.has_image_fields %}
    <a class="dropdown-item" data-download-all="true" data-event-id="{{ g.event.id }}" data-form-id="{{ form.id }}" data-event-name="{{ g.event.name }}" data-form-name="{{ form.name }}" data-manifest-url="{{ url_for('submissions.get_image_manifest') }}" style="cursor: pointer;">{{ _('Images') }}</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}
{% if perms.send_messages.can() %}
<button class="btn btn-success ml-2" id="send_message_modal_btn">{{ _('Send Message') }}</button>
{% endif %}
</div>
{%- if form.show_map %}
<div class="mt-md-0 mt-1 ml-2" id="view" role="tablist">
  <div class="nav btn-group" role="group" aria-label="{{ _('View Selection') }}">
    <a class="btn btn-primary {%- if request.args.v != "map" %} active{% endif %}" href="#listView" data-toggle="tab" role="tab" aria-controls="listView" aria-selected="true" title="{{ _('List View') }}" aria-label="{{ _('List View') }}"><i class="fa fa-list"></i></a>
    <a class="btn btn-primary {%- if request.args.v == "map" %} active{% endif %}" href="#mapView" data-toggle="tab" role="tab" aria-controls="mapView" aria-selected="false" title="{{ _('Map View') }}" aria-label="{{ _('Map View') }}"><i class="fa fa-map-marked-alt"></i></a>
  </div>
</div>
{%- endif %}
{% endblock %}

{% block content -%}
<div class="row">
  <div class="col-md-12">
    {{ render_filter_form(form, filter_form, location) }}
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane fade {%- if request.args.v != "map" %} show active{% endif %}" id="listView">
    <div class="card-header">
      {{ render_pager(pager, 'submissions.submission_list', args) }}
    </div>

    <div class="table-responsive mb-n3">
      <table class="table table-sm table-hover">
        <thead class="thead-light">
          {{ submission_header(form, form_fields, location_types, perms) }}
        </thead>
        <tbody>
          {{ submission_items(pager.items, form, form_fields, location_types, perms) }}
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      {{ render_pager(pager, 'submissions.submission_list', args) }}
    </div>
  </div>
  <div class="tab-pane fade {%- if request.args.v == "map" %} show active{% endif %}" id="mapView"></div>
</div>
{% endblock %}
