{% extends "frontend/layout.html" %}
{%- from 'frontend/macros/submission_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager -%}
{%- from 'frontend/macros/submission_list_macros.html' import submission_header, submission_items -%}
{%- from 'frontend/macros/send_message.html' import send_message_modal -%}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch-button.min.css') }}">
<link rel="stylesheet" href="{{ asset_url_for('datetimepicker.css') }}">
<link rel="stylesheet" href="{{ asset_url_for('leaflet.css') }}">
<style>
#mapView{height:60vh}
</style>
{% endblock %}
{% block scripts -%}
<script src="{{ url_for('static', filename='js/bootstrap-switch-button.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser-file-storage.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script type="text/javascript" src="{{ asset_url_for('moment.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset_url_for('datetimepicker.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset_url_for('leaflet.js') }}" charset="utf-8"></script>
<script type="text/javascript">
$(function () {
  // initialize the storage. it uses IndexedDB, so it could fail to
  // initialize
  let BROWSER_STORAGE_AVAILABLE = null;   // IndexedDB storage
  let memoryStorage = [];                 // in-memory storage

  const setUpBulkDownloads = () => {
    browserFileStorage.init('apollo-image-storage')
      .then(() => {
        BROWSER_STORAGE_AVAILABLE = true;
        browserFileStorage.deleteAll()
          .then(() => {})
          .catch(() => {});
      })
      .catch(error => {
        if (error.dbError || !error.supported)
          BROWSER_STORAGE_AVAILABLE = false;
        else if (error.alreadyInit)
          BROWSER_STORAGE_AVAILABLE = true;
      })
  };

  const chunk = (array, chunkSize) => {
    let outputArray = [];
    for (let i = 0; i < array.length; i += chunkSize)
      outputArray.push(array.slice(i, i + chunkSize));

    return outputArray;
  };

  const downloadImage = (imageSpec) => {
    return fetch(imageSpec.url)
      .then(response => {
        if (response.ok)
          return response.blob();
        else
          return null;
      })
      .catch(() => null)
  };

  const processChunk = imageSpecs => {
    let requests = imageSpecs.map(downloadImage);

    return Promise.all(requests)
      .then(responses => {
        responses.forEach((blob, index) => {
          const filename = imageSpecs[index].filename;
          if (blob !== null) {
            if (BROWSER_STORAGE_AVAILABLE) {
              browserFileStorage.save(filename, blob)
                .then(() => {})
                .catch(() => {});
            } else {
              memoryStorage.push({filename: filename, blob: blob});
            }
          }
        });
      })
  };

  const processManifest = manifest => {
    let chunks = chunk(manifest, 10);
    return chunks.map(processChunk);
  };

  const downloadArchive = (fileSpecs, archiveName) => {
    const zip = new JSZip();
    fileSpecs.forEach(fileSpec => zip.file(fileSpec.filename, fileSpec.blob));

    return zip.generateAsync({type: 'blob'})
      .then(content => {
        let archiveURL = URL.createObjectURL(content);
        let anchor = document.createElement('a');
        anchor.href = archiveURL;
        anchor.download = archiveName;
        document.body.appendChild(anchor);
        anchor.click();
        document.body.removeChild(anchor);
        URL.revokeObjectURL(archiveURL);
      });
  };

  document.addEventListener('click', event => {
    if (!event.target.matches('[data-download-all]'))
      return;

    window.onbeforeunload = () => true;
    const endpoint = event.target.dataset.manifestUrl;
    const eventId = event.target.dataset.eventId;
    const formId = event.target.dataset.formId;
    const eventName = event.target.dataset.eventName;
    const formName = event.target.dataset.formName;

    fetch(endpoint, {
      method: 'POST',
      body: JSON.stringify({
        event: eventId,
        form: formId
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then(response => response.json())
      .then(data => {

        Promise.all(processManifest(data.images))
          .then(() => {
            let fileSpecs = null;
            const timestamp = Math.floor(Date.now() / 1000);
            archiveName = `${eventName}-${formName}-${timestamp}.zip`;
            if (BROWSER_STORAGE_AVAILABLE) {
              browserFileStorage.loadAll()
              .then(files => {
                fileSpecs = files;
                return downloadArchive(fileSpecs, archiveName);
              })
              .finally(() => {
                browserFileStorage.deleteAll();
              })
            } else {
              downloadArchive(memoryStorage, archiveName)
                .finally(() => { memoryStorage = []; })
            }
          }).finally(() => {
          window.onbeforeunload = null;
        });
      })
      
  });


  moment.lang('{{ g.locale }}');
  var marker = undefined;
  var map = undefined;
  LocationOptions.placeholder = { id: '-1', text: '{{ _("Location") }}'};

  $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    format: 'DD-MM-YYYY',
    widgetPositioning: {
      horizontal: "{{ 'right' if g.locale.text_direction == 'rtl' else 'left' }}"
    },
    allowInputToggle: true,
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas {{ 'fa-chevron-right' if g.locale.text_direction == 'rtl' else 'fa-chevron-left' }}',
      next: 'fas {{ 'fa-chevron-left' if g.locale.text_direction == 'rtl' else 'fa-chevron-right' }}',
      today: 'far fa-calendar-check',
      clear: 'fas fa-trash',
      close: 'fas fa-times'
    }
  });

  $('.timestamp-moment').each(function (index) {
    var timestamp = Number($(this).data('timestamp'));
    if (timestamp !== 0) {
      var mm = moment.unix(timestamp).tz('{{ config.TIMEZONE }}');
      this.innerText = mm.format('ll LT');
    }
  });
  $('#filter_reset').on('click', function() {
    var $form = $(this).parents('form').first();
    $form.find(':input').not('button').each(function() { $(this).val(''); })
    $form.submit();
  });
  $('select.select2-locations').select2(LocationOptions);
  $('#geolocationModal').on('shown.bs.modal', function (ev) {
    var target = $(ev.relatedTarget);
    var longitude = target.data('longitude');
    var latitude = target.data('latitude');

    if (map === undefined) {
      map = L.map('map').setView([latitude, longitude], 16);
{%- if config.MAPBOX_TOKEN %}
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: '{{ config.MAPBOX_TOKEN }}'
      }).addTo(map);
{%- else %}
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18
      }).addTo(map);
{%- endif %}
    }

    if (marker !== undefined) {
      marker.remove(map);
    }

    marker = L.marker([latitude, longitude]).addTo(map);
    map.panTo([latitude, longitude]);
  });

{%- if form.show_map %}

  // initialize the map view
  var mapView = L.map('mapView', {preferCanvas: true}).setView([0, 0], 2);
  {%- if config.MAPBOX_TOKEN %}
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: '{{ config.MAPBOX_TOKEN }}'
  }).addTo(mapView);
  {%- else %}
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    maxZoom: 18
  }).addTo(mapView);
  {%- endif %}

  var info = L.control();
  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };
  info.update = function (props) {
    if (props) {
      $(this._div).finish();
      this._div.innerHTML = `
<div class="card text-white bg-primary border-0" style="min-width: 20vw">
  <h5 class="card-header text-monospace {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}">${props.participant} — ${props.participant_id}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-dark bg-light text-monospace {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}">${props.phone}</li>
    <li class="list-group-item text-dark bg-light text-monospace {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}"><strong>${props.location}</strong></li>
${(props.last_updated ? `
    <li class="list-group-item text-dark bg-light text-muted text-monospace timestamp-moment {%- if g.locale.text_direction == 'rtl' %} rtl{% endif %}" data-timestamp='${props.last_updated_timestamp}'>${props.last_updated}</li>
`: '')}
  </ul>
</div>
`;
      $('li.timestamp-moment').each(function (index) {
        var timestamp = Number($(this).data('timestamp'));
        if (timestamp !== 0) {
          var mm = moment.unix(timestamp).tz('{{ config.TIMEZONE }}');
          this.innerText = mm.format('ll LT');
        }
      });
      $(this._div).fadeIn(200);
    }
  };
  info.delete = function () {
    $(this._div).finish();
    $(this._div).fadeOut(2000);
  };
  info.addTo(mapView);
  mapView.panTo([0, 0]);

  $.getJSON('{{ url_for('submissions.submission_list', form_id=form.id, geojson='✓', **request.args) | safe }}', function (data) {
    markers = L.geoJson(data, {
      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng);
      },
      onEachFeature: function (feature, layer) {
        if (feature.properties) {
          layer.on({
            mouseover: function () {
              layer.setStyle({color: 'orange'});
              layer.setRadius(15);
              info.update({
                location: feature.properties.location || '{{ _("No Location") }}',
                participant: feature.properties.participant || '{{ _("No Name") }}',
                participant_id: feature.properties.participant_id || '00000',
                phone: feature.properties.phone || '{{ _("No Phone") }}',
                last_updated: feature.properties.last_updated || '',
                last_updated_timestamp: feature.properties.last_updated_timestamp || ''
              });
            },
            mouseout: function () {
              layer.setStyle({color: '#3388ff'});
              layer.setRadius(10);
              info.delete();
            }
          });
        }
      }
    });
    markers.addTo(mapView);

    $('a[aria-controls="mapView"]').one('shown.bs.tab', function (e) {
      mapView.invalidateSize();
      if (markers.getBounds().isValid()) {
        mapView.fitBounds(markers.getBounds());
      }
    });
    $('a[aria-controls="mapView"]').on('shown.bs.tab', function (e) {
      $('input#v').val('map');
    });
    $('a[aria-controls="listView"]').on('shown.bs.tab', function (e) {
      $('input#v').val('');
    });

    if (markers.getBounds().isValid()) {
      mapView.fitBounds(markers.getBounds());
    }
  });
{%- endif %}
});
</script>
{% if perms.send_messages.can() %}
{{ send_message_modal(pager.total) }}
{% endif %}
<div class="modal" id="geolocationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">{{ _('Location') }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0" style="height: 300px !important" id="map">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block toolbar -%}
<div class="btn-toolbar d-none d-md-flex" role="toolbar">
{% if form.form_type == 'INCIDENT' %}
{% if perms.add_submission.can() %}
<a style="margin-left:1em" class="btn btn-primary ml-2" href="{{ url_for('submissions.submission_create', form_id=form.id) }}">{{ _('Add Incident') }}</a>
{% endif %}
{% if perms.export_submissions.can() %}
<a class="btn btn-secondary ml-2" href="{{ url_for('submissions.submission_list', form_id=form.id, export='observer', **request.args) }}">{{ _('Export') }}</a>
{% endif %}
{% else %}
{% if perms.export_submissions.can() %}
<div class="btn-group ml-2" role="group">
  <a class="btn btn-secondary" href="{{ url_for('submissions.submission_list', form_id=form.id, export='master', **request.args) }}">{{ _('Export') }}</a>
  <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="exportMenuReference" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">{{ _('Toggle Dropdown') }}</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="exportMenuReference">
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='observer', **request.args) }}">{{ _('Observer') }}</a>
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='master', **request.args) }}">{{ _('Location') }}</a>
    <a class="dropdown-item" href="{{ url_for('submissions.submission_list', form_id=form.id, export='aggregated', **request.args) }}">{{ _('Aggregate') }}</a>
    {% if form.has_image_fields %}
    <a class="dropdown-item" data-download-all="true" data-event-id="{{ g.event.id }}" data-form-id="{{ form.id }}" data-event-name="{{ g.event.name }}" data-form-name="{{ form.name }}" data-manifest-url="{{ url_for('submissions.get_image_manifest') }}" style="cursor: pointer;">{{ _('Download Images') }}</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}
{% if perms.send_messages.can() %}
<button class="btn btn-success ml-2" id="send_message_modal_btn">{{ _('Send Message') }}</button>
{% endif %}
</div>
{%- if form.show_map %}
<div class="mt-md-0 mt-1 ml-2" id="view" role="tablist">
  <div class="nav btn-group" role="group" aria-label="{{ _('View Selection') }}">
    <a class="btn btn-primary {%- if request.args.v != "map" %} active{% endif %}" href="#listView" data-toggle="tab" role="tab" aria-controls="listView" aria-selected="true" title="{{ _('List View') }}" aria-label="{{ _('List View') }}"><i class="fa fa-list"></i></a>
    <a class="btn btn-primary {%- if request.args.v == "map" %} active{% endif %}" href="#mapView" data-toggle="tab" role="tab" aria-controls="mapView" aria-selected="false" title="{{ _('Map View') }}" aria-label="{{ _('Map View') }}"><i class="fa fa-map-marked-alt"></i></a>
  </div>
</div>
{%- endif %}
{% endblock %}

{% block content -%}
<div class="row">
  <div class="col-md-12">
    {{ render_filter_form(form, filter_form, location) }}
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane fade {%- if request.args.v != "map" %} show active{% endif %}" id="listView">
    <div class="card-header">
      {{ render_pager(pager, 'submissions.submission_list', args) }}
    </div>

    <div class="table-responsive mb-n3">
      <table class="table table-sm table-hover">
        <thead class="thead-light">
          {{ submission_header(form, form_fields, location_types, perms) }}
        </thead>
        <tbody>
          {{ submission_items(pager.items, form, form_fields, location_types, perms) }}
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      {{ render_pager(pager, 'submissions.submission_list', args) }}
    </div>
  </div>
  <div class="tab-pane fade {%- if request.args.v == "map" %} show active{% endif %}" id="mapView"></div>
</div>
{% endblock %}
