{% extends 'frontend/layout.html' -%}
{% from 'frontend/macros/submission_field_macros.html' import render_field %}
{%- set form, siblings, master = submission.form, submission.siblings, submission.master %}


{%- block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch-button.min.css') }}">
{% endblock %}



{%- block content %}
<form method="POST">
<input type="hidden" name="next" value="{% if request.environ.get('HTTP_REFERER') == request.url %}{{ url_for('submissions.submission_list', form_id=form.id) }}{% else %}{{ request.environ.get('HTTP_REFERER', url_for('submissions.submission_list', form_id=form.id)) }}{% endif %}" />
{{ submission_form.csrf_token() }}
{%- if form.form_type == 'CHECKLIST' %}
{%- for f in sibling_forms -%}{{ f.csrf_token() }}{%- endfor -%}{{ master_form.csrf_token() }}
{%- endif %}

<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th class="col-2">{{ _('Participant') }}</th>
    <td>{% if submission.participant %}<strong>{{ submission.participant.name }}</strong> &mdash; <strong>{{ submission.participant.participant_id }}</strong>{%- if submission.participant.primary_phone %} ({{ submission.participant.primary_phone }}){%- endif %}
    <input type="hidden" name="{{ submission_form['participant'].name }}" value="{{ submission_form['participant'].data.id|default('__None', true) }}" />
    {%- else -%}{{ submission_form.participant(class_='select2-container span4 input-xlarge select2 select2-observers') }}{% endif %}</td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {%- for sib in siblings -%}
    <td>{% if sib.participant %}<strong>{{ sib.participant.name }}</strong> &mdash; <strong>{{ sib.participant.participant_id }}</strong>{% if sib.participant.primary_phone %} ({{ sib.participant.primary_phone }}){% endif %}{% endif %}</td>
    {%- endfor -%}
    {%- endif -%}
  </tr>
  <tr>
    <th>{{ _('Last Contacted') }}</th>
    <td>{% if submission.participant.last_contacted %}<span class="tonow" data-timestamp="{{ submission.participant.last_contacted|timestamp }}">{{ submission.participant.last_contacted.strftime('%b %d, %Y %I:%M %p') }}</span>{% else %}{{ _('-') }}{% endif %}</td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {%- for sib in siblings -%}
    <td>{% if sib.participant.last_contacted %}<span class="tonow" data-timestamp="{{ sib.participant.last_contacted|timestamp }}">{{ sib.participant.last_contacted.strftime('%b %d, %Y %I:%M %p') }}</span>{% else %}{{ _('-') }}{% endif %}</td>
    {%- endfor -%}
    {%- endif -%}
  </tr>
  <tr>
    <th>{{ _('Texted Phone') }}</th>
    <td>{% if submission.last_phone_number %}<strong>{{ submission.last_phone_number }}</strong> <a href="javascript:;" {%- if not perms.edit_participant.can() %} style="pointer-events:none"{% endif %} id="toggle_verification" data-participant="{{ submission.participant.id }}" data-phone="{{ submission.last_phone_number }}" data-submission="{{ submission.id }}"><span id="toggle_verification_badge" class="badge badge-pill {% if submission.sender_verified %}badge-success{% else %}badge-warning{% endif %}">{% if submission.sender_verified %}{{ _('Verified') }}{% else %}{{ _('Unverified') }}{% endif %}</span></a> <div class="spinner-grow spinner-grow-sm inline-block invisible" id="toggle_verification_spinner" role="status"><span class="sr-only">Loading...</span></div>{% else %}{{ _('-') }}{% endif %}</td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {%- for sib in siblings -%}
    <td>{% if sib.last_phone_number %}<strong>{{ sib.last_phone_number }}</strong> {% if sib.sender_verified %}<span id="phone_verification_status" class="badge badge-pill badge-success">{{ _('Verified') }}</span>{% else %}<span id="phone_verification_status" class="badge badge-pill badge-warning">{{ _('Unverified') }}</span>{% endif %}{% else %}{{ _('-') }}{% endif %}</td>
    {%- endfor -%}
    {%- endif -%}
  </tr>
  <tr>
    <th>{{ _('Other Phones') }}</th>
    <td>
      {% if submission.participant and submission.participant.other_phones %}{{ submission.participant.other_phones|join(', ') }}{% else %}{{ _('-') }}{% endif %}
    </td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {%- for sib in siblings -%}
    <td>{% if sib.participant and sib.participant.other_phones %}{{ sib.participant.other_phones|join(', ') }}{% else %}{{ _('-') }}{% endif %}</td>
    {%- endfor -%}
    {%- endif -%}
  </tr>
  <tr>
    <th>{{ _('Role') }}</th>
    <td>{{ submission.participant.role|default(_('-'), true) }}</td>
    {%- if form.form_type == 'CHECKLIST' -%}
    {%- for sib in siblings -%}
    <td>{{ sib.participant.role }}</td>
    {%- endfor -%}
    {%- endif -%}
  </tr>
  {%- if form.form_type == 'CHECKLIST' -%}
  {#- checklist #}
  <tr>
    <th>{{ _('Location') }}</th>
    <td>
      {% for location_type, location_name in submission.location.make_path().items() %}
      {{ location_name }} &middot; <em>{{ location_type }}</em>{% if not loop.last %} / {% endif %}
      {% else %}
      {{ _('N/A') }}
      {% endfor %}
      <input type="hidden" name="{{ submission_form['location'].name }}" value="{{ submission.location.id|default('__None', true) }}" />
    </td>
    {% for sib in siblings %}
    <td>
      {% for location_type, location_name in submission.location.make_path().items() %}
      {{ location_name }} &middot; <em>{{ location_type }}</em>{% if not loop.last %} / {% endif %}
      {% else %}
      {{ _('N/A') }}
      {% endfor %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <th>{{ _('Supervisor') }}</th>
    <td>{% if submission.participant and submission.participant.supervisor %}<strong>{{ submission.participant.supervisor.name|default('<em>{}</em>'.format(_('N/A')), true) }}</strong>{%- if submission.participant.supervisor.primary_phone %} ({{ submission.participant.supervisor.primary_phone }}){%- endif -%}{% else %}{{ _('N/A') }}{% endif %}</td>
    {%- for sib in siblings -%}
    <td>{% if sib.participant and sib.participant.supervisor %}<strong>{{ sib.participant.supervisor.name|default('<em>{}</em>'.format(_('N/A')), true) }}</strong>{%- if sib.participant.supervisor.primary_phone %} ({{ sib.participant.supervisor.primary_phone }}){%- endif -%}{% else %}{{ _('N/A') }}{% endif %}</td>
    {%- endfor -%}
  </tr>
  {%- else -%}
  {#- critical incident #}
  <tr>
    <th>{{ _('Location') }}</th>
    <td>
      {% for location_type, location_name in submission.location.make_path().items() %}
      {{ location_name }} &middot; <em>{{ location_type }}</em>{% if not loop.last %} / {% endif %}
      {% else %}
      {{ _('N/A') }}
      {% endfor %}
      <input type="hidden" name="{{ submission_form['location'].name }}" value="{{ submission.location.id|default('__None', true) }}" />
    </td>
  </tr>
  {%- endif -%}
  </table>
</div>

{%- if form.form_type == 'CHECKLIST' %}
<ul class="nav nav-tabs justify-content-end mb-n1" id="tabbed" role="tablist">
{%- with comments_count = submission.comments|count %}
{%- if comments_count > 0 %}
  <li class="flex-fill">
    <span class="d-block py-2 px-3"><a href="#comments" class="text-decoration-none"><i class="fa {% if comments_count > 1 %}fa-comments{% else %}fa-comment{% endif %}"></i> {{ ngettext('%(num)d comment', '%(num)d comments', comments_count) }}</a></span>
  </li>
{%- endif %}
{%- endwith %}
  <li class="nav-item">
    <a class="nav-link active" id="checklist-tab" data-toggle="tab" role="tab" aria-controls="checklist-panel" aria-selected="true" href="#checklist-panel">{{ _('Checklist') }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="critical-incidents-tab" data-toggle="tab" role="tab" aria-controls="critical-incidents-panel" aria-selected="false" href="#critical-incidents-panel">{{ _('Critical Incidents') }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" role="tab" aria-controls="messages-panel" aria-selected="false" href="#messages-panel">{{ _('Messages') }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="changelog-tab" data-toggle="tab" role="tab" aria-controls="changelog-panel" aria-selected="false" href="#changelog-panel">{{ _('Changelog') }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="calllog-tab" data-toggle="tab" role="tab" aria-controls="calllog-panel" aria-selected="false" href="#calllog-panel">{{ _('Call Log') }}</a>
  </li>
</ul>

  {%- if failed_checks and submission.form.quality_checks_enabled and perms.edit_submission_verification_status.can() %}
<div class="alert alert-warning alert-dismissible fade show mt-4 mb-0 pb-0" role="alert">
  <h5 class="alert-heading">{{ _('Quality Assurance Warnings') }}</h5>
  <p>{{ _('The following quality assurance conditions were flagged while validating this submission. Please confirm with the participant that the submitted data is correct. If you find the data to be as reported by the participant, mark the data point as confirmed.') }}
  </p>
  <ul>
    {% for criteria in failed_checks %}
    <li>{{ criteria }}</li>
    {% endfor %}
  </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {%- endif %}
{%- endif %}

{%- if form.form_type == 'CHECKLIST' %}
{%- if master_form.errors or submission_form.errors %}
<div class="alert alert-danger alert-dismissible fade show mt-4 mb-0" role="alert">
  <h5 class="alert-heading">{{ _('Data Validation Errors') }}</h5>
  <p>{{ _('The data you entered are not valid. Please check the affected questions and correct them.') }}</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%- endif %}

<div class="card-body tab-content px-0" id="tabbed-content">
  <div class="tab-pane fade show active" id="checklist-panel" role="tabpanel" aria-labelledby="checklist-tab">
    <div class="card bg-light mb-3">
      <div class="card-header py-0 px-0">
        <table class="table table-borderless mb-0">
          <tbody>
            <tr>
              <td class="align-middle">&nbsp;</td>
              <td class="col-2 align-middle text-center">
              {%- if perms.edit_both_submissions.can() %}
                <div class="custom-control custom-radio">
                  <input type="radio" id="{{ submission.id }}" name="submission_selection" class="custom-control-input obs1" value="obs"{% if not readonly %} checked="checked"{% endif %}>
                  <label class="custom-control-label" for="{{ submission.id }}"><strong>{{ submission.participant.participant_id }}</strong></label>
                </div>
              {% else %}
                <span><strong>{{ submission.participant.participant_id }}</strong></span>
              {% endif %}
              </td>
              {% for sibling in siblings -%}
              <td class="col-2 align-middle text-center">
                <span><strong>{{ sibling.participant.participant_id }}</strong></span>
              </td>
              {%- endfor %}
              <td class="col-2 align-middle text-center">
              {%- if perms.edit_both_submissions.can() %}
                <div class="custom-control custom-radio">
                  <input type="radio" id="{{ master.id }}" name="submission_selection" class="custom-control-input ps" value="ps"{% if readonly %} checked="checked"{% endif %}>
                  <label class="custom-control-label" for="{{ master.id }}"><strong>{{ _('Location') }}</strong></label>
                </div>
              {% else %}
                <span><strong>{{ _('Location') }}</strong></span>
              {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="setup" class="card-body collapse show px-0 py-1">
        <table class="table table-borderless mb-0">
          <tbody>
            <tr>
              <td class="align-middle"><strong>{{ _('Signal') }}</strong></td>
              <td class="col-2 align-middle obs-on text-center">
                {{ submission_form.unreachable(**{'class_': 'tracked', 'data-toggle': 'switchbutton', 'data-width': '80', 'data-onlabel': _('No Signal'), 'data-onstyle': 'danger', 'data-offlabel': _('Signal'), 'data-offstyle': 'primary', 'data-size': 'sm'}) }}
              </td>
              {%- for sibling_form in sibling_forms %}
              <td class="col-2 align-middle">
                &nbsp;
              </td>
              {% endfor %}
              <td class="col-2 align-middle">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% for group in form.data.groups %}
    {% set ns = namespace(has_form_error=false, has_qa_error=false) %}
    <div class="card bg-light {%- if not loop.last %} mb-3{% endif %}">
      <div class="card-header d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#{{ group.name }}" aria-expanded="{% if submission.completion(group.name) == 'Complete' and not ns.has_form_error and not ns.has_qa_error %}false{% else %}true{% endif %}" aria-controls="{{ group.name }}">
        <h5 class="mb-0">{{ group.name }}</h5>
      </div>
      {# check for data validation or quality assurance errors #}
      {%- for field in group.fields %}
      {%- if submission_form[field.tag].errors %}{% set ns.has_form_error = true %}{% endif %}
      {%- if field.tag in failed_check_tags and submission.form.quality_checks_enabled and perms.edit_submission_verification_status.can() -%}{% set ns.has_qa_error = true %}{% endif %}
      {%- endfor %}
      <div id="{{ group.name }}" class="card-body {% if submission.completion(group.name) == 'Complete' and not ns.has_form_error and not ns.has_qa_error %} collapse{% else %} show{% endif %} py-0 px-0">
        <table id="dataTable" class="table table-borderless mb-0 table-responsive">
          <tbody>
          {% for field in group.fields %}
            <tr {%- if field.tag in failed_check_tags and submission.form.quality_checks_enabled and perms.edit_submission_verification_status.can() %} class="bg-warning"{% endif %}>
              <td class="align-middle" style="width: 0.1%; white-space: nowrap;"><strong>{{ field.tag }}</strong></td>
              <td class="align-middle">{{ field.description }}</td>
              {% if readonly -%}
              <td class="col-2 align-middle obs-on">{{ render_field(submission_form[field.tag], field.type, klass_='form-control tracked text-monospace', disabled='disabled') }}</td>
              {%- else -%}
              {% if submission_form[field.tag].errors -%}
              <td class="col-2 align-middle obs-on">{{ render_field(submission_form[field.tag], field.type, klass_='form-control tracked text-monospace is-invalid') }}</td>
              {%- else -%}
              <td class="col-2 align-middle obs-on">{{ render_field(submission_form[field.tag], field.type, klass_='form-control tracked text-monospace') }}</td>
              {%- endif %}
              {%- endif %}
              {% for sibling_form in sibling_forms -%}
              <td class="col-2 align-middle">{{ render_field(sibling_form[field.tag], field.type, klass_='form-control tracked text-monospace', disabled='disabled') }}</td>
              {% endfor %}
              {% if readonly -%}
              {% if master_form[field.tag].errors -%}
              <td class="col-2 align-middle ps-on">{{ render_field(master_form[field.tag], field.type, klass_='form-control tracked text-monospace is-invalid') }}</td>
              {%- else -%}
              <td class="col-2 align-middle ps-on">{{ render_field(master_form[field.tag], field.type, klass_='form-control tracked text-monospace') }}</td>
              {%- endif %}
              {%- else -%}
              <td class="col-2 align-middle ps-on">{{ render_field(master_form[field.tag], field.type, klass_='form-control tracked text-monospace', disabled='disabled') }}</td>
              {%- endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="messages-panel" role="tabpanel" aria-labelledby="messages-tab">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{ _('Text') }}</th>
            <th scope="col" class="col-2">{{ _('Mobile') }}</th>
            <th scope="col" class="col-2">{{ _('Date') }}</th>
            <th scope="col" class="col-1">{{ _('Time') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for message in messages %}
          <tr>
            <td class="text-monospace">{{ message.text }}</td>
            {% if perms.edit_participant.can() -%}
            <td class="text-monospace"><a href="{{ url_for('participants.participant_edit', id=message.participant.id) }}">{{ message.sender }}</a></td>
            {% else -%}
            <td class="text-monospace">{{ message.sender }}</td>
            {% endif -%}
            <td class="text-monospace timestamp-date" data-timestamp="{{ message.received|timestamp }}">{{ message.received.strftime('%b %d %Y') }}</td>
            <td class="text-monospace timestamp-time" data-timestamp="{{ message.received|timestamp }}">{{ message.received.strftime('%I:%M %p') }}</td>
          </tr>
          {% else %}
          <tr class="table-warning">
            <td class="text-center text-muted" colspan="4">{{ _('No Data Available') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="critical-incidents-panel" role="tabpanel" aria-labelledby="critical-incidents-tab">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="col-1">{{ _('ID') }}</th>
            <th scope="col" class="col-2">{{ _('Type') }}</th>
            <th scope="col" class="col-1 text-center">{{ _('Code') }}</th>
            <th scope="col" class="col-1 text-center">{{ _('Status') }}</th>
            <th scope="col">{{ _('Description') }}</th>
            <th scope="col" class="col-2">{{ _('Date') }}</th>
            <th scope="col" class="col-1">{{ _('Time') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for incident in incidents %}
          {% for group in incident.form.data.groups %}
          {% for field in group.fields %}
          {% if field.tag in incident.data %}
          <tr>
            <td class="text-monospace"><a href="{{ url_for('submissions.submission_edit', submission_id=incident.id) }}">{{ incident.participant.participant_id }}</a></td>
            <td class="text-monospace">{{ incident.form.name }}</td>
            <td class="text-monospace text-center"><abbr title="{{ field.description }}">{{ field.tag }}</abbr></td>
            <td class="text-monospace text-center">
              {%- set status = incident.incident_status -%}
              {%- if status == 'confirmed' -%}
              <i class="fa fa-check text-success" aria-hidden="true" title="{{ _('Confirmed') }}"></i>
              {%- elif status == 'rejected' -%}
              <i class="fa fa-circle text-danger" aria-hidden="true" title="{{ _('Rejected') }}"></i>
              {%- elif status == 'citizen' -%}
              <i class="fa fa-users text-primary" aria-hidden="true" title="{{ _('Citizen Report') }}"></i>
              {%- else -%}
              <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true" title="{{ _('Unmarked') }}"></i>
              {%- endif -%}
            </td>
            <td class="text-monospace">{{ incident.incident_description }}</td>
            <td class="text-monospace timestamp-date" data-timestamp="{{ incident.created|timestamp }}">{{ incident.created.strftime('%b %d %Y') }}</td>
            <td class="text-monospace timestamp-time" data-timestamp="{{ incident.created|timestamp }}">{{ incident.created.strftime('%I:%M %p') }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% else %}
          <tr class="table-warning">
            <td class="text-center text-muted" colspan="7">{{ _('No Data Available') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="changelog-panel" role="tabpanel" aria-labelledby="changelog-tab">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="col-2">{{ _('User') }}</th>
            <th scope="col" class="col-2">{{ _('Date') }}</th>
            <th scope="col" class="col-1">{{ _('Time') }}</th>
            <th scope="col">{{ _('Description') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for changeset in changelog %}
          <tr>
            <td class="text-monospace">{{ changeset.identity }}</td>
            <td class="text-monospace timestamp-date" data-timestamp="{{ changeset.timestamp|timestamp }}">{{ changeset.timestamp.strftime('%b %d %Y') }}</td>
            <td class="text-monospace timestamp-time" data-timestamp="{{ changeset.timestamp|timestamp }}">{{ changeset.timestamp.strftime('%I:%M %p') }}</td>
            <td class="text-monospace">
              {%- for attr in changeset.changes()['added'] %}<span class="badge badge-pill badge-success" style="cursor: pointer" data-toggle="tooltip" title="{{ _('Added') }}">{{ attr }}: {{ changeset.data[attr] }}</span> {% endfor %}
              {%- for attr in changeset.changes()['changed'] %}<span class="badge badge-pill badge-warning" style="cursor: pointer" data-toggle="tooltip" title="{{ _('Changed') }}">{{ attr }}: {{ changeset.data[attr] }}</span> {% endfor %}
              {%- for attr in changeset.changes()['deleted'] %}<span class="badge badge-pill badge-danger" style="cursor: pointer" data-toggle="tooltip" title="{{ _('Deleted') }}">{{ attr }}</span> {% endfor -%}
            </td>
          </tr>
          {% else %}
          <tr class="table-warning">
            <td class="text-center text-muted" colspan="4">{{ _('No Data Available') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="calllog-panel" role="tabpanel" aria-labelledby="calllog-tab">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="col-2">{{ _('User') }}</th>
            <th scope="col" class="col-2">{{ _('Date') }}</th>
            <th scope="col" class="col-1">{{ _('Time') }}</th>
            <th scope="col">{{ _('Note') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for call in call_log %}
          <tr>
            <td class="text-monospace">{{ call.user.email }}</td>
            <td class="text-monospace timestamp-date" data-timestamp="{{ call.created|timestamp }}">{{ call.created.strftime('%b %d %Y') }}</td>
            <td class="text-monospace timestamp-time" data-timestamp="{{ call.created|timestamp }}">{{ call.created.strftime('%I:%M %p') }}</td>
            <td class="text-monospace">
              {% if call.description %}{{ call.description }}{% else %}<em class="text-muted">{{ _('-') }}</em>{% endif %}
            </td>
          </tr>
          {% else %}
          <tr class="table-warning">
            <td class="text-center text-muted" colspan="4">{{ _('No Data Available') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<input type="hidden" name="{{ master_form['location'].name }}" value="{{ master_form['location'].data.id|default('__None', true) }}" />

{# comments #}
<a name="comments"></a>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered" id="comments">
    {% for comment in comments %}
      <tr>
        <td>
          <p><strong>{{ comment.user.email }}</strong> &middot; <em class="tonow" data-timestamp="{{ comment.submit_date|timestamp }}">{{ comment.submit_date.strftime('%b %d %Y %I:%M %p') }}</em></p>
          <p>{{ comment.comment }}</p>
        </td>
      </tr>
    {% else %}
      <tr class="warning">
        <td style="text-align:center">{{ _('No Comment') }}</td>
      </tr>
    {% endfor %}
      <tr id="save_comment">
        <td>
          <textarea id="comment" class="form-control tracked"></textarea>
          <input id="submission" name="submission" type="hidden" value="{{ submission.id|string }}">
          <input id="postcomment" type="button" class="btn btn-primary pull-right" value="{{ _('Add Comment') }}" style="margin-top:.5em;">
        </td>
      </tr>
    </table>
  </div>
</div>
{%- else %}
{#- Critical Incidents #}
{%- if submission_form.errors %}
<div class="alert alert-danger alert-dismissible fade show mt-2 mb-0" role="alert">
  <h5 class="alert-heading">{{ _('Data Validation Errors') }}</h5>
  <div>{{ _('The data you entered are not valid. Please check the affected questions and correct them.') }}</div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%- endif %}

<div class="card-body tab-content px-0">
  <div>
    {% for group in form.data.groups %}
    <div class="card bg-light mb-3">
      <div class="card-header">
        <h5 class="mb-0">{{ group.name }}</h5>
      </div>
      <div class="card-body py-0 px-0">
        <table id="dataTable" class="table table-borderless mb-0 table-responsive">
          <tbody>
          {% for field in group.fields %}
            <tr>
              <td class="align-middle" style="width: 0.1%; white-space: nowrap;"><strong>{{ field.tag }}</strong></td>
              <td class="align-middle">{{ field.description }}</td>
              {% if submission_form[field.tag].errors -%}
              <td class="col-2 align-middle">{{ render_field(submission_form[field.tag], field.type, klass_='form-control tracked text-monospace is-invalid') }}</td>
              {%- else -%}
              <td class="col-2 align-middle">{{ render_field(submission_form[field.tag], field.type, klass_='form-control tracked text-monospace') }}</td>
              {%- endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
    <div class="card bg-light">
      <div class="card-body py-0 px-0">
        <table class="table table-borderless mb-0 table-responsive">
          <tbody>
            <tr>
              <td style="width: 0.1%; white-space: nowrap;">&nbsp;&nbsp;</td>
              <td class="text-right">
                <strong>{{ _('Description')}}</strong>
              </td>
              <td class="col-4">{{ submission_form.description(class_='form-control tracked', rows=4) }}</td>
            </tr>
            <tr>
              <td class="align-middle" style="width: 0.1%; white-space: nowrap;">&nbsp;&nbsp;</td>
              <td class="align-middle text-right">
                <strong>{{ _('Status')}}</strong>
              </td>
              <td class="col-4 align-middle">{{ submission_form.status(class_='form-control tracked') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{%- endif %}
</form>

<div class="modal fade" id="addCallLogModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ _('Add Call Log') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-n2">
        <div class="form-group">
          <label for="calllog_description">{{ _('Note') }}</label>
          <textarea id="calllog_description" class="form-control" rows="5" data-participant="{{ submission.participant.id }}"></textarea>
          <small class="form-text text-muted">
            {% trans %}You may (optionally) include details of your call or interaction with the participant here.{% endtrans %}
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <div class="spinner-grow spinner-grow-sm inline-block invisible" id="calllog_loader" role="status"><span class="sr-only">Loading...</span></div> <button type="button" id="contactSaveBtn" class="btn btn-primary">{{ _('Save') }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{%- block footer -%}
  <div class="mt-n2 pb-2 w-25 d-flex justify-content-end">
    <div>
      <button type="button" id="addCallLogBtn" class="btn btn-success" data-toggle="modal" data-target="#addCallLogModal">{{ _('Add Call Log') }}</button>
      <button type="button" id="cancelBtn" class="btn btn-secondary">{{ _('Cancel') }}</button>
      <button type="button" id="saveBtn" class="btn btn-primary">{{ _('Save') }}</button>
    </div>
  </div>
{%- endblock %}



{%- block scripts %}
<script type="text/javascript" src="{{ asset_url_for('moment.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/bootstrap-switch-button.min.js') }}"></script>
<script type="text/javascript">
  moment.lang('{{ g.locale }}');

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('.tonow').each(function (index) {
      var timestamp = moment.unix(Number($(this).data('timestamp')));
      this.innerText = timestamp.fromNow();
    });
    $('.timestamp-date').each(function (index) {
        var timestamp = moment.unix(Number($(this).data('timestamp')));
        this.innerText = timestamp.format('ll');
    });
    $('.timestamp-time').each(function (index) {
        var timestamp = moment.unix(Number($(this).data('timestamp')));
        this.innerText = timestamp.format('LT');
    });

    // provide warning before navigating away if form was modified
    $(document).on('change', '.tracked', function(e){
      window.onbeforeunload = function () { return true; };
    });

    var csrftoken = $('meta[name=csrf-token]').attr('content');

    $('#postcomment').click(function() {
      var comment = $('#comment').val(), submission = $('#submission').val();
      if (comment) {
        $.ajax({
          url: "{{ url_for('submissions.comment_create_view') }}",
          type: 'POST',
          data: {comment: comment, submission: submission},
          beforeSend: function (xhr, settings) {
            $('#comment').attr('disabled', 'disabled');
            $('#save').attr('disabled', 'disabled');
            $('#loader').attr('style', 'visibility:visible;');
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        }).done(function(data) {
          $('#comment').val("");  // clear the comment textbox
          // if there's a table row displaying "No comment.", remove it
          $('#comments tr.warning').remove();
          $('#save_comment').before('<tr><td><p><strong>' + data.user + '</strong> · <em>' + moment.unix(data.date).fromNow() + '</em></p><p>' + data.comment + '</p></td></tr>');
        }).always(function () {
          // Re-enable
          $('#comment').removeAttr('disabled');
          $('#save').removeAttr('disabled');
          $('#loader').attr('style', 'visibility:hidden;');
        });
      }
    });

    $('#toggle_verification').click(function() {
      var phone = $(this).data('phone');
      var participant = $(this).data('participant');
      var submission = $(this).data('submission');

      if (phone && participant) {
        $.ajax({
          url: "{{ url_for('participants.toggle_phone_verification') }}",
          type: 'POST',
          data: {phone: phone, participant: participant, submission: submission},
          beforeSend: function (xhr, settings) {
            $('#toggle_verification_spinner').removeClass('invisible');
            $('#toggle_verification').css('pointer-events', 'none');
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
          success: function(data) {
            if (data == '1') {
              $('#toggle_verification_badge').removeClass('badge-warning');
              $('#toggle_verification_badge').addClass('badge-success');
              $('#toggle_verification_badge').html('{{ _("Verified") }}');
            } else {
              $('#toggle_verification_badge').removeClass('badge-success');
              $('#toggle_verification_badge').addClass('badge-warning');
              $('#toggle_verification_badge').html('{{ _("Unverified") }}');
            }
            $('#toggle_verification_spinner').addClass('invisible');
            $('#toggle_verification').css('pointer-events', 'auto');
          },
          error: function () {
            // Re-enable
            $('#toggle_verification_spinner').addClass('invisible');
            $('#toggle_verification').css('pointer-events', 'auto');
          }
        });
      }
    });

    $('#contactSaveBtn').click(function() {
      var description = $('#calllog_description').val(), participant = $('#calllog_description').data('participant');

      $.ajax({
        url: "{{ url_for('participants.log_call') }}",
        type: 'POST',
        data: {description: description, participant: participant},
        beforeSend: function (xhr, settings) {
          $('#contactSaveBtn').attr('disabled', 'disabled');
          $('#calllog_description').attr('disabled', 'disabled');
          $('#calllog_loader').attr('style', 'visibility:visible;');
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      }).done(function(data) {
        $('#calllog_description').val("");
        $('#addCallLogModal').modal('hide');
      }).always(function () {
        // Re-enable
        $('#calllog_description').removeAttr('disabled');
        $('#contactSaveBtn').removeAttr('disabled');
        $('#calllog_loader').attr('style', 'visibility:hidden;');
      });
    });

    $('.obs1').click(function(){
        $('table#dataTable tbody tr td.obs-on :input').prop('disabled', false);
        $('table#dataTable tbody tr td.ps-on :input').prop('disabled', true);
    });
    $('.ps').click(function(){
        $('table#dataTable tbody tr td.ps-on :input').prop('disabled', false);
        $('table#dataTable tbody tr td.obs-on :input').prop('disabled', true);
    });

    $('#saveBtn').click(function(){
      window.onbeforeunload = null;
      $('form').submit();
    });

    $('#cancelBtn').click(function(){
      var url = '{% if request.environ.get('HTTP_REFERER') == request.url %}{{ url_for('submissions.submission_list', form_id=form.id) }}{% else %}{{ request.environ.get('HTTP_REFERER', url_for('submissions.submission_list', form_id=form.id)) }}{% endif %}';
      window.onbeforeunload = null;
      window.location.href = url;
    });
  });
</script>
{%- endblock %}