{% extends "frontend/_layout.html" %}
{%- from 'frontend/macros/submission_list_filter.html' import render_filter_form -%}
{%- from 'frontend/macros/pagination.html' import render_pager, render_pager_counter -%}
{%- from 'frontend/macros/submission_list_macros.html' import submission_header, submission_items -%}
{%- from 'frontend/macros/send_message.html' import send_message_modal -%}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/filters.js') }}"></script>
{% if perms.send_messages.can() %}
{{ send_message_modal(pager.total) }}
{% endif %}
{% endblock %}
{% block toolbar %}
{% if form.form_type == 'INCIDENT' %}
{% if perms.add_submission.can() %}
<div class="btn-group pull-right">
  <a style="margin-left:1em" class="btn btn-sm btn-primary" href="{{ url_for('submissions.submission_create', form_id=form.pk) }}"><i class="glyphicon glyphicon-plus glyphicon-white"></i> {{ _('Add Incident') }}</a>
</div>
{% endif %}
{% if perms.export_submissions.can() %}
<div class="btn-group pull-right">
  <a class="btn btn-sm btn-default" href="{{ url_for('submissions.submission_list', form_id=form.pk, export='observer', **request.args) }}"><i class="glyphicon glyphicon-export"></i> {{ _('Export') }}</a>
</div>
{% endif %}
{% else %}
{% if perms.export_submissions.can() %}
<div class="btn-group pull-right">
  <a class="btn btn-sm btn-default" href="{{ url_for('submissions.submission_list', form_id=form.pk, export='master', **request.args) }}"><i class="glyphicon glyphicon-export"></i> {{ _('Export') }}</a>
  <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="{{ url_for('submissions.submission_list', form_id=form.pk, export='observer', **request.args) }}">{{ _('Observers Data') }}</a></li>
    <li><a href="{{ url_for('submissions.submission_list', form_id=form.pk, export='master', **request.args) }}">{{ _('Master Data') }}</a></li>
    <li><a href="{{ url_for('submissions.submission_list', form_id=form.pk, export='aggregated', **request.args) }}">{{ _('Aggregated Data') }}</a></li>
  </ul>
</div>
{% endif %}
{% endif %}
{% if perms.send_messages.can() %}
<div class="btn-group pull-right">
  <button class="btn btn-sm btn-success" id="send_message_modal_btn" style="margin-right:1em;"><i class="glyphicon glyphicon-envelope glyphicon-white"></i> {{ _('Send Message') }}</button>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {{ render_filter_form(form, filter_form, location) }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
     {{ render_pager_counter(pager, args) }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive responsive">
      <table class="table table-striped table-bordered table-hover">
          <thead >
            {{ submission_header(form, form_fields, location_types, perms) }}
          </thead>
          <tbody>
            {{ submission_items(pager.items, form, form_fields, location_types, perms) }}
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  {{ render_pager(pager, 'submissions.submission_list', args) }}
  </div>
</div>
{% endblock %}
