{% load i18n %}<tr>
    <th>{% trans "Observer ID" %}</th>
    {% for location_type in location_types %}
    <th>{{ location_type.name }}</th>
    {% endfor %}
    <th>{% trans "Observer" %}</th>
    <th>{% trans "Phone" %}</th>
    {% if form.type == 'CHECKLIST' %}
    {% for group in form_groups %}
    <th style="text-align:center">{% if group.abbr %}<abbr title="{{ group.name }}">{{ group.abbr }}</abbr>{% else %}{{ group.name }}{% endif %}</th>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <th style="text-align:center"><abbr title="{{ field.description }}">{{ field.tag }}</abbr></th>
    {% endfor %}
    <th style="text-align:center"><abbr title="{% trans "Status" %}"><i class="glyphicon glyphicon-eye-open"></i></abbr></th>
    {% endif %}
    <th style="text-align:center"><abbr title="{% trans "Phone Verification" %}"><i class="glyphicon glyphicon-phone"></i></abbr></th>
    {% if perms.core.change_submission %}<th style="text-align:center">{% trans "Edit" %}</th>{% endif %}
</tr>
