{%- extends 'frontend/_layout.html' -%}
{% block toolbar %}
{%- if submission.versions %}
<div class="btn-group pull-right">
  <a href class="btn btn-default">{{ _('History') }}</a>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    {% for version in submission.versions -%}
    {% if version == submission_version %}
    <li><a href="javascript:;"><strong><span class="tonow" data-timestamp="{{ version.timestamp|timestamp }}">{{ version.timestamp.strftime('%b %d %Y %I:%M %p') }}</span> &mdash; <em>{{ version.identity }}</em></strong></a></li>
    {% else %}
    <li><a href="{{ url_for('submissions.submission_version', submission_id=submission.pk, version_id=version.pk) }}"><span class="tonow" data-timestamp="{{ version.timestamp|timestamp }}">{{ version.timestamp.strftime('%b %d %Y %I:%M %p') }}</span> &mdash; <em>{{ version.identity }}</em></a></li>
    {% endif %}
    {%- endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item">
          <strong>{{ _('Participant') }}</strong>: {{ submission.contributor.name }} ({{ submission.contributor.phone }}) &mdash; <strong>{{ submission.contributor.participant_id }}</strong>
        </div>
        <div class="list-group-item">
          <strong>{{ _('Via') }}</strong>: {{ submission_version.channel }}
        </div>
        <div class="list-group-item">
          <strong>{{ _('Edited by') }}</strong>: {{ submission_version.identity }}
        </div>
        <div class="list-group-item">
          <strong>{{ _('Updated') }}</strong>: <span class="timestamp" data-timestamp="{{ submission_version.timestamp|timestamp }}">{{ submission_version.timestamp.strftime('%b %d %Y %I:%M %p') }}</span>
        </div>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td colspan="2">&nbsp;</td>
            <th>{{ _('Saved') }}</th>
            <th>{{ _('Current') }}</th>
          </tr>
          {% for group in form.groups %}
          <tr>
            <td colspan="4"><h4>{{ group.name }}</h4></td>
          </tr>
          {% for field in group.fields %}
          <tr>
            <th>{{ field.name }}</th>
            <td>{{ field.description }}
              {%- if field.options %}
              <span class="options">
              {% for item in field.options|dictsort(false, 'value') %}
              <span class="option"><strong>({{ item.1 }})</strong> {{ item.0 }}</span>
              {% endfor %}
              </span>
              {% endif -%}
            </td>
            {%- if field.name in diff.added() or field.name in diff.removed() -%}
            {%- set context_class = 'danger' -%}
            {%- elif field.name in diff.changed() -%}
            {%- set context_class = 'warning' -%}
            {%- else -%}
            {%- set context_class = 'success' -%}
            {% endif %}
            <td class="text-center {{ context_class }}">{{ data[field.name]|default('N/A', true) }}</td>
            <td class="text-center {{ context_class }}">{{ submission[field.name]|default('N/A', true) }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/moment-with-langs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/timestamps.js') }}"></script>
{% endblock %}
