{% extends "frontend/_layout.html" %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12 filter">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-bordered table-striped table-hovered">
			<thead>
				<tr>
					<th>{% trans %}Logical Checks{% endtrans %}</th>
					<th width="200">{% trans %}Missing{% endtrans %}</th>
					<th width="200">{% trans %}Flagged{% endtrans %}</th>
					<th width="200">{% trans %}Flagged - Clear{% endtrans %}</th>
					<th width="200">{% trans %}All fine/Clear{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Turnout > Registered Voters</th>
					<td><a href="{{ current_menu.submenu('forms.checklists').dynamic_list[0].url }}">500</a></td>
					<td><a href="{{ current_menu.submenu('forms.checklists').dynamic_list[0].url }}">500</a></td>
					<td><a href="{{ current_menu.submenu('forms.checklists').dynamic_list[0].url }}">500</a></td>
					<td><a href="{{ current_menu.submenu('forms.checklists').dynamic_list[0].url }}">500</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}