{% extends "core/layout.html" %}
{% load apollo %}{% load comments %}{% load humanize %}{% load static %}{% load i18n %}
{% block content %}
  <form action="" method="post" style="margin-bottom:.5em;">
    {% csrf_token %}
  <div class="row" style="margin-bottom:4em">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">{{ _("Observer") }}</th>
            <td><strong>{{ submission.submissions.all.0.observer.observer_id }}</strong> &mdash; <strong>{{ submission.submissions.all.0.observer.name }}</strong>{% if submission.submissions.all.0.observer.phone %} ({{ submission.submissions.all.0.observer.phone }}){% endif %}</td>
          </tr>
          <tr>
            <th>{{ _("Role") }}</th>
            <td>{{ submission.submissions.all.0.observer.role }}</td>
          </tr>
          <tr>
            <th>{{ _("Location") }}</th>
            <td><strong>{{ submission.location }}</strong></td>
          </tr>
          {% if location_types %}
          <tr>
            <th>&nbsp;</th>
            <td>{% for location_type in location_types %}{% get_location_for_type submission location_type "True" %}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
          </tr>
          {% endif %}
          <tr>
            <th>{{ _("Supervisor") }}</th>
            <td>{{ submission.submissions.all.0.observer.supervisor|default_if_none:_("<em>N/A</em>") }}</td>
          </tr>
        </thead>
      </table>
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          {% for flag in flags %}
          {% with flag.storage as field_name %}
          <tr>
            <td style="text-align: right" width="20%">{{ flag.name }}</td>
            <td>
              {% if submission.data|keyvalue:field_name|flag_status:'verified' %}<img src="{% static "img/blue_dot.png" %}" title="{{ _("Verified") }}" alt="{{ _("Verified") }}" height="13" width="13" />
              {% elif submission.data|keyvalue:field_name|flag_status:'rejected' %}<img src="{% static "img/black_dot.png" %}" title="{{ _("Rejected") }}" alt="{{ _("Rejected") }}" height="13" width="13" />
              {% elif submission.data|keyvalue:field_name|flag_status:'serious_problem' %}<img src="{% static "img/red_dot.png" %}" title="{{ _("Serious Problem") }}" alt="{{ _("Serious Problem") }}" height="13" width="13" />
              {% elif submission.data|keyvalue:field_name|flag_status:'problem' %}<img src="{% static "img/darkyellow_dot.png" %}" title="{{ _("Problem") }}" alt="{{ _("Problem") }}" height="13" width="13" />
              {% elif submission.data|keyvalue:field_name|flag_status:'no_problem' %}<img src="{% static "img/green_dot.png" %}" title="{{ _("No Problem") }}" alt="{{ _("No Problem") }}" height="13" width="13" />
              {% else %}<img src="{% static "img/white_dot.png" %}" title="{{ _("No Data") }}" alt="{{ _("No Data") }}" height="13" width="13" />
              {% endif %}
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
          <tr>
            <td style="text-align: right; vertical-align: middle">{{ submission_form.data__verification.label }}</td>
            <td>{{ submission_form.data__verification }}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-bordered table-hover submission-table">
        <tbody>
          {% for fieldset in data_form.fieldsets %}
          {% if fieldset.legend %}
          <tr>
            <td colspan="3"><h4 class="{{ fieldset.classes }}">{{ fieldset.legend }}</h4></td>
          </tr>
          {% endif %}
          {% for field in fieldset %}
          <tr>
            <td>{{ field.label }}</td>
            <td>{{ field.help_text }}
              {% if field.field.choices %}
              <span class="options">
                {% for choice in field.field.choices %}
                <span class="option"><strong>({{ choice.0 }})</strong> {{ choice.1 }}</span>
                {% endfor %}
              </span>
              {% endif %}
            </td>
            <td class="submission-field">{{ data_form|keyvalue:field.name }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row navbar-fixed-bottom" style="bottom:0px; padding-right:5em; background:#fff; padding-top:1em; padding-bottom:1em;">
    <div class="col-md-offset-8 col-md-2">
      <button type="submit" class="btn btn-info btn-large btn-block">{{ _("Save") }}</button>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default btn-large btn-block" href="{% url verifications_list object.form.pk %}">{{ _("Cancel") }}</a>
    </div>
  </div>
  </form>
{% endblock %}
