{% load i18n %}{% load apollo %}{% load static %}
{% for submission in submissions %}
<tr>
    <td>{{ submission.submissions.all.0.observer.observer_id }}</td>
    {% for location_type in location_types %}
    <td>{% get_location_for_type submission location_type %}</td>
    {% endfor %}
    <td>{{ submission.submissions.all.0.observer.name }}</td>
    {% for flag in form_flags %}
    <td style="text-align:center">
        {% if submission.data|keyvalue:flag|flag_status:'verified' %}<img src="{% static "img/blue_dot.png" %}" title="{{ _("Verified") }}" alt="{{ _("Verified") }}" height="13" width="13" />
        {% elif submission.data|keyvalue:flag|flag_status:'rejected' %}<img src="{% static "img/black_dot.png" %}" title="{{ _("Rejected") }}" alt="{{ _("Rejected") }}" height="13" width="13" />
        {% elif submission.data|keyvalue:flag|flag_status:'serious_problem' %}<img src="{% static "img/red_dot.png" %}" title="{{ _("Serious Problem") }}" alt="{{ _("Serious Problem") }}" height="13" width="13" />
        {% elif submission.data|keyvalue:flag|flag_status:'problem' %}<img src="{% static "img/darkyellow_dot.png" %}" title="{{ _("Problem") }}" alt="{{ _("Problem") }}" height="13" width="13" />
        {% elif submission.data|keyvalue:flag|flag_status:'no_problem' %}<img src="{% static "img/green_dot.png" %}" title="{{ _("No Problem") }}" alt="{{ _("No Problem") }}" height="13" width="13" />
        {% else %}<img src="{% static "img/white_dot.png" %}" title="{{ _("No Data") }}" alt="{{ _("No Data") }}" height="13" width="13" />
        {% endif %}
    </td>
    {% endfor %}
    <td>
        {% if submission.data.verification|flag_status:'verified' %}<img src="{% static "img/tick-white.png" %}" title="{{ _("Verified") }}" alt="{{ _("Verified") }}" height="13" width="13" />
        {% elif submission.data.verification|flag_status:'rejected' %}<img src="{% static "img/cross.png" %}" title="{{ _("Rejected") }}" alt="{{ _("Rejected") }}" height="13" width="13" />
        {% elif submission.data.verification|flag_status:'problem' %}<img src="{% static "img/caution.png" %}" title="{{ _("Unverified") }}" alt="{{ _("Unverified") }}" height="13" width="13" />
        {% elif submission.data.verification|flag_status:'no_problem' %}<img src="{% static "img/tick.png" %}" title="{{ _("No Problem") }}" alt="{{ _("No Problem") }}" height="13" width="13" />
        {% else %}<img src="{% static "img/white_dot.png" %}" title="{{ _("No Data") }}" alt="{{ _("No Data") }}" height="13" width="13" />
        {% endif %}
    </td>
    {% if perms.core.change_submission %}<td style="text-align:center"><a href="{% url verification_edit submission.pk %}">{{ _("Edit") }}</a></td>{% endif %}
</tr>
{% empty %}
{% if perms.core.change_submission %}
{% with location_types|length|add:"4" as lt_count %}
{% with form_flags|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">{{ _("No Data Available") }}</td>
</tr>
{% endwith %}
{% endwith %}
{% else %}
{% with location_types|length|add:"3" as lt_count %}
{% with form_flags|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">{{ _("No Data Available") }}</td>
</tr>
{% endwith %}
{% endwith %}
{% endif %}
{% endfor %}
