{% extends "frontend/_layout.html" %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12 filter">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-bordered table-striped table-hovered">
			<thead>
				<tr>
					<th>{% trans %}Logical Checks{% endtrans %}</th>
					<th width="200">{% trans %}Missing{% endtrans %}</th>
					<th width="200">{% trans %}Flagged{% endtrans %}</th>
					<th width="200">{% trans %}Flagged - Clear{% endtrans %}</th>
					<th width="200">{% trans %}All fine/Clear{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for record in verification_records %}
				<tr>
					<th>{{ record.get('name') }}</th>
					<td><a href="{{ url_for('submissions.submission_list', form_id=form.pk, **{record.get('storage'): flag_choices[3]}) }}">{{ record.get('missing', 0) }}</a></td>
					<td><a href="{{ url_for('submissions.submission_list', form_id=form.pk, **{record.get('storage'): flag_choices[1]}) }}">{{ record.get('flagged', 0) }}</a></td>
					<td><a href="{{ url_for('submissions.submission_list', form_id=form.pk, **{record.get('storage'): flag_choices[2]}) }}">{{ record.get('verified', 0) }}</a></td>
					<td><a href="{{ url_for('submissions.submission_list', form_id=form.pk, **{record.get('storage'): flag_choices[0]}) }}">{{ record.get('clear', 0) }}</a></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5" class="warning">{% trans %}No data available{% endtrans %}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}