{% load apollo %}{% load i18n %}
<div class="well well-sm">
  <form action="{% url verifications_list form.pk %}" method="get" id="filter" class="form-inline">
    <div class="form-group">
      {{ filter_form.observer_id }}
      {{ filter_form.location }}
      {{ filter_form.sample }}
      {{ filter_form.verification }}
    </div>
    <div class="controls">
    {% for flag in form_flags %}
    {% if forloop.counter0|divisibleby:5 %}<div class="form-group">{% endif %}
    {% with filter_form|keyvalue:flag as field %}
    {{ field }}
    {% endwith %}
    {% if forloop.counter|divisibleby:5 or forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>
    
    <div class="">
      <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> {{ _('Filter') }}</button>
      <a class="btn btn-default form-reset">{{ _('Clear') }}</a>
    </div>
  </form>
</div>
