$font-size-base:                1rem * .85;
$enable-validation-icons:       false;

[data-toggle~="collapse"] {
    cursor: pointer;
}

.table-hide {
    empty-cells: hide;
}

.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}
.DTFC_RightBodyLiner {
    overflow-x: hidden;
}
