{% load apollo %}{% load i18n %}{% load compressed %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans "Ongoing Maintenance" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compressed_css 'apollo' %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
  </head>
 <body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href=""></a>
          </div>
        </div>
      </div>
    <div class="row-fluid">
		<div class="span4 offset4" style="text-align:center; margin-top:14em;">
			<legend style="border-bottom:0px; margin-bottom:0px;">{% trans "Ongoing Maintenance" %}</legend>
			<p>{% blocktrans %}The application is currently down due to ongoing maintenance, however, we will be up and running shortly! Thanks.{% endblocktrans %}</p>
		</div>
	</div>
  </body>
<html>