{% extends "core/layout.html" %}
{% load apollo %}
{% block content %}
<div class="row">
  <div class="span8">
      {% analysis_breadcrumb_navigation form location %}
      {% analysis_location_navigation form location %}
  </div>
  <div class="span4">
    <form class="form-horizontal pull-right" action="" method="" accept-charset="utf-8">  
        <select class="">
          <option disabled selected style='display:none;'>Sample</option>
          <option>All</option>
        </select class="">                 
        <button class="btn btn-danger" type="submit">Filter</button>
      </select>
    </form>
  </div>
</div>
<div class="row">
	<div class="span12">
	{% if process_summary %}
	{% if process_summary.type == 'sample' %}
		{% for group, group_stats in process_summary.summary %}
		<h5>{{ group }}</h5>

		{% for tag, question, tag_stats in group_stats %}
		<table width="100%" class="table table-striped table-bordered">
			<tr>
				<td width="30" rowspan="2"><b>{{ tag }}</b></td>
				<td rowspan="2">{{ question }}</td>
				{% if tag_stats.type == 'numeric' %}
				<td bgcolor="#eee">Mean</td>
				{% else %}
					{% for label in tag_stats.labels %}
					<td>{{ label }}</td>
					{% endfor %}
				{% endif %}
				<td bgcolor="#eee">Reported</td>
				<td bgcolor="#eee">Missing</td>
			</tr>
			<tr>
				{% if tag_stats.type == 'numeric' %}
				<td align="right">{{ tag_stats.mean|floatformat:0 }}</td>
				{% else %}
				{% for value, percentage in tag_stats.histogram %}
				<td>{{ percentage|floatformat:0 }}% ({{ value }})</td>
				{% endfor %}
				{% endif %}
				<td align="right">{{ tag_stats.percent_reported|floatformat:0 }}% ({{ tag_stats.reported }})</td>
				<td align="right">{{ tag_stats.percent_missing|floatformat:0 }}% ({{ tag_stats.missing }})</td>
			</tr>
		</table>
		{% endfor %}
		{% endfor %}
	{% else %}
	{% endif %}
	{% else %}
	<h3>No records to display</h3>
	{% endif %}
	</div>
</div>
{% endblock %}
