{% extends "core/layout.html" %}
{% load apollo %}
{% block content %}
<div class="row">
	<div class="span8">
		<ul class="breadcrumb">
		  <li><a href="#">Zimbabwe</a> <span class="divider">/</span></li>
		  <li><a href="#">Bulawayo</a></li>
		</ul>
		<ul class="nav nav-pills">
		  <li><a href="#">Bulawayo Municipality</a></li>
		  <li><a href="#">Emganwini</a></li>
		  <li><a href="#">Gwabalanda</a></li>
		  <li><a href="#">Khumalo</a></li>
		  <li><a href="#">Mabutweni</a></li>
		  <li><a href="#">Masotsha Ndiovu</a></li>
		  <li><a href="#">Mzilikazi</a></li>
		</ul>
	</div>
	<div class="span4">
		<form class="form-horizontal pull-right" action="" method="post" accept-charset="utf-8">
          <select class="">
	          <option disabled selected style='display:none;'>Sample</option>
	          <option>All</option>
		  </select> 
          <button class="btn btn-warning" style="margin-left:1em" type="submit"><i class="icon-search icon-white"></i> Filter</button>
    </form>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">Table</a></li>
		    <li><a href="#tab2" data-toggle="tab">Charts</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		      <div class="row">
				<div class="span12">
					<h5>AA. Were any election officials present upon arrival?</h5>
					<table  id="mytable" class="table table-bordered table-fixed-header">
						<thead class="header">
							<tr>
								<td bgcolor="#eeeeee"></td>
								<td width="100" bgcolor="#eeeeee"></td>
								<td width="100" bgcolor="#eeeeee">Yes</td>
								<td width="100" bgcolor="#eeeeee">No</td>
						
								<td width="80" bgcolor="#eeeeee">Reported</td>
								<td width="80" bgcolor="#eeeeee">Missing</td>
							</tr>
						</thead>
						<tr>
							<td rowspan="3">Bulawayo</td>
							<td align="right">All</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td align="right">Urban</td>
							<td align="right">88.9% (40)</td>
							<td align="right">11.1% (5)</td>
							<td align="right">90.0% (45)</td>
							<td align="right">10.0% (5)</td>
						</tr>
						<tr>
							<td align="right">Rural</td>
							<td align="right">57.1% (60)</td>
							<td align="right">42.9% (45)</td>
							<td align="right">70.0% (105)</td>
							<td align="right">30.0% (45)</td>
						</tr>
						<tr bgcolor="#eeeeee"><th></th><td colspan="5"></td></tr>
						<tr>
							<td colspan="2">Bulawayo Municipality</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td colspan="2">Emganwini</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td colspan="2">Gwabalanda</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td colspan="2">Khumalo</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td colspan="2">Mabutweni</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td colspan="2">Masotsha Ndiovu</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
						<tr>
							<td colspan="2">Mzilikazi</td>
							<td align="right">66.7% (100)</td>
							<td align="right">33.3% (50)</td>
							<td align="right">75.0% (150)</td>
							<td align="right">25.0% (50)</td>
						</tr>
					</table>	
				</div>
			  </div>
		    </div>

		    <!-- Charts Section-->
		    <div class="tab-pane" id="tab2">
		      <table class="table table-bordered">
			    <thead>
			        <tr>
			            <td bgcolor="#eeeeee" colspan="2">AC</td>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr>
			            <td colspan="2">Had any polling officials arrived by 7:30am?</td>
			        </tr>
			        <tr>
			        	<td colspan="2">
			            	<script type="text/javascript+protovis">
						        var data_toplevel= [[.3], [.7]];
								var data_sublevel= [[.5, .1, .2, .6, .8, .3, .4],
								             		[.5, .9, .8, .4, .2, .7, .6]];
								height = 300;
								width = 700;
								bar_height = 15;
								colors = ["#5F98FF","#95C8FF"];
								labels_question = ["No", "Yes"];
								labels_top =["Bulawayo"];
								labels_sublevel =["Mzilikazi", "Masotsha Ndiovu", "Mabutweni", "Khumalo", "Gwabalanda", "Emganwini", "Bulawayo Municipality"];
								label_margin = 4;
								left_margin = 200;

								var vis=new pv.Panel().width(width).height(height);
								bar = vis.add(pv.Layout.Stack)
								    .layers(data_toplevel)
								    .orient("left")
								    .left(left_margin)
								    .top(0)
								    .x(function() this.index * 35 + height - 25)
								    .y(function(d) d * 250)
								    .layer.add(pv.Bar).height(bar_height)
								    .fillStyle(function() colors[this.parent.index])
								    .strokeStyle('white')
								  .anchor("bottom")
								    .add(pv.Label)
								    .textBaseline("bottom")
								    .text(function(d){ return (d*100).toFixed(0) + "%"})
								    .textMargin(label_margin);

								  bar.anchor("bottom").textAlign("right")
								  .add(pv.Label)
						                .data(labels_top)
						                .left(0)
						                .font("10pt san-serif")
						                .textMargin(label_margin);

						           bar1 = bar.add(pv.Layout.Stack)
									    .layers(data_sublevel)
									    .orient("left")
									    .left(0)
									    .x(function() this.index * 30)
									    .y(function(d) d * 250)
									    .bottom(10)
									    .layer.add(pv.Bar).height(bar_height)
									    .fillStyle(function() colors[this.parent.index])
									    .strokeStyle('white')
									  .anchor("bottom")
									    .add(pv.Label)
									    .textBaseline("bottom")
									    .textMargin(label_margin)
									    .text(function(d){ return (d*100).toFixed(0) + "%"});

								   bar1.anchor("bottom").textAlign("right")
								  .add(pv.Label)
						                .data(labels_sublevel)
						                .left(0)
						                .textMargin(label_margin)
						                .font("10pt san-serif");
						                
						           //legends  
						           vis.add(pv.Dot) 
							            .data(labels_question) 
							            .top(function() height/8 + this.index * 18)
							            .right(150) 
							            .size(20) 
							            .strokeStyle(null) 
							            .fillStyle(pv.colors(colors)) 
							            .anchor("right").add(pv.Label)
							            .textMargin(8);

							        vis.add(pv.Rule)
    								.left(left_margin)
    								.bottom(0);

						         vis.render();
						    </script>
	            
			            	<script type="text/javascript+protovis">
						        width = 400,
						        height = 350,
						        offset = 10,
						        r = width/2 - offset;
						        data = [339, 484];
						        colors = ["#FF5200","#39e639"];
						        labels = ["Missing", "Reported"];

						        var pie = new pv.Panel().width(width).height(height);
						            pie.add(pv.Wedge)
						            .data(pv.normalize(data))
						            .outerRadius(70)
						            .angle(function(d) d * 2 * Math.PI)
						            .left(height/2 - 25)
						            .top(100)
						            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
						            .anchor("center")
						            .add(pv.Label)
						            .textAngle(0)
						            .text(function(d){ return (d*100).toFixed(0) + "%"});
						            
						        //legends   
						        pie.add(pv.Dot) 
						            .data(labels) 
						            .top(function() height/ 4 + this.index * 18)
						            .right(width/2 - 50) 
						            .size(20) 
						            .strokeStyle(null) 
						            .fillStyle(pv.colors(colors)) 
						            .anchor("right").add(pv.Label)
						            .textMargin(8);
						            
						        pie.render();
						    </script>
			            </td>
			        </tr>
			        <tr>
			        	<td bgcolor="#eeeeee">AD</td>
			        </tr>
			        <tr>
			            <td colspan="2">Were any of the following materials missing?</td>
			        </tr>
			        <tr>
			        	<td>
			            	<script type="text/javascript+protovis">
			            		var setup = {Ballot_box: 2.1, Ballot_paper: 2.3, Voters_roll: 3.1, Zec_stamp: 2.7, Indellible_ink: 2.5};
			            		var data = [[setup.Ballot_box], [setup.Ballot_paper], [setup.Voters_roll], [setup.Zec_stamp], [setup.Indellible_ink]];
			            		var	labels = ["Ballot box", "Ballot paper", "Voters roll", "Zec stamp", "Indellible ink"];
			            		var	fill = [ '#FC6C00','#FFBD70',"#E1E4CB",'#A6DAD8',"#65D1E8"];
			            		var labels_top = ["Bulawayo"];

			            		width = 700;
			            		height = 100;
			            		left_margin = 200;
			            		bar_height = 15;

							    var vis = new pv.Panel()
								    .width(width)
								    .height(height)
								    .bottom(70);
								var bar = vis.add(pv.Bar)
								    .data(data[0])
								    .left(left_margin)
									.height(bar_height)
									.width(function(d) d * 80)
									.bottom(function() this.index * 35)
								    .fillStyle(fill[0])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(data[1])
								    .bottom(function() this.index * 35 + bar_height)
								    .fillStyle(fill[1])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(data[2])
								    .bottom(function() this.index * 35 + bar_height * 2)
								    .fillStyle(fill[2])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(data[3])
								    .bottom(function() this.index * 35 + bar_height * 3)
								    .fillStyle(fill[3])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(data[4])
								    .bottom(function() this.index * 35 + bar_height * 4)
								    .fillStyle(fill[4])
								    .add(pv.Label);

								 bar.anchor("bottom").textAlign("right")
							  		.add(pv.Label)
					                .data(labels_top)
					                .left(left_margin - 2)
					                .font("bold 10pt san-serif")
					                .textBaseline('top');

					           //legends  
							   bar.add(pv.Dot) 
						            .data(labels) 
						            .bottom(function() 5 + this.index * 15)
						            .left(left_margin * 2 + 150) 
						            .size(20) 
						            .strokeStyle(null) 
						            .fillStyle(pv.colors(fill)) 
						            .anchor("right").add(pv.Label);

							   vis.add(pv.Rule)
								  .left(left_margin - 1).height(height);

							  bar.render();
							  
							</script>

			            	<script type="text/javascript+protovis">
			            		var ballot_box = [1.4, 1.6, 1.2, 1.5, .7, 2.2, 1.5];
			            		var	ballot_paper = [.5, 1.3, .9, 1.4, 1.5, 2.6, 2.3];
			            		var voters_roll = [2, 1.5, 1.2, 2.5, 1.7, 1.2, 1.8];
			            		var	zec_stamp = [.7, 1, .8, 1.1, 1.3, 2.3, 2.1];
			            		var indellible_ink = [1, 1.4, 1.7, 1.3, .9, 2.2, 1.2];
			            		var label = ["Mzilikazi", "Masotsha Ndiovu", "Mabutweni", "Khumalo", "Gwabalanda", "Emganwini", "Bulawayo Municipality"];
			            		var	colors = [ '#FC6C00','#FFBD70',"#E1E4CB",'#A6DAD8',"#65D1E8"];
			            		width = 700;
			            		height = 700;
			            		left_margin = 200;
			            		bar_height = 15;

							    var vis = new pv.Panel()
								    .width(width)
								    .height(height)
								var bar = vis.add(pv.Bar)
								    .data(ballot_box)
								    .left(left_margin)
									.height(bar_height)
									.width(function(d) d * 80)
									.bottom(function() this.index * 100)
								    .fillStyle(colors[0])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(ballot_paper)
								    .bottom(function() this.index * 100 + bar_height)
								    .fillStyle(colors[1])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(voters_roll)
								    .bottom(function() this.index * 100 + bar_height * 2)
								    .fillStyle(colors[2])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(zec_stamp)
								    .bottom(function() this.index * 100 + bar_height * 3)
								    .fillStyle(colors[3])
								    .add(pv.Label)
								    .add(pv.Bar)
								    .data(indellible_ink)
								    .bottom(function() this.index * 100 + bar_height * 4)
								    .fillStyle(colors[4])
								    .add(pv.Label);

				              bar.anchor("bottom").textAlign("right")
							  		.add(pv.Label)
					                .data(label)
					                .left(left_margin - 2)
					                .font("bold 10pt san-serif")
					                .textBaseline('top');

					          vis.add(pv.Rule)
								 .left(left_margin - 1).height(height);

							  bar.render();
							  
							</script>
			            </td>       
				    </tr>
			    </tbody>
			  </table>​
		    </div>
		  </div>
		</div>
	</div>
</div>
{% endblock %}