{% extends "core/layout.html" %}
{% load i18n %}{% load apollo %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="span8 offset2">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
        {% for field in form %}
          <tr>
            <th>{% if field.label == 'Partner' %}{% trans "Organization" %}{% else %}{{ field.label }}{% endif %}</th>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" class="btn btn-primary" value="Save"> <a class="btn" style="margin-left:0.5em" href="{% url contacts_list %}">{% trans "Cancel" %}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endblock %}
