{% extends "core/layout.html" %}{% load i18n %}{% load apollo %}{% load bootstrap_pagination %}
{% block javascripts %}
{% if perms.core.message_observers %}
{% send_message paginator.count %}
{% endif %}
{% endblock %}
{% block title %}
{{ page_title }}
{% if perms.core.message_observers %}

<form action="{{ request.get_full_path }}" method="get" id="export_observers" style="display:none">
{% for key, value in request.GET.items %}
{% if key != "export" %}<input type="hidden" name="{{ key }}" value="{{ value }}" />{% endif %}
{% endfor %}
<input type="hidden" name="export" value="true" />
</form>

<div class="btn-group pull-right">
  <a href="javascript:document.getElementById('export_observers').submit()" class="btn btn-default" type="submit">{% trans "Export" context "verb" %}</a>
</div>
<div class="btn-group pull-right">
  <a style="margin-right:1em" id="send_message_modal_btn" href="#send_message" role="button" class="btn btn-success">{% trans "Send Message" %}</a>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <form action="{% url contacts_list %}" method="get" id="filter" class="form-inline">
        <div class="form-group">
          {{ filter_form.observer_id }}
          {{ filter_form.name }}
          {{ filter_form.location }} 
          {{ filter_form.sample }}     
        </div>
        <div class="form-group">
          {{ filter_form.role }}
          {{ filter_form.partner }}
          {{ filter_form.contact__connection__identity }}
          <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> {% trans "Filter" context "verb" %}</button>
          <a class="btn btn-default form-reset">{% trans "Clear" context "verb" %}</a>
        </div> 
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>{% trans "Observer ID" %}</th>{% for location_type in location_types %}
          <th>{{ location_type.name }}</th>{% endfor %}
          <th>{% trans "Name" context "adjective" %}</th>
          <th>{% trans "Role" context "adjective" %}</th>
          <th>{% trans "Phone No." context "adjective" %}</th>
          <th>{% trans "Location" context "adjective" %}</th>
          <th>{% trans "Organization" %}</th>
          {% if perms.core.change_observer %}<th></th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>{{ contact.observer_id|default_if_none:"" }}</td>{% for location_type in location_types %}
          <td>{% get_location_for_type contact location_type %}</td>{% endfor %}
          <td>{{ contact.name|default_if_none:"" }}</td>
          <td>{{ contact.role }}</td>
          <td>{{ contact.phone|default_if_none:"" }}</td>
          <td>{{ contact.location }}</td>
          <td>{{ contact.partner|default_if_none:"" }}</td>
          {% if perms.core.change_observer %}<td style="text-align:center"><a href="{% url contact_edit contact.pk %}">{% trans "Edit" context "verb" %}</a></td>{% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
  </div>
</div>
{% endblock %}
