{% extends "core/layout.html" %}{% load apollo %}{% load bootstrap_pagination %}
{% block content %}
<div class="row">
  <div class="span12">
    <div class="well" style="padding-bottom:0">
      <form action="" method="post" id="filter">
        {% csrf_token %}
        <div class="controls controls-row">
          {{ filter_form.observer_id }}
          {{ filter_form.name }}
          {{ filter_form.location }}      
        </div>
        <div class="controls controls-row">
          {{ filter_form.role }}
          {{ filter_form.partner }}
          <button type="submit" class="btn btn-warning" style="margin-left:2em"><i class="icon-search icon-white"></i> Search</button>
          <a class="btn form-reset">Clear</a>
        </div> 
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Observer ID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Phone No.</th>
          <th>Location</th>
          <th>Partner</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>{{ contact.observer_id|default_if_none:"" }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.role }}</td>
          <td>{{ contact.phone|default_if_none:"" }}</td>
          <td>{{ contact.location }}</td>
          <td>{{ contact.partner|default_if_none:"" }}</td>
          <td style="text-align:center"><a href="{% url contact_edit contact.pk %}">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% bootstrap_paginate page_obj range=10 %}
  </div>
</div>
{% endblock %}