{% extends "core/layout.html" %}{% load apollo %}{% load bootstrap_pagination %}
{% block javascripts %}
{% if perms.core.message_observers %}
{% send_message paginator.count %}
{% endif %}
{% endblock %}
{% block title %}
{{ page_title }}
{% if perms.core.message_observers %}
<div class="btn-group pull-right">
  <form method="get"><input type="hidden" name="export" value="true" /><button class="btn" type="submit">Export</a></form>
</div>
<div class="btn-group pull-right">
  <a style="margin-right:1em" id="send_message_modal_btn" href="#send_message" role="button" class="btn btn-success">Send Message</a>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="span12">
    <div class="well" style="padding-bottom:0">
      <form action="{% url contacts_list %}" method="post" id="filter">
        {% csrf_token %}
        <div class="controls controls-row">
          {{ filter_form.observer_id }}
          {{ filter_form.name }}
          {{ filter_form.location }}      
          {{ filter_form.sample }}
        </div>
        <div class="controls controls-row">
          {{ filter_form.role }}
          {{ filter_form.partner }}
          {{ filter_form.contact__connection__identity }}
          <button type="submit" class="btn btn-warning" style="margin-left:2em"><i class="icon-search icon-white"></i> Search</button>
          <a class="btn form-reset" style="margin-left:0.5em">Clear</a>
        </div> 
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Observer ID</th>{% for location_type in location_types %}
          <th>{{ location_type.name }}</th>{% endfor %}
          <th>Name</th>
          <th>Role</th>
          <th>Phone No.</th>
          <th>Location</th>
          <th>Organization</th>
          {% if perms.core.change_observer %}<th></th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>{{ contact.observer_id|default_if_none:"" }}</td>{% for location_type in location_types %}
          <td>{% get_location_for_type contact location_type %}</td>{% endfor %}
          <td>{{ contact.name|default_if_none:"" }}</td>
          <td>{{ contact.role }}</td>
          <td>{{ contact.phone|default_if_none:"" }}</td>
          <td>{{ contact.location }}</td>
          <td>{{ contact.partner|default_if_none:"" }}</td>
          {% if perms.core.change_observer %}<td style="text-align:center"><a href="{% url contact_edit contact.pk %}">Edit</a></td>{% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
  </div>
</div>
{% endblock %}
