{% extends "core/layout.html" %}
{% load apollo %}
{% block content %}
<div class="row">
	<div class="span8">
		{% analysis_breadcrumb_navigation form location %}
		{% analysis_location_navigation form location %}
  	</div>
  	<div class="span4">
        <form class="form-horizontal pull-right" action="" method="post" accept-charset="utf-8">
          {% csrf_token %}
          {{ filter_form.sample }}
          <button class="btn btn-warning" style="margin-left:1em" type="submit"><i class="icon-search icon-white"></i> Filter</button>
        </form>
  	</div>
 </div>
 <div class="row">
	<div class="span12">
		{% if incidents_summary.top %}
		<div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Table</a></li>
				<li><a href="#tab2" data-toggle="tab">Charts</a></li>
			</ul>
			<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
<table class="table table-bordered">
	<tr bgcolor="#eeeeee">
		<th width="250">Location</th>
		<th width="100" style="text-align:center">N</th>
		{% for tag, tag_description, tag_stats in incidents_summary.top %}
		<th width="100" style="text-align:center"><abbr title="{{ tag_description}}">{{ tag }}</abbr></th>
		{% endfor %}
	</tr>
	<tr>
		<th>{{ location }}</th>
		<th style="text-align:center">{{ incidents_summary.top.0.2.total }}</th>
		{% for tag, tag_description, tag_stats in incidents_summary.top %}
		<th style="text-align:center">{{ tag_stats.percent_reported|floatformat:"0" }}%<br />({{ tag_stats.reported }})</th>
		{% endfor %}
	</tr>
	{% for location_type, location_stats in incidents_summary.groups %}
	{% for location in incidents_summary.locations %}
	<tr>
		<td>{{ location }}</td>
		{% with incidents_summary.top.0 as tag_data %}
		{% with location_stats|keyvalue:location|keyvalue:tag_data.0 as field_stats %}
		<td style="text-align:center">{{ field_stats.1.total }}</td>
		{% endwith %}
		{% endwith %}
		{% for tag, tag_description, tag_stats in incidents_summary.top %}
		{% with location_stats|keyvalue:location|keyvalue:tag as field_stats %}
		<td style="text-align:center">{{ field_stats.1.percent_reported }}%<br />({{ field_stats.1.reported}})</td>
		{% endwith %}
		{% endfor %}
	</tr>
	{% endfor %}
	{% endfor %}
</table>
				</div>
				<!--Chart-->
				<div class="tab-pane" id="tab2">
<script type="text/javascript+protovis">
	var data = [[{% for tag, tag_description, tag_stats in incidents_summary.top %}{{ tag_stats.percent_reported }},{% endfor %}]];
	var labels = ["{{ location }}"];
	var legend = [{% for tag, tag_description, tag_stats in incidents_summary.top %}"{{ tag|safe }}",{% endfor %}];

	{% for location_type, location_stats in incidents_summary.groups %}
	{% for location in incidents_summary.locations %}
	labels.push("{{ location }}");
	data.push([
	{% for tag, tag_description, tag_stats in incidents_summary.top %}
		{% with location_stats|keyvalue:location|keyvalue:tag as field_stats %}
			{{ field_stats.1.percent_reported }},
	    {% endwith %}
	{% endfor %}
	]);
	{% endfor %}
	{% endfor %}

	var colors = ['#FC6C00','#FFBD70','#E1E4CB','#A6DAD8','#65D1E8'];
	

var n = data.length, m = data[0].length;

/* Sizing and scales. */
var w = 800,
	bar_width = 200,
	bar_height = 30,
	margin_left = 200,
	panel_spacing = 100,
    h = ((data[0].length * bar_height) + bar_height) * data.length,
    max_value = pv.max(pv.blend(data)),

    x = pv.Scale.linear(0, 100).range(0, bar_width),
    x_rule = pv.Scale.linear(0, 100).range(margin_left, bar_width + margin_left),
    x_rule2 = pv.Scale.linear(0, 100).range(margin_left * 2 + bar_width + panel_spacing, bar_width * 2 + margin_left * 2 + panel_spacing),
    y = pv.Scale.ordinal(pv.range(n)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w+margin_left)
    .bottom(bar_height)
    .height(h/2);

/* The bars. */
var bar = vis.add(pv.Panel)
    .data(data)
    .left(function () this.index % 2 ? margin_left * 2 + bar_width + panel_spacing : margin_left )
    .top(function() y(Math.floor(this.index/2)))
    .height(y.range().band)
  .add(pv.Bar)
    .data(function(d) d)
    .top(function() this.index * y.range().band / m)
    .height(y.range().band / m)
    .left(0)
    .width(x)
    .strokeStyle('white')
    .fillStyle(pv.colors(colors).by(pv.index));

/* The value label. */
bar.anchor(function (d) d < 13 ? "left" : "right").add(pv.Label)
	.textMargin(5)
    .text(function(d) d.toFixed(0) + '%');

/* The variable label. */
bar.parent.anchor("left").add(pv.Label)
    .textAlign("right")
    .textMargin(5)
    .font('10pt sans-serif')
    .text(function () labels[this.parent.index]);

/* legend */
bar.parent
	.add(pv.Dot) 
    .data(legend)
    .left(bar_width + 50)
    .top(function() this.index * 20 + (((data[0].length * bar_height) - ((28 - data.length) * data[0].length))) / 2)
    .size(20)
    .strokeStyle(null) 
    .fillStyle(pv.colors(colors)) 
    .anchor("right").add(pv.Label);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x_rule.ticks(5))
    .left(x_rule)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "null")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(function (d) x_rule.tickFormat(d) + '%');

vis.add(pv.Rule)
    .data(x_rule2.ticks(5))
    .left(x_rule2)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "null")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(function (d) x_rule2.tickFormat(d) + '%');

vis.render();

</script>
				</div>
			</div>
		</div>
		{% else %}
		<table class="table table-striped table-bordered table-hover">
			<tr class="warning">
				<td style="text-align:center">No Data Available</td>
			</tr>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
