{% extends "core/layout.html" %}
{% load apollo %}{% load static %}
{% block title %}
{{ page_title }}
{% if perms.core.export_submissions %}
<div class="btn-group pull-right">
  <form method="get"><input type="hidden" name="export" value="true" /><button class="btn" type="submit">Export</a></form>
</div>
{% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk3QNCVPzkE75lgmHt_iOM4v0x2ZU-swI&sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
  <script type="text/javascript">
      var initialized = false;
      function init_map() {
        if (!initialized) {
            initialize();
        }
        initialize = true;
      }
  </script>
<div class="row">
	<div class="span5">
		{% analysis_breadcrumb_navigation form location %}
  	</div>
  	<div class="span7">
        <form class="form-horizontal pull-right" action="" method="post" accept-charset="utf-8">
          {% csrf_token %}
          {{ filter_form.status }} {{ filter_form.witness }} {{ filter_form.sample }}
          <button class="btn btn-warning" type="submit"><i class="icon-search icon-white"></i> Filter</button>
        </form>
  	</div>
    <div class="span12">
        {% analysis_location_navigation form location %}
    </div>
 </div>
 <div class="row">
	<div class="span12">
		{% if incidents %}
		<div class="tabbable"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#table" data-toggle="tab">Table</a></li>
				<li><a href="#map" data-toggle="tab" onclick="init_map();">Map</a></li>
			</ul>
			<div class="tab-content">
			    <div class="tab-pane active" id="table">
<table class="table table-bordered table-striped">
    <tr>
        <td colspan="5"><strong>{{ form_field.tag }}</strong> · {{ form_field.description }}</td>
    </tr>
	<tr>
        <th>Name</th>
		<th>Location</th>
        <th style="text-align: center">Witnessed</th>
        <th style="text-align: center" width="50">Status</th>
		<th>Description</th>
	</tr>
    {% for incident in incidents %}
	<tr>
        <td>{{ incident.observer.name }}</td>
        <td>{{ incident.location }} · <em class="muted">{{ incident.location.type }}</em></td>
        <td style="text-align: center">
        {% with incident.data.witness as witness %}
        {% if witness == 'witnessed' %}
            <i class="icon-eye-open" title="Witnessed incident"></i>
        {% elif witness == 'after' %}
            <i class="icon-eye-close" title="Arrived after incident"></i>
        {% elif witness == 'reported' %}
            <i class="icon-user" title="Incident was reported"></i>
        {% else %}
            &nbsp;
        {% endif %}
        {% endwith %}
        </td>
        <td style="text-align: center">
        {% with incident.data.status as status %}
        {% if status == 'confirmed' %}
        <img src="{% static "img/tick.png" %}" title="Confirmed" alt="Confirmed" />
        {% elif status == 'rejected' %}
        <img src="{% static "img/red_dot.png" %}" title="Rejected" alt="Rejected" />
        {% else %}
        <img src="{% static "img/caution.png" %}" title="Unmarked" alt="Unmarked" />
        {% endif %}
        {% endwith %}
        </td>
		<td>{{ incident.data.description }}</td>
	</tr>
    {% endfor %}
</table>
				</div>
				<!--Map-->
				<div class="tab-pane" id="map">
					<div id="map_canvas" style="width:100%; height:450px;"></div>
					<script type="text/javascript">
						var map; 

						function initialize() {
							var center = new google.maps.LatLng (-19, 29);
							var myOptions = {
								zoom: 6,
								center: center,
								mapTypeId: google.maps.MapTypeId.ROADMAP,
								panControl: true,
								zoomControl: true,
								zoomControlOptions: {
    								style: google.maps.ZoomControlStyle.SMALL
  								},
								mapTypeControl: true,
								mapTypeControlOptions: {
									style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
								},
								streetViewControl: false,
								overviewMapControl: true
							}
							map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

							provinces = new google.maps.KmlLayer('https://dl.dropbox.com/u/7849018/provinces.kml', {preserveViewport: true});
							provinces.setMap(map);

							var markers = [];

							{% for marker in incidents_markers %}
							markers.push(new google.maps.Marker({
								position: new google.maps.LatLng({{ marker.0 }}, {{ marker.1 }})
							}));{% endfor %}

							cluster = new MarkerClusterer(map, markers);
						}
					</script>
				</div>
			</div>
		</div>
		{% else %}
		<table class="table table-striped table-bordered table-hover">
			<tr class="warning">
				<td style="text-align:center">No Data Available</td>
			</tr>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
