{% extends "core/layout.html" %}{% load apollo %}
{% block content %}
<div class="row">
  <div class="span12">
      <div class="well" style="padding-bottom:0">
          <form action="" method="post" accept-charset="utf-8" id="filter">
              {% csrf_token %}
              <div class="controls controls-row">
                {% if perms.core.view_activities %}{{ filter_form.activity }}{% endif %}
                {{ filter_form.sample }}
                {{ filter_form.location }}
                <button class="btn btn-warning" style="margin-left:1em" type="submit"><i class="icon-search icon-white"></i> Filter</button>
                <a class="btn form-reset" style="margin-left:0.5em">Reset</a>
              </div>
          </form>
      </div>
  </div>
</div>
<div class="row">
{% for group in summary %}
  <div class="span4">
      <legend>{{ group.name }}</legend>
    <div>
      <script type="text/javascript+protovis">
        width = 370,
        height = 200,
        offset = 10,
        r = width/2 - offset;
        data = [{{ group.missing }}, {{ group.partial }}, {{ group.complete }}];
        colors = ["#FF5200", "#FFE22B", "#3BDF4A"];
        labels = ["Missing", 'Partial', 'Complete'];

        var pie = new pv.Panel().width(width).height(height);
            pie.add(pv.Wedge)
            .data(pv.normalize(data))
            .outerRadius(70)
            .angle(function(d) d * 2 * Math.PI)
            .left(100)
            .top(height/2)
            .fillStyle(pv.colors(colors).by(function () { return this.index;}))
            .anchor("center")
            .add(pv.Label)
            .textAngle(0)
            .text(function(d){ return d ? (d*100).toFixed(0) + "%" : "" });
            
        //legends   
        pie.add(pv.Dot) 
            .data(labels) 
            .top(function() ((height - 36)/2) + this.index * 18)
            .left(200) 
            .size(20) 
            .strokeStyle(null) 
            .fillStyle(pv.colors(colors)) 
            .anchor("right").add(pv.Label)
            .textMargin(8)
            .font("10pt Courier");
            
        // raw data 
        pie.add(pv.Dot) 
            .data(data) 
            .top(function() ((height - 36)/2) + this.index * 18)
            .left(272) 
            .strokeStyle(null)
            .fillStyle(null)
            .anchor("right").add(pv.Label)
            .textMargin(8)
            .text(function(d){ return "· " + d })
            .font("10pt Courier");

        pie.render();
      </script>
    </div>
  </div>
{% endfor %}  
</div>
{% endblock %}
