{% if checklist_forms %}
{% for form in checklist_forms %}
<li><a href="{% url submissions_list form.pk %}"><i class="icon-check"></i> {{ form.name }}</a></li>
{% endfor %}
{% endif %}
{% if incident_forms %}
{% for form in incident_forms %}
<li><a href="{% url submissions_list form.pk %}"><i class="icon-check"></i> {{ form.name }}</a></li>
{% endfor %}
{% endif %}
{% if perms.core.can_verify %}
{% if checklist_forms %}
{% for form in checklist_forms %}
<li><a href="{% url verifications_list form.pk %}"><i class="icon-warning-sign"></i> Verification</a></li>
{% endfor %}
{% endif %}
{% endif %}
