{% extends "core/layout.html" %}{% load apollo %}{% load bootstrap_pagination %}{% load i18n %}
{% block content %}
<div class="row">
  <div class="span12">
    <div class="well" style="padding-bottom:0">
      <form action="" method="post" id="filter">
        {% csrf_token %}
        <div class="controls controls-row">
          {{ filter_form.name }}
          {{ filter_form.type }}
          <button type="submit" style="margin-left:1em" class="btn btn-warning"><i class="icon-search icon-white"></i> {% trans "Search" context "verb" %}</button> <a class="btn form-reset" style="margin-left:0.5em">{% trans "Clear" context "verb" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>{% trans "ID" %}</th>
          <th>{% trans "Code" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Type" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr>
          <td>{{ location.pk }}</td>
          <td>{{ location.code|default_if_none:"&nbsp;" }}</td>
          <td>{{ location.name|default_if_none:"&nbsp;" }}</td>
          <td>{{ location.type }}</td>
          <td style="text-align:center"><a href="{% url location_edit location.pk %}">{% trans "Edit" context "verb" %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
  </div>
</div>
{% endblock %}
