{% load apollo %}{% load compressed %}
<html>
<head>
	{% compressed_css 'apollo' %}
	{% compressed_js 'apollo' %}
	{% compressed_js 'graphs' %}
	<script type="text/javascript">
		$(function(){
		});
	</script>
	<style type="text/css">
	</style>
	<script type="text/javascript">
		var map = map1 = map2 = map3 = {};
		var legends = {
    		A: 'Observer NOT Permitted to Observe (at any time)',
    		B: 'Serious Problems during the Setting Up of Polling Stations',
    		C: 'Serious Problems during Voting',
    		D: 'Serious Problems during Counting OF PRESIDENTIAL BALLOTS',
    		E: 'Incidents Away from Polling Stations',
    		F: 'Serious Problem during Collation of Results',
    		X: 'Incidents of Violence or Intimidation (at any time)',
    		Y: 'Other Incidents',
    		Z: "Observer's Security Threated (I am in DANGER!!!!)"
    	};
    	var options = ['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y', 'Z'];
        var colors = ["#1f77b4", "#aec7e8", "#ff7f0e", "#ffbb78", "#2ca02c", "#98df8a", "#d62728", "#ED86F1", "#9467bd", "#c5b0d5"];

        var sector_title = function (d, option) {
			return '<span>' + legends[option] + '</span><span style="font-size:2em;margin-top:10em">' + '<strong>' + (parseFloat(d[option])/parseFloat(d.TOT) * 100).toFixed(1) + '%</strong> (' + d[option] + ')</span>';
		}

		function loadQtip() {
			$.fn.qtip.defaults.style.classes = 'qtip-light';
        	$.fn.qtip.defaults.style.def = false;

			$('svg a[title!=""]').qtip({
				position: {
			        my: 'top left',  // Position my top left...
			        at: 'bottom right', // at the bottom right of...
			        target: 'mouse',
			        adjust: {
			        	x: 5, y: 15
			        }
			    },
			    content: {
		        	title: { 
		        		text: function (api) { return /^<span>([^\<]+)<\/span>/.test($(this).attr('title')) ? /^<span>([^\<]+)<\/span>/.exec($(this).attr('title'))[1] : ""; }
		        	},
		        	text: function (api) { return /^<span>[^\<]+<\/span>.+/.test($(this).attr('title')) ? /^<span>[^\<]+<\/span>(.+)/.exec($(this).attr('title'))[1] : $(this).attr('title');
		        	}
		        }
			});
		}

		function loadProv() {
			map = $K.map('#map_canvas', 600, 600);
			map.loadMap('{{ STATIC_URL }}zimbabwe.svg', function () {
				map.addLayer('provinces', {
					styles: {
						fill: '#C6DBEF',
						'stroke-width': 1,
						'stroke':'#fff'
					},
					key: 'province',
					title: function (d) { return d.province; },
				});

				$.get('{% url incidents_csv form=2 locationtype=2 %}', function(data) {
                	data = $.parseCSV(data);

					map.addSymbols({
						type: $K.PieChart,
						data: data.rows.slice(0, -1),
						colors: function (d) { return _.map(_.filter(options, function (option) { return d[option] > 0; }), function (option) { return colors[options.indexOf(option)]; }) },
						titles: function (d) { return _.map(_.filter(options, function (option) { return d[option] > 0; }), function (option) { return sector_title(d, option); })},
						border: '#fff',
						borderWidth: 1,
						location: function(d) { return 'provinces.' + d.LOC },
						values: function(d) { return _.map(_.filter(options, function (option) { return d[option] > 0; }), function (option) { return d[option]; })},
						radius: function(d) { return 22; }
					});

					map.addSymbols({
					    type: $K.Bubble,
					    data: data.rows.slice(0, -1),
					    location: function(d) { return 'provinces.' + d.LOC},
					    radius: function(d) { return 12; },
					    style: 'fill:white; stroke-width: 0;',
					    title: function (d) { return d.TOT; }
					});

					map.addSymbols({
					    type: $K.Label,
					    data: data.rows.slice(0, -1),
					    location: function(d) { return 'provinces.' + d.LOC; },
					    text: function(d) { return d.TOT; }, style: 'font:9px "Courier New" important'
					});

					loadQtip();
				});
			});
			 
		}
	</script>

</head>
<body onLoad="loadProv()" style="background:none;">
	<div class="row">
		<div class="span6 offset3">
			<div id="map_canvas" style="margin-top:3.5em;"></div>
		</div>
	</div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-126343-19']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>