{% load apollo %}{% load i18n %}
<div class="well" style="padding-bottom:0">
  <form action="{% url submissions_list form.pk %}" method="get" id="filter">
    <div class="controls controls-row">
      {{ filter_form.observer__observer_id }}
      {{ filter_form.location }}
      {{ filter_form.sample }}
      {% if form.type != 'CHECKLIST' %}{{ filter_form.status }}{% endif %}
    </div>
    {% if form.type == 'CHECKLIST' %}
    <div class="controls controls-row">
      {% for group in form_groups %}
      {{ filter_form|groupsel:group.pk }}
      {% endfor %}      
    </div>
    {% endif %}
    <div class="">
      <button type="submit" class="btn btn-warning"><i class="icon-search icon-white"></i> {% trans "Search" context "verb" %}</button>
      <a class="btn form-reset">{% trans "Clear" context "verb" %}</a>
    </div>
  </form>
</div>
