{% extends "core/layout.html" %}{% load apollo %}{% load bootstrap_pagination %}
{% block title %}
{{ page_title }}
{% if form.type == 'INCIDENT' %}
{% if perms.core.add_submission %}
<div class="btn-group pull-right">
  <a style="margin-left:1em" class="btn btn-primary" href="{% url submission_add form.pk %}">Add Incident</a>
</div>
{% endif %}
{% if perms.core.export_submissions %}
<div class="btn-group pull-right">
  <a class="btn" href="{% url submissions_list_export_observers form.pk %}">Export</a>
</div>
{% endif %}
{% else %}
{% if perms.core.export_submissions %}
<div class="btn-group pull-right">
  <a class="btn" href="{% url submissions_list_export_master form.pk %}">Export</a>
  <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="{% url submissions_list_export_observers form.pk %}">Observers Data</a></li>
    <li><a href="{% url submissions_list_export_master form.pk %}">Master Data</a></li>
  </ul>
</div>
{% endif %}
{% endif %}
{% if perms.core.message_observers %}
<div class="btn-group pull-right">
  <a style="margin-right:1em" id="send_message_modal_btn" href="#send_message" role="button" class="btn btn-success">Send Message</a>
</div>
{% endif %}
{% endblock %}
{% block content %}
{% if perms.core.message_observers %}
{% send_message paginator.count %}
{% endif %}
<div class="row">
  <div class="span12">
    {% submission_filter form filter_form %}
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered table-hover">
      <thead >
        {% submission_header form perms %}
      </thead>
      <tbody>
        {% submission_items submissions form perms %}
      </tbody>
    </table>
  </div>
</div>

{% if is_paginated %}
<div class="row">
  <div class="span12">
  {% bootstrap_paginate page_obj range=10 %}
  </div>
</div>
{% endif %}

{% endblock %}
