{% load apollo %}{% load static %}
{% for submission in submissions %}
<tr>
    <td>{{ submission.observer.observer_id }}</td>
    <td>{{ submission.date|date:"D j-M" }}</td>
    {% for location_type in location_types %}
    <td>{% get_location_for_type submission location_type %}</td>
    {% endfor %}
    <td>{{ submission.observer.supervisor.name }}</td>
    <td>{{ submission.observer.name }}</td>
    {% if form.type == 'CHECKLIST' %}
    {% for group in form_groups %}
    <td style="text-align:center">
        {% if submission|is_complete:group %}<img src="{% static "img/tick.png" %}" title="complete" alt="complete" />
        {% elif submission|is_partial:group %}<img src="{% static "img/caution.png" %}" title="partial" alt="partial" />
        {% elif submission|is_missing:group %}<img src="{% static "img/red_dot.png" %}" title="missing" alt="missing" />
        {% endif %}
    </td>
    {% endfor %}
    {% else %}
    {% for field in form_fields %}
    <td style="text-align:center">{% if submission.data|keyvalue:field.tag %}<img src="{% static "img/red_dot.png" %}" />{% else %}&nbsp;{% endif %}</td>
    {% endfor %}
    {% endif %}
    {% if perms.core.change_submission %}<td style="text-align:center"><a href="{% url submission_edit submission.pk %}">Edit</a></td>{% endif %}
</tr>
{% empty %}
{% if perms.core.change_submission %}
{% if form.type == 'CHECKLIST' %}
{% with location_types|length|add:"5" as lt_count %}
{% with form_groups|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">No Data Available</td>
</tr>
{% endwith %}
{% endwith %}
{% else %}
{% with location_types|length|add:"5" as lt_count %}
{% with form_fields|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">No Data Available</td>
</tr>
{% endwith %}
{% endwith %}
{% endif %}
{% else %}
{% if form.type == 'CHECKLIST' %}
{% with location_types|length|add:"4" as lt_count %}
{% with form_groups|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">No Data Available</td>
</tr>
{% endwith %}
{% endwith %}
{% else %}
{% with location_types|length|add:"4" as lt_count %}
{% with form_fields|length|add:lt_count as colspan %}
<tr class="warning">
    <td style="text-align:center" colspan="{{ colspan }}">No Data Available</td>
</tr>
{% endwith %}
{% endwith %}
{% endif %}
{% endif %}
{% endfor %}
