{% load apollo %}
<div class="well" style="padding-bottom:0">
  <form action="" method="post" id="filter">
    {% csrf_token %}
    <div class="controls controls-row">
      {{ filter_form.observer__observer_id }}
      <div class="input-append date span2 datesel" data-date="" data-date-format="yyyy-mm-dd">
        <input class="span2" name="date" placeholder="Date" style="width:129px" size="16" type="text" value="{{ filter_form.date.value|default_if_none:"" }}" readonly="readonly">
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
      {{ filter_form.location }}
      {% if form.type != 'CHECKLIST' %}{{ filter_form.status }}<button type="submit" style="margin-left:1em" class="btn btn-warning"><i class="icon-search icon-white"></i> Search</button> <a class="btn form-reset" style="margin-left:0.5em">Clear</a>{% endif %}
    </div>
    {% if form.type == 'CHECKLIST' %}
    <div class="controls controls-row">
      {% for group in form_groups %}
      {{ filter_form|groupsel:group.pk }}
      {% endfor %}      
    </div>
    <div class="">
      <button type="submit" class="btn btn-warning"><i class="icon-search icon-white"></i> Search</button>
      <a class="btn form-reset">Clear</a>
    </div>
    {% endif %}
  </form>
</div>
